---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"method":"jsonrpc.get_signature","params":{"method":"account_by_key_api.get_key_references"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000096940271213458'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"keys":[]},"ret":{"accounts":[]}},"id":2}'
  recorded_at: Sat, 17 Oct 2020 04:21:56 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":32,"method":"jsonrpc.get_signature","params":{"method":"account_by_key_api.get_key_references"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.jsonrpc.get_signature.params={"method":"account_by_key_api.get_key_references"}
      X-Jussi-Request-Id:
      - '000574282807049636'
    body:
      encoding: UTF-8
      string: '{"id":32,"jsonrpc":"2.0","result":{"args":{"keys":[]},"ret":{"accounts":[]}}}'
  recorded_at: Sat, 17 Oct 2020 04:26:53 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":16,"method":"account_by_key_api.get_key_references","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000697231195495044'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":[]},"id":16}'
  recorded_at: Sat, 17 Oct 2020 05:02:58 GMT
recorded_with: VCR 6.0.0
