---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"method":"jsonrpc.get_signature","params":{"method":"account_by_key_api.get_key_references"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000996881173369962'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"keys":[]},"ret":{"accounts":[]}},"id":2}'
  recorded_at: Sat, 07 Nov 2020 19:25:58 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":117,"method":"jsonrpc.get_signature","params":{"method":"account_by_key_api.get_key_references"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.jsonrpc.get_signature.params={"method":"account_by_key_api.get_key_references"}
      X-Jussi-Request-Id:
      - '000616814123910242'
    body:
      encoding: UTF-8
      string: '{"id":117,"jsonrpc":"2.0","result":{"args":{"keys":[]},"ret":{"accounts":[]}}}'
  recorded_at: Sat, 07 Nov 2020 20:32:20 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":7,"method":"account_by_key_api.get_key_references","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000750131505189847'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":[]},"id":7}'
  recorded_at: Sat, 30 Jul 2022 23:27:44 GMT
recorded_with: VCR 6.1.0
