---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_followers","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000663128967654707'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"followers":[]},"id":1}'
  recorded_at: Sat, 19 May 2018 20:50:15 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000204596813816043'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"following":[]},"id":2}'
  recorded_at: Sat, 19 May 2018 20:50:15 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_follow_count","params":{},"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000677014412060482'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"account":"","follower_count":1946,"following_count":0},"id":3}'
  recorded_at: Sat, 19 May 2018 20:50:15 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_feed_entries","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000010415369103694'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"feed":[]},"id":4}'
  recorded_at: Sat, 19 May 2018 20:50:16 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_blog_entries","params":{},"id":6}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000390789743512640'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"blog":[]},"id":6}'
  recorded_at: Sat, 19 May 2018 20:50:16 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_account_reputations","params":{},"id":8}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000742157611127494'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"reputations":[{"account":"a-0","reputation":0},{"account":"a-0-0","reputation":-4327216475584},{"account":"a-0-0-0","reputation":-832443094976},{"account":"a-0-0-0-0","reputation":"142577667093"},{"account":"a-0-0-0-0-0","reputation":0},{"account":"a-0-0-0-0-0-0","reputation":243408773},{"account":"a-0-0-0-0-0-a","reputation":"6255559854"},{"account":"a-0-0-0-1abokina","reputation":4253879300},{"account":"a-0-0-0-a","reputation":"190766695706"},{"account":"a-0-0-0-real-dex","reputation":"9402932657"},{"account":"a-0-0-a-0","reputation":-4[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_reblogged_by","params":{},"id":9}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000227971801991662'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"unknown key:unknown
        key: ","data":{"code":13,"name":"N5boost16exception_detail10clone_implINS0_19error_info_injectorISt12out_of_rangeEEEE","message":"unknown
        key","stack":[{"context":{"level":"warn","file":"database.cpp","line":429,"method":"get_comment","hostname":"","timestamp":"2018-05-19T20:50:18"},"format":"${what}:
        ","data":{"author":"","permlink":"","what":"unknown key"}}]}},"id":9}'
  recorded_at: Sat, 19 May 2018 20:50:18 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_blog_authors","params":{},"id":10}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000604515493805415'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"blog_authors":[]},"id":10}'
  recorded_at: Sat, 19 May 2018 20:50:18 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"account_by_key_api.get_key_references","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000946385991000530'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":[]},"id":1}'
  recorded_at: Sat, 19 May 2018 20:50:19 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.broadcast_transaction","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000529829874565251'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"c7a9e4fa-6c35-4918-a49b-1c10cff46ac6","request":{"amzn_trace_id":"Root=1-5b008e11-a104283c1c50b616679a0f10","jussi_request_id":null}}}}'
  recorded_at: Sat, 19 May 2018 20:50:25 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000624973282006520'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-19T20:50:26.319774","source_commit":"6c5b42ba4d08bbaab3ba2578b5b03c92e8f9a1d9","docker_tag":"latest","jussi_num":22576875}'
  recorded_at: Sat, 19 May 2018 20:50:26 GMT
[...]
- request:
    method: get
    uri: https://api.steemitdev.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000810532935658317'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-19T20:50:27.424930","source_commit":"","docker_tag":"","jussi_num":22576875}'
  recorded_at: Sat, 19 May 2018 20:50:27 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.broadcast_transaction","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000147067297009885'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"691f6a18-9a7f-489f-8bae-f7eb603aec13","request":{"amzn_trace_id":"Root=1-5b008e13-7dbb35701c1630b51e96afb0","jussi_request_id":null}}}}'
  recorded_at: Sat, 19 May 2018 20:50:28 GMT
[...]
- request:
    method: get
    uri: https://api.steemitstage.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001093239209968292'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-19T20:50:28.768855","source_commit":"d675e0d0c54b5656d4500f4ddce6c3d91d4bcbbd","docker_tag":"update-caching-lib","jussi_num":22576875}'
  recorded_at: Sat, 19 May 2018 20:50:28 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.broadcast_transaction_synchronous","params":[],"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000271365445999051'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"1fb787bc-1307-4931-95bf-6a9bab51c9d6","request":{"amzn_trace_id":"Root=1-5b008e15-c5b56ec0c67f8830cb7c8440","jussi_request_id":null}}}}'
  recorded_at: Sat, 19 May 2018 20:50:29 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_references","params":[],"id":7}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000598308482592600'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":891,"method":"get_account_references","hostname":"","timestamp":"2018-05-19T20:52:33"},"format":"false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{}}]}},"id":7}'
  recorded_at: Sat, 19 May 2018 20:52:34 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_chain_properties","params":[],"id":18}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000019000757562146'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"account_creation_fee":"0.100 STEEM","maximum_block_size":65536,"sbd_interest_rate":0},"id":18}'
  recorded_at: Sat, 19 May 2018 20:52:37 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_config","params":[],"id":20}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000475035035515730'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"IS_TEST_NET":false,"STEEM_ENABLE_SMT":false,"SBD_SYMBOL":null,"STEEM_INITIAL_VOTE_POWER_RATE":40,"STEEM_REDUCED_VOTE_POWER_RATE":10,"STEEM_100_PERCENT":10000,"STEEM_1_PERCENT":100,"STEEM_ACCOUNT_RECOVERY_REQUEST_EXPIRATION_PERIOD":"86400000000","STEEM_ACTIVE_CHALLENGE_COOLDOWN":"86400000000","STEEM_ACTIVE_CHALLENGE_FEE":{"amount":"2000","precision":3,"nai":"@@000000021"},"STEEM_ADDRESS_PREFIX":"STM","STEEM_APR_PERCENT_MULTIPLY_PER_BLOCK":"102035135585887","STEEM_APR_PERCENT_MULTIPLY_PER_HOUR":"119577151364285","STEEM_APR_PERCENT_MULTIPLY_PER_ROUND":"133921203762304","STEEM_APR_PERCENT_SHIFT_PER_BLOCK":87,"STEEM_APR_PERCENT_SHIFT_PER_HOUR":77,"STEEM_APR_PERCENT_SHIFT_PER_ROUND":83,"STEEM_BANDWIDTH_AVERAGE_WINDOW_SECONDS":604800,"STEEM_BANDWIDTH_PRECISION":1000000,"STEEM_BLOCKCHAIN_PRECISION":1000,"STEEM_BLOCKCHAIN_PRECISION_DIGITS":3,"STEEM_BLOCKCHAIN_HARDFORK_VERSION":"0.19.0","STEEM_BLOCKCHAIN_VERSION":"0.19.4","STEEM_BLOCK_INTERVAL":3,"STEEM_BLOCKS_PER_DAY":28800,"STEEM_BLOCKS_PER_HOUR":1200,"STEEM_BLOCKS_PER_YEAR":10512000,"STEEM_CASHOUT_WINDOW_SECONDS":604800,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF12":86400,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF17":43200,"STEEM_CHAIN_ID":"0000000000000000000000000000000000000000000000000000000000000000","STEEM_CHAIN_ID_NAME":"","STEEM_COMMENT_REWARD_FUND_NAME":"comment","STEEM_CONTENT_APR_PERCENT":3875,"STEEM_CONTENT_CONSTANT_HF0":"2000000000000","STEEM_CONTENT_REWARD_PERCENT":7500,"STEEM_CONVERSION_DELAY":"302400000000","STEEM_CONVERSION_DELAY_PRE_HF_16":"604800000000","STEEM_CREATE_ACCOUNT_DELEGATION_RATIO":5,"STEEM_CREATE_ACCOUNT_DELEGATION_TIME":"2592000000000","STEEM_CREATE_ACCOUNT_WITH_STEEM_MODIFIER":30,"STEEM_CURATE_APR_PERCENT":3875,"STEEM_DEFAULT_SBD_INTEREST_RATE":1000,"STEEM_EQUIHASH_K":6,"STEEM_EQUIHASH_N":140,"STEEM_FEED_HISTORY_WINDOW":84,"STEEM_FEED_HISTORY_WINDOW_PRE_HF_16":168,"STEEM_FEED_INTERVAL_BLOCKS":1200,"STEEM_GENESIS_TIME":"2016-03-24T16:00:00","STEEM_HARDFORK_REQUIRED_WITNESSES":17,"STEEM_INFLATION_NARROWING_PERIOD":250000,"STEEM_INFLATION_RATE_START_PERCENT":978,"STEEM_INFLATION_RATE_STOP_PERCENT":95,"STEEM_INIT_MINER_NAME":"initminer","STEEM_INIT_PUBLIC_KEY_STR":"STM8GC13uCZbP44HzMLV6zPZGwVQ8Nt4Kji8PapsPiNq1BK153XTX","STEEM_INIT_SUPPLY":0,"STEEM_INIT_TIME":"1970-01-01T00:00:00","STEEM_IRREVERSIBLE_THRESHOLD":7500,"STEEM_LIQUIDITY_APR_PERCENT":750,"STEEM_LIQUIDITY_REWARD_BLOCKS":1200,"STEEM_LIQUIDITY_REWARD_PERIOD_SEC":3600,"STEEM_LIQUIDITY_TIMEOUT_SEC":"604800000000","STEEM_MAX_ACCOUNT_NAME_LENGTH":16,"STEEM_MAX_ACCOUNT_WITNESS_VOTES":30,"STEEM_MAX_ASSET_WHITELIST_AUTHORITIES":10,"STEEM_MAX_AUTHORITY_MEMBERSHIP":10,"STEEM_MAX_BLOCK_SIZE":393216000,"STEEM_SOFT_MAX_BLOCK_SIZE":2097152,"STEEM_MAX_CASHOUT_WINDOW_SECONDS":1209600,"STEEM_MAX_COMMENT_DEPTH":65535,"STEEM_MAX_COMMENT_DEPTH_PRE_HF17":6,"STEEM_MAX_FEED_AGE_SECONDS":604800,"STEEM_MAX_INSTANCE_ID":"281474976710655","STEEM_MAX_MEMO_SIZE":2048,"STEEM_MAX_WITNESSES":21,"STEEM_MAX_MINER_WITNESSES_HF0":1,"STEEM_MAX_MINER_WITNESSES_HF17":0,"STEEM_MAX_PERMLINK_LENGTH":256,"STEEM_MAX_PROXY_RECURSION_DEPTH":4,"STEEM_MAX_RATION_DECAY_RATE":1000000,"STEEM_MAX_RESERVE_RATIO":20000,"STEEM_MAX_RUNNER_WITNESSES_HF0":1,"STEEM_MAX_RUNNER_WITNESSES_HF17":1,"STEEM_MAX_SATOSHIS":"4611686018427387903","STEEM_MAX_SHARE_SUPPLY":"1000000000000000","STEEM_MAX_SIG_CHECK_DEPTH":2,"STEEM_MAX_TIME_UNTIL_EXPIRATION":3600,"STEEM_MAX_TRANSACTION_SIZE":65536,"STEEM_MAX_UNDO_HISTORY":10000,"STEEM_MAX_URL_LENGTH":127,"STEEM_MAX_VOTE_CHANGES":5,"STEEM_MAX_VOTED_WITNESSES_HF0":19,"STEEM_MAX_VOTED_WITNESSES_HF17":20,"STEEM_MAX_WITHDRAW_ROUTES":10,"STEEM_MAX_WITNESS_URL_LENGTH":2048,"STEEM_MIN_ACCOUNT_CREATION_FEE":1,"STEEM_MIN_ACCOUNT_NAME_LENGTH":3,"STEEM_MIN_BLOCK_SIZE_LIMIT":65536,"STEEM_MIN_BLOCK_SIZE":115,"STEEM_MIN_CONTENT_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MIN_CURATE_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MIN_PERMLINK_LENGTH":0,"STEEM_MIN_REPLY_INTERVAL":20000000,"STEEM_MIN_ROOT_COMMENT_INTERVAL":300000000,"STEEM_MIN_VOTE_INTERVAL_SEC":3,"STEEM_MINER_ACCOUNT":"miners","STEEM_MINER_PAY_PERCENT":100,"STEEM_MIN_FEEDS":7,"STEEM_MINING_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MINING_TIME":"2016-03-24T17:00:00","STEEM_MIN_LIQUIDITY_REWARD":{"amount":"1200000","precision":3,"nai":"@@000000021"},"STEEM_MIN_LIQUIDITY_REWARD_PERIOD_SEC":60000000,"STEEM_MIN_PAYOUT_SBD":{"amount":"20","precision":3,"nai":"@@000000013"},"STEEM_MIN_POW_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MIN_PRODUCER_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MIN_TRANSACTION_EXPIRATION_LIMIT":15,"STEEM_MIN_TRANSACTION_SIZE_LIMIT":1024,"STEEM_MIN_UNDO_HISTORY":10,"STEEM_NULL_ACCOUNT":"null","STEEM_NUM_INIT_MINERS":1,"STEEM_OWNER_AUTH_HISTORY_TRACKING_START_BLOCK_NUM":3186477,"STEEM_OWNER_AUTH_RECOVERY_PERIOD":"2592000000000","STEEM_OWNER_CHALLENGE_COOLDOWN":"86400000000","STEEM_OWNER_CHALLENGE_FEE":{"amount":"30000","precision":3,"nai":"@@000000021"},"STEEM_OWNER_UPDATE_LIMIT":3600000000,"STEEM_POST_AVERAGE_WINDOW":86400,"STEEM_POST_REWARD_FUND_NAME":"post","STEEM_POST_WEIGHT_CONSTANT":1600000000,"STEEM_POW_APR_PERCENT":750,"STEEM_PRODUCER_APR_PERCENT":750,"STEEM_PROXY_TO_SELF_ACCOUNT":"","STEEM_SBD_INTEREST_COMPOUND_INTERVAL_SEC":2592000,"STEEM_SECONDS_PER_YEAR":31536000,"STEEM_RECENT_RSHARES_DECAY_TIME_HF19":"1296000000000","STEEM_RECENT_RSHARES_DECAY_TIME_HF17":"2592000000000","STEEM_REVERSE_AUCTION_WINDOW_SECONDS":1800,"STEEM_ROOT_POST_PARENT":"","STEEM_SAVINGS_WITHDRAW_REQUEST_LIMIT":100,"STEEM_SAVINGS_WITHDRAW_TIME":"259200000000","STEEM_SBD_START_PERCENT":200,"STEEM_SBD_STOP_PERCENT":500,"STEEM_SECOND_CASHOUT_WINDOW":2592000,"STEEM_SOFT_MAX_COMMENT_DEPTH":255,"STEEM_START_MINER_VOTING_BLOCK":864000,"STEEM_START_VESTING_BLOCK":201600,"STEEM_TEMP_ACCOUNT":"temp","STEEM_UPVOTE_LOCKOUT_HF7":60000000,"STEEM_UPVOTE_LOCKOUT_HF17":"43200000000","STEEM_VESTING_FUND_PERCENT":1500,"STEEM_VESTING_WITHDRAW_INTERVALS":13,"STEEM_VESTING_WITHDRAW_INTERVALS_PRE_HF_16":104,"STEEM_VESTING_WITHDRAW_INTERVAL_SECONDS":604800,"STEEM_VOTE_DUST_THRESHOLD":50000000,"STEEM_VOTE_REGENERATION_SECONDS":432000,"STEEM_SYMBOL":null,"VESTS_SYMBOL":null,"STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH":"18446744073709551615","STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH2":"340282366920938463463374607431768211455"},"id":20}'
  recorded_at: Sat, 19 May 2018 20:52:38 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_current_median_history_price","params":[],"id":24}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000398795020993592'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"base":"2.869 SBD","quote":"1.000 STEEM"},"id":24}'
  recorded_at: Sat, 19 May 2018 20:52:39 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":37}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000392271631734949'
    body:
      encoding: ASCII-8BIT
      string: '{"id":37,"jsonrpc":"2.0","result":{"head_block_number":22576938,"head_block_id":"01587f2ad7928bf244ac10fa410756fb311e44e8","time":"2018-05-19T20:52:42","current_witness":"timcliff","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"273422323.617
        STEEM","current_supply":"268581115.868 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"13889425.032 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191177758.311 STEEM","total_vesting_shares":"388954637225.201701
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"363520601.969054
        VESTS","pending_rewarded_vesting_steem":"177212.889 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22642654,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":22576917,"vote_power_reserve_rate":10,"average_block_size":16175,"current_reserve_ratio":199880072,"max_virtual_bandwidth":"264082702435614720000"}}'
  recorded_at: Sat, 19 May 2018 20:52:43 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":42}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000625725902415008'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"2.869
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"2.738 SBD","quote":"1.000
        STEEM"},{"base":"2.793 SBD","quote":"1.000 STEEM"},{"base":"2.822 SBD","quote":"1.000
        STEEM"},{"base":"2.849 SBD","quote":"1.000 STEEM"},{"base":"2.822 SBD","quote":"1.000
        STEEM"},{"base":"2.768 SBD","quote":"1.000 STEEM"},{"base":"2.791 SBD","quote":"1.000
        STEEM"},{"base":"2.814 SBD","quote":"1.000 STEEM"},{"base":"2.809 SBD","quote":"1.000
        STEEM"},{"base":"2.793 SBD","quote":"1.000 STEEM"},{"base":"2.791 SBD","quote":"[...]
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_next_scheduled_hardfork","params":[],"id":50}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000764222511539449'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"hf_version":"0.19.0","live_time":"2017-06-20T15:00:00"},"id":50}'
  recorded_at: Sat, 19 May 2018 20:52:48 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_order_book","params":[],"id":53}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000116475330869806'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":"18.310 SBD","quote":"13.084
        STEEM"},"real_price":"1.39941913787832473","steem":13084,"sbd":18310,"created":"2018-05-19T20:52:48"},{"order_price":{"base":"16.805
        SBD","quote":"12.009 STEEM"},"real_price":"1.39936714131068363","steem":10824,"sbd":15147,"created":"2018-05-19T20:11:15"},{"order_price":{"base":"3.000
        SBD","quote":"2.144 STEEM"},"real_price":"1.39925373134328357","steem":2144,"sbd":3000,"created":"2018-05-19T20:40:30"},{"order_price":{"base":"1.428
        SBD","quote":"1.023 STEEM"},"real_price":"1.39589442815249276","steem":1023,"sbd":1428,"created":"2018-05-19T20:42:48"}[...]
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_recent_trades","params":[],"id":58}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000344111234548039'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"date":"2018-05-19T20:52:36","current_pays":"11.377
        SBD","open_pays":"8.128 STEEM"},{"date":"2018-05-19T20:52:00","current_pays":"0.614
        SBD","open_pays":"0.438 STEEM"},{"date":"2018-05-19T20:51:24","current_pays":"0.500
        SBD","open_pays":"0.357 STEEM"},{"date":"2018-05-19T20:51:00","current_pays":"1.172
        STEEM","open_pays":"1.640 SBD"},{"date":"2018-05-19T20:50:42","current_pays":"9.985
        SBD","open_pays":"7.134 STEEM"},{"date":"2018-05-19T20:50:27","current_pays":"0.587
        SBD","open_pays":"0.420 STEEM"},{"date":"2018-05-19T20:50[...]
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_ticker","params":[],"id":67}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001105229574330232'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"1.50000000000000000","lowest_ask":"1.39961627014581724","highest_bid":"1.39941913787832473","percent_change":"0.00000000000000000","steem_volume":"1989.535
        STEEM","sbd_volume":"2775.332 SBD"},"id":67}'
  recorded_at: Sat, 19 May 2018 20:52:53 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_version","params":[],"id":72}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000136634906137956'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"blockchain_version":"0.19.4","steem_revision":"bb8ca476f33c08434274f2d76333fcb74cfa58b8","fc_revision":"bb8ca476f33c08434274f2d76333fcb74cfa58b8"},"id":72}'
  recorded_at: Sat, 19 May 2018 20:52:54 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_witness_schedule","params":[],"id":78}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000193575299234555'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_virtual_time":"329450797567719937450613522","next_shuffle_block_num":22576953,"current_shuffled_witnesses":["xeldal","qurator","smooth.witness","good-karma","followbtcnews","thecryptodrive","anyx","someguy123","ausbitbank","curie","roelandp","pharesim","jerrybanfield","timcliff","jesta","gtg","blocktrades","clayop","aggroed","netuoso","lukestokes.mhth"],"num_scheduled_witnesses":21,"top19_weight":1,"timeshare_weight":5,"miner_weight":1,"witness_pay_normalization_factor":25,"median_props":{"account_creation_fee":"0.100
        STEEM","maximum_block_size":65536,"sbd_interest_rate":0},"majority_version":"0.19.3","max_voted_witnesses":20,"max_miner_witnesses":0,"max_runner_witnesses":1,"hardfork_required_witnesses":17},"id":78}'
  recorded_at: Sat, 19 May 2018 20:52:56 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000778232561970795'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"buckets":[]},"id":1}'
  recorded_at: Sat, 19 May 2018 20:55:39 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history_buckets","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000106375129041777'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"bucket_sizes":[15,60,300,3600,86400]},"id":2}'
  recorded_at: Sat, 19 May 2018 20:55:40 GMT
[...]
