---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - ecebf1c7-cf14-4907-9210-4f45b365a0a4
      X-Jussi-Request-Id:
      - '000599995134387959'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"ecebf1c7-cf14-4907-9210-4f45b365a0a4","jussi_request_id":"000793408397929103"}}}'
  recorded_at: Sat, 03 Nov 2018 18:04:56 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001091833221819240'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-11-03T18:04:57.012986","source_commit":"d67c679b8248a3c299d35db131089bfa4eb0048a","docker_tag":"latest","jussi_num":27382662}'
  recorded_at: Sat, 03 Nov 2018 18:04:57 GMT
[...]
- request:
    method: get
    uri: https://api.steemitdev.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000339323616646652'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-11-03T18:04:57.980804","source_commit":"d67c679b8248a3c299d35db131089bfa4eb0048a","docker_tag":"latest","jussi_num":27382658}'
  recorded_at: Sat, 03 Nov 2018 18:04:58 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - abea8071-4593-4be6-a64c-96ceee01c53c
      X-Jussi-Request-Id:
      - '001085882396571456'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"abea8071-4593-4be6-a64c-96ceee01c53c","jussi_request_id":"001042748052608379"}}}'
  recorded_at: Sat, 03 Nov 2018 18:04:58 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction_with_callback","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000572161753939411'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32002,"message":"Assert Exception:method_itr
        != api_itr->second.end(): Could not find method broadcast_transaction_with_callback","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"json_rpc_plugin.cpp","line":209,"method":"find_api_method","hostname":"","timestamp":"2018-11-03T18:04:58"},"format":"method_itr
        != api_itr->second.end(): Could not find method ${method}","data":{"method":"broadcast_transaction_with_callback"}}]}},"id":2}'
  recorded_at: Sat, 03 Nov 2018 18:04:58 GMT
[...]
- request:
    method: get
    uri: https://api.steemitstage.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000073189186669195'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-11-03T18:04:59.684390","source_commit":"d67c679b8248a3c299d35db131089bfa4eb0048a","docker_tag":"latest","jussi_num":27382662}'
  recorded_at: Sat, 03 Nov 2018 18:04:59 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction_synchronous","params":{},"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 72cf28f1-67e0-4d9e-b9a5-d054a24385fe
      X-Jussi-Request-Id:
      - '000417324435213808'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"72cf28f1-67e0-4d9e-b9a5-d054a24385fe","jussi_request_id":"000259124838622660"}}}'
  recorded_at: Sat, 03 Nov 2018 18:05:00 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_block","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000895017117835730'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"fork_database.cpp","line":57,"method":"_push_block","hostname":"","timestamp":"2018-11-03T18:05:01"},"format":"item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"item->num":1,"head":27382680,"max_size":19}},{"context":{"level":"warn","file":"database.cpp","line":782,"method":"_push_block","hostname":"","timestamp":"2018-11-03T18:05:01"},"format":"","data":{}},{"context":{"level":"warn","file":"database.cpp","line":666,"method":"operator()","hostname":"","timestamp":"2018-11-03T18:05:01"},"format":"","data":{"new_block":{"previous":"0000000000000000000000000000000000000000","timestamp":"1970-01-01T00:00:00","witness":"","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","transactions":[]}}}]}},"id":4}'
  recorded_at: Sat, 03 Nov 2018 18:05:01 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_trending_tags","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000434183186039089'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"tags":[{"name":"","total_payouts":{"amount":"63236801872","precision":3,"nai":"@@000000013"},"net_votes":61828877,"top_posts":5229405,"comments":32344465,"trending":"118856173674"},{"name":"life","total_payouts":{"amount":"13567424537","precision":3,"nai":"@@000000013"},"net_votes":13860596,"top_posts":1341756,"comments":1295505,"trending":"8334189327"},{"name":"photography","total_payouts":{"amount":"8225588125","precision":3,"nai":"@@000000013"},"net_votes":11036020,"top_posts":925752,"comments":1674753,"trending":"8216181902"},{"name":"kr","total_payouts":{"amount":"3202876927","precision":3,"nai":"@@000000013"},"net_votes":987577,"top_posts":100936,"com[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_discussion","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000520002550075981'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"author":"","permlink":"","category":"","parent_author":"","parent_permlink":"","title":"","body":"","json_metadata":"","last_update":"1970-01-01T00:00:00","created":"1970-01-01T00:00:00","active":"1970-01-01T00:00:00","last_payout":"1970-01-01T00:00:00","depth":0,"children":0,"net_rshares":0,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1970-01-01T00:00:00","max_cashout_time":"1970-01-01T00:00:00","total_vote_weight":0,"reward_weight":0,"total_payout_value":{"amount":"0","precision":3,"nai":"@@000000021"},"curator_payout_value":{"amount":"0","precision":3,"nai":"@@000000021"},"author_rewards":0,"net_votes":0,"root_author":"","root_permlink":"","max_accepted_payout":{"amount":"0","precision":3,"nai":"@@000000021"},"percent_steem_dollars":0,"allow_replies":false,"allow_votes":false,"allow_curation_rewards":false,"beneficiaries":[],"url":"","root_title":"","pending_payout_value":{"amount":"0","precision":3,"nai":"@@000000021"},"total_pending_payout_value":{"amount":"0","precision":3,"nai":"@@000000021"},"active_votes":[],"replies":[],"author_reputation":0,"promoted":{"amount":"0","precision":3,"nai":"@@000000013"},"body_length":0,"reblogged_by":[]},"id":4}'
  recorded_at: Sat, 03 Nov 2018 18:05:07 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_content_replies","params":{},"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000628777329885193'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"discussions":[{"id":6,"author":"abit","permlink":"witness-category","category":"","parent_author":"","parent_permlink":"","title":"Witnesses","body":"This
        is the witnesses category","json_metadata":"{}","last_update":"2016-04-08T07:36:18","created":"2016-04-08T07:36:18","active":"2018-03-20T16:31:18","last_payout":"2016-08-12T10:16:39","depth":0,"children":11,"net_rshares":-491818553,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1969-12-31T23:59:59","max_cashout_time":"196[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_discussions_by_feed","params":{},"id":15}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000911919012577789'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"unknown key:unknown
        key: ","data":{"code":13,"name":"N5boost16exception_detail10clone_implINS0_19error_info_injectorISt12out_of_rangeEEEE","message":"unknown
        key","stack":[{"context":{"level":"warn","file":"database.cpp","line":483,"method":"get_account","hostname":"","timestamp":"2018-11-03T18:05:11"},"format":"${what}:
        ","data":{"name":"","what":"unknown key"}}]}},"id":15}'
  recorded_at: Sat, 03 Nov 2018 18:05:11 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000642882927830198'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"buckets":[]},"id":1}'
  recorded_at: Sat, 03 Nov 2018 18:05:18 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history_buckets","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.market_history_api.get_market_history_buckets.params={}
      X-Jussi-Request-Id:
      - '000458560952283425'
    body:
      encoding: UTF-8
      string: '{"id":2,"jsonrpc":"2.0","result":{"bucket_sizes":[15,60,300,3600,86400]}}'
  recorded_at: Sat, 03 Nov 2018 18:05:18 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_order_book","params":{},"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000170112515973400'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":{"amount":"80000","precision":3,"nai":"@@000000013"},"quote":{"amount":"101105","precision":3,"nai":"@@000000021"}},"real_price":"0.79125661441076112","steem":101105,"sbd":80000,"created":"2018-11-03T18:05:06"},{"order_price":{"base":{"amount":"24210","precision":3,"nai":"@@000000013"},"quote":{"amount":"30642","precision":3,"nai":"@@000000021"}},"real_price":"0.79009203054630894","steem":30642,"sbd":24210,"created":"2018-11-03T18:04:06"},{"order_price":{"base":{"amount":"5001","precision":3,"nai":"@@000000013"},"quote":{"amount":"6330","precision":3,"nai":"@@000000021"}},"real_price":"0.79004739336492891","steem":6330,"sbd":5001,"created":"2018-11-03T17:34:09"},{[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_recent_trades","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000269150377674474'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2018-11-03T18:05:09","current_pays":{"amount":"3044","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"3831","precision":3,"nai":"@@000000021"}},{"date":"2018-11-03T18:04:57","current_pays":{"amount":"43670","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"55016","precision":3,"nai":"@@000000021"}},{"date":"2018-11-03T18:04:48","current_pays":{"amount":"10462","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"8270","precision":3,"nai":"@@000000013"}},{"date":"2018-11-03T18:04:18","current_pays":{"amount":"11378","precision":3,"nai":"@@000000021"},"open_pays":{"amount":[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_ticker","params":{},"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000079989444913163'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"0.79997715330134800","lowest_ask":"0.79447048542146659","highest_bid":"0.79125661441076112","percent_change":"0.00000000000000000","steem_volume":{"amount":"14554835","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"11638041","precision":3,"nai":"@@000000013"}},"id":5}'
  recorded_at: Sat, 03 Nov 2018 18:05:19 GMT
[...]
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_references","params":[],"id":7}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000922447445622045'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":887,"method":"get_account_references","hostname":"","timestamp":"2018-11-03T18:05:25"},"format":"false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{}}]}},"id":7}'
  recorded_at: Sat, 03 Nov 2018 18:05:25 GMT
[...]
