---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000219381276833614'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:operations.size()
        > 0: A transaction must have at least one operation","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"transaction.cpp","line":37,"method":"validate","hostname":"","timestamp":"2018-04-15T16:43:42"},"format":"operations.size()
        > 0: A transaction must have at least one operation","data":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[]}}},{"context":{"level":"warn","file":"database.cpp","line":3025,"method":"_apply_transaction","hostname":"","timestamp":"2018-04-15T16:43:42"},"format":"","data":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]}}},{"context":{"level":"warn","file":"database.cpp","line":705,"method":"push_transaction","hostname":"","timestamp":"2018-04-15T16:43:42"},"format":"","data":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]}}}]}},"id":1}'
  recorded_at: Sun, 15 Apr 2018 16:43:42 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_block","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000864025441785885'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"fork_database.cpp","line":57,"method":"_push_block","hostname":"","timestamp":"2018-04-15T16:43:43"},"format":"item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"item->num":1,"head":21593590,"max_size":20}},{"context":{"level":"warn","file":"database.cpp","line":673,"method":"_push_block","hostname":"","timestamp":"2018-04-15T16:43:43"},"format":"","data":{}},{"context":{"level":"warn","file":"database.cpp","line":558,"method":"operator()","hostname":"","timestamp":"2018-04-15T16:43:43"},"format":"","data":{"new_block":{"previous":"0000000000000000000000000000000000000000","timestamp":"1970-01-01T00:00:00","witness":"","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","transactions":[]}}}]}},"id":4}'
  recorded_at: Sun, 15 Apr 2018 16:43:43 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_followers","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000881093404901837'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"followers":[]},"id":1}'
  recorded_at: Sun, 15 Apr 2018 16:43:45 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000929146625245908'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"following":[]},"id":2}'
  recorded_at: Sun, 15 Apr 2018 16:43:45 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_follow_count","params":{},"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000693681273406510'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"account":"","follower_count":1721,"following_count":0},"id":3}'
  recorded_at: Sun, 15 Apr 2018 16:43:45 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_feed_entries","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000220241553448426'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"feed":[]},"id":4}'
  recorded_at: Sun, 15 Apr 2018 16:43:46 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_blog_entries","params":{},"id":6}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000375376995672483'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"blog":[]},"id":6}'
  recorded_at: Sun, 15 Apr 2018 16:43:46 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_account_reputations","params":{},"id":8}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000839839049152333'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"reputations":[{"account":"a-0","reputation":0},{"account":"a-0-0","reputation":-2765896039161},{"account":"a-0-0-0","reputation":-832443094976},{"account":"a-0-0-0-0","reputation":"142355865147"},{"account":"a-0-0-0-0-0","reputation":0},{"account":"a-0-0-0-0-0-0","reputation":0},{"account":"a-0-0-0-0-0-a","reputation":3788087782},{"account":"a-0-0-0-1abokina","reputation":4191503990},{"account":"a-0-0-0-a","reputation":"190233728159"},{"account":"a-0-0-a-0","reputation":-439185915735},{"account":"a-0-0-a-0-0","reputation":3351484347},{"ac[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_reblogged_by","params":{},"id":9}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000651391632649960'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"unknown key:unknown
        key: ","data":{"code":13,"name":"N5boost16exception_detail10clone_implINS0_19error_info_injectorISt12out_of_rangeEEEE","message":"unknown
        key","stack":[{"context":{"level":"warn","file":"database.cpp","line":429,"method":"get_comment","hostname":"","timestamp":"2018-04-15T16:43:48"},"format":"${what}:
        ","data":{"author":"","permlink":"","what":"unknown key"}}]}},"id":9}'
  recorded_at: Sun, 15 Apr 2018 16:43:48 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_blog_authors","params":{},"id":10}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000644289331014344'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"blog_authors":[]},"id":10}'
  recorded_at: Sun, 15 Apr 2018 16:43:48 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001052082308750192'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"buckets":[]},"id":1}'
  recorded_at: Sun, 15 Apr 2018 16:43:52 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history_buckets","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000731790888138076'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"bucket_sizes":[15,60,300,3600,86400]},"id":2}'
  recorded_at: Sun, 15 Apr 2018 16:43:53 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_order_book","params":{},"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000650241977801608'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":["18379",3,"@@000000013"],"quote":["16876",3,"@@000000021"]},"real_price":"1.08906138895472870","steem":12356,"sbd":13457,"created":"2018-04-15T16:36:42"},{"order_price":{"base":["5446",3,"@@000000013"],"quote":["5008",3,"@@000000021"]},"real_price":"1.08746006389776362","steem":5008,"sbd":5446,"created":"2018-04-15T16:37:51"},{"order_price":{"base":["660",3,"@@000000013"],"quote":["607",3,"@@000000021"]},"real_price":"1.08731466227347617","steem":572,"sbd":622,"created":"2018-04-15T16:07:06"},{"order_price":{"base":["40000",3,"@@000000013"],"quote":["36788",3,"@@000000021"]},"real_price":"1.08731107969990215","steem":36788,[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_recent_trades","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000770136924503192'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2018-04-15T16:42:33","current_pays":["21862",3,"@@000000013"],"open_pays":["20073",3,"@@000000021"]},{"date":"2018-04-15T16:40:00","current_pays":["68",3,"@@000000013"],"open_pays":["62",3,"@@000000021"]},{"date":"2018-04-15T16:38:30","current_pays":["229",3,"@@000000013"],"open_pays":["210",3,"@@000000021"]},{"date":"2018-04-15T16:37:36","current_pays":["21441",3,"@@000000013"],"open_pays":["19686",3,"@@000000021"]},{"date":"2018-04-15T16:36:42","current_pays":["4922",3,"@@000000013"],"open_pays":["4520",3,"@@000000021"]},{"date":"2018-04-15T16:35:15","current_pays":[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_ticker","params":{},"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000348318850468857'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"1.09578544061302674","lowest_ask":"1.08912038974736736","highest_bid":"1.08906138895472870","percent_change":"0.00000000000000000","steem_volume":["6024170",3,"@@000000021"],"sbd_volume":["6577578",3,"@@000000013"]},"id":5}'
  recorded_at: Sun, 15 Apr 2018 16:43:55 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_trending_tags","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000400872823651131'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"tags":[{"name":"","total_payouts":["46444542348",3,"@@000000013"],"net_votes":24954682,"top_posts":2222898,"comments":14375924,"trending":"52162352554"},{"name":"life","total_payouts":["10401021477",3,"@@000000013"],"net_votes":5482391,"top_posts":650595,"comments":694259,"trending":"4227193865"},{"name":"photography","total_payouts":["6055986607",3,"@@000000013"],"net_votes":4288983,"top_posts":392910,"comments":927162,"trending":"4147458337"},{"name":"steemit","total_payouts":["7476838989",3,"@@000000013"],"net_votes":2616486,"top_posts":270159,"comments":776783,"trending":"3284245604"},{"name":"kr","total_payouts":["2425822436"[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_discussion","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000895077459590914'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"author":"","permlink":"","category":"","parent_author":"","parent_permlink":"","title":"","body":"","json_metadata":"","last_update":"1970-01-01T00:00:00","created":"1970-01-01T00:00:00","active":"1970-01-01T00:00:00","last_payout":"1970-01-01T00:00:00","depth":0,"children":0,"net_rshares":0,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1970-01-01T00:00:00","max_cashout_time":"1970-01-01T00:00:00","total_vote_weight":0,"reward_weight":0,"total_payout_value":["0",3,"@@000000021"],"curator_payout_value":["0",3,"@@000000021"],"author_rewards":0,"net_votes":0,"root_author":"","root_permlink":"","max_accepted_payout":["0",3,"@@000000021"],"percent_steem_dollars":0,"allow_replies":false,"allow_votes":false,"allow_curation_rewards":false,"beneficiaries":[],"url":"","root_title":"","pending_payout_value":["0",3,"@@000000021"],"total_pending_payout_value":["0",3,"@@000000021"],"active_votes":[],"replies":[],"author_reputation":0,"promoted":["0",3,"@@000000013"],"body_length":0,"reblogged_by":[]},"id":4}'
  recorded_at: Sun, 15 Apr 2018 16:44:01 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_content_replies","params":{},"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000073084057523142'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"discussions":[{"id":6,"author":"abit","permlink":"witness-category","category":"","parent_author":"","parent_permlink":"","title":"Witnesses","body":"This
        is the witnesses category","json_metadata":"{}","last_update":"2016-04-08T07:36:18","created":"2016-04-08T07:36:18","active":"2018-03-20T16:31:18","last_payout":"2016-08-12T10:16:39","depth":0,"children":11,"net_rshares":-491818553,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1969-12-31T23:59:59","max_cashout_time":"196[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"account_by_key_api.get_key_references","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000969135213532975'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":[]},"id":1}'
  recorded_at: Sun, 15 Apr 2018 16:44:11 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_count","params":[],"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_account_count.params=[]
      X-Jussi-Request-Id:
      - '000809404959891140'
    body:
      encoding: UTF-8
      string: '{"id":5,"jsonrpc":"2.0","result":943978}'
  recorded_at: Sun, 15 Apr 2018 16:44:23 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000230244301402934'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-04-15T16:44:43.967283","source_commit":"225b69c412ef57279ff5346e668b7092b77c1617","docker_tag":"latest"}'
  recorded_at: Sun, 15 Apr 2018 16:44:43 GMT
- request:
    method: get
    uri: https://rpc.steemliberator.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 15 Apr 2018 16:45:05 GMT
- request:
    method: post
    uri: https://rpc.steemliberator.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":[],"id":6}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":6,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''condenser_api.get_account_history''\n    {\"name\":\"condenser_api.get_account_history\",\"api\":{\"get_account_bandwidth\":42,\"get_account_count\":35,\"get_account_history\":37,\"get_account_references\":32,\"get_account_votes\":57,\"get_accounts\":31,\"get_active_votes\":56,\"get_active_witnesses\":67,\"get_block\":18,\"get_block_header\":17,\"get_chain_properties\":23,\"get_comment_discussions_by_payout\":5,\"get_config\":21,\"get_content\":58,\"get_content_replies\":59,\"get_conversion_requests\":36,\"get_current_median_history_price\":25,\"get_discussions_by_active\":8,\"get_discussions_by_author_before_date\":60,\"get_discussions_by_blog\":14,\"get_discussions_by_cashout\":9,\"get_discussions_by_children\":11,\"get_discussions_by_comments\":15,\"get_discussions_by_created\":7,\"get_discussions_by_feed\":13,\"get_discussions_by_hot\":12,\"get_discussions_by_payout\":3,\"get_discussions_by_promoted\":16,\"get_discussions_by_trending\":6,\"get_discussions_by_votes\":10,\"get_dynamic_global_properties\":22,\"get_escrow\":40,\"get_expiring_vesting_delegations\":46,\"get_feed_history\":24,\"get_hardfork_version\":27,\"get_key_references\":30,\"get_liquidity_queue\":49,\"get_miner_queue\":68,\"get_next_scheduled_hardfork\":28,\"get_open_orders\":48,\"get_ops_in_block\":19,\"get_order_book\":47,\"get_owner_history\":38,\"get_post_discussions_by_payout\":4,\"get_potential_signatures\":53,\"get_recovery_request\":39,\"get_replies_by_last_update\":61,\"get_required_signatures\":52,\"get_reward_fund\":29,\"get_savings_withdraw_from\":43,\"get_savings_withdraw_to\":44,\"get_state\":20,\"get_tags_used_by_author\":2,\"get_transaction\":51,\"get_transaction_hex\":50,\"get_trending_tags\":1,\"get_vesting_delegations\":45,\"get_withdraw_routes\":41,\"get_witness_by_account\":63,\"get_witness_count\":66,\"get_witness_schedule\":26,\"get_witnesses\":62,\"get_witnesses_by_vote\":64,\"lookup_account_names\":33,\"lookup_accounts\":34,\"lookup_witness_accounts\":65,\"set_block_applied_callback\":0,\"verify_account_authority\":55,\"verify_authority\":54}}\n    th_a  api_connection.hpp:109
        call\n\n    {\"call.method\":\"condenser_api.get_account_history\",\"call.params\":[]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":109,"method":"call","hostname":"","thread_name":"th_a","timestamp":"2018-04-15T16:45:06"},"format":"itr
        != _by_name.end(): no method with name ''${name}''","data":{"name":"condenser_api.get_account_history","api":{"get_account_bandwidth":42,"get_account_count":35,"get_account_history":37,"get_account_references":32,"get_account_votes":57,"get_accounts":31,"get_active_votes":56,"get_active_witnesses":67,"get_block":18,"get_block_header":17,"get_chain_properties":23,"get_comment_discussions_by_payout":5,"get_config":21,"get_content":58,[...]
- request:
    method: get
    uri: https://rpc.buildteam.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:478 from_string
  recorded_at: Sun, 15 Apr 2018 16:45:07 GMT
- request:
    method: post
    uri: https://rpc.buildteam.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":[],"id":6}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":6,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''co[...]
- request:
    method: get
    uri: https://gtg.steem.house:8090/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:479 from_string
  recorded_at: Sun, 15 Apr 2018 16:45:09 GMT
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":[],"id":6}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":6,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name [...]
- request:
    method: get
    uri: https://rpc.curiesteem.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>400 The plain HTTP request was sent to HTTPS
        port</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>400 Bad Request</h1></center>\r\n<center>The
        plain HTTP request was sent to HTTPS port</center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 15 Apr 2018 16:45:10 GMT
- request:
    method: get
    uri: https://steemd.privex.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:478 from_string
  recorded_at: Sun, 15 Apr 2018 16:45:13 GMT
- request:
    method: post
    uri: https://steemd.privex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_history","params":[],"id":6}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":6,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''co[...]
