---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","set_subscribe_callback",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"error":{"code":1,"message":"10 assert_exception: Assert Exception\nitr
        != _by_name.end(): no method with name ''set_subscribe_callback''\n    {\"name\":\"set_subscribe_callback\",\"api\":{\"get_account_bandwidth\":42,\"get_account_count\":35,\"get_account_history\":37,\"get_account_references\":32,\"get_account_votes\":57,\"get_accounts\":31,\"get_active_votes\":56,\"get_active_witnesses\":67,\"get_block\":18,\"get_block_header\":17,\"get_chain_properties\":23,\"get_comment_discussions_by_payout\":5,\"get_config\":21,\"get_content\":58,\"get_content_replies\":59,\"get_conversion_requests\":36,\"get_current_median_history_price\":25,\"get_discussions_by_active\":8,\"get_discussions_by_author_before_date\":60,\"get_discussions_by_blog\":14,\"get_discussions_by_cashout\":9,\"get_discussions_by_children\":11,\"get_discussions_by_comments\":15,\"get_discussions_by_created\":7,\"get_discussions_by_feed\":13,\"get_discussions_by_hot\":12,\"get_discussions_by_payout\":3,\"get_discussions_by_promoted\":16,\"get_discussions_by_trending\":6,\"get_discussions_by_votes\":10,\"get_dynamic_global_properties\":22,\"get_escrow\":40,\"get_expiring_vesting_delegations\":46,\"get_feed_history\":24,\"get_hardfork_version\":27,\"get_key_references\":30,\"get_liquidity_queue\":49,\"get_miner_queue\":68,\"get_next_scheduled_hardfork\":28,\"get_open_orders\":48,\"get_ops_in_block\":19,\"get_order_book\":47,\"get_owner_history\":38,\"get_post_discussions_by_payout\":4,\"get_potential_signatures\":53,\"get_recovery_request\":39,\"get_replies_by_last_update\":61,\"get_required_signatures\":52,\"get_reward_fund\":29,\"get_savings_withdraw_from\":43,\"get_savings_withdraw_to\":44,\"get_state\":20,\"get_tags_used_by_author\":2,\"get_transaction\":51,\"get_transaction_hex\":50,\"get_trending_tags\":1,\"get_vesting_delegations\":45,\"get_withdraw_routes\":41,\"get_witness_by_account\":63,\"get_witness_count\":66,\"get_witness_schedule\":26,\"get_witnesses\":62,\"get_witnesses_by_vote\":64,\"lookup_account_names\":33,\"lookup_accounts\":34,\"lookup_witness_accounts\":65,\"set_block_applied_callback\":0,\"verify_account_authority\":55,\"verify_authority\":54}}\n    th_a  api_connection.hpp:109
        call\n\n    {\"call.method\":\"call\",\"call.params\":[\"database_api\",\"set_subscribe_callback\",[]]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":109,"method":"call","hostname":"","thread_name":"th_a","timestamp":"2017-10-18T05:57:23"},"format":"itr
        != _by_name.end(): no method with name ''${name}''","data":{"name":"set_subscribe_callback","api":{"get_account_bandwidth":42,"get_account_count":35,"get_account_history":37,"get_account_references":32,"get_account_votes":57,"get_accounts":31,"get_active_votes":56,"get_active_witnesses":67,"get_block":18,"get_block_header":17,"get_chain_properties":23,"get_comment_discussions_by_payout":5,"get_config":21,"get_content":58,"get_content_replies":59,"get_conversion_requests":36,"get_cur[...]
[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","set_block_applied_callback",[]],"id":3,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":3,"error":{"code":1,"message":"10 assert_exception: Assert Exception\na0
        != e: too few arguments passed to method\n    {}\n    th_a  api_connection.hpp:150
        call_generic\n\n    {\"call.method\":\"call\",\"call.params\":[\"database_api\",\"set_block_applied_callback\",[]]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":150,"method":"call_generic","hostname":"","thread_name":"th_a","timestamp":"2017-10-18T05:57:24"},"format":"a0
        != e: too few arguments passed to method","data":{}},{"context":{"level":"warn","file":"websocket_api.cpp","line":124,"method":"on_message","hostname":"","thread_name":"th_a","timestamp":"2017-10-18T05:57:24"},"format":"","data":{"call.method":"call","call.params":["database_api","set_block_applied_callback",[]]}}]}}}'
  recorded_at: Wed, 18 Oct 2017 05:57:24 GMT
[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_config",[]],"id":30,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":30,"result":{"IS_TEST_NET":false,"SBD_SYMBOL":1145197315,"STEEMIT_100_PERCENT":10000,"STEEMIT_1_PERCENT":100,"STEEMIT_1_TENTH_PERCENT":10,"STEEMIT_ACCOUNT_RECOVERY_REQUEST_EXPIRATION_PERIOD":"86400000000","STEEMIT_ACTIVE_CHALLENGE_COOLDOWN":"86400000000","STEEMIT_ACTIVE_CHALLENGE_FEE":"2.000
        STEEM","STEEMIT_ADDRESS_PREFIX":"STM","STEEMIT_APR_PERCENT_MULTIPLY_PER_BLOCK":"102035135585887","STEEMIT_APR_PERCENT_MULTIPLY_PER_HOUR":"119577151364285","STEEMIT_APR_PERCENT_MULTIPLY_PER_ROUND":"133921203762304","STEEMIT_APR_PERCENT_SHIFT_PER_BLOCK":87,"STEEMIT_APR_PERCENT_SHIFT_PER_HOUR":77,"STEEMIT_APR_PERCENT_SHIFT_PER_ROUND":83,"STEEMIT_BANDWIDTH_AVERAGE_WINDOW_SECONDS":604800,"STEEMIT_BANDWIDTH_PRECISION":1000000,"STEEMIT_BLOCKCHAIN_PRECISION":1000,"STEEMIT_BLOCKCHAIN_PRECISION_DIGITS":3,"STEEMIT_BLOCKCHAIN_HARDFORK_VERSION":"0.19.0","STEEMIT_BLOCKCHAIN_VERSION":"0.19.2","STEEMIT_BLOCK_INTERVAL":3,"STEEMIT_BLOCKS_PER_DAY":28800,"STEEMIT_BLOCKS_PER_HOUR":1200,"STEEMIT_BLOCKS_PER_YEAR":10512000,"STEEMIT_CASHOUT_WINDOW_SECONDS":604800,"STEEMIT_CASHOUT_WINDOW_SECONDS_PRE_HF12":86400,"STEEMIT_CASHOUT_WINDOW_SECONDS_PRE_HF17":43200,"STEEMIT_CHAIN_ID":"0000000000000000000000000000000000000000000000000000000000000000","STEEMIT_COMMENT_REWARD_FUND_NAME":"comment","STEEMIT_CONTENT_APR_PERCENT":3875,"STEEMIT_CONTENT_CONSTANT_HF0":"2000000000000","STEEMIT_CONTENT_REWARD_PERCENT":7500,"STEEMIT_CONVERSION_DELAY":"302400000000","STEEMIT_CONVERSION_DELAY_PRE_HF_16":"604800000000","STEEMIT_CREATE_ACCOUNT_DELEGATION_RATIO":5,"STEEMIT_CREATE_ACCOUNT_DELEGATION_TIME":"2592000000000","STEEMIT_CREATE_ACCOUNT_WITH_STEEM_MODIFIER":30,"STEEMIT_CURATE_APR_PERCENT":3875,"STEEMIT_DEFAULT_SBD_INTEREST_RATE":1000,"STEEMIT_EQUIHASH_K":6,"STEEMIT_EQUIHASH_N":140,"STEEMIT_FEED_HISTORY_WINDOW":84,"STEEMIT_FEED_HISTORY_WINDOW_PRE_HF_16":168,"STEEMIT_FEED_INTERVAL_BLOCKS":1200,"STEEMIT_FREE_TRANSACTIONS_WITH_NEW_ACCOUNT":100,"STEEMIT_GENESIS_TIME":"2016-03-24T16:00:00","STEEMIT_HARDFORK_REQUIRED_WITNESSES":17,"STEEMIT_INFLATION_NARROWING_PERIOD":250000,"STEEMIT_INFLATION_RATE_START_PERCENT":978,"STEEMIT_INFLATION_RATE_STOP_PERCENT":95,"STEEMIT_INIT_MINER_NAME":"initminer","STEEMIT_INIT_PUBLIC_KEY_STR":"STM8GC13uCZbP44HzMLV6zPZGwVQ8Nt4Kji8PapsPiNq1BK153XTX","STEEMIT_INIT_SUPPLY":0,"STEEMIT_INIT_TIME":"1970-01-01T00:00:00","STEEMIT_IRREVERSIBLE_THRESHOLD":7500,"STEEMIT_LIQUIDITY_APR_PERCENT":750,"STEEMIT_LIQUIDITY_REWARD_BLOCKS":1200,"STEEMIT_LIQUIDITY_REWARD_PERIOD_SEC":3600,"STEEMIT_LIQUIDITY_TIMEOUT_SEC":"604800000000","STEEMIT_MAX_ACCOUNT_NAME_LENGTH":16,"STEEMIT_MAX_ACCOUNT_WITNESS_VOTES":30,"STEEMIT_MAX_ASSET_WHITELIST_AUTHORITIES":10,"STEEMIT_MAX_AUTHORITY_MEMBERSHIP":10,"STEEMIT_MAX_BLOCK_SIZE":393216000,"STEEMIT_MAX_CASHOUT_WINDOW_SECONDS":1209600,"STEEMIT_MAX_COMMENT_DEPTH":65535,"STEEMIT_MAX_COMMENT_DEPTH_PRE_HF17":6,"STEEMIT_MAX_FEED_AGE_SECONDS":604800,"STEEMIT_MAX_INSTANCE_ID":"281474976710655","STEEMIT_MAX_MEMO_SIZE":2048,"STEEMIT_MAX_WITNESSES":21,"STEEMIT_MAX_MINER_WITNESSES_HF0":1,"STEEMIT_MAX_MINER_WITNESSES_HF17":0,"STEEMIT_MAX_PERMLINK_LENGTH":256,"STEEMIT_MAX_PROXY_RECURSION_DEPTH":4,"STEEMIT_MAX_RATION_DECAY_RATE":1000000,"STEEMIT_MAX_RESERVE_RATIO":20000,"STEEMIT_MAX_RUNNER_WITNESSES_HF0":1,"STEEMIT_MAX_RUNNER_WITNESSES_HF17":1,"STEEMIT_MAX_SHARE_SUPPLY":"1000000000000000","STEEMIT_MAX_SIG_CHECK_DEPTH":2,"STEEMIT_MAX_TIME_UNTIL_EXPIRATION":3600,"STEEMIT_MAX_TRANSACTION_SIZE":65536,"STEEMIT_MAX_UNDO_HISTORY":10000,"STEEMIT_MAX_URL_LENGTH":127,"STEEMIT_MAX_VOTE_CHANGES":5,"STEEMIT_MAX_VOTED_WITNESSES_HF0":19,"STEEMIT_MAX_VOTED_WITNESSES_HF17":20,"STEEMIT_MAX_WITHDRAW_ROUTES":10,"STEEMIT_MAX_WITNESS_URL_LENGTH":2048,"STEEMIT_MIN_ACCOUNT_CREATION_FEE":1,"STEEMIT_MIN_ACCOUNT_NAME_LENGTH":3,"STEEMIT_MIN_BLOCK_SIZE":115,"STEEMIT_MIN_BLOCK_SIZE_LIMIT":65536,"STEEMIT_MIN_CONTENT_REWARD":"1.000
        STEEM","STEEMIT_MIN_CURATE_REWARD":"1.000 STEEM","STEEMIT_MIN_PERMLINK_LENGTH":0,"STEEMIT_MIN_REPLY_INTERVAL":20000000,"STEEMIT_MIN_ROOT_COMMENT_INTERVAL":300000000,"STEEMIT_MIN_VOTE_INTERVAL_SEC":3,"STEEMIT_MINER_ACCOUNT":"miners","STEEMIT_MINER_PAY_PERCENT":100,"STEEMIT_MIN_FEEDS":7,"STEEMIT_MINING_REWARD":"1.000
        STEEM","STEEMIT_MINING_TIME":"2016-03-24T17:00:00","STEEMIT_MIN_LIQUIDITY_REWARD":"1200.000
        STEEM","STEEMIT_MIN_LIQUIDITY_REWARD_PERIOD_SEC":60000000,"STEEMIT_MIN_PAYOUT_SBD":"0.020
        SBD","STEEMIT_MIN_POW_REWARD":"1.000 STEEM","STEEMIT_MIN_PRODUCER_REWARD":"1.000
        STEEM","STEEMIT_MIN_RATION":100000,"STEEMIT_MIN_TRANSACTION_EXPIRATION_LIMIT":15,"STEEMIT_MIN_TRANSACTION_SIZE_LIMIT":1024,"STEEMIT_MIN_UNDO_HISTORY":10,"STEEMIT_NULL_ACCOUNT":"null","STEEMIT_NUM_INIT_MINERS":1,"STEEMIT_ORIGINAL_MIN_ACCOUNT_CREATION_FEE":100000,"STEEMIT_OWNER_AUTH_HISTORY_TRACKING_START_BLOCK_NUM":3186477,"STEEMIT_OWNER_AUTH_RECOVERY_PERIOD":"2592000000000","STEEMIT_OWNER_CHALLENGE_COOLDOWN":"86400000000","STEEMIT_OWNER_CHALLENGE_FEE":"30.000
        STEEM","STEEMIT_OWNER_UPDATE_LIMIT":3600000000,"STEEMIT_POST_AVERAGE_WINDOW":86400,"STEEMIT_POST_MAX_BANDWIDTH":40000,"STEEMIT_POST_REWARD_FUND_NAME":"post","STEEMIT_POST_WEIGHT_CONSTANT":1600000000,"STEEMIT_POW_APR_PERCENT":750,"STEEMIT_PRODUCER_APR_PERCENT":750,"STEEMIT_PROXY_TO_SELF_ACCOUNT":"","STEEMIT_SBD_INTEREST_COMPOUND_INTERVAL_SEC":2592000,"STEEMIT_SECONDS_PER_YEAR":31536000,"STEEMIT_RECENT_RSHARES_DECAY_RATE_HF19":"1296000000000","STEEMIT_RECENT_RSHARES_DECAY_RATE_HF17":"2592000000000","STEEMIT_REVERSE_AUCTION_WINDOW_SECONDS":1800,"STEEMIT_ROOT_POST_PARENT":"","STEEMIT_SAVINGS_WITHDRAW_REQUEST_LIMIT":100,"STEEMIT_SAVINGS_WITHDRAW_TIME":"259200000000","STEEMIT_SBD_START_PERCENT":200,"STEEMIT_SBD_STOP_PERCENT":500,"STEEMIT_SECOND_CASHOUT_WINDOW":2592000,"STEEMIT_SOFT_MAX_COMMENT_DEPTH":255,"STEEMIT_START_MINER_VOTING_BLOCK":864000,"STEEMIT_START_VESTING_BLOCK":201600,"STEEMIT_SYMBOL":"STEEM","STEEMIT_TEMP_ACCOUNT":"temp","STEEMIT_UPVOTE_LOCKOUT_HF7":60000000,"STEEMIT_UPVOTE_LOCKOUT_HF17":"43200000000","STEEMIT_VESTING_FUND_PERCENT":1500,"STEEMIT_VESTING_WITHDRAW_INTERVALS":13,"STEEMIT_VESTING_WITHDRAW_INTERVALS_PRE_HF_16":104,"STEEMIT_VESTING_WITHDRAW_INTERVAL_SECONDS":604800,"STEEMIT_VOTE_CHANGE_LOCKOUT_PERIOD":7200,"STEEMIT_VOTE_DUST_THRESHOLD":50000000,"STEEMIT_VOTE_REGENERATION_SECONDS":432000,"STEEM_SYMBOL":"84959911236355","STMD_SYMBOL":"293355148035","VESTS_SYMBOL":"91621639411206","VIRTUAL_SCHEDULE_LAP_LENGTH":"18446744073709551615","VIRTUAL_SCHEDULE_LAP_LENGTH2":"340282366920938463463374607431768211455"}}'
  recorded_at: Wed, 18 Oct 2017 05:57:36 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":31,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":31,"result":{"id":0,"head_block_number":16429694,"head_block_id":"00fab27e92d2520c1d2efc65645d997a3add23cd","time":"2017-10-18T05:57:36","current_witness":"blocktrades","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"261036692.783
        STEEM","current_supply":"257687468.810 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3466446.813 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190693668.621 STEEM","total_vesting_shares":"392252034051.201799
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"365618420.186955
        VESTS","pending_rewarded_vesting_steem":"177198.425 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":16490352,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":16429673,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":4571,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Wed, 18 Oct 2017 05:57:37 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_chain_properties",[]],"id":32,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":32,"result":{"account_creation_fee":"0.200 STEEM","maximum_block_size":65536,"sbd_interest_rate":0}}'
  recorded_at: Wed, 18 Oct 2017 05:57:38 GMT
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":33,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":33,"result":{"id":0,"current_median_history":{"base":"1.035 SBD","quote":"1.000
        STEEM"},"price_history":[{"base":"1.041 SBD","quote":"1.000 STEEM"},{"base":"1.040
        SBD","quote":"1.000 STEEM"},{"base":"1.056 SBD","quote":"1.000 STEEM"},{"base":"1.056
        SBD","quote":"1.000 STEEM"},{"base":"1.072 SBD","quote":"1.000 STEEM"},{"base":"1.086
        SBD","quote":"1.000 STEEM"},{"base":"1.055 SBD","quote":"1.000 STEEM"},{"base":"1.053
        SBD","quote":"1.000 STEEM"},{"base":"1.051 SBD","quote":"1.000 STEEM"},{"base":"1.041
        SBD","quote":"1.000 STEEM"},{"base":"1.009 SBD","quote":"[...]
[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_witness_schedule",[]],"id":35,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":35,"result":{"id":0,"current_virtual_time":"244743023508879792439973197","next_shuffle_block_num":16429707,"current_shuffled_witnesses":"0000006b6e75667000000000000000006165687265766972000000000000006470646e616c656f72000000000000000000006c61646c6578000000000000000072616b2d646f6f67000000000000616d61627469627375610000000000006b6e696e61646e6f696c00000000000000000000000078796e61000000000000000000006e6f697275660000000000000000772e68746f6f6d7300007373656e746900000000006774670000000000000000000000007a756862000000000000000031797567656d6f7300000000000033326666696c636d697400000000000000000000000065796c6b00000000000000007470797263656874000065766972646f0000706f79616c6300000000000000006d6973657261687000000000000000006172746b636f6c6200000000007365640064656f726767610000000000000000000000617473656a0000000000000000","num_scheduled_witnesses":21,"top19_weight":1,"timeshare_weight":5,"miner_weight":1,"witness_pay_normalization_factor":25,"median_props":{"account_creation_fee":"0.200
        STEEM","maximum_block_size":65536,"sbd_interest_rate":0},"majority_version":"0.19.2","max_voted_witnesses":20,"max_miner_witnesses":0,"max_runner_witnesses":1,"hardfork_required_witnesses":17}}'
  recorded_at: Wed, 18 Oct 2017 05:57:51 GMT
[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_next_scheduled_hardfork",[]],"id":37,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":37,"result":{"hf_version":"0.19.0","live_time":"2017-06-20T15:00:00"}}'
  recorded_at: Wed, 18 Oct 2017 05:58:04 GMT
[...]
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_vesting_delegations",[]],"id":75,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":75,"error":{"code":1,"message":"10 assert_exception: Assert Exception\na0
        != e: too few arguments passed to method\n    {}\n    th_a  api_connection.hpp:165
        call_generic\n\n    {\"call.method\":\"call\",\"call.params\":[\"database_api\",\"get_vesting_delegations\",[]]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":165,"method":"call_generic","hostname":"","thread_name":"th_a","timestamp":"2017-10-18T05:58:31"},"format":"a0
        != e: too few arguments passed to method","data":{}},{"context":{"level":"warn","file":"websocket_api.cpp","line":124,"method":"on_message","hostname":"","thread_name":"th_a","timestamp":"2017-10-18T05:58:31"},"format":"","data":{"call.method":"call","call.params":["database_api","get_vesting_delegations",[]]}}]}}}'
  recorded_at: Wed, 18 Oct 2017 05:58:31 GMT
recorded_with: VCR 3.0.3
