---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.broadcast_block","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000224990782903337'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:args.size()
        == 1: Expected #s argument(s), was 0","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":1611,"method":"broadcast_block","hostname":"","timestamp":"2018-04-28T17:41:21"},"format":"args.size()
        == 1: Expected #s argument(s), was ${n}","data":{"n":0}}]}},"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:41:21 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.broadcast_transaction","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000099710245617217'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"55026d82-912b-4023-b1aa-840b14816eec","request":{"amzn_trace_id":"Root=1-5ae4b241-180186e5e3b93a67ae5e3da0","jussi_request_id":null}}}}'
  recorded_at: Sat, 28 Apr 2018 17:41:21 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000840038949788357'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-04-28T17:41:22.028055","source_commit":"90a1eef9146459e6861237cdff393895156c5648","docker_tag":"latest"}'
  recorded_at: Sat, 28 Apr 2018 17:41:22 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_count","params":[],"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000155110619662436'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":965207,"id":5}'
  recorded_at: Sat, 28 Apr 2018 17:41:26 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_references","params":[],"id":7}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000153022426718897'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":867,"method":"get_account_references","hostname":"","timestamp":"2018-04-28T17:41:26"},"format":"false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{}}]}},"id":7}'
  recorded_at: Sat, 28 Apr 2018 17:41:26 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_chain_properties","params":[],"id":18}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001070232161245063'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"account_creation_fee":"0.100 STEEM","maximum_block_size":65536,"sbd_interest_rate":0},"id":18}'
  recorded_at: Sat, 28 Apr 2018 17:41:29 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_config","params":[],"id":20}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000794592936837448'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"IS_TEST_NET":false,"STEEM_ENABLE_SMT":false,"SBD_SYMBOL":null,"STEEM_INITIAL_VOTE_POWER_RATE":40,"STEEM_REDUCED_VOTE_POWER_RATE":10,"STEEM_100_PERCENT":10000,"STEEM_1_PERCENT":100,"STEEM_ACCOUNT_RECOVERY_REQUEST_EXPIRATION_PERIOD":"86400000000","STEEM_ACTIVE_CHALLENGE_COOLDOWN":"86400000000","STEEM_ACTIVE_CHALLENGE_FEE":["2000",3,"@@000000021"],"STEEM_ADDRESS_PREFIX":"STM","STEEM_APR_PERCENT_MULTIPLY_PER_BLOCK":"102035135585887","STEEM_APR_PERCENT_MULTIPLY_PER_HOUR":"119577151364285","STEEM_APR_PERCENT_MULTIPLY_PER_ROUND":"133921203762304","STEEM_APR_PERCENT_SHIFT_PER_BLOCK":87,"STEEM_APR_PERCENT_SHIFT_PER_HOUR":77,"STEEM_APR_PERCENT_SHIFT_PER_ROUND":83,"STEEM_BANDWIDTH_AVERAGE_WINDOW_SECONDS":604800,"STEEM_BANDWIDTH_PRECISION":1000000,"STEEM_BLOCKCHAIN_PRECISION":1000,"STEEM_BLOCKCHAIN_PRECISION_DIGITS":3,"STEEM_BLOCKCHAIN_HARDFORK_VERSION":"0.19.0","STEEM_BLOCKCHAIN_VERSION":"0.19.4","STEEM_BLOCK_INTERVAL":3,"STEEM_BLOCKS_PER_DAY":28800,"STEEM_BLOCKS_PER_HOUR":1200,"STEEM_BLOCKS_PER_YEAR":10512000,"STEEM_CASHOUT_WINDOW_SECONDS":604800,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF12":86400,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF17":43200,"STEEM_CHAIN_ID":"0000000000000000000000000000000000000000000000000000000000000000","STEEM_CHAIN_ID_NAME":"","STEEM_COMMENT_REWARD_FUND_NAME":"comment","STEEM_CONTENT_APR_PERCENT":3875,"STEEM_CONTENT_CONSTANT_HF0":"2000000000000","STEEM_CONTENT_REWARD_PERCENT":7500,"STEEM_CONVERSION_DELAY":"302400000000","STEEM_CONVERSION_DELAY_PRE_HF_16":"604800000000","STEEM_CREATE_ACCOUNT_DELEGATION_RATIO":5,"STEEM_CREATE_ACCOUNT_DELEGATION_TIME":"2592000000000","STEEM_CREATE_ACCOUNT_WITH_STEEM_MODIFIER":30,"STEEM_CURATE_APR_PERCENT":3875,"STEEM_DEFAULT_SBD_INTEREST_RATE":1000,"STEEM_EQUIHASH_K":6,"STEEM_EQUIHASH_N":140,"STEEM_FEED_HISTORY_WINDOW":84,"STEEM_FEED_HISTORY_WINDOW_PRE_HF_16":168,"STEEM_FEED_INTERVAL_BLOCKS":1200,"STEEM_GENESIS_TIME":"2016-03-24T16:00:00","STEEM_HARDFORK_REQUIRED_WITNESSES":17,"STEEM_INFLATION_NARROWING_PERIOD":250000,"STEEM_INFLATION_RATE_START_PERCENT":978,"STEEM_INFLATION_RATE_STOP_PERCENT":95,"STEEM_INIT_MINER_NAME":"initminer","STEEM_INIT_PUBLIC_KEY_STR":"STM8GC13uCZbP44HzMLV6zPZGwVQ8Nt4Kji8PapsPiNq1BK153XTX","STEEM_INIT_SUPPLY":0,"STEEM_INIT_TIME":"1970-01-01T00:00:00","STEEM_IRREVERSIBLE_THRESHOLD":7500,"STEEM_LIQUIDITY_APR_PERCENT":750,"STEEM_LIQUIDITY_REWARD_BLOCKS":1200,"STEEM_LIQUIDITY_REWARD_PERIOD_SEC":3600,"STEEM_LIQUIDITY_TIMEOUT_SEC":"604800000000","STEEM_MAX_ACCOUNT_NAME_LENGTH":16,"STEEM_MAX_ACCOUNT_WITNESS_VOTES":30,"STEEM_MAX_ASSET_WHITELIST_AUTHORITIES":10,"STEEM_MAX_AUTHORITY_MEMBERSHIP":10,"STEEM_MAX_BLOCK_SIZE":393216000,"STEEM_SOFT_MAX_BLOCK_SIZE":2097152,"STEEM_MAX_CASHOUT_WINDOW_SECONDS":1209600,"STEEM_MAX_COMMENT_DEPTH":65535,"STEEM_MAX_COMMENT_DEPTH_PRE_HF17":6,"STEEM_MAX_FEED_AGE_SECONDS":604800,"STEEM_MAX_INSTANCE_ID":"281474976710655","STEEM_MAX_MEMO_SIZE":2048,"STEEM_MAX_WITNESSES":21,"STEEM_MAX_MINER_WITNESSES_HF0":1,"STEEM_MAX_MINER_WITNESSES_HF17":0,"STEEM_MAX_PERMLINK_LENGTH":256,"STEEM_MAX_PROXY_RECURSION_DEPTH":4,"STEEM_MAX_RATION_DECAY_RATE":1000000,"STEEM_MAX_RESERVE_RATIO":20000,"STEEM_MAX_RUNNER_WITNESSES_HF0":1,"STEEM_MAX_RUNNER_WITNESSES_HF17":1,"STEEM_MAX_SATOSHIS":"4611686018427387903","STEEM_MAX_SHARE_SUPPLY":"1000000000000000","STEEM_MAX_SIG_CHECK_DEPTH":2,"STEEM_MAX_TIME_UNTIL_EXPIRATION":3600,"STEEM_MAX_TRANSACTION_SIZE":65536,"STEEM_MAX_UNDO_HISTORY":10000,"STEEM_MAX_URL_LENGTH":127,"STEEM_MAX_VOTE_CHANGES":5,"STEEM_MAX_VOTED_WITNESSES_HF0":19,"STEEM_MAX_VOTED_WITNESSES_HF17":20,"STEEM_MAX_WITHDRAW_ROUTES":10,"STEEM_MAX_WITNESS_URL_LENGTH":2048,"STEEM_MIN_ACCOUNT_CREATION_FEE":1,"STEEM_MIN_ACCOUNT_NAME_LENGTH":3,"STEEM_MIN_BLOCK_SIZE_LIMIT":65536,"STEEM_MIN_BLOCK_SIZE":115,"STEEM_MIN_CONTENT_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_CURATE_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_PERMLINK_LENGTH":0,"STEEM_MIN_REPLY_INTERVAL":20000000,"STEEM_MIN_ROOT_COMMENT_INTERVAL":300000000,"STEEM_MIN_VOTE_INTERVAL_SEC":3,"STEEM_MINER_ACCOUNT":"miners","STEEM_MINER_PAY_PERCENT":100,"STEEM_MIN_FEEDS":7,"STEEM_MINING_REWARD":["1000",3,"@@000000021"],"STEEM_MINING_TIME":"2016-03-24T17:00:00","STEEM_MIN_LIQUIDITY_REWARD":["1200000",3,"@@000000021"],"STEEM_MIN_LIQUIDITY_REWARD_PERIOD_SEC":60000000,"STEEM_MIN_PAYOUT_SBD":["20",3,"@@000000013"],"STEEM_MIN_POW_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_PRODUCER_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_TRANSACTION_EXPIRATION_LIMIT":15,"STEEM_MIN_TRANSACTION_SIZE_LIMIT":1024,"STEEM_MIN_UNDO_HISTORY":10,"STEEM_NULL_ACCOUNT":"null","STEEM_NUM_INIT_MINERS":1,"STEEM_OWNER_AUTH_HISTORY_TRACKING_START_BLOCK_NUM":3186477,"STEEM_OWNER_AUTH_RECOVERY_PERIOD":"2592000000000","STEEM_OWNER_CHALLENGE_COOLDOWN":"86400000000","STEEM_OWNER_CHALLENGE_FEE":["30000",3,"@@000000021"],"STEEM_OWNER_UPDATE_LIMIT":3600000000,"STEEM_POST_AVERAGE_WINDOW":86400,"STEEM_POST_REWARD_FUND_NAME":"post","STEEM_POST_WEIGHT_CONSTANT":1600000000,"STEEM_POW_APR_PERCENT":750,"STEEM_PRODUCER_APR_PERCENT":750,"STEEM_PROXY_TO_SELF_ACCOUNT":"","STEEM_SBD_INTEREST_COMPOUND_INTERVAL_SEC":2592000,"STEEM_SECONDS_PER_YEAR":31536000,"STEEM_RECENT_RSHARES_DECAY_TIME_HF19":"1296000000000","STEEM_RECENT_RSHARES_DECAY_TIME_HF17":"2592000000000","STEEM_REVERSE_AUCTION_WINDOW_SECONDS":1800,"STEEM_ROOT_POST_PARENT":"","STEEM_SAVINGS_WITHDRAW_REQUEST_LIMIT":100,"STEEM_SAVINGS_WITHDRAW_TIME":"259200000000","STEEM_SBD_START_PERCENT":200,"STEEM_SBD_STOP_PERCENT":500,"STEEM_SECOND_CASHOUT_WINDOW":2592000,"STEEM_SOFT_MAX_COMMENT_DEPTH":255,"STEEM_START_MINER_VOTING_BLOCK":864000,"STEEM_START_VESTING_BLOCK":201600,"STEEM_TEMP_ACCOUNT":"temp","STEEM_UPVOTE_LOCKOUT_HF7":60000000,"STEEM_UPVOTE_LOCKOUT_HF17":"43200000000","STEEM_VESTING_FUND_PERCENT":1500,"STEEM_VESTING_WITHDRAW_INTERVALS":13,"STEEM_VESTING_WITHDRAW_INTERVALS_PRE_HF_16":104,"STEEM_VESTING_WITHDRAW_INTERVAL_SECONDS":604800,"STEEM_VOTE_DUST_THRESHOLD":50000000,"STEEM_VOTE_REGENERATION_SECONDS":432000,"STEEM_SYMBOL":null,"VESTS_SYMBOL":null,"STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH":"18446744073709551615","STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH2":"340282366920938463463374607431768211455"},"id":20}'
  recorded_at: Sat, 28 Apr 2018 17:41:30 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_current_median_history_price","params":[],"id":24}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_current_median_history_price.params=[]
      X-Jussi-Request-Id:
      - '001036972988982028'
    body:
      encoding: UTF-8
      string: '{"id":24,"jsonrpc":"2.0","result":{"base":"3.845 SBD","quote":"1.000
        STEEM"}}'
  recorded_at: Sat, 28 Apr 2018 17:41:32 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":37}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000483200494951273'
    body:
      encoding: ASCII-8BIT
      string: '{"id":37,"jsonrpc":"2.0","result":{"head_block_number":21968440,"head_block_id":"014f363806ffd3e776e2fe0486bca84a9cbb6c06","time":"2018-04-28T17:41:36","current_witness":"gtg","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"270830521.064
        STEEM","current_supply":"267593047.529 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"12448085.745 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190769777.118 STEEM","total_vesting_shares":"388550613735.362140
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"387558535.076065
        VESTS","pending_rewarded_vesting_steem":"188910.754 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22034032,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21968423,"vote_power_reserve_rate":10,"average_block_size":15205,"current_reserve_ratio":60461023,"max_virtual_bandwidth":"79881451843092480000"}}'
  recorded_at: Sat, 28 Apr 2018 17:41:38 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":42}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000352507422068435'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"3.845
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"3.476 SBD","quote":"1.000
        STEEM"},{"base":"3.474 SBD","quote":"1.000 STEEM"},{"base":"3.486 SBD","quote":"1.000
        STEEM"},{"base":"3.484 SBD","quote":"1.000 STEEM"},{"base":"3.245 SBD","quote":"1.000
        STEEM"},{"base":"3.192 SBD","quote":"1.000 STEEM"},{"base":"3.340 SBD","quote":"1.000
        STEEM"},{"base":"3.388 SBD","quote":"1.000 STEEM"},{"base":"3.378 SBD","quote":"1.000
        STEEM"},{"base":"3.353 SBD","quote":"1.000 STEEM"},{"base":"3.388 SBD","quote":"[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_next_scheduled_hardfork","params":[],"id":50}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001114803123213578'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"hf_version":"0.19.0","live_time":"2017-06-20T15:00:00"},"id":50}'
  recorded_at: Sat, 28 Apr 2018 17:41:43 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_order_book","params":[],"id":53}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000071458972896030'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":"33.663 SBD","quote":"28.222
        STEEM"},"real_price":"1.19279285663666634","steem":11262,"sbd":13434,"created":"2018-04-28T17:38:42"},{"order_price":{"base":"7.000
        SBD","quote":"5.869 STEEM"},"real_price":"1.19270744590219802","steem":5869,"sbd":7000,"created":"2018-04-28T17:38:18"},{"order_price":{"base":"4.286
        SBD","quote":"3.600 STEEM"},"real_price":"1.19055555555555559","steem":3600,"sbd":4286,"created":"2018-04-28T17:33:30"},{"order_price":{"base":"0.500
        SBD","quote":"0.420 STEEM"},"real_price":"1.19047619047619047","steem":420,"sbd":500,"created":"2018-04-28T17:34:15"},{"ord[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_recent_trades","params":[],"id":58}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000343112585073245'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"date":"2018-04-28T17:40:42","current_pays":"4.807
        SBD","open_pays":"4.029 STEEM"},{"date":"2018-04-28T17:40:24","current_pays":"3.544
        STEEM","open_pays":"4.227 SBD"},{"date":"2018-04-28T17:39:57","current_pays":"0.002
        SBD","open_pays":"0.001 STEEM"},{"date":"2018-04-28T17:38:42","current_pays":"16.002
        SBD","open_pays":"13.416 STEEM"},{"date":"2018-04-28T17:37:12","current_pays":"6.654
        STEEM","open_pays":"7.938 SBD"},{"date":"2018-04-28T17:37:06","current_pays":"0.602
        SBD","open_pays":"0.504 STEEM"},{"date":"2018-04-28T17:[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_ticker","params":[],"id":67}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_ticker.params=[]
      X-Jussi-Request-Id:
      - '000972691589100888'
    body:
      encoding: UTF-8
      string: '{"id":67,"jsonrpc":"2.0","result":{"latest":"1.17874999999999996","lowest_ask":"1.19276529707360335","highest_bid":"1.19270744590219802","percent_change":"0.00000000000000000","steem_volume":"6951.489
        STEEM","sbd_volume":"8272.715 SBD"}}'
  recorded_at: Sat, 28 Apr 2018 17:41:49 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_version","params":[],"id":72}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000606619698795057'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"blockchain_version":"0.19.4","steem_revision":"4b19e00dd6a76699aa4de1c0d50aad392cd2d0b6","fc_revision":"4b19e00dd6a76699aa4de1c0d50aad392cd2d0b6"},"id":72}'
  recorded_at: Sat, 28 Apr 2018 17:41:51 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_witness_schedule","params":[],"id":78}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000225982201221519'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_virtual_time":"321754943284374309250951999","next_shuffle_block_num":21968457,"current_shuffled_witnesses":["clayop","ausbitbank","pharesim","pfunk","jesta","jerrybanfield","followbtcnews","roelandp","good-karma","thecryptodrive","blocktrades","aggroed","someguy123","gtg","yabapmatt","lukestokes.mhth","anyx","timcliff","netuoso","smooth.witness","xeldal"],"num_scheduled_witnesses":21,"top19_weight":1,"timeshare_weight":5,"miner_weight":1,"witness_pay_normalization_factor":25,"median_props":{"account_creation_fee":"0.100
        STEEM","maximum_block_size":65536,"sbd_interest_rate":0},"majority_version":"0.19.2","max_voted_witnesses":20,"max_miner_witnesses":0,"max_runner_witnesses":1,"hardfork_required_witnesses":17},"id":78}'
  recorded_at: Sat, 28 Apr 2018 17:41:53 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"account_by_key_api.get_key_references","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000765164105030098'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":[]},"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:42:19 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_block","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000907295506694360'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"fork_database.cpp","line":57,"method":"_push_block","hostname":"","timestamp":"2018-04-28T17:42:23"},"format":"item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"item->num":1,"head":21968455,"max_size":16}},{"context":{"level":"warn","file":"database.cpp","line":673,"method":"_push_block","hostname":"","timestamp":"2018-04-28T17:42:23"},"format":"","data":{}},{"context":{"level":"warn","file":"database.cpp","line":558,"method":"operator()","hostname":"","timestamp":"2018-04-28T17:42:23"},"format":"","data":{"new_block":{"previous":"0000000000000000000000000000000000000000","timestamp":"1970-01-01T00:00:00","witness":"","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","transactions":[]}}}]}},"id":4}'
  recorded_at: Sat, 28 Apr 2018 17:42:23 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000860519996148540'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"buckets":[]},"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:42:26 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history_buckets","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001055813988323787'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"bucket_sizes":[15,60,300,3600,86400]},"id":2}'
  recorded_at: Sat, 28 Apr 2018 17:42:26 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_recent_trades","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001092879518076859'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2018-04-28T17:41:51","current_pays":["118",3,"@@000000021"],"open_pays":["140",3,"@@000000013"]},{"date":"2018-04-28T17:41:48","current_pays":["11262",3,"@@000000021"],"open_pays":["13434",3,"@@000000013"]},{"date":"2018-04-28T17:40:42","current_pays":["4807",3,"@@000000013"],"open_pays":["4029",3,"@@000000021"]},{"date":"2018-04-28T17:40:24","current_pays":["3544",3,"@@000000021"],"open_pays":["4227",3,"@@000000013"]},{"date":"2018-04-28T17:39:57","current_pays":["2",3,"@@000000013"],[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_trending_tags","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000051803766679784'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"tags":[{"name":"","total_payouts":["48416162724",3,"@@000000013"],"net_votes":24988940,"top_posts":2242697,"comments":14456387,"trending":"52483370366"},{"name":"life","total_payouts":["10799400371",3,"@@000000013"],"net_votes":5540733,"top_posts":658855,"comments":699811,"trending":"4271254484"},{"name":"photography","total_payouts":["6315169885",3,"@@000000013"],"net_votes":4305434,"top_posts":396841,"comments":935065,"trending":"4185218778"},{"name":"steemit","total_payouts":["7678950592",3,"@@000000013"],"net_votes":2642408,"top_posts":274467,"comments":780734,"trending":"3310599531"},{"name":"kr","total_payouts":["2526788187"[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_discussion","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000886639728448500'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"author":"","permlink":"","category":"","parent_author":"","parent_permlink":"","title":"","body":"","json_metadata":"","last_update":"1970-01-01T00:00:00","created":"1970-01-01T00:00:00","active":"1970-01-01T00:00:00","last_payout":"1970-01-01T00:00:00","depth":0,"children":0,"net_rshares":0,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1970-01-01T00:00:00","max_cashout_time":"1970-01-01T00:00:00","total_vote_weight":0,"reward_weight":0,"total_payout_value":["0",3,"@@000000021"],"curator_payout_value":["0",3,"@@000000021"],"author_rewards":0,"net_votes":0,"root_author":"","root_permlink":"","max_accepted_payout":["0",3,"@@000000021"],"percent_steem_dollars":0,"allow_replies":false,"allow_votes":false,"allow_curation_rewards":false,"beneficiaries":[],"url":"","root_title":"","pending_payout_value":["0",3,"@@000000021"],"total_pending_payout_value":["0",3,"@@000000021"],"active_votes":[],"replies":[],"author_reputation":0,"promoted":["0",3,"@@000000013"],"body_length":0,"reblogged_by":[]},"id":4}'
  recorded_at: Sat, 28 Apr 2018 17:42:31 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_content_replies","params":{},"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000840605006647951'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"discussions":[{"id":6,"author":"abit","permlink":"witness-category","category":"","parent_author":"","parent_permlink":"","title":"Witnesses","body":"This
        is the witnesses category","json_metadata":"{}","last_update":"2016-04-08T07:36:18","created":"2016-04-08T07:36:18","active":"2018-03-20T16:31:18","last_payout":"2016-08-12T10:16:39","depth":0,"children":11,"net_rshares":-491818553,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1969-12-31T23:59:59","max_cashout_time":"196[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_discussions_by_feed","params":{},"id":15}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000338747362952495'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"unknown key:unknown
        key: ","data":{"code":13,"name":"N5boost16exception_detail10clone_implINS0_19error_info_injectorISt12out_of_rangeEEEE","message":"unknown
        key","stack":[{"context":{"level":"warn","file":"database.cpp","line":409,"method":"get_account","hostname":"","timestamp":"2018-04-28T17:42:36"},"format":"${what}:
        ","data":{"name":"","what":"unknown key"}}]}},"id":15}'
  recorded_at: Sat, 28 Apr 2018 17:42:36 GMT
[...]
