---
http_interactions:
- request:
    method: post
    uri: https://steem.bts.tw/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":18,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]> <html class=\"no-js ie6 oldie\"
        lang=\"en-US\"> <![endif]-->\n<!--[if IE 7]>    <html class=\"no-js ie7 oldie\"
        lang=\"en-US\"> <![endif]-->\n<!--[if IE 8]>    <html class=\"no-js ie8 oldie\"
        lang=\"en-US\"> <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"
        lang=\"en-US\"> <!--<![endif]-->\n<head>\n<meta http-equiv=\"refresh\" content=\"0\">\n\n<title>steem.bts.tw
        | 502: Bad gateway</title>\n<meta charset=\"UTF-8\" />\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\" />\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=Edge,chrome=1\" />\n<meta name=\"robots\" content=\"noindex,
        nofollow\" />\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"
        />\n<link rel=\"stylesheet\" id=\"cf_styles-css\" href=\"/cdn-cgi/styles/main.css\"
        type=\"text/css\" media=\"screen,projection\" />\n\n\n</head>\n<body>\n<div
        id=\"cf-wrapper\">\n\n    \n\n    <div id=\"cf-error-details\" class=\"p-0\">\n
        \       <header class=\"mx-auto pt-10 lg:pt-6 lg:px-8 w-240 lg:w-full mb-8\">\n
        \           <h1 class=\"inline-block sm:block sm:mb-2 font-light text-60 lg:text-4xl
        text-black-dark leading-tight mr-2\">\n              \n              <span
        class=\"cf-error-type\">Error</span>\n              <span class=\"cf-error-code\">502</span>\n
        \           </h1>\n            <span class=\"inline-block sm:block font-mono
        text-15 lg:text-sm lg:leading-relaxed\">Ray ID: 5ee971dfab25213f &bull;</span>\n
        \           <span class=\"inline-block sm:block font-mono text-15 lg:text-sm
        lg:leading-relaxed\">2020-11-07 19:26:15 UTC</span>\n            <h2 class=\"text-gray-600
        leading-1.3 text-3xl font-light\">Bad gateway</h2>\n        </header>\n        \n
        \       <div class=\"my-8 bg-gradient-gray\">\n            <div class=\"w-240
        lg:w-full mx-auto\">\n                <div class=\"clearfix md:px-8\">\n                  \n<div
        id=\"cf-browser-status\" class=\" relative w-1/3 md:w-full py-15 md:p-0 md:py-8
        md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400 overflow-hidden
        float-left md:float-none text-center\">\n  <div class=\"relative mb-10 md:m-0\">\n
        \   <span class=\"cf-icon-browser block md:hidden h-20 bg-center bg-no-repeat\"></span>\n
        \   <span class=\"cf-icon-ok w-12 h-12 absolute left-1/2 md:left-auto md:right-0
        md:top-0 -ml-6 -bottom-4\"></span>\n  </div>\n  <span class=\"md:block w-full
        truncate\">You</span>\n  <h3 class=\"md:inline-block mt-3 md:mt-0 text-2xl
        text-gray-600 font-light leading-1.3\">Browser</h3>\n  <span class=\"leading-1.3
        text-2xl text-green-success\">Working</span>\n</div>\n\n<div id=\"cf-cloudflare-status\"
        class=\" relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid
        md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none
        text-center\">\n  <div class=\"relative mb-10 md:m-0\">\n    <span class=\"c[...]
[...]
- request:
    method: post
    uri: https://api.pharesim.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":107,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Jussi-Request-Id:
      - '000361758406786893'
    body:
      encoding: ASCII-8BIT
      string: '{"id":107,"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/rpc.ausbit.dev\", \"https:\/\/api.pharesim.me\", \"https:\/\/hive.roelandp.nl\",
        \"https:\/\/api.deathwing.me\", \"https:\/\/rpc.ecency.com\", \"https:\/\/hive-api.arcange.eu\",
        \"https:\/\/api.steemit.com\", \"https:\/\/api.hive.blog\", \"https:\/\/hived.privex.io\",
        \"https:\/\/api.c0ff33a.uk\", \"https:\/\/api.openhive.network\", \"https:\/\/techcoderx.com\",
        \"http:\/\/anyx.io\", \"https:\/\/anyx.io\", \"https:\/\/steem.61bts.com\"],
        \"failing_nodes\": {\"https:\/\/steem.bts.tw\": \"NumRetriesReached\"}, \"report\":
        [{\"node\": \"https:\/\/api.hive.blog\", \"version\": \"1.24.6\", \"hive\":
        true, \"block\": {\"rank\": 12, \"ok\": true, \"count\": 195, \"time\": 30.05},
        \"history\": {\"rank\": 11, \"ok\": true, \"count\": 11401, \"time\": 15.12},
        \"apicall\": {\"rank\": 6, \"ok\": true, \"time\": 0.99, \"access_time\":
        0.183}, \"config\": {\"rank\": 4, \"ok\": true, \"time\": 0.32, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 5, \"ok\": true, \"head_delay\": 3.66, \"diff_head_irreversible\":
        16.0, \"time\": 17.75}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\",
        \"hive\": true, \"block\": {\"rank\": 14, \"ok\": true, \"count\": 145, \"time\":
        30.08}, \"history\": {\"rank\": 16, \"ok\": true, \"count\": 7576, \"time\":
        15.08}, \"apicall\": {\"rank\": 9, \"ok\": true, \"time\": 1.2, \"access_time\":
        0.26}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.77, \"access_time\":
        0.11}, \"block_diff\": {\"rank\": 14, \"ok\": true, \"head_delay\": 8.06,
        \"diff_head_irreversible\": 19.0, \"time\": 17.6}}, {\"node\": \"https:\/\/api.hivekings.com\",
        \"version\": \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\":
        true, \"count\": 177, \"time\": 30.08}, \"history\": {\"rank\": 14, \"ok\":
        true, \"count\": 8401, \"time\": 15.06}, \"apicall\": {\"rank\": -1, \"ok\":
        false, \"error\": \"Assert Exception:api_itr != _registered_apis.end(): Could
        not find API bridge\", \"time\": 1.02, \"access_time\": 30.0}, \"config\":
        {\"rank\": 6, \"ok\": true, \"time\": 0.85, \"access_time\": 0.16}, \"block_diff\":
        {\"rank\": 17, \"ok\": true, \"head_delay\": 3.33, \"diff_head_irreversible\":
        22.0, \"time\": 18.9}}, {\"node\": \"https:\/\/api.openhive.network\", \"version\":
        \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 15, \"ok\": true, \"count\"[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":108,"method":"condenser_api.get_feed_history","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001108020320138073'
      X-Jussi-Response-Time:
      - '0.08595718443393707'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_feed_history
      X-Jussi-Params:
      - "[]"
    body:
      encoding: UTF-8
      string: '{"id":108,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"41834023.479
        HBD","quote":"373974245.466 HIVE"},"price_history":[{"base":"0.109 HBD","quote":"1.000
        HIVE"},{"base":"0.108 HBD","quote":"1.000 HIVE"},{"base":"0.108 HBD","quote":"1.000
        HIVE"},{"base":"0.108 HBD","quote":"1.000 HIVE"},{"base":"0.108 HBD","quote":"1.000
        HIVE"},{"base":"0.108 HBD","quote":"1.000 HIVE"},{"base":"0.108 HBD","quote":"1.000
        HIVE"},{"base":"0.109 HBD","quote":"1.000 HIVE"},{"base":"0.109 HBD","quote":"1.000
        HIVE"},{"base":"0.110 HBD","quote":"1.000 HIVE"},{"base":"0.110 HBD","quote":"1.000
    [...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":109,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001031352357677204'
      X-Jussi-Response-Time:
      - '0.08648465573787689'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_dynamic_global_properties
      X-Jussi-Params:
      - "[]"
    body:
      encoding: UTF-8
      string: '{"id":109,"jsonrpc":"2.0","result":{"head_block_number":48487315,"head_block_id":"02e3db9320d0555f7f6350965b572b597b279a17","time":"2020-11-07T20:16:24","current_witness":"someguy123","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"415527299.077
        HIVE","current_supply":"373974551.384 HIVE","init_hbd_supply":"0.000 HBD","current_hbd_supply":"4648230.844
        HBD","total_vesting_fund_hive":"139845768.184 HIVE","total_vesting_shares":"268366020732.179492
        VESTS","total_reward_fund_hive":"0.000 HIVE","total_reward_shares2":"0","pending_rewarded_vesting_shares":"779114388.346618
        VESTS","pending_rewarded_vesting_hive":"393975.350 HIVE","hbd_interest_rate":0,"hbd_print_rate":10000,"maximum_block_size":65536,"required_actions_partition_percent":0,"current_aslot":48648328,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":48487300,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":300,"available_account_subsidies":21752235,"hbd_stop_percent":1000,"hbd_start_percent":900,"next_maintenance_time":"2020-11-07T20:29:15","last_budget_time":"2020-11-07T19:29:15","next_daily_maintenance_time":"2020-11-08T19:31:27","content_reward_percent":6500,"vesting_reward_percent":1500,"sps_fund_percent":1000,"sps_interval_ledger":"31.892
        HBD","downvote_pool_percent":2500}}'
  recorded_at: Sat, 07 Nov 2020 20:16:26 GMT
- request:
    method: post
    uri: https://techcoderx.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":55,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000286823422752828'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[...]
[...]
- request:
    method: post
    uri: https://api.hive.blog/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":69,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000217089488475426'
      X-Jussi-Response-Time:
      - '0.002943705767393112'
      X-Jussi-Names[...]
[...]
- request:
    method: post
    uri: https://api.c0ff33a.uk/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":84,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000831871020961206'
    body:
      encoding: ASCII-8BIT
      string: '{[...]
[...]
- request:
    method: post
    uri: https://api.deathwing.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":11,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000832528985963316'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result[...]
[...]
- request:
    method: post
    uri: https://rpc.ecency.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":25,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000275348738815506'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[...]
[...]
- request:
    method: post
    uri: https://api.hivekings.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":83,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000674312376721567'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resul[...]
[...]
- request:
    method: post
    uri: https://hive-api.arcange.eu/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":22,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000728625987938239'
      Proxy-Connection:
      - keep-alive
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L[...]
[...]
- request:
    method: post
    uri: https://hive.roelandp.nl/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":59,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000516337669486824'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result[...]
[...]
- request:
    method: post
    uri: https://fin.hive.3speak.co/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":9,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000356587135163797'
    body:
      encoding: ASCII-8BIT
      string:[...]
[...]
