---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000653451357929066'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":22577041,"head_block_id":"01587f919e94d8982562d88fad939631a5d1d754","time":"2018-05-19T20:57:51","current_witness":"lukestokes.mhth","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"273422561.406
        STEEM","current_supply":"268581263.865 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"13889682.646 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191177989.933 STEEM","total_vesting_shares":"388955035975.253450
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"363572015.286020
        VESTS","pending_rewarded_vesting_steem":"177238.169 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22642757,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":22577023,"vote_power_reserve_rate":10,"average_block_size":15223,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sat, 19 May 2018 20:57:53 GMT
recorded_with: VCR 3.0.3
