---
http_interactions:
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":79,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000459077160835870'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","condenser_api.get_account_count","condenser_api.get_account_history","condenser_api.get_account_references","condenser_api.get_account_reputations","condenser_api.get_account_votes","condenser_api.get_accounts","condenser_api.get_active_votes","condenser_a[...]
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":80,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000869013159662903'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\", \"https:\/\/api.hive.blog\",
        \"https:\/\/hive-api.arcange.eu\", \"https:\/\/api.pharesim.me\", \"https:\/\/anyx.io\",
        \"https:\/\/api.steemit.com\", \"https:\/\/api.deathwing.me\", \"https:\/\/api.openhive.network\",
        \"http:\/\/anyx.io\", \"https:\/\/steem.61bts.com\"], \"failing_nodes\": {\"https:\/\/steem.bts.tw\":
        \"NumRetriesReached\"}, \"report\": [{\"node\": \"https:\/\/api.hive.blog\",
        \"version\": \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 11, \"ok\":
        true, \"count\": 194, \"time\": 30.46}, \"history\": {\"rank\": 9, \"ok\":
        true, \"count\": 8586, \"time\": 15.05}, \"apicall\": {\"rank\": 4, \"ok\":
        true, \"time\": 1.11, \"access_time\": 0.215}, \"config\": {\"rank\": 4, \"ok\":
        true, \"time\": 0.34, \"access_time\": 0.11}, \"block_diff\": {\"rank\": 3,
        \"ok\": true, \"head_delay\": 2.69, \"diff_head_irreversible\": 17.0, \"time\":
        18.76}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\", \"hive\":
        true, \"block\": {\"rank\": 16, \"ok\": true, \"count\": 115, \"time\": 30.01},
        \"history\": {\"rank\": 12, \"ok\": true, \"count\": 7576, \"time\": 15.1},
        \"apicall\": {\"rank\": 5, \"ok\": true, \"time\": 1.18, \"access_time\":
        0.251}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.67, \"access_time\":
        0.11}, \"block_diff\": {\"rank\": -1, \"ok\": false, \"error\": \"output:
        {} of identifier 47864187\", \"head_delay\": 0.0, \"diff_head_irreversible\":
        0.0, \"time\": 0.77}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        143, \"time\": 30.06}, \"history\": {\"rank\": 11, \"ok\": true, \"count\":
        7980, \"time\": 15.04}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"@manoldonchev\/why-so-cereal\", \"time\": 1.01, [...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":81,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000603227296479545'
    body:
      encoding: ASCII-8BIT
      string: '{"id":81,"jsonrpc":"2.0","result":{"head_block_number":47791890,"head_block_id":"02d93f127ccb00c991c5fa38f298895ecd4b3f1a","time":"2020-10-17T04:07:57","current_witness":"rnt1","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"405320299.525
        STEEM","current_supply":"368937130.915 STEEM","confidential_supply":"0.000
        STEEM","init_sbd_supply":"0.000 SBD","current_sbd_supply":"5784923.809 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"110211246.581 STEEM","total_vesting_shares":"212008732455.926514
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"718137578.970904
        VESTS","pending_rewarded_vesting_steem":"362496.738 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"required_actions_partition_percent":0,"current_aslot":48024159,"recent_slots_filled":"340282366920938463463302549837730283517","participation_count":126,"last_irreversible_block_num":47791871,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":300,"available_account_subsidies":16616606,"sbd_stop_percent":1000,"sbd_start_percent":900,"next_maintenance_time":"2020-10-17T04:41:48","last_budget_time":"2020-10-17T03:41:48","content_reward_percent":6500,"vesting_reward_percent":1500,"sps_fund_percent":1000,"sps_interval_ledger":"24.768
        SBD","downvote_pool_percent":2500}}'
  recorded_at: Sat, 17 Oct 2020 04:07:58 GMT
[...]
- request:
    method: post
    uri: https://steem.bts.tw/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":94,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body>\r\n<center><h1>403
        Forbidden</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 17 Oct 2020 04:19:04 GMT
[...]
- request:
    method: post
    uri: https://steemd.minnowsupportproject.org/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":34,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body>\r\n<center><h1>502
        Bad Gateway</h1></center>\r\n<hr><center>nginx/1.17.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 17 Oct 2020 04:22:23 GMT
[...]
