---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000730529480977240'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"2.641
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"1.928 SBD","quote":"1.000
        STEEM"},{"base":"1.953 SBD","quote":"1.000 STEEM"},{"base":"2.000 SBD","quote":"1.000
        STEEM"},{"base":"1.950 SBD","quote":"1.000 STEEM"},{"base":"1.990 SBD","quote":"1.000
        STEEM"},{"base":"2.026 SBD","quote":"1.000 STEEM"},{"base":"2.243 SBD","quote":"1.000
        STEEM"},{"base":"2.246 SBD","quote":"1.000 STEEM"},{"base":"2.310 SBD","quote":"1.000
        STEEM"},{"base":"2.450 SBD","quote":"1.000 STEEM"},{"base":"2.549 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000859813930495450'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"head_block_number":21593633,"head_block_id":"01497e215f1dc11b2e79e0effb42e9d675425b70","time":"2018-04-15T16:45:51","current_witness":"blocktrades","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"271410808.548
        STEEM","current_supply":"266987944.280 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"11680784.532 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190563908.927 STEEM","total_vesting_shares":"388394468152.067671
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"383574339.208549
        VESTS","pending_rewarded_vesting_steem":"186927.806 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":21658517,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21593613,"vote_power_reserve_rate":10,"average_block_size":15809,"current_reserve_ratio":5787374,"max_virtual_bandwidth":"7646311864074240000"}}'
  recorded_at: Sun, 15 Apr 2018 16:45:53 GMT
[...]
