---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000676455022908484'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"2.869
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"2.738 SBD","quote":"1.000
        STEEM"},{"base":"2.793 SBD","quote":"1.000 STEEM"},{"base":"2.822 SBD","quote":"1.000
        STEEM"},{"base":"2.849 SBD","quote":"1.000 STEEM"},{"base":"2.822 SBD","quote":"1.000
        STEEM"},{"base":"2.768 SBD","quote":"1.000 STEEM"},{"base":"2.791 SBD","quote":"1.000
        STEEM"},{"base":"2.814 SBD","quote":"1.000 STEEM"},{"base":"2.809 SBD","quote":"1.000
        STEEM"},{"base":"2.793 SBD","quote":"1.000 STEEM"},{"base":"2.791 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000538551824101406'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"head_block_number":22577043,"head_block_id":"01587f9338c09385eb8c9fc4ee4feeed8702f9dd","time":"2018-05-19T20:57:57","current_witness":"aggroed","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"273422565.947
        STEEM","current_supply":"268581268.353 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"13889682.799 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191177991.302 STEEM","total_vesting_shares":"388955037352.627976
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"363571579.894425
        VESTS","pending_rewarded_vesting_steem":"177237.955 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22642759,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":22577026,"vote_power_reserve_rate":10,"average_block_size":15142,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sat, 19 May 2018 20:57:59 GMT
recorded_with: VCR 3.0.3
