---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Urn:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Response-Id:
      - sd9ee926b-0497-435a-931d-15139629732f->279b9f98-1d2b-4367-9fc7-e6a9e2817bfb
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":17029798,"head_block_id":"0103daa6b976d49693de1dbfd363db7f871a0336","time":"2017-11-08T02:15:30","current_witness":"timcliff","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"262930145.746
        STEEM","current_supply":"259175722.679 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3330173.261 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190595534.108 STEEM","total_vesting_shares":"391630522785.774688
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"411208917.968051
        VESTS","pending_rewarded_vesting_steem":"199432.858 STEEM","sbd_interest_rate":1,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17090710,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17029783,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":6675,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Wed, 08 Nov 2017 02:15:32 GMT
[...]
