---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000730191796324813'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.366
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"0.364 SBD","quote":"1.000
        STEEM"},{"base":"0.364 SBD","quote":"1.000 STEEM"},{"base":"0.364 SBD","quote":"1.000
        STEEM"},{"base":"0.364 SBD","quote":"1.000 STEEM"},{"base":"0.364 SBD","quote":"1.000
        STEEM"},{"base":"0.365 SBD","quote":"1.000 STEEM"},{"base":"0.365 SBD","quote":"1.000
        STEEM"},{"base":"0.365 SBD","quote":"1.000 STEEM"},{"base":"0.366 SBD","quote":"1.000
        STEEM"},{"base":"0.366 SBD","quote":"1.000 STEEM"},{"base":"0.366 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000691341147655580'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"head_block_number":33145911,"head_block_id":"01f9c43732e9903346180891a27fbe4c516cc010","time":"2019-05-23T01:24:57","current_witness":"smooth.witness","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"334938400.505
        STEEM","current_supply":"310718582.798 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"8864453.281 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"198696207.171 STEEM","total_vesting_shares":"396140406851.086860
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"668167329.519628
        VESTS","pending_rewarded_vesting_steem":"330770.467 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":33246499,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":33145894,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"sbd_stop_percent":1000,"sbd_start_percent":900}}'
  recorded_at: Thu, 23 May 2019 01:25:00 GMT
[...]
