---
http_interactions:
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":6,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000842363004385443'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","condenser_api.get_account_count","condenser_api.get_account_history","condenser_api.get_account_references","condenser_api.get_account_reputations","condenser_api.get_account_votes","condenser_api.get_accounts","condenser_api.get_active_votes","condenser_a[...]
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":7,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000527331312090572'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/api.pharesim.me\", \"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\",
        \"https:\/\/api.deathwing.me\", \"https:\/\/api.hive.blog\", \"https:\/\/api.c0ff33a.uk\",
        \"https:\/\/api.openhive.network\", \"https:\/\/api.steemit.com\", \"https:\/\/hive-api.arcange.eu\",
        \"https:\/\/hived.privex.io\", \"https:\/\/rpc.ecency.com\", \"http:\/\/anyx.io\",
        \"https:\/\/anyx.io\", \"https:\/\/techcoderx.com\", \"https:\/\/steem.61bts.com\"],
        \"failing_nodes\": {\"https:\/\/steem.bts.tw\": \"NumRetriesReached\"}, \"report\":
        [{\"node\": \"https:\/\/api.hive.blog\", \"version\": \"1.24.6\", \"hive\":
        true, \"block\": {\"rank\": 12, \"ok\": true, \"count\": 196, \"time\": 30.61},
        \"history\": {\"rank\": 10, \"ok\": true, \"count\": 11901, \"time\": 15.01},
        \"apicall\": {\"rank\": 4, \"ok\": true, \"time\": 1.01, \"access_time\":
        0.181}, \"config\": {\"rank\": 4, \"ok\": true, \"time\": 0.31, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 4, \"ok\": true, \"head_delay\": 5.32, \"diff_head_irreversible\":
        18.0, \"time\": 17.66}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\",
        \"hive\": true, \"block\": {\"rank\": 15, \"ok\": true, \"count\": 146, \"time\":
        30.01}, \"history\": {\"rank\": 17, \"ok\": true, \"count\": 7273, \"time\":
        15.06}, \"apicall\": {\"rank\": 8, \"ok\": true, \"time\": 1.42, \"access_time\":
        0.336}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.59, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 12, \"ok\": true, \"head_delay\": 9.24, \"diff_head_irreversible\":
        20.0, \"time\": 17.52}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        175, \"time\": 30.05}, \"history\": {\"rank\": 14, \"ok\": true, \"count\":
        8401, \"time\": 15.03}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"Assert Exception:api_itr != _registered_apis.end(): Could not find API bridge\",
        \"time\": 1.02, \"access_time\": 30.0}, \"config\": {\"rank\": 6, \"ok\":
        true, \"time\": 1.0, \"access_time\": 0.16}, \"block_diff\": {\"rank\": 7,
        \"ok\": true, \"head_delay\": 3.58, \"diff_head_irreversible\": 19.0, \"time\":
        18.87}}, {\"node\": \"https:\/\/api.openhive.network\", \"version\": \"1.24.6\",
        \"hive\": true, \"block\": {\"rank\": 16, \"ok\": true, \"[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":8,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000764863149949128'
      X-Jussi-Response-Time:
      - '0.0830225870013237'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - jsonrpc
      X-Jussi-Method:
      - get_methods
      X-Jussi-Params:
      - "{}"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","condenser_a[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":9,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000598178966366901'
      X-Jussi-Response-Time:
      - '0.08848521113395691'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_dynamic_global_properties
      X-Jussi-Params:
      - "[]"
    body:
      encoding: UTF-8
      string: '{"id":9,"jsonrpc":"2.0","result":{"head_block_number":48486314,"head_block_id":"02e3d7aae59c615d38293eea45293d6f12ff31f0","time":"2020-11-07T19:26:03","current_witness":"roelandp","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"415564216.435
        HIVE","current_supply":"374007660.715 HIVE","init_hbd_supply":"0.000 HBD","current_hbd_supply":"4644184.951
        HBD","total_vesting_fund_hive":"139843144.545 HIVE","total_vesting_shares":"268361878642.687109
        VESTS","total_reward_fund_hive":"0.000 HIVE","total_reward_shares2":"0","pending_rewarded_vesting_shares":"781597809.538922
        VESTS","pending_rewarded_vesting_hive":"395269.279 HIVE","hbd_interest_rate":0,"hbd_print_rate":10000,"maximum_block_size":65536,"required_actions_partition_percent":0,"current_aslot":48647321,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":48486297,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":300,"available_account_subsidies":21553570,"hbd_stop_percent":1000,"hbd_start_percent":900,"next_maintenance_time":"2020-11-07T19:29:15","last_budget_time":"2020-11-07T18:29:15","next_daily_maintenance_time":"2020-11-07T19:31:27","content_reward_percent":6500,"vesting_reward_percent":1500,"sps_fund_percent":1000,"sps_interval_ledger":"38.522
        HBD","downvote_pool_percent":2500}}'
  recorded_at: Sat, 07 Nov 2020 19:26:07 GMT
[...]
- request:
    method: post
    uri: https://api.hivekings.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":114,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000667431576540898'
    body:
      encoding: ASCII-8BIT
      string[...]
[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":116,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000289998967345712'
      X-Jussi-Response-Time:
      - '0.0005326941609382629'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_dynamic_global_properties
      X-Jussi-Params:
      - "[]"
    body:
      encoding: UTF-8
      string: '{"id":116,"jsonrpc":"2.0","result":{"head_block_number":48487316,"head_block_id":"02e3db9[...]
- request:
    method: post
    uri: https://hive-api.arcange.eu/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":64,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000073655790406032'
      Proxy-Connection:
      - keep-alive
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","[...]
[...]
- request:
    method: post
    uri: https://api.hive.blog/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":21,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000352318364970645'
      X-Jussi-Response-Time:
      - '0.004220932722091675'
      X-Jussi-Names[...]
[...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":70,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":70,"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_hist[...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":71,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":71,"jsonrpc":"2.0","result":[{"active":{"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]],"weight_threshold":1},"balance":"0.017
        HIVE","can_vote":true,"comment_count":0,"created":"2018-05-31T10:46:21","curation_rewards":0,"delayed_votes":[],"delegated_vesting_shares":"198556.066920
        VESTS","downvote_manabar":{"current_mana":"430852858679","last_update_time":1604780682},"guest_bloggers":[],"hbd_balance":"0.096
        HBD","hbd_last_interest_payment":"2020-10-22T19:24:24","hbd_seconds":"449005704","hbd_seconds_last_update":"2020-10-24T20:09:48","id":1025676,"json_metadata":"{\"nodes\":
        [\"https://api.pharesim.me\", \"https://hive.roelandp.nl\", \"https://rpc.ausbit.dev\",
        \"https://api.deathwing.me\", \"https://api.steemit.com\", \"https://api.c0ff33a.uk\",
        \"https://api.hive.blog\", \"http://anyx.io\", \"https://anyx.io\", \"https://api.openhive.network\",
        \"https://hive-api.arcange.eu\", \"https://rpc.ecency.com\", \"https://techcoderx.com\",
        \"https://steem.61bts.com\"], [...]
[...]
- request:
    method: get
    uri: https://hive.roelandp.nl/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000595843656986187'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2020-11-07T20:54:53.096592","source_commit":"3cbc8395ccf35f0e3bc9cbcd67220a899e90791e","docker_tag":"autoclave","jussi_num":48488061}'
  recorded_at: Sat, 07 Nov 2020 20:54:53 GMT
[...]
- request:
    method: post
    uri: https://api.c0ff33a.uk/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":55,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 27456a34-d131-49b4-a7e7-4664305ff22b
      X-Jussi-Request-Id:
      - '001003638454298318'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":55,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"27456a34-d131-49b4-a7e7-4664305ff22b","jussi_request_id":"000695811729596537"}}}'
  recorded_at: Sat, 07 Nov 2020 21:01:48 GMT
[...]
- request:
    method: post
    uri: https://fin.hive.3speak.co/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":13,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000108322906336469'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resu[...]
[...]
