---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000624806721746715'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.803
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"0.769 SBD","quote":"1.000
        STEEM"},{"base":"0.768 SBD","quote":"1.000 STEEM"},{"base":"0.768 SBD","quote":"1.000
        STEEM"},{"base":"0.768 SBD","quote":"1.000 STEEM"},{"base":"0.782 SBD","quote":"1.000
        STEEM"},{"base":"0.800 SBD","quote":"1.000 STEEM"},{"base":"0.800 SBD","quote":"1.000
        STEEM"},{"base":"0.800 SBD","quote":"1.000 STEEM"},{"base":"0.799 SBD","quote":"1.000
        STEEM"},{"base":"0.794 SBD","quote":"1.000 STEEM"},{"base":"0.786 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000230298839311592'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"head_block_number":27382698,"head_block_id":"01a1d3aaff285629a48f7fe29431fdbca7852bdb","time":"2018-11-03T18:05:54","current_witness":"timcliff","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"298803369.527
        STEEM","current_supply":"279838987.070 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"15228399.113 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"198432601.839 STEEM","total_vesting_shares":"400139705141.779328
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"477734903.484666
        VESTS","pending_rewarded_vesting_steem":"234404.449 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":27477718,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":27382683,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"sbd_stop_percent":1000,"sbd_start_percent":900}}'
  recorded_at: Sat, 03 Nov 2018 18:05:56 GMT
recorded_with: VCR 3.0.3
