---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '001086664806559516'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":30493050,"head_block_id":"01d1497a8a6539c0a3be6aab53c1f02ce352ed86","time":"2019-02-19T19:59:54","current_witness":"someguy123","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"331276861.113
        STEEM","current_supply":"300766955.376 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9885209.459 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"200493739.733 STEEM","total_vesting_shares":"401859017756.006057
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"595716649.774301
        VESTS","pending_rewarded_vesting_steem":"293571.328 STEEM","sbd_interest_rate":0,"sbd_print_rate":8000,"maximum_block_size":65536,"current_aslot":30590398,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":30493035,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"sbd_stop_percent":1000,"sbd_start_percent":900}}'
  recorded_at: Tue, 19 Feb 2019 19:59:54 GMT
recorded_with: VCR 4.0.0
