---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '001088427593689840'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"4.300
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"4.206 SBD","quote":"1.000
        STEEM"},{"base":"4.209 SBD","quote":"1.000 STEEM"},{"base":"4.206 SBD","quote":"1.000
        STEEM"},{"base":"4.198 SBD","quote":"1.000 STEEM"},{"base":"4.187 SBD","quote":"1.000
        STEEM"},{"base":"4.206 SBD","quote":"1.000 STEEM"},{"base":"4.243 SBD","quote":"1.000
        STEEM"},{"base":"4.328 SBD","quote":"1.000 STEEM"},{"base":"4.349 SBD","quote":"1.000
        STEEM"},{"base":"4.269 SBD","quote":"1.000 STEEM"},{"base":"4.245 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '001084331245126599'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"id":0,"head_block_number":19967979,"head_block_id":"0130afeb47b65bdd8d46776408914d98e98a6ad5","time":"2018-02-18T04:35:45","current_witness":"curie","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"266377770.361
        STEEM","current_supply":"264263638.804 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9090765.698 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"185476004.707 STEEM","total_vesting_shares":"379151586890.674500
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"320064924.656560
        VESTS","pending_rewarded_vesting_steem":"155672.568 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":20031115,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":19967961,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":16024,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sun, 18 Feb 2018 04:35:47 GMT
[...]
