---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000938860028355771'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"3.845
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"3.476 SBD","quote":"1.000
        STEEM"},{"base":"3.474 SBD","quote":"1.000 STEEM"},{"base":"3.486 SBD","quote":"1.000
        STEEM"},{"base":"3.484 SBD","quote":"1.000 STEEM"},{"base":"3.245 SBD","quote":"1.000
        STEEM"},{"base":"3.192 SBD","quote":"1.000 STEEM"},{"base":"3.340 SBD","quote":"1.000
        STEEM"},{"base":"3.388 SBD","quote":"1.000 STEEM"},{"base":"3.378 SBD","quote":"1.000
        STEEM"},{"base":"3.353 SBD","quote":"1.000 STEEM"},{"base":"3.388 SBD","quote":"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000594582837770496'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"head_block_number":21968449,"head_block_id":"014f3641d690aa469e951317012e45bac708ce90","time":"2018-04-28T17:42:03","current_witness":"ausbitbank","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"270830542.158
        STEEM","current_supply":"267593060.244 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"12448117.960 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190769786.751 STEEM","total_vesting_shares":"388550627049.772773
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"387578000.341134
        VESTS","pending_rewarded_vesting_steem":"188920.311 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22034041,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21968433,"vote_power_reserve_rate":10,"average_block_size":15202,"current_reserve_ratio":60461023,"max_virtual_bandwidth":"79881451843092480000"}}'
  recorded_at: Sat, 28 Apr 2018 17:42:05 GMT
[...]
