---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Urn:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Response-Id:
      - saf54297e-30fb-45fb-8d06-ba7f88c66e88->22899f0d-466a-4241-ab50-cb01224a0499
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":17029716,"head_block_id":"0103da546eba844a22311f0c4b62184b2107fb2b","time":"2017-11-08T02:11:24","current_witness":"followbtcnews","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"262929959.106
        STEEM","current_supply":"259175567.141 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3330145.673 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190595458.357 STEEM","total_vesting_shares":"391630424587.647654
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"411169774.716196
        VESTS","pending_rewarded_vesting_steem":"199413.807 STEEM","sbd_interest_rate":1,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17090628,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17029701,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":6471,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Wed, 08 Nov 2017 02:11:25 GMT
recorded_with: VCR 3.0.3
