---
http_interactions:
- request:
    method: post
    uri: https://rpc.esteem.app/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":117,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000602546346739728'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/rpc.ausbit.dev\", \"https:\/\/api.pharesim.me\", \"https:\/\/hive.roelandp.nl\",
        \"https:\/\/api.deathwing.me\", \"https:\/\/rpc.ecency.com\", \"https:\/\/hive-api.arcange.eu\",
        \"https:\/\/api.steemit.com\", \"https:\/\/api.hive.blog\", \"https:\/\/hived.privex.io\",
        \"https:\/\/api.c0ff33a.uk\", \"https:\/\/api.openhive.network\", \"https:\/\/techcoderx.com\",
        \"http:\/\/anyx.io\", \"https:\/\/anyx.io\", \"https:\/\/steem.61bts.com\"],
        \"failing_nodes\": {\"https:\/\/steem.bts.tw\": \"NumRetriesReached\"}, \"report\":
        [{\"node\": \"https:\/\/api.hive.blog\", \"version\": \"1.24.6\", \"hive\":
        true, \"block\": {\"rank\": 12, \"ok\": true, \"count\": 195, \"time\": 30.05},
        \"history\": {\"rank\": 11, \"ok\": true, \"count\": 11401, \"time\": 15.12},
        \"apicall\": {\"rank\": 6, \"ok\": true, \"time\": 0.99, \"access_time\":
        0.183}, \"config\": {\"rank\": 4, \"ok\": true, \"time\": 0.32, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 5, \"ok\": true, \"head_delay\": 3.66, \"diff_head_irreversible\":
        16.0, \"time\": 17.75}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\",
        \"hive\": true, \"block\": {\"rank\": 14, \"ok\": true, \"count\": 145, \"time\":
        30.08}, \"history\": {\"rank\": 16, \"ok\": true, \"count\": 7576, \"time\":
        15.08}, \"apicall\": {\"rank\": 9, \"ok\": true, \"time\": 1.2, \"access_time\":
        0.26}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.77, \"access_time\":
        0.11}, \"block_diff\": {\"rank\": 14, \"ok\": true, \"head_delay\": 8.06,
        \"diff_head_irreversible\": 19.0, \"time\": 17.6}}, {\"node\": \"https:\/\/api.hivekings.com\",
        \"version\": \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\":
        true, \"count\": 177, \"time\": 30.08}, \"history\": {\"rank\": 14, \"ok\":
        true, \"count\": 8401, \"time\": 15.06}, \"apicall\": {\"rank\": -1, \"ok\":
        false, \"error\": \"Assert Exception:api_itr != _registered_apis.end(): Could
        not find API bridge\", \"time\": 1.02, \"access_time\": 30.0}, \"config\":
        {\"rank\": 6, \"ok\": true, \"time\": 0.85, \"access_time\": 0.16}, \"block_diff\":
        {\"rank\": 17, \"ok\": true, \"head_delay\": 3.33, \"diff_head_irreversible\":
        22.0, \"time\": 18.9}}, {\"node\": \"https:\/\/api.openhive.network\", \"version\":
        \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 15, \"ok\": true, \"count\"[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":118,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000966888855148112'
      X-Jussi-Response-Time:
      - '0.08616054058074951'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_dynamic_global_properties
      X-Jussi-Params:
      - "[]"
    body:
      encoding: UTF-8
      string: '{"id":118,"jsonrpc":"2.0","result":{"head_block_number":48487317,"head_block_id":"02e3db9510628100d721f2a35c51be629fe9439f","time":"2020-11-07T20:16:30","current_witness":"roelandp","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"415527305.171
        HIVE","current_supply":"373974556.870 HIVE","init_hbd_supply":"0.000 HBD","current_hbd_supply":"4648230.912
        HBD","total_vesting_fund_hive":"139845697.061 HIVE","total_vesting_shares":"268365882459.972889
        VESTS","total_reward_fund_hive":"0.000 HIVE","total_reward_shares2":"0","pending_rewarded_vesting_shares":"779114388.346618
        VESTS","pending_rewarded_vesting_hive":"393975.350 HIVE","hbd_interest_rate":0,"hbd_print_rate":10000,"maximum_block_size":65536,"required_actions_partition_percent":0,"current_aslot":48648330,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":48487302,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":300,"available_account_subsidies":21753611,"hbd_stop_percent":1000,"hbd_start_percent":900,"next_maintenance_time":"2020-11-07T20:29:15","last_budget_time":"2020-11-07T19:29:15","next_daily_maintenance_time":"2020-11-08T19:31:27","content_reward_percent":6500,"vesting_reward_percent":1500,"sps_fund_percent":1000,"sps_interval_ledger":"31.960
        HBD","downvote_pool_percent":2500}}'
  recorded_at: Sat, 07 Nov 2020 20:16:33 GMT
- request:
    method: post
    uri: https://api.hive.blog/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":46,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000244445130151560'
      X-Jussi-Response-Time:
      - '0.0015557259321212769'
      X-Jussi-Name[...]
[...]
- request:
    method: post
    uri: https://api.deathwing.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":64,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001119307768995026'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result[...]
[...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":87,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":87,"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_hist[...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":88,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":88,"jsonrpc":"2.0","result":[{"active":{"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]],"weight_threshold":1},"balance":"0.017
        HIVE","can_vote":true,"comment_count":0,"created":"2018-05-31T10:46:21","curation_rewards":0,"delayed_votes":[],"delegated_vesting_shares":"198556.066920
        VESTS","downvote_manabar":{"current_mana":"430852858679","last_update_time":1604780682},"guest_bloggers":[],"hbd_balance":"0.096
        HBD","hbd_last_interest_payment":"2020-10-22T19:24:24","hbd_seconds":"449005704","hbd_seconds_last_update":"2020-10-24T20:09:48","id":1025676,"json_metadata":"{\"nodes\":
        [\"https://api.pharesim.me\", \"https://hive.roelandp.nl\", \"https://rpc.ausbit.dev\",
        \"https://api.deathwing.me\", \"https://api.steemit.com\", \"https://api.c0ff33a.uk\",
        \"https://api.hive.blog\", \"http://anyx.io\", \"https://anyx.io\", \"https://api.openhive.network\",
        \"https://hive-api.arcange.eu\", \"https://rpc.ecency.com\", \"https://techcoderx.com\",
        \"https://steem.61bts.com\"], [...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":89,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000076919436865882'
      X-Jussi-Response-Time:
      - '0.0004336610436439514'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_dynamic_global_properties
      X-Jussi-Params:
      - "[]"
    body:
      encoding: UTF-8
      string: '{"id":89,"jsonrpc":"2.0","result":{"head_block_number":48487616,"head_block_id":"02e3dcc0[...]
[...]
- request:
    method: post
    uri: https://api.c0ff33a.uk/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":32,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000281847934994026'
    body:
      encoding: ASCII-8BIT
      string: '{[...]
[...]
- request:
    method: post
    uri: https://hive-api.arcange.eu/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":74,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000694017493137578'
      Proxy-Connection:
      - keep-alive
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","[...]
[...]
- request:
    method: post
    uri: https://fin.hive.3speak.co/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":62,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000243687854494242'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resu[...]
[...]
- request:
    method: get
    uri: https://techcoderx.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000111945717249621'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2020-11-07T21:06:52.436500","source_commit":"","docker_tag":"","jussi_num":48488304}'
  recorded_at: Sat, 07 Nov 2020 21:06:52 GMT
[...]
- request:
    method: post
    uri: https://rpc.ecency.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000570423675094288'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[[...]
[...]
- request:
    method: post
    uri: https://techcoderx.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":101,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001013493233893033'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":["ac[...]
[...]
