---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '001083093330428178'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":21593631,"head_block_id":"01497e1f7527e72b599d8acbde30fbf5f94dbf1b","time":"2018-04-15T16:45:45","current_witness":"thecryptodrive","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"271410804.016
        STEEM","current_supply":"266987940.482 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"11680782.595 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190563906.017 STEEM","total_vesting_shares":"388394463631.095044
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"383580309.082681
        VESTS","pending_rewarded_vesting_steem":"186930.735 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":21658515,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21593613,"vote_power_reserve_rate":10,"average_block_size":15803,"current_reserve_ratio":5787374,"max_virtual_bandwidth":"7646311864074240000"}}'
  recorded_at: Sun, 15 Apr 2018 16:45:47 GMT
recorded_with: VCR 3.0.3
