---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 31601c4c-c3fe-43d5-8dd7-9cbbad65f59d
      X-Jussi-Request-Id:
      - '000173158143109553'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"31601c4c-c3fe-43d5-8dd7-9cbbad65f59d","jussi_request_id":"000793153017981603"}}}'
  recorded_at: Sat, 03 Nov 2018 18:05:02 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000688600702300018'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-11-03T18:05:02.795384","source_commit":"d67c679b8248a3c299d35db131089bfa4eb0048a","docker_tag":"latest","jussi_num":27382662}'
  recorded_at: Sat, 03 Nov 2018 18:05:02 GMT
[...]
- request:
    method: get
    uri: https://api.steem.house/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"End Of File:stringstream","data":{"code":11,"name":"eof_exception","message":"End
        Of File","stack":[{"context":{"level":"error","file":"sstream.cpp","line":109,"method":"peek","hostname":"","timestamp":"2018-11-03T18:05:04"},"format":"stringstream","data":{}},{"context":{"level":"warn","file":"json.cpp","line":479,"method":"from_string","hostname":"","timestamp":"2018-11-03T18:05:04"},"format":"","data":{"str":""}}]}},"id":null}'
  recorded_at: Sat, 03 Nov 2018 18:05:04 GMT
- request:
    method: get
    uri: https://api.steemitstage.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000454182926044871'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-11-03T18:05:04.612472","source_commit":"d67c679b8248a3c299d35db131089bfa4eb0048a","docker_tag":"latest","jussi_num":27382662}'
  recorded_at: Sat, 03 Nov 2018 18:05:04 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - de9f14f8-1b8a-48bb-8ead-e77fcf42fe6e
      X-Jussi-Request-Id:
      - '000397426995997451'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"de9f14f8-1b8a-48bb-8ead-e77fcf42fe6e","jussi_request_id":"001075971380222632"}}}'
  recorded_at: Sat, 03 Nov 2018 18:05:05 GMT
- request:
    method: get
    uri: https://api.steemitdev.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000893321244786927'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-11-03T18:18:49.746361","source_commit":"d67c679b8248a3c299d35db131089bfa4eb0048a","docker_tag":"latest","jussi_num":27382923}'
  recorded_at: Sat, 03 Nov 2018 18:18:49 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 9a4b44d7-6961-4bc1-aaec-ea2d965ceca1
      X-Jussi-Request-Id:
      - '001018933322183947'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"9a4b44d7-6961-4bc1-aaec-ea2d965ceca1","jussi_request_id":"000313737241964289"}}}'
  recorded_at: Sat, 03 Nov 2018 18:18:50 GMT
recorded_with: VCR 3.0.3
