---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000372239818734216'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:operations.size()
        > 0: A transaction must have at least one operation","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"transaction.cpp","line":37,"method":"validate","hostname":"","timestamp":"2018-04-15T16:43:44"},"format":"operations.size()
        > 0: A transaction must have at least one operation","data":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[]}}},{"context":{"level":"warn","file":"database.cpp","line":3025,"method":"_apply_transaction","hostname":"","timestamp":"2018-04-15T16:43:44"},"format":"","data":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]}}},{"context":{"level":"warn","file":"database.cpp","line":705,"method":"push_transaction","hostname":"","timestamp":"2018-04-15T16:43:44"},"format":"","data":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]}}}]}},"id":1}'
  recorded_at: Sun, 15 Apr 2018 16:43:44 GMT
recorded_with: VCR 3.0.3
