---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["network_broadcast_api","broadcast_transaction",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - sfae3a820-ef09-4df2-9aa0-6e934064efa6->bf9d0ddb-c005-44c7-8b59-7bbde36ef253
    body:
      encoding: UTF-8
      string: '{"error":{"code":1,"message":"10 assert_exception: Assert Exception\na0
        != e: too few arguments passed to method\n    {}\n    th_a  api_connection.hpp:165
        call_generic\n\n    {\"call.method\":\"call\",\"call.params\":[\"network_broadcast_api\",\"broadcast_transaction\",[]]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"api_connection.hpp","line":165,"method":"call_generic","hostname":"","thread_name":"th_a","timestamp":"2017-10-24T16:59:38"},"format":"a0
        != e: too few arguments passed to method","data":{}},{"context":{"level":"warn","file":"websocket_api.cpp","line":124,"method":"on_message","hostname":"","thread_name":"th_a","timestamp":"2017-10-24T16:59:38"},"format":"","data":{"call.method":"call","call.params":["network_broadcast_api","broadcast_transaction",[]]}}]}},"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:38 GMT
recorded_with: VCR 3.0.3
