---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 78247cd9-769f-4638-bf35-66c8ea80c122
      X-Jussi-Request-Id:
      - '000226766343580419'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"78247cd9-769f-4638-bf35-66c8ea80c122","jussi_request_id":"000942980625423289"}}}'
  recorded_at: Tue, 19 Feb 2019 19:59:56 GMT
- request:
    method: get
    uri: https://api.steemitdev.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000083188100162283'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2019-02-19T19:59:56.426566","source_commit":"6e3bafce3ee68b2daf249fdd0e47eed309282817","docker_tag":"latest","jussi_num":30493032}'
  recorded_at: Tue, 19 Feb 2019 19:59:56 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 0a5c2035-03b6-44e8-aece-ea8c28f032f5
      X-Jussi-Request-Id:
      - '001120662556657574'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"0a5c2035-03b6-44e8-aece-ea8c28f032f5","jussi_request_id":"000227366211991694"}}}'
  recorded_at: Tue, 19 Feb 2019 19:59:57 GMT
recorded_with: VCR 4.0.0
