---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":16,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_transaction"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000188945264992831'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1},"ret":{}},"id":16}'
  recorded_at: Sat, 17 Oct 2020 04:07:01 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":17,"method":"network_broadcast_api.broadcast_transaction","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - e8e710de-3d35-4b17-9792-29a2c75f3c77
      X-Jussi-Request-Id:
      - '000312574586602854'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":17,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"e8e710de-3d35-4b17-9792-29a2c75f3c77","jussi_request_id":"000171896568963539"}}}'
  recorded_at: Sat, 17 Oct 2020 04:07:01 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":10,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_transaction"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.jsonrpc.get_signature.params={"method":"network_broadcast_api.broadcast_transaction"}
      X-Jussi-Request-Id:
      - '000604979323715413'
    body:
      encoding: UTF-8
      string: '{"id":10,"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1},"ret":{}}}'
  recorded_at: Sat, 17 Oct 2020 04:14:10 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":9,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_transaction"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.jsonrpc.get_signature.params={"method":"network_broadcast_api.broadcast_transaction"}
      X-Jussi-Request-Id:
      - '000736759981793569'
    body:
      encoding: UTF-8
      string: '{"id":9,"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1},"ret":{}}}'
  recorded_at: Sat, 17 Oct 2020 04:21:59 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":89,"method":"network_broadcast_api.broadcast_transaction","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - f04d43ba-38c9-44c7-9b61-36cdb2047f7d
      X-Jussi-Request-Id:
      - '000645819620703430'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":89,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"f04d43ba-38c9-44c7-9b61-36cdb2047f7d","jussi_request_id":"000758617590502018"}}}'
  recorded_at: Sat, 17 Oct 2020 05:03:38 GMT
recorded_with: VCR 6.0.0
