---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 15e5ebc9-734f-46dd-9705-4c11053aed82
      X-Jussi-Request-Id:
      - '000999913871333773'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"15e5ebc9-734f-46dd-9705-4c11053aed82","jussi_request_id":"000694047277864658"}}}'
  recorded_at: Thu, 23 May 2019 01:25:07 GMT
- request:
    method: get
    uri: https://api.steemitdev.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000618834557357234'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2019-05-23T01:25:07.715411","source_commit":"1154db16e08d6028450faef08b6c146119e39f4b","docker_tag":"latest","jussi_num":33145892}'
  recorded_at: Thu, 23 May 2019 01:25:07 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - ee90a641-60be-4f13-8586-a0cf97ee1323
      X-Jussi-Request-Id:
      - '000449823022581320'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"ee90a641-60be-4f13-8586-a0cf97ee1323","jussi_request_id":"000350395585494182"}}}'
  recorded_at: Thu, 23 May 2019 01:25:08 GMT
recorded_with: VCR 4.0.0
