---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":59,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_transaction"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001070247213263072'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1},"ret":{}},"id":59}'
  recorded_at: Sat, 07 Nov 2020 19:33:39 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":60,"method":"network_broadcast_api.broadcast_transaction","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 3465f497-b6b9-4ca8-9906-d00c49e87874
      X-Jussi-Request-Id:
      - '000012329038001715'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":60,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"3465f497-b6b9-4ca8-9906-d00c49e87874","jussi_request_id":"000964223559140613"}}}'
  recorded_at: Sat, 07 Nov 2020 19:33:39 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":5,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_transaction"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.jsonrpc.get_signature.params={"method":"network_broadcast_api.broadcast_transaction"}
      X-Jussi-Request-Id:
      - '000857414213632530'
    body:
      encoding: UTF-8
      string: '{"id":5,"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1},"ret":{}}}'
  recorded_at: Sat, 07 Nov 2020 20:20:31 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":47,"method":"network_broadcast_api.broadcast_transaction","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 56680b60-69cf-4b02-b7dd-6dcf6c8a0a9c
      X-Jussi-Request-Id:
      - '000284932036641132'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":47,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"56680b60-69cf-4b02-b7dd-6dcf6c8a0a9c","jussi_request_id":"000246460624386742"}}}'
  recorded_at: Sun, 08 Nov 2020 06:01:31 GMT
recorded_with: VCR 6.0.0
