---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000639633362970588'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"90d27d22-8877-4555-abe0-4ef53cfb878a","request":{"amzn_trace_id":"Root=1-5ae4b267-5e97073e37f4bf1660a48ea0","jussi_request_id":null}}}}'
  recorded_at: Sat, 28 Apr 2018 17:41:59 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000296948203776701'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-04-28T17:41:59.605908","source_commit":"90a1eef9146459e6861237cdff393895156c5648","docker_tag":"latest"}'
  recorded_at: Sat, 28 Apr 2018 17:41:59 GMT
[...]
- request:
    method: get
    uri: https://api.steemitdev.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000782349774390478'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-04-28T17:44:52.132927","source_commit":"3a5f0018d6b02cd422101b40af13ff97977d866e","docker_tag":"add-network-broadcast-api-support"}'
  recorded_at: Sat, 28 Apr 2018 17:44:52 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000430323585604565'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"859e82b2-b624-46b3-9681-b154289df803","request":{"amzn_trace_id":"Root=1-5ae4b314-f8e4747df8000dc662723926","jussi_request_id":null}}}}'
  recorded_at: Sat, 28 Apr 2018 17:44:52 GMT
- request:
    method: get
    uri: https://api.steemitstage.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000016013831694947'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-04-28T17:46:05.304495","source_commit":"6281621b66e79fe300ea2f018a3180dc3e5a1154","docker_tag":"latest"}'
  recorded_at: Sat, 28 Apr 2018 17:46:05 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000267009095210784'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"d1fedc11-35d7-4ea8-8402-761916082656","request":{"amzn_trace_id":"Root=1-5ae4b35d-144c7db44fc5513e8cc8996c","jussi_request_id":null}}}}'
  recorded_at: Sat, 28 Apr 2018 17:46:05 GMT
- request:
    method: get
    uri: https://api.steem.house/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000521156851195407'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-04-28T17:52:08.852952","source_commit":"90a1eef9146459e6861237cdff393895156c5648","docker_tag":"latest"}'
  recorded_at: Sat, 28 Apr 2018 17:52:08 GMT
- request:
    method: post
    uri: https://api.steem.house/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000415523659344175'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"ed41bf12-933d-4cc2-a1c8-fadd6e89bac4","request":{"amzn_trace_id":"Root=1-5ae4b4c9-842917ec09863c385b5472e6","jussi_request_id":null}}}}'
  recorded_at: Sat, 28 Apr 2018 17:52:09 GMT
recorded_with: VCR 3.0.3
