---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000887282719484871'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"2a48ec9b-043f-405a-82f0-0101aeb675e4","request":{"amzn_trace_id":"Root=1-5b008fcd-bcb764709b1055e8b23c6dc0","jussi_request_id":null}}}}'
  recorded_at: Sat, 19 May 2018 20:57:49 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000531680951498319'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-19T20:57:49.934678","source_commit":"6c5b42ba4d08bbaab3ba2578b5b03c92e8f9a1d9","docker_tag":"latest","jussi_num":22577023}'
  recorded_at: Sat, 19 May 2018 20:57:49 GMT
[...]
- request:
    method: get
    uri: https://api.steemitstage.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000861100643783733'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-05-19T20:57:50.751160","source_commit":"d675e0d0c54b5656d4500f4ddce6c3d91d4bcbbd","docker_tag":"update-caching-lib","jussi_num":22577023}'
  recorded_at: Sat, 19 May 2018 20:57:50 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000837814336940567'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"eecb86cb-09ff-4afa-9fa8-64d1e6658a5b","request":{"amzn_trace_id":"Root=1-5b008fcf-3c17de16a60c0f5cc87bddba","jussi_request_id":null}}}}'
  recorded_at: Sat, 19 May 2018 20:57:51 GMT
recorded_with: VCR 3.0.3
