---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"chain_stats_api.get_stats_for_time","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 7619c9aa-b24b-460d-a0b8-f97804cc266a
      X-Jussi-Request-Id:
      - 15455ff09d88d8a4a78cda8046935696
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"7619c9aa-b24b-460d-a0b8-f97804cc266a","jussi_request_id":"15455ff09d88d8a4a78cda8046935696"}}}'
  recorded_at: Sun, 10 May 2026 21:19:12 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"chain_stats_api.get_lifetime_stats","params":{},"id":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 52c68b21-48d8-498e-be44-16438ca9eb4a
      X-Jussi-Request-Id:
      - be71d5aaa3b453498e47b586917a6c9f
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"52c68b21-48d8-498e-be44-16438ca9eb4a","jussi_request_id":"be71d5aaa3b453498e47b586917a6c9f"}}}'
  recorded_at: Sun, 10 May 2026 21:20:03 GMT
recorded_with: VCR 6.4.0
