---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":112,"method":"condenser_api.broadcast_block","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000596629888761326'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:args.size()
        == 1: Expected #s argument(s), was 0","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":1744,"method":"broadcast_block","hostname":"","timestamp":"2020-10-17T04:19:12"},"format":"args.size()
        == 1: Expected #s argument(s), was ${n}","data":{"n":0}}]}},"id":112}'
  recorded_at: Sat, 17 Oct 2020 04:19:12 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":113,"method":"condenser_api.broadcast_transaction","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - a17c3279-1540-4dd0-9585-4ca560f11e3b
      X-Jussi-Request-Id:
      - '000583093392882845'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":113,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"a17c3279-1540-4dd0-9585-4ca560f11e3b","jussi_request_id":"000377262727519686"}}}'
  recorded_at: Sat, 17 Oct 2020 04:19:12 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_bandwidth","params":[],"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000095843768646372'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32002,"message":"Assert Exception:method_itr
        != api_itr->second.end(): Could not find method get_account_bandwidth","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"json_rpc_plugin.cpp","line":209,"method":"find_api_method","hostname":"","timestamp":"2020-10-17T04:19:13"},"format":"method_itr
        != api_itr->second.end(): Could not find method ${method}","data":{"method":"get_account_bandwidth"}}]}},"id":4}'
  recorded_at: Sat, 17 Oct 2020 04:19:13 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_count","params":[],"id":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000491872140605796'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":1435224,"id":5}'
  recorded_at: Sat, 17 Oct 2020 04:19:13 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_references","params":[],"id":7}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000027775365887175'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":891,"method":"get_account_references","hostname":"","timestamp":"2020-10-17T04:19:14"},"format":"false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{}}]}},"id":7}'
  recorded_at: Sat, 17 Oct 2020 04:19:14 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_chain_properties","params":[],"id":18}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000526571253606928'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"account_creation_fee":"3.000 STEEM","maximum_block_size":65536,"sbd_interest_rate":0,"account_subsidy_budget":797,"account_subsidy_decay":347321},"id":18}'
  recorded_at: Sat, 17 Oct 2020 04:19:17 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_comment_discussions_by_payout","params":[],"id":19}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000308005825995555'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"post_id":87977970,"author":"successgr","permlink":"qi458r","category":"hive-160196","title":"","body":">\uad00\uc2ec\ubc1b\uc544
        \uae30\ubd84\uc88b\ub2e4.\n\ub108\ub294\ubd10\ub3c4 \ub098\ub9cc\uc54c\uace0\n\uae4a\uc740\uadf8\uc18d
        \uc554\ud638\ud480\uc774\n\ud480\uace0\ub098\ub2c8 \uc2a4\ud338\uc774\ub2e4.\n\n\ubb54\uac00
        \ubaa9\uc801\uc774 \uc788\ub294 \uac1c\uc778\uae30\ub85d\uc778\uc9c0\ub3c4
        \ubaa8\ub974\uaca0\uc2b5\ub2c8\ub2e4. \u314e\u314e\n\ub313\uae00\uc5d0\ub294
        \ub2ec\uc9c0 \ub9d0\uc9c0... \ud3ec\uc2a4\ud305\ub9cc \ud558\uace0 ,\n\uac10\uc0ac\ud569\ub2c8\ub2e4.","json_metadata":"{\"app\":\"steemit\\\/0.2\"}","created":"2020-10-12T23:58:36","last_update":"2020-10-12T23:58:36","depth":1,"children":0,"net_rshares":45453691427547,"last_payout":"1969-12-31T23:59:59","cashout_time":"2020-10-19T23:58:36","total_payout_value":"0.000
        SBD","curator_payout_value":"0.000 SBD","pending_payout_value":"17.249 SBD","promoted":"0.000
        SBD","replies":[],"body_length":103,"active_votes":[{"voter":"cjsdns","rshares":"45453691427547","percent":"10000","reputation":0}],"author_reputation":571040178894528,"parent_author":"cjsdns","parent_permlink":"4qfrpd","url":"\/hive-160196\/@cjsdns\/4qfrpd#@successgr\/qi458r","root_title":"\uc138\uc0c1\uc5d0\uc11c
        \uac00\uc7a5 \uc544\ub984\ub2e4\uc6b4 \uc2dc\uc774\uae30\ub97c...","beneficiaries":[],"max_accepted_payout":"1000000.000
        SBD","percent_steem_dollars":10000},{"post_id":87965851,"author":"kiwi-crypto","permlink":"qi2mf1","category":"hive-170569","title":"","body":"I
        like what you are trying to achieve - good stuff \n\nI do have a question
        for you though\n\n*So i am delegating you steem power for you winning a prize
        in #spud4steem,and now i see you are posting on a similar blockchain? i would
        prefer that while i am giving you some steem to use you stay loyal to Steemit*\n\n\n![image.png](https:\/\/cdn.steemitimages.com\/DQmc33GAqLAFYS8JzBytF64pj8JzxdnpSxtwRDsBH7NKzeL\/image.png)\n\n\nWill
        you be starting a worldpromoh*ve account as well?\n\n@kiwiscanfly\n@xpilar","json_metadata":"{\"tags\":[\"spud4steem\"],\"users\":[\"kiwiscanfly\",\"xpilar\"],\"image\":[\"https:\\\/\\\/cdn.steemitimages.com\\\/DQmc33GAqLAFYS8JzBytF64pj8JzxdnpSxtwRDsBH7NKzeL\\\/image.png\"],\"app\":\"steemit\\\/0.2\"}","created":"2020-10-12T04:13:51","last_update":"2020-10-12T04:13:51","depth":2,"children":6,"net_rshares":28599156428845,"last_payout":"1969-12-31T23:59:59","cashout_time":"2020-10-19T04:13:51","total_payout_value":"0.000
        SBD","curator_payout_value":"0.000 SBD","pending_payout_value":"10.582 SBD","promoted":"0.000
        SBD","replies":[],"body_length":48[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_config","params":[],"id":20}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000618453225459287'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"IS_TEST_NET":false,"STEEM_ENABLE_SMT":false,"SBD_SYMBOL":{"nai":"@@000000013","decimals":3},"STEEM_INITIAL_VOTE_POWER_RATE":40,"STEEM_REDUCED_VOTE_POWER_RATE":10,"STEEM_100_PERCENT":10000,"STEEM_1_PERCENT":100,"STEEM_ACCOUNT_RECOVERY_REQUEST_EXPIRATION_PERIOD":"86400000000","STEEM_ACTIVE_CHALLENGE_COOLDOWN":"86400000000","STEEM_ACTIVE_CHALLENGE_FEE":{"amount":"2000","precision":3,"nai":"@@000000021"},"STEEM_ADDRESS_PREFIX":"STM","STEEM_APR_PERCENT_MULTIPLY_PER_BLOCK":"102035135585887","STEEM_APR_PERCENT_MULTIPLY_PER_HOUR":"119577151364285","STEEM_APR_PERCENT_MULTIPLY_PER_ROUND":"133921203762304","STEEM_APR_PERCENT_SHIFT_PER_BLOCK":87,"STEEM_APR_PERCENT_SHIFT_PER_HOUR":77,"STEEM_APR_PERCENT_SHIFT_PER_ROUND":83,"STEEM_BANDWIDTH_AVERAGE_WINDOW_SECONDS":604800,"STEEM_BANDWIDTH_PRECISION":1000000,"STEEM_BENEFICIARY_LIMIT":128,"STEEM_BLOCKCHAIN_PRECISION":1000,"STEEM_BLOCKCHAIN_PRECISION_DIGITS":3,"STEEM_BLOCKCHAIN_HARDFORK_VERSION":"0.23.0","STEEM_BLOCKCHAIN_VERSION":"0.23.0","STEEM_BLOCK_INTERVAL":3,"STEEM_BLOCKS_PER_DAY":28800,"STEEM_BLOCKS_PER_HOUR":1200,"STEEM_BLOCKS_PER_YEAR":10512000,"STEEM_CASHOUT_WINDOW_SECONDS":604800,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF12":86400,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF17":43200,"STEEM_CHAIN_ID":"0000000000000000000000000000000000000000000000000000000000000000","STEEM_COMMENT_REWARD_FUND_NAME":"comment","STEEM_COMMENT_TITLE_LIMIT":256,"STEEM_CONTENT_APR_PERCENT":3875,"STEEM_CONTENT_CONSTANT_HF0":"2000000000000","STEEM_CONTENT_CONSTANT_HF21":"2000000000000","STEEM_CONTENT_REWARD_PERCENT_HF16":7500,"STEEM_CONTENT_REWARD_PERCENT_HF21":6500,"STEEM_CONVERSION_DELAY":"302400000000","STEEM_CONVERSION_DELAY_PRE_HF_16":"604800000000","STEEM_CREATE_ACCOUNT_DELEGATION_RATIO":5,"STEEM_CREATE_ACCOUNT_DELEGATION_TIME":"2592000000000","STEEM_CREATE_ACCOUNT_WITH_STEEM_MODIFIER":30,"STEEM_CURATE_APR_PERCENT":3875,"STEEM_CUSTOM_OP_DATA_MAX_LENGTH":8192,"STEEM_CUSTOM_OP_ID_MAX_LENGTH":32,"STEEM_DEFAULT_SBD_INTEREST_RATE":1000,"STEEM_DOWNVOTE_POOL_PERCENT_HF21":2500,"STEEM_EQUIHASH_K":6,"STEEM_EQUIHASH_N":140,"STEEM_FEED_HISTORY_WINDOW":84,"STEEM_FEED_HISTORY_WINDOW_PRE_HF_16":168,"STEEM_FEED_INTERVAL_BLOCKS":1200,"STEEM_GENESIS_TIME":"2016-03-24T16:00:00","STEEM_HARDFORK_REQUIRED_WITNESSES":17,"STEEM_HF21_CONVERGENT_LINEAR_RECENT_CLAIMS":"503600561838938636","STEEM_INFLATION_NARROWING_PERIOD":250000,"STEEM_INFLATION_RATE_START_PERCENT":978,"STEEM_INFLATION_RATE_STOP_PERCENT":95,"STEEM_INIT_MINER_NAME":"initminer","STEEM_INIT_PUBLIC_KEY_STR":"STM8GC13uCZbP44HzMLV6zPZGwVQ8Nt4Kji8PapsPiNq1BK153XTX","STEEM_INIT_SUPPLY":0,"STEEM_SBD_INIT_SUPPLY":0,"STEEM_INIT_TIME":"1970-01-01T00:00:00","STEEM_IRREVERSIBLE_THRESHOLD":7500,"STEEM_LIQUIDITY_APR_PERCENT":750,"STEEM_LIQUIDITY_REWARD_BLOCKS":1200,"STEEM_LIQUIDITY_REWARD_PERIOD_SEC":3600,"STEEM_LIQUIDITY_TIMEOUT_SEC":"604800000000","STEEM_MAX_ACCOUNT_CREATION_FEE":1000000000,"STEEM_MAX_ACCOUNT_NAME_LENGTH":16,"STEEM_MAX_ACCOUNT_WITNESS_VOTES":30,"STEEM_MAX_ASSET_WHITELIST_AUTHORITIES":10,"STEEM_MAX_AUTHORITY_MEMBERSHIP":40,"STEEM_MAX_BLOCK_SIZE":393216000,"STEEM_SOFT_MAX_BLOCK_SIZE":2097152,"STEEM_MAX_CASHOUT_WINDOW_SECONDS":1209600,"STEEM_MAX_COMMENT_DEPTH":65535,"STEEM_MAX_COMMENT_DEPTH_PRE_HF17":6,"STEEM_MAX_FEED_AGE_SECONDS":604800,"STEEM_MAX_INSTANCE_ID":"281474976710655","STEEM_MAX_MEMO_SIZE":2048,"STEEM_MAX_WITNESSES":21,"STEEM_MAX_MINER_WITNESSES_HF0":1,"STEEM_MAX_MINER_WITNESSES_HF17":0,"STEEM_MAX_PERMLINK_LENGTH":256,"STEEM_MAX_PROXY_RECURSION_DEPTH":4,"STEEM_MAX_RATION_DECAY_RATE":1000000,"STEEM_MAX_RESERVE_RATIO":20000,"STEEM_MAX_RUNNER_WITNESSES_HF0":1,"STEEM_MAX_RUNNER_WITNESSES_HF17":1,"STEEM_MAX_SATOSHIS":"4611686018427387903","STEEM_MAX_SHARE_SUPPLY":"1000000000000000","STEEM_MAX_SIG_CHECK_DEPTH":2,"STEEM_MAX_SIG_CHECK_ACCOUNTS":125,"STEEM_MAX_TIME_UNTIL_EXPIRATION":3600,"STEEM_MAX_TRANSACTION_SIZE":65536,"STEEM_MAX_UNDO_HISTORY":10000,"STEEM_MAX_URL_LENGTH":127,"STEEM_MAX_VOTE_CHANGES":5,"STEEM_MAX_VOTED_WITNESSES_HF0":19,"STEEM_MAX_VOTED_WITNESSES_HF17":20,"STEEM_MAX_WITHDRAW_ROUTES":10,"STEEM_MAX_WITNESS_URL_LENGTH":2048,"STEEM_MIN_ACCOUNT_CREATION_FEE":1,"STEEM_MIN_ACCOUNT_NAME_LENGTH":3,"STEEM_MIN_BLOCK_SIZE_LIMIT":65536,"STEEM_MIN_BLOCK_SIZE":115,"STEEM_MIN_CONTENT_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MIN_CURATE_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MIN_PERMLINK_LENGTH":0,"STEEM_MIN_REPLY_INTERVAL":20000000,"STEEM_MIN_REPLY_INTERVAL_HF20":3000000,"STEEM_MIN_ROOT_COMMENT_INTERVAL":300000000,"STEEM_MIN_COMMENT_EDIT_INTERVAL":3000000,"STEEM_MIN_VOTE_INTERVAL_SEC":3,"STEEM_MINER_ACCOUNT":"miners","STEEM_MINER_PAY_PERCENT":100,"STEEM_MIN_FEEDS":7,"STEEM_MINING_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MINING_TIME":"2016-03-24T17:00:00","STEEM_MIN_LIQUIDITY_REWARD":{"amount":"1200000","precision":3,"nai":"@@000000021"},"STEEM_MIN_LIQUIDITY_REWARD_PERIOD_SEC":60000000,"STEEM_MIN_PAYOUT_SBD":{"amount":"20","precision":3,"nai":"@@000000013"},"STEEM_MIN_POW_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MIN_PRODUCER_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"STEEM_MIN_TRANSACTION_EXPIRATION_LIMIT":15,"STEEM_MIN_TRANSACTION_SIZE_LIMIT":1024,"STEEM_MIN_UNDO_HISTORY":10,"STEEM_NULL_ACCOUNT":"null","STEEM_NUM_INIT_MINERS":1,"STEEM_OWNER_AUTH_HISTORY_TRACKING_START_BLOCK_NUM":3186477,"STEEM_OWNER_AUTH_RECOVERY_PERIOD":"2592000000000","STEEM_OWNER_CHALLENGE_COOLDOWN":"86400000000","STEEM_OWNER_CHALLENGE_FEE":{"amount":"30000","precision":3,"nai":"@@000000021"},"STEEM_OWNER_UPDATE_LIMIT":3600000000,"STEEM_POST_AVERAGE_WINDOW":86400,"STEEM_POST_REWARD_FUND_NAME":"post","STEEM_POST_WEIGHT_CONSTANT":1600000000,"STEEM_POW_APR_PERCENT":750,"STEEM_PRODUCER_APR_PERCENT":750,"STEEM_PROXY_TO_SELF_ACCOUNT":"","STEEM_SBD_INTEREST_COMPOUND_INTERVAL_SEC":2592000,"STEEM_SECONDS_PER_YEAR":31536000,"STEEM_PROPOSAL_FUND_PERCENT_HF0":0,"STEEM_PROPOSAL_FUND_PERCENT_HF21":1000,"STEEM_RECENT_RSHARES_DECAY_TIME_HF19":"1296000000000","STEEM_RECENT_RSHARES_DECAY_TIME_HF17":"2592000000000","STEEM_REVERSE_AUCTION_WINDOW_SECONDS_HF6":1800,"STEEM_REVERSE_AUCTION_WINDOW_SECONDS_HF20":900,"STEEM_REVERSE_AUCTION_WINDOW_SECONDS_HF21":300,"STEEM_ROOT_POST_PARENT":"","STEEM_SAVINGS_WITHDRAW_REQUEST_LIMIT":100,"STEEM_SAVINGS_WITHDRAW_TIME":"259200000000","STEEM_SBD_START_PERCENT_HF14":200,"STEEM_SBD_START_PERCENT_HF20":900,"STEEM_SBD_STOP_PERCENT_HF14":500,"STEEM_SBD_STOP_PERCENT_HF20":1000,"STEEM_SECOND_CASHOUT_WINDOW":2592000,"STEEM_SOFT_MAX_COMMENT_DEPTH":255,"STEEM_START_MINER_VOTING_BLOCK":864000,"STEEM_START_VESTING_BLOCK":201600,"STEEM_TEMP_ACCOUNT":"temp","STEEM_UPVOTE_LOCKOUT_HF7":60000000,"STEEM_UPVOTE_LOCKOUT_HF17":"43200000000","STEEM_UPVOTE_LOCKOUT_SECONDS":43200,"STEEM_VESTING_FUND_PERCENT_HF16":1500,"STEEM_VESTING_WITHDRAW_INTERVALS":13,"STEEM_VESTING_WITHDRAW_INTERVALS_HF_23":4,"STEEM_VESTING_WITHDRAW_INTERVALS_PRE_HF_16":104,"STEEM_VESTING_WITHDRAW_INTERVAL_SECONDS":604800,"STEEM_VOTE_DUST_THRESHOLD":50000000,"STEEM_VOTING_MANA_REGENERATION_SECONDS":432000,"STEEM_SYMBOL":{"nai":"@@000000021","decimals":3},"VESTS_SYMBOL":{"nai":"@@000000037","decimals":6},"STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH":"18446744073709551615","STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH2":"340282366920938463463374607431768211455","STEEM_MAX_LIMIT_ORDER_EXPIRATION":2419200,"STEEM_DELEGATION_RETURN_PERIOD_HF0":604800,"STEEM_DELEGATION_RETURN_PERIOD_HF20":432000,"STEEM_RD_MIN_DECAY_BITS":6,"STEEM_RD_MAX_DECAY_BITS":32,"STEEM_RD_DECAY_DENOM_SHIFT":36,"STEEM_RD_MAX_POOL_BITS":64,"STEEM_RD_MAX_BUDGET_1":"17179869183","STEEM_RD_MAX_BUDGET_2":268435455,"STEEM_RD_MAX_BUDGET_3":2147483647,"STEEM_RD_MAX_BUDGET":268435455,"STEEM_RD_MIN_DECAY":64,"STEEM_RD_MIN_BUDGET":1,"STEEM_RD_MAX_DECAY":4294967295,"STEEM_ACCOUNT_SUBSIDY_PRECISION":10000,"STEEM_WITNESS_SUBSIDY_BUDGET_PERCENT":12500,"STEEM_WITNESS_SUBSIDY_DECAY_PERCENT":210000,"STEEM_DEFAULT_ACCOUNT_SUBSIDY_DECAY":347321,"STEEM_DEFAULT_ACCOUNT_SUBSIDY_BUDGET":797,"STEEM_DECAY_BACKSTOP_PERCENT":9000,"STEEM_BLOCK_GENERATION_POSTPONED_TX_LIMIT":5,"STEEM_PENDING_TRANSACTION_EXECUTION_LIMIT":200000,"STEEM_TREASURY_ACCOUNT":"steem.dao","HIVE_TREASURY_ACCOUNT":"community321","STEEM_TREASURY_FEE":10000,"STEEM_PROPOSAL_MAINTENANCE_PERIOD":3600,"STEEM_PROPOSAL_MAINTENANCE_CLEANUP":86400,"STEEM_PROPOSAL_SUBJECT_MAX_LENGTH":80,"STEEM_PROPOSAL_MAX_IDS_NUMBER":5},"id":20}'
  recorded_at: Sat, 17 Oct 2020 04:19:18 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_current_median_history_price","params":[],"id":24}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000709771274713862'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"base":"0.159 SBD","quote":"1.000 STEEM"},"id":24}'
  recorded_at: Sat, 17 Oct 2020 04:19:19 GMT
[...]
