---
http_interactions:
- request:
    method: post
    uri: https://steemd.minnowsupportproject.org/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":9,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body>\r\n<center><h1>502
        Bad Gateway</h1></center>\r\n<hr><center>nginx/1.17.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 17 Oct 2020 04:26:26 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":10,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Jussi-Request-Id:
      - '000244601900036893'
    body:
      encoding: ASCII-8BIT
      string: '{"id":10,"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\", \"https:\/\/api.hive.blog\",
        \"https:\/\/hive-api.arcange.eu\", \"https:\/\/api.pharesim.me\", \"https:\/\/anyx.io\",
        \"https:\/\/api.steemit.com\", \"https:\/\/api.deathwing.me\", \"https:\/\/api.openhive.network\",
        \"http:\/\/anyx.io\", \"https:\/\/steem.61bts.com\"], \"failing_nodes\": {\"https:\/\/steem.bts.tw\":
        \"NumRetriesReached\"}, \"report\": [{\"node\": \"https:\/\/api.hive.blog\",
        \"version\": \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 11, \"ok\":
        true, \"count\": 194, \"time\": 30.46}, \"history\": {\"rank\": 9, \"ok\":
        true, \"count\": 8586, \"time\": 15.05}, \"apicall\": {\"rank\": 4, \"ok\":
        true, \"time\": 1.11, \"access_time\": 0.215}, \"config\": {\"rank\": 4, \"ok\":
        true, \"time\": 0.34, \"access_time\": 0.11}, \"block_diff\": {\"rank\": 3,
        \"ok\": true, \"head_delay\": 2.69, \"diff_head_irreversible\": 17.0, \"time\":
        18.76}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\", \"hive\":
        true, \"block\": {\"rank\": 16, \"ok\": true, \"count\": 115, \"time\": 30.01},
        \"history\": {\"rank\": 12, \"ok\": true, \"count\": 7576, \"time\": 15.1},
        \"apicall\": {\"rank\": 5, \"ok\": true, \"time\": 1.18, \"access_time\":
        0.251}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.67, \"access_time\":
        0.11}, \"block_diff\": {\"rank\": -1, \"ok\": false, \"error\": \"output:
        {} of identifier 47864187\", \"head_delay\": 0.0, \"diff_head_irreversible\":
        0.0, \"time\": 0.77}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        143, \"time\": 30.06}, \"history\": {\"rank\": 11, \"ok\": true, \"count\":
        7980, \"time\": 15.04}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"@manoldonchev\/why-so-cereal\", \"time\": 1.01, [...]
- request:
    method: post
    uri: https://steem.bts.tw/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":11,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]> <html class=\"no-js ie6 oldie\"
        lang=\"en-US\"> <![endif]-->\n<!--[if IE 7]>    <html class=\"no-js ie7 oldie\"
        lang=\"en-US\"> <![endif]-->\n<!--[if IE 8]>    <html class=\"no-js ie8 oldie\"
        lang=\"en-US\"> <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"
        lang=\"en-US\"> <!--<![endif]-->\n<head>\n<meta http-equiv=\"refresh\" content=\"0\">\n\n<title>steem.bts.tw
        | 502: Bad gateway</title>\n<meta charset=\"UTF-8\" />\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\" />\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=Edge,chrome=1\" />\n<meta name=\"robots\" content=\"noindex,
        nofollow\" />\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"
        />\n<link rel=\"stylesheet\" id=\"cf_styles-css\" href=\"/cdn-cgi/styles/main.css\"
        type=\"text/css\" media=\"screen,projection\" />\n\n\n</head>\n<body>\n<div
        id=\"cf-wrapper\">\n\n    \n\n    <div id=\"cf-error-details\" class=\"p-0\">\n
        \       <header class=\"mx-auto pt-10 lg:pt-6 lg:px-8 w-240 lg:w-full mb-8\">\n
        \           <h1 class=\"inline-block sm:block sm:mb-2 font-light text-60 lg:text-4xl
        text-black-dark leading-tight mr-2\">\n              \n              <span
        class=\"cf-error-type\">Error</span>\n              <span class=\"cf-error-code\">502</span>\n
        \           </h1>\n            <span class=\"inline-block sm:block font-mono
        text-15 lg:text-sm lg:leading-relaxed\">Ray ID: 5e3742edef6492e0 &bull;</span>\n
        \           <span class=\"inline-block sm:block font-mono text-15 lg:text-sm
        lg:leading-relaxed\">2020-10-17 04:26:27 UTC</span>\n            <h2 class=\"text-gray-600
        leading-1.3 text-3xl font-light\">Bad gateway</h2>\n        </header>\n        \n
        \       <div class=\"my-8 bg-gradient-gray\">\n            <div class=\"w-240
        lg:w-full mx-auto\">\n                <div class=\"clearfix md:px-8\">\n                  \n<div
        id=\"cf-browser-status\" class=\" relative w-1/3 md:w-full py-15 md:p-0 md:py-8
        md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400 overflow-hidden
        float-left md:float-none text-center\">\n  <div class=\"relative mb-10 md:m-0\">\n
        \   <span class=\"cf-icon-browser block md:hidden h-20 bg-center bg-no-repeat\"></span>\n
        \   <span class=\"cf-icon-ok w-12 h-12 absolute left-1/2 md:left-auto md:right-0
        md:top-0 -ml-6 -bottom-4\"></span>\n  </div>\n  <span class=\"md:block w-full
        truncate\">You</span>\n  <h3 class=\"md:inline-block mt-3 md:mt-0 text-2xl
        text-gray-600 font-light leading-1.3\">Browser</h3>\n  <span class=\"leading-1.3
        text-2xl text-green-success\">Working</span>\n</div>\n\n<div id=\"cf-cloudflare-status\"
        class=\" relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid
        md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none
        text-center\">\n  <div class=\"relative mb-10 md:m-0\">\n    <span class=\"c[...]
[...]
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":45,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Juss[...]
[...]
