---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_content","params":["inertia","kinda-spooky"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000103905170786684'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":13324169,"author":"inertia","permlink":"kinda-spooky","category":"governance","parent_author":"","parent_permlink":"governance","title":"Kinda
        Spooky","body":"Late Monday night (pacific), we were observing the hardfork
        witness majority ...\n\n![](https:\/\/steemitimages.com\/DQmejoQtUkGCt6ZePSrbxmu5ydbFVB3MZzSkxz312Cj94Z3\/image.png)\n\nAt
        the time, the witnesses had not quite reached 17 of 20 adoption, required
        for the blockchain to consider it a majority.\n\nEarly yesterday (also pacific
        time shown), 0.19.2 finally had a majority (20 days after release).\n\n![](https:\/\/steemitimages.co[...]
