---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["ned"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000849688074520873'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":497,"name":"ned","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7RyrKG8e3fUtPD2JH9AB8K1p7ypsLUDPMuiV1gtD4DbNuk6nBw",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6rHZiAKHZS19RSJuRmn3mdukj95AYgUNFCEgnm8jhZE3rcH72P",1]]},"memo_key":"STM6sUWU9dtss1N8m7tQfUt7PacNHACrt3jBZNtkYkMMBv3e4CH3p","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/encrypted-tbn0.gstatic.com\/images?q=tbn:ANd9GcTgUknIiTNArR2xcz4XCyIMDRdmjAJV3JdJb0VspRuVfyYwbjb7\",\"location\":\"Welcome
        to Steemit!\",\"name\":\"ned\",\"cover_image\":\"https:\/\/steemit.com\/images\/steemit.png\",\"website\":\"https:\/\/smt.steem.io\"}}","proxy":"","last_owner_update":"2017-03-02T00:20:39","last_account_update":"2018-02-28T19:34:39","created":"2016-03-31T14:21:45","mined":false,"recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":779,"can_vote":true,"voting_power":9800,"last_vote_time":"2018-04-10T16:13:48","balance":"111873.055
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"5753.433 SBD","sbd_seconds":"5138266584747","sbd_seconds_last_update":"2018-04-15T11:44:21","sbd_last_interest_payment":"2018-04-05T03:39:42","savings_sbd_balance":"1249.949
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2017-01-01T19:19:27","savings_sbd_last_interest_payment":"2017-01-01T19:19:27","savings_withdraw_requests":0,"reward_sbd_balance":"787.162
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"8157607.546049
        VESTS","reward_vesting_steem":"3971.979 STEEM","vesting_shares":"7344140982.676874
        VESTS","delegated_vesting_shares":"3504315670.475684 VESTS","received_vesting_shares":"2054.450000
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":734600440,"posting_rewards":8486903,"proxied_vsf_votes":["121435011724236",0,0,0],"witnesses_voted_for":0,"last_post":"2018-03-01T17:18:06","last_root_post":"2017-11-08T00:11:30","average_bandwidth":125000000,"lifetime_bandwidth":"3786793000000","last_bandwidth_update":"2018-04-10T16:13:48","average_market_bandwidth":2599317261,"lifetime_market_bandwidth":"118810000000","last_market_bandwidth_update":"2018-01-29T03:31:21","vesting_balance":"0.000
        STEEM","reputation":"77926102279133","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Sun, 15 Apr 2018 16:45:49 GMT
recorded_with: VCR 3.0.3
