---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":84,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000609222573113395'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\", \"https:\/\/api.hive.blog\",
        \"https:\/\/hive-api.arcange.eu\", \"https:\/\/api.pharesim.me\", \"https:\/\/anyx.io\",
        \"https:\/\/api.steemit.com\", \"https:\/\/api.deathwing.me\", \"https:\/\/api.openhive.network\",
        \"http:\/\/anyx.io\", \"https:\/\/steem.61bts.com\"], \"failing_nodes\": {\"https:\/\/steem.bts.tw\":
        \"NumRetriesReached\"}, \"report\": [{\"node\": \"https:\/\/api.hive.blog\",
        \"version\": \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 11, \"ok\":
        true, \"count\": 194, \"time\": 30.46}, \"history\": {\"rank\": 9, \"ok\":
        true, \"count\": 8586, \"time\": 15.05}, \"apicall\": {\"rank\": 4, \"ok\":
        true, \"time\": 1.11, \"access_time\": 0.215}, \"config\": {\"rank\": 4, \"ok\":
        true, \"time\": 0.34, \"access_time\": 0.11}, \"block_diff\": {\"rank\": 3,
        \"ok\": true, \"head_delay\": 2.69, \"diff_head_irreversible\": 17.0, \"time\":
        18.76}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\", \"hive\":
        true, \"block\": {\"rank\": 16, \"ok\": true, \"count\": 115, \"time\": 30.01},
        \"history\": {\"rank\": 12, \"ok\": true, \"count\": 7576, \"time\": 15.1},
        \"apicall\": {\"rank\": 5, \"ok\": true, \"time\": 1.18, \"access_time\":
        0.251}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.67, \"access_time\":
        0.11}, \"block_diff\": {\"rank\": -1, \"ok\": false, \"error\": \"output:
        {} of identifier 47864187\", \"head_delay\": 0.0, \"diff_head_irreversible\":
        0.0, \"time\": 0.77}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        143, \"time\": 30.06}, \"history\": {\"rank\": 11, \"ok\": true, \"count\":
        7980, \"time\": 15.04}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"@manoldonchev\/why-so-cereal\", \"time\": 1.01, [...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":85,"method":"condenser_api.get_content","params":["inertia","kinda-spooky"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000249766829753396'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":13324169,"author":"inertia","permlink":"kinda-spooky","category":"governance","parent_author":"","parent_permlink":"governance","title":"Kinda
        Spooky","body":"Late Monday night (pacific), we were observing the hardfork
        witness majority ...\n\n![](https:\/\/steemitimages.com\/DQmejoQtUkGCt6ZePSrbxmu5ydbFVB3MZzSkxz312Cj94Z3\/image.png)\n\nAt
        the time, the witnesses had not quite reached 17 of 20 adoption, required
        for the blockchain to consider it a majority.\n\nEarly yesterday (also pacific
        time shown), 0.19.2 finally had a majority (20 days after release).\n\n![](https:\/\/steemitimages.co[...]
- request:
    method: post
    uri: https://steemd.minnowsupportproject.org/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":88,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body>\r\n<center><h1>502
        Bad Gateway</h1></center>\r\n<hr><center>nginx/1.17.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 17 Oct 2020 04:08:03 GMT
[...]
- request:
    method: post
    uri: https://steem.bts.tw/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":93,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body>\r\n<center><h1>403
        Forbidden</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 17 Oct 2020 04:08:05 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":94,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Jussi-Request-Id:
      - '000831037709222332'
    body:
      encoding: ASCII-8BIT
      string: '{"id":94,"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]}[...]
[...]
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":28,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Juss[...]
[...]
