---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":15,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000304494255663191'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","condenser_api.get_account_count","condenser_api.get_account_history","condenser_api.get_account_references","condenser_api.get_account_reputations","condenser_api.get_account_votes","condenser_api.get_accounts","condenser_api.get_active_votes","condenser_a[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":16,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000932216034821920'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/api.pharesim.me\", \"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\",
        \"https:\/\/api.deathwing.me\", \"https:\/\/api.hive.blog\", \"https:\/\/api.c0ff33a.uk\",
        \"https:\/\/api.openhive.network\", \"https:\/\/api.steemit.com\", \"https:\/\/hive-api.arcange.eu\",
        \"https:\/\/hived.privex.io\", \"https:\/\/rpc.ecency.com\", \"http:\/\/anyx.io\",
        \"https:\/\/anyx.io\", \"https:\/\/techcoderx.com\", \"https:\/\/steem.61bts.com\"],
        \"failing_nodes\": {\"https:\/\/steem.bts.tw\": \"NumRetriesReached\"}, \"report\":
        [{\"node\": \"https:\/\/api.hive.blog\", \"version\": \"1.24.6\", \"hive\":
        true, \"block\": {\"rank\": 12, \"ok\": true, \"count\": 196, \"time\": 30.61},
        \"history\": {\"rank\": 10, \"ok\": true, \"count\": 11901, \"time\": 15.01},
        \"apicall\": {\"rank\": 4, \"ok\": true, \"time\": 1.01, \"access_time\":
        0.181}, \"config\": {\"rank\": 4, \"ok\": true, \"time\": 0.31, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 4, \"ok\": true, \"head_delay\": 5.32, \"diff_head_irreversible\":
        18.0, \"time\": 17.66}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\",
        \"hive\": true, \"block\": {\"rank\": 15, \"ok\": true, \"count\": 146, \"time\":
        30.01}, \"history\": {\"rank\": 17, \"ok\": true, \"count\": 7273, \"time\":
        15.06}, \"apicall\": {\"rank\": 8, \"ok\": true, \"time\": 1.42, \"access_time\":
        0.336}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.59, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 12, \"ok\": true, \"head_delay\": 9.24, \"diff_head_irreversible\":
        20.0, \"time\": 17.52}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        175, \"time\": 30.05}, \"history\": {\"rank\": 14, \"ok\": true, \"count\":
        8401, \"time\": 15.03}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"Assert Exception:api_itr != _registered_apis.end(): Could not find API bridge\",
        \"time\": 1.02, \"access_time\": 30.0}, \"config\": {\"rank\": 6, \"ok\":
        true, \"time\": 1.0, \"access_time\": 0.16}, \"block_diff\": {\"rank\": 7,
        \"ok\": true, \"head_delay\": 3.58, \"diff_head_irreversible\": 19.0, \"time\":
        18.87}}, {\"node\": \"https:\/\/api.openhive.network\", \"version\": \"1.24.6\",
        \"hive\": true, \"block\": {\"rank\": 16, \"ok\": true, \"[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":17,"method":"condenser_api.get_accounts","params":[["ned"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000871933962193328'
      X-Jussi-Response-Time:
      - '0.08725790679454803'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_accounts
      X-Jussi-Params:
      - "[['ned']]"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":497,"name":"ned","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM81Ft8iwQk7M8vYgQgri23HHPafcJji58Jy9ubu372ZYNLwpmC3",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM739EcxvhQRrWQZtHJmBqwF1DxNwnaTAxwzQrQov7N642zmW34J",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM8dvbzCXcVk3kn4Ps58ioVS1qRBb9Hgg2V737pMAZ2NHiN6XQiF",1]]},"memo_key":"STM7VSfc1GcHND9ihAd6xxLFoqtJk8Ynhwi5dd2mFS2bAFthvGQg3","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/cdn.steemitimages.com\/DQmTnCCqNRTrCtaXNF9xYa7RNtP4DEnoxg47WXjinUiAzoi\/IMG_9261.jpg\",\"location\":\"Welcome
        to Steemit!\",\"name\":\"ned\",\"cover_image\":\"https:\/\/steemit.com\/images\/steemit.png\",\"website\":\"https:\/\/smt.steem.io\"}}","posting_json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/encrypted-tbn0.gstatic.com\/images?q=tbn:ANd9GcTgUknIiTNArR2xcz4XCyIMDRdmjAJV3JdJb0VspRuVfyYwbjb7\",\"location\":\"Welcome
        to Steemit!\",\"name\":\"ned\",\"cover_image\":\"https:\/\/steemit.com\/images\/steemit.png\",\"website\":\"https:\/\/smt.steem.io\"}}","proxy":"","last_owner_update":"2020-01-24T04:37:09","last_account_update":"2020-02-16T02:38:27","created":"2016-03-31T14:21:45","mined":false,"recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":1039,"can_vote":true,"voting_manabar":{"current_mana":"23393959981693","last_update_time":1590182868},"downvote_manabar":{"current_mana":"5848489995423","last_update_time":1590182868},"voting_power":0,"balance":"13.418
        HIVE","savings_balance":"0.000 HIVE","hbd_balance":"6823.211 HBD","hbd_seconds":"0","hbd_seconds_last_update":"2020-02-14T22:14:12","hbd_last_interest_payment":"2020-02-14T22:14:12","savings_hbd_balance":"1249.949
        HBD","savings_hbd_seconds":"0","savings_hbd_seconds_last_update":"2017-01-01T19:19:27","savings_hbd_last_interest_payment":"2017-01-01T19:19:27","savings_withdraw_requests":0,"reward_hbd_balance":"0.000
        HBD","reward_hive_balance":"0.000 HIVE","reward_vesting_balance":"2596.009653
        VESTS","reward_vesting_hive":"1.324 HIVE","vesting_shares":"23383848.981693
        VESTS","delegated_vesting_shares":"0.000000 VESTS","received_vesting_shares":"10111.000000
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","post_voting_power":"23393959.981693
        VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":"3673423395323719","to_withdraw":"3673423395323719","withdraw_routes":0,"pending_transfers":0,"curation_rewards":0,"posting_rewards":0,"proxied_vsf_votes":["9901015625",0,0,0],"witnesses_voted_for":0,"last_post":"2020-03-05T19:49:51","last_root_post":"2020-03-05T19:49:51","last_vote_time":"2020-02-21T19:57:39","post_bandwidth":10000,"pending_claimed_accounts":0,"delayed_votes":[],"vesting_balance":"0.000
        HIVE","reputation":"94449123381332","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":17}'
  recorded_at: Sat, 07 Nov 2020 19:26:14 GMT
- request:
    method: post
    uri: https://api.hive.blog/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":103,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000399349443086548'
      X-Jussi-Response-Time:
      - '0.0088801085948[...]
[...]
- request:
    method: post
    uri: https://hived.privex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":59,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000494737732625246'
      X-Hp-Svr:
      - 3speak
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","cond[...]
[...]
- request:
    method: post
    uri: https://api.hivekings.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000651394391868519'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result[...]
[...]
- request:
    method: post
    uri: https://api.c0ff33a.uk/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":17,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000867420145928456'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[...]
[...]
- request:
    method: post
    uri: https://techcoderx.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":81,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Jussi-Request-Id:
      - '000566463382352485'
    body:
      encoding: ASCII-8BIT
      string: '{"id":81,"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]}[...]
[...]
- request:
    method: post
    uri: https://api.pharesim.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":108,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000019068036655005'
    body:
      encoding: ASCII-8BIT
      string: [...]
[...]
- request:
    method: post
    uri: https://hive-api.arcange.eu/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":48,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000728100929370906'
      Proxy-Connection:
      - keep-alive
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","[...]
[...]
- request:
    method: post
    uri: https://hive.roelandp.nl/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":15,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000076423618331400'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result[...]
[...]
- request:
    method: post
    uri: https://api.deathwing.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":59,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000194510736565324'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result[...]
[...]
- request:
    method: post
    uri: https://hive.roelandp.nl/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":106,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Apigw-Requestid:
      - WGqIZiReIAMEVsQ=
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6[...]
[...]
