---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_content",["inertia","kinda-spooky"]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Urn:
      - steemd.database_api.get_content.params=['inertia','kinda-spooky']
      X-Jussi-Response-Id:
      - sc0e6b09c-d375-48f7-929e-a5e7b2ee67dd->71a5de94-dbb5-49f8-a6ca-87af4f5e4a92
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":13324169,"author":"inertia","permlink":"kinda-spooky","category":"governance","parent_author":"","parent_permlink":"governance","title":"Kinda
        Spooky","body":"Late Monday night (pacific), we were observing the hardfork
        witness majority ...\n\n![](https:\/\/steemitimages.com\/DQmejoQtUkGCt6ZePSrbxmu5ydbFVB3MZzSkxz312Cj94Z3\/image.png)\n\nAt
        the time, the witnesses had not quite reached 17 of 20 adoption, required
        for the blockchain to consider it a majority.\n\nEarly yesterday (also pacific
        time shown), 0.19.2 finally had a majority (20 days after release).\n\n![](https:\/\/steemitimages.co[...]
