---
http_interactions:
- request:
    method: post
    uri: https://api.pharesim.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":105,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000160538904569748'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/rpc.ausbit.dev\", \"https:\/\/api.pharesim.me\", \"https:\/\/hive.roelandp.nl\",
        \"https:\/\/api.deathwing.me\", \"https:\/\/rpc.ecency.com\", \"https:\/\/hive-api.arcange.eu\",
        \"https:\/\/api.steemit.com\", \"https:\/\/api.hive.blog\", \"https:\/\/hived.privex.io\",
        \"https:\/\/api.c0ff33a.uk\", \"https:\/\/api.openhive.network\", \"https:\/\/techcoderx.com\",
        \"http:\/\/anyx.io\", \"https:\/\/anyx.io\", \"https:\/\/steem.61bts.com\"],
        \"failing_nodes\": {\"https:\/\/steem.bts.tw\": \"NumRetriesReached\"}, \"report\":
        [{\"node\": \"https:\/\/api.hive.blog\", \"version\": \"1.24.6\", \"hive\":
        true, \"block\": {\"rank\": 12, \"ok\": true, \"count\": 195, \"time\": 30.05},
        \"history\": {\"rank\": 11, \"ok\": true, \"count\": 11401, \"time\": 15.12},
        \"apicall\": {\"rank\": 6, \"ok\": true, \"time\": 0.99, \"access_time\":
        0.183}, \"config\": {\"rank\": 4, \"ok\": true, \"time\": 0.32, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 5, \"ok\": true, \"head_delay\": 3.66, \"diff_head_irreversible\":
        16.0, \"time\": 17.75}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\",
        \"hive\": true, \"block\": {\"rank\": 14, \"ok\": true, \"count\": 145, \"time\":
        30.08}, \"history\": {\"rank\": 16, \"ok\": true, \"count\": 7576, \"time\":
        15.08}, \"apicall\": {\"rank\": 9, \"ok\": true, \"time\": 1.2, \"access_time\":
        0.26}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.77, \"access_time\":
        0.11}, \"block_diff\": {\"rank\": 14, \"ok\": true, \"head_delay\": 8.06,
        \"diff_head_irreversible\": 19.0, \"time\": 17.6}}, {\"node\": \"https:\/\/api.hivekings.com\",
        \"version\": \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\":
        true, \"count\": 177, \"time\": 30.08}, \"history\": {\"rank\": 14, \"ok\":
        true, \"count\": 8401, \"time\": 15.06}, \"apicall\": {\"rank\": -1, \"ok\":
        false, \"error\": \"Assert Exception:api_itr != _registered_apis.end(): Could
        not find API bridge\", \"time\": 1.02, \"access_time\": 30.0}, \"config\":
        {\"rank\": 6, \"ok\": true, \"time\": 0.85, \"access_time\": 0.16}, \"block_diff\":
        {\"rank\": 17, \"ok\": true, \"head_delay\": 3.33, \"diff_head_irreversible\":
        22.0, \"time\": 18.9}}, {\"node\": \"https:\/\/api.openhive.network\", \"version\":
        \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 15, \"ok\": true, \"count\"[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":106,"method":"condenser_api.get_block","params":[424377]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000309393196427717'
      X-Jussi-Response-Time:
      - '0.08246783912181854'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_block
      X-Jussi-Params:
      - "[424377]"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"previous":"000679b8ca84a49ff305bca87b5940a67390eac8","timestamp":"2016-04-08T15:18:00","witness":"coldstorage20","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"1f330401100b39841f91e44976dd163f5fce4d0bb2c066c15c83ea1490ae91465442dace00a0f30afe4763816be0962f913a37ddd91d101ff1fd4c2a427b04d545","transactions":[],"block_id":"000679b94f18e9d523d84b7228928ce8526f2b55","signing_key":"STM7hKj2K3uyk4DwF8cLJiw14KsHYLgAUDi4n4ckrneL5geenuYjX","transaction_ids":[]},"id":106}'
  recorded_at: Sat, 07 Nov 2020 20:16:24 GMT
- request:
    method: post
    uri: https://api.hivekings.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":49,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000811458547605234'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resul[...]
[...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":80,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":80,"jsonrpc":"2.0","result":[{"active":{"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]],"weight_threshold":1},"balance":"0.017
        HIVE","can_vote":true,"comment_count":0,"created":"2018-05-31T10:46:21","curation_rewards":0,"delayed_votes":[],"delegated_vesting_shares":"198556.066920
        VESTS","downvote_manabar":{"current_mana":"430852858679","last_update_time":1604780682},"guest_bloggers":[],"hbd_balance":"0.096
        HBD","hbd_last_interest_payment":"2020-10-22T19:24:24","hbd_seconds":"449005704","hbd_seconds_last_update":"2020-10-24T20:09:48","id":1025676,"json_metadata":"{\"nodes\":
        [\"https://api.pharesim.me\", \"https://hive.roelandp.nl\", \"https://rpc.ausbit.dev\",
        \"https://api.deathwing.me\", \"https://api.steemit.com\", \"https://api.c0ff33a.uk\",
        \"https://api.hive.blog\", \"http://anyx.io\", \"https://anyx.io\", \"https://api.openhive.network\",
        \"https://hive-api.arcange.eu\", \"https://rpc.ecency.com\", \"https://techcoderx.com\",
        \"https://steem.61bts.com\"], [...]
[...]
- request:
    method: post
    uri: https://api.deathwing.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":19,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000813429898619429'
    body:
      encoding: ASCII-8BIT
      string: [...]
[...]
- request:
    method: post
    uri: https://api.c0ff33a.uk/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":64,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000419941467516777'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[...]
[...]
- request:
    method: post
    uri: https://api.hive.blog/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":19,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000000450409429336'
      X-Jussi-Response-Time:
      - '0.001309867948293686'
      X-Jussi-Names[...]
[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":69,"method":"condenser_api.get_block","params":[424377]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000184934420611652'
      X-Jussi-Response-Time:
      - '0.08515890687704086'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_block
      X-Jussi-Params:
      - "[424377]"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"previous":"000679b8ca84a49ff305bca87b5940a67390eac8","timestamp":"2016-04-08T15:18:00","witness":"coldstorage20","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"1f330401100b39841f91e44976dd163f5fce4d0bb2c066c15c83ea1490ae91465442dace00a0f30afe4763816be0962f913a37ddd91d101ff1fd4c2a427b04d545","transactions":[],"block_id":"000679b94f18e9d523d84b7228928ce8526f2b55","signing_key":"STM7hKj2K3uyk4DwF8cLJiw14KsHYLgAUDi4n4ckrneL5geenuYjX","transaction_ids":[]},"id":69}'
  recorded_at: Sun, 08 Nov 2020 06:01:55 GMT
recorded_with: VCR 6.0.0
