---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["ned"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000723170428595477'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":497,"name":"ned","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7RyrKG8e3fUtPD2JH9AB8K1p7ypsLUDPMuiV1gtD4DbNuk6nBw",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6rHZiAKHZS19RSJuRmn3mdukj95AYgUNFCEgnm8jhZE3rcH72P",1]]},"memo_key":"STM6sUWU9dtss1N8m7tQfUt7PacNHACrt3jBZNtkYkMMBv3e4CH3p","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/encrypted-tbn0.gstatic.com\/images?q=tbn:ANd9GcTgUknIiTNArR2xcz4XCyIMDRdmjAJV3JdJb0VspRuVfyYwbjb7\",\"location\":\"Welcome
        to Steemit!\",\"name\":\"ned\",\"cover_image\":\"https:\/\/steemit.com\/images\/steemit.png\",\"website\":\"https:\/\/smt.steem.io\"}}","proxy":"","last_owner_update":"2017-03-02T00:20:39","last_account_update":"2018-02-28T19:34:39","created":"2016-03-31T14:21:45","mined":false,"recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":958,"can_vote":true,"voting_manabar":{"current_mana":"3688129255321180","last_update_time":1539801144},"voting_power":4389,"balance":"280190.128
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"5754.672 SBD","sbd_seconds":"4925110913661","sbd_seconds_last_update":"2018-11-01T21:33:09","sbd_last_interest_payment":"2018-10-22T23:49:03","savings_sbd_balance":"1249.949
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2017-01-01T19:19:27","savings_sbd_last_interest_payment":"2017-01-01T19:19:27","savings_withdraw_requests":0,"reward_sbd_balance":"1063.707
        SBD","reward_steem_balance":"6.001 STEEM","reward_vesting_balance":"8668635.913926
        VESTS","reward_vesting_steem":"4223.658 STEEM","vesting_shares":"3122975028.085982
        VESTS","delegated_vesting_shares":"0.000000 VESTS","received_vesting_shares":"12166.416166
        VESTS","vesting_withdraw_rate":"282571030.409516 VESTS","next_vesting_withdrawal":"2018-11-08T23:09:06","withdrawn":"565142060819032","to_withdraw":"3673423395323719","withdraw_routes":0,"curation_rewards":734763563,"posting_rewards":8661685,"proxied_vsf_votes":["106067775815213",0,0,0],"witnesses_voted_for":0,"last_post":"2018-11-01T20:41:51","last_root_post":"2018-11-01T20:41:51","last_vote_time":"2018-10-14T23:12:03","post_bandwidth":10000,"pending_claimed_accounts":0,"vesting_balance":"0.000
        STEEM","reputation":"91046600629636","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Sat, 03 Nov 2018 18:05:57 GMT
recorded_with: VCR 3.0.3
