---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["ned"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000237234817615023'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":497,"name":"ned","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7RyrKG8e3fUtPD2JH9AB8K1p7ypsLUDPMuiV1gtD4DbNuk6nBw",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6rHZiAKHZS19RSJuRmn3mdukj95AYgUNFCEgnm8jhZE3rcH72P",1]]},"memo_key":"STM6sUWU9dtss1N8m7tQfUt7PacNHACrt3jBZNtkYkMMBv3e4CH3p","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/encrypted-tbn0.gstatic.com\/images?q=tbn:ANd9GcTgUknIiTNArR2xcz4XCyIMDRdmjAJV3JdJb0VspRuVfyYwbjb7\",\"location\":\"Welcome
        to Steemit!\",\"name\":\"ned\",\"cover_image\":\"https:\/\/steemit.com\/images\/steemit.png\",\"website\":\"https:\/\/smt.steem.io\"}}","proxy":"","last_owner_update":"2017-03-02T00:20:39","last_account_update":"2018-02-28T19:34:39","created":"2016-03-31T14:21:45","mined":false,"recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":821,"can_vote":true,"voting_power":9800,"last_vote_time":"2018-05-19T00:13:51","balance":"111873.074
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"5753.485 SBD","sbd_seconds":"6742605510912","sbd_seconds_last_update":"2018-05-19T18:51:57","sbd_last_interest_payment":"2018-05-06T05:19:57","savings_sbd_balance":"1249.949
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2017-01-01T19:19:27","savings_sbd_last_interest_payment":"2017-01-01T19:19:27","savings_withdraw_requests":0,"reward_sbd_balance":"1057.138
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"8314138.255834
        VESTS","reward_vesting_steem":"4048.875 STEEM","vesting_shares":"7344140982.676874
        VESTS","delegated_vesting_shares":"3504315670.475684 VESTS","received_vesting_shares":"2054.450000
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":734600440,"posting_rewards":8640693,"proxied_vsf_votes":["120705358333871",0,0,0],"witnesses_voted_for":0,"last_post":"2018-05-17T21:29:30","last_root_post":"2018-05-15T15:48:27","average_bandwidth":"14831123033","lifetime_bandwidth":"3823956000000","last_bandwidth_update":"2018-05-19T00:13:51","average_market_bandwidth":2599317261,"lifetime_market_bandwidth":"118810000000","last_market_bandwidth_update":"2018-01-29T03:31:21","vesting_balance":"0.000
        STEEM","reputation":"82844769994013","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Sat, 19 May 2018 20:57:52 GMT
recorded_with: VCR 3.0.3
