---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"block_api.get_block","params":{"block_num":424377},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000559810912792461'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"block":{"previous":"000679b8ca84a49ff305bca87b5940a67390eac8","timestamp":"2016-04-08T15:18:00","witness":"coldstorage20","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"1f330401100b39841f91e44976dd163f5fce4d0bb2c066c15c83ea1490ae91465442dace00a0f30afe4763816be0962f913a37ddd91d101ff1fd4c2a427b04d545","transactions":[],"block_id":"000679b94f18e9d523d84b7228928ce8526f2b55","signing_key":"STM7hKj2K3uyk4DwF8cLJiw14KsHYLgAUDi4n4ckrneL5geenuYjX","transaction_ids":[]}},"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:42:06 GMT
recorded_with: VCR 3.0.3
