---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_accounts",[["ned"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000628701854460384'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"result":[{"id":497,"name":"ned","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7RyrKG8e3fUtPD2JH9AB8K1p7ypsLUDPMuiV1gtD4DbNuk6nBw",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6rHZiAKHZS19RSJuRmn3mdukj95AYgUNFCEgnm8jhZE3rcH72P",1]]},"memo_key":"STM6sUWU9dtss1N8m7tQfUt7PacNHACrt3jBZNtkYkMMBv3e4CH3p","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/pbs.twimg.com\/profile_images\/915596048428621825\/_nuXsMTT.jpg\",\"location\":\"Welcome
        to Steemit!\",\"name\":\"ned\",\"cover_image\":\"https:\/\/steemit.com\/images\/steemit.png\",\"website\":\"https:\/\/smt.steem.io\"}}","proxy":"","last_owner_update":"2017-03-02T00:20:39","last_account_update":"2018-01-25T22:26:24","created":"2016-03-31T14:21:45","mined":false,"owner_challenged":false,"active_challenged":false,"last_owner_proved":"1970-01-01T00:00:00","last_active_proved":"1970-01-01T00:00:00","recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":769,"can_vote":true,"voting_power":9800,"last_vote_time":"2018-02-15T22:02:00","balance":"111865.318
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"5750.455 SBD","sbd_seconds":"7649671034025","sbd_seconds_last_update":"2018-02-16T07:13:24","sbd_last_interest_payment":"2018-01-31T21:41:27","savings_sbd_balance":"1249.949
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2017-01-01T19:19:27","savings_sbd_last_interest_payment":"2017-01-01T19:19:27","savings_withdraw_requests":0,"reward_sbd_balance":"779.842
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"8059414.062519
        VESTS","reward_vesting_steem":"3923.910 STEEM","vesting_shares":"7344140982.676874
        VESTS","delegated_vesting_shares":"3503931129.233783 VESTS","received_vesting_shares":"0.000000
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":734554333,"posting_rewards":8482989,"proxied_vsf_votes":["121340024619230",0,0,0],"witnesses_voted_for":0,"average_bandwidth":"26839667794","lifetime_bandwidth":"3771886000000","last_bandwidth_update":"2018-02-15T22:02:12","average_market_bandwidth":2599317261,"lifetime_market_bandwidth":"118810000000","last_market_bandwidth_update":"2018-01-29T03:31:21","last_post":"2018-02-14T19:44:06","last_root_post":"2017-11-08T00:11:30","vesting_balance":"0.000
        STEEM","reputation":"78847486991686","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}]}'
  recorded_at: Sun, 18 Feb 2018 04:35:46 GMT
recorded_with: VCR 3.0.3
