---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":91,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Jussi-Request-Id:
      - '000385188691788953'
    body:
      encoding: ASCII-8BIT
      string: '{"id":91,"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\", \"https:\/\/api.hive.blog\",
        \"https:\/\/hive-api.arcange.eu\", \"https:\/\/api.pharesim.me\", \"https:\/\/anyx.io\",
        \"https:\/\/api.steemit.com\", \"https:\/\/api.deathwing.me\", \"https:\/\/api.openhive.network\",
        \"http:\/\/anyx.io\", \"https:\/\/steem.61bts.com\"], \"failing_nodes\": {\"https:\/\/steem.bts.tw\":
        \"NumRetriesReached\"}, \"report\": [{\"node\": \"https:\/\/api.hive.blog\",
        \"version\": \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 11, \"ok\":
        true, \"count\": 194, \"time\": 30.46}, \"history\": {\"rank\": 9, \"ok\":
        true, \"count\": 8586, \"time\": 15.05}, \"apicall\": {\"rank\": 4, \"ok\":
        true, \"time\": 1.11, \"access_time\": 0.215}, \"config\": {\"rank\": 4, \"ok\":
        true, \"time\": 0.34, \"access_time\": 0.11}, \"block_diff\": {\"rank\": 3,
        \"ok\": true, \"head_delay\": 2.69, \"diff_head_irreversible\": 17.0, \"time\":
        18.76}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\", \"hive\":
        true, \"block\": {\"rank\": 16, \"ok\": true, \"count\": 115, \"time\": 30.01},
        \"history\": {\"rank\": 12, \"ok\": true, \"count\": 7576, \"time\": 15.1},
        \"apicall\": {\"rank\": 5, \"ok\": true, \"time\": 1.18, \"access_time\":
        0.251}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.67, \"access_time\":
        0.11}, \"block_diff\": {\"rank\": -1, \"ok\": false, \"error\": \"output:
        {} of identifier 47864187\", \"head_delay\": 0.0, \"diff_head_irreversible\":
        0.0, \"time\": 0.77}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        143, \"time\": 30.06}, \"history\": {\"rank\": 11, \"ok\": true, \"count\":
        7980, \"time\": 15.04}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"@manoldonchev\/why-so-cereal\", \"time\": 1.01, [...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":92,"method":"condenser_api.get_accounts","params":[["ned"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000402184106510219'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":497,"name":"ned","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM81Ft8iwQk7M8vYgQgri23HHPafcJji58Jy9ubu372ZYNLwpmC3",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM739EcxvhQRrWQZtHJmBqwF1DxNwnaTAxwzQrQov7N642zmW34J",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM8dvbzCXcVk3kn4Ps58ioVS1qRBb9Hgg2V737pMAZ2NHiN6XQiF",1]]},"memo_key":"STM7VSfc1GcHND9ihAd6xxLFoqtJk8Ynhwi5dd2mFS2bAFthvGQg3","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/cdn.steemitimages.com\/DQmTnCCqNRTrCtaXNF9xYa7RNtP4DEnoxg47WXjinUiAzoi\/IMG_9261.jpg\",\"location\":\"Welcome
        to Steemit!\",\"name\":\"ned\",\"cover_image\":\"https:\/\/steemit.com\/images\/steemit.png\",\"website\":\"https:\/\/smt.steem.io\"}}","posting_json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/encrypted-tbn0.gstatic.com\/images?q=tbn:ANd9GcTgUknIiTNArR2xcz4XCyIMDRdmjAJV3JdJb0VspRuVfyYwbjb7\",\"location\":\"Welcome
        to Steemit!\",\"name\":\"ned\",\"cover_image\":\"https:\/\/steemit.com\/images\/steemit.png\",\"website\":\"https:\/\/smt.steem.io\"}}","proxy":"","last_owner_update":"2020-01-24T04:37:09","last_account_update":"2020-02-16T02:38:27","created":"2016-03-31T14:21:45","mined":false,"recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":1040,"can_vote":true,"voting_manabar":{"current_mana":"23383848981693","last_update_time":1590183048},"downvote_manabar":{"current_mana":"5845962245423","last_update_time":1590183048},"voting_power":0,"balance":"13.530
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"6823.211 SBD","sbd_seconds":"0","sbd_seconds_last_update":"2020-02-14T22:14:12","sbd_last_interest_payment":"2020-02-14T22:14:12","savings_sbd_balance":"1249.949
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2017-01-01T19:19:27","savings_sbd_last_interest_payment":"2017-01-01T19:19:27","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"3162.928310
        VESTS","reward_vesting_steem":"1.614 STEEM","vesting_shares":"23383848.981693
        VESTS","delegated_vesting_shares":"0.000000 VESTS","received_vesting_shares":"0.000000
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":"3673423395323719","to_withdraw":"3673423395323719","withdraw_routes":0,"curation_rewards":734765434,"posting_rewards":8682597,"proxied_vsf_votes":["9900390092",0,0,0],"witnesses_voted_for":0,"last_post":"2020-04-15T06:49:03","last_root_post":"2020-04-15T06:49:03","last_vote_time":"2020-04-18T06:13:54","post_bandwidth":10000,"pending_claimed_accounts":0,"vesting_balance":"0.000
        STEEM","reputation":"94618884951942","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":92}'
  recorded_at: Sat, 17 Oct 2020 04:08:05 GMT
[...]
- request:
    method: post
    uri: https://steemd.minnowsupportproject.org/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":81,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body>\r\n<center><h1>502
        Bad Gateway</h1></center>\r\n<hr><center>nginx/1.17.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 17 Oct 2020 04:13:42 GMT
[...]
- request:
    method: post
    uri: https://steem.bts.tw/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":79,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body>\r\n<center><h1>403
        Forbidden</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 17 Oct 2020 04:18:56 GMT
[...]
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":87,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Juss[...]
[...]
