---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["ned"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000085634991672875'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":497,"name":"ned","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7RyrKG8e3fUtPD2JH9AB8K1p7ypsLUDPMuiV1gtD4DbNuk6nBw",1]]},"posting":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6rHZiAKHZS19RSJuRmn3mdukj95AYgUNFCEgnm8jhZE3rcH72P",1]]},"memo_key":"STM6sUWU9dtss1N8m7tQfUt7PacNHACrt3jBZNtkYkMMBv3e4CH3p","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/encrypted-tbn0.gstatic.com\/images?q=tbn:ANd9GcTgUknIiTNArR2xcz4XCyIMDRdmjAJV3JdJb0VspRuVfyYwbjb7\",\"location\":\"Welcome
        to Steemit!\",\"name\":\"ned\",\"cover_image\":\"https:\/\/steemit.com\/images\/steemit.png\",\"website\":\"https:\/\/smt.steem.io\"}}","proxy":"","last_owner_update":"2017-03-02T00:20:39","last_account_update":"2018-02-28T19:34:39","created":"2016-03-31T14:21:45","mined":false,"recovery_account":"steem","last_account_recovery":"1970-01-01T00:00:00","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":1025,"can_vote":true,"voting_manabar":{"current_mana":"14413612807754","last_update_time":1548473499},"voting_power":9799,"balance":"4.335
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"5754.790 SBD","sbd_seconds":"0","sbd_seconds_last_update":"2019-02-20T09:30:39","sbd_last_interest_payment":"2019-02-20T09:30:39","savings_sbd_balance":"1249.949
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2017-01-01T19:19:27","savings_sbd_last_interest_payment":"2017-01-01T19:19:27","savings_withdraw_requests":0,"reward_sbd_balance":"1066.445
        SBD","reward_steem_balance":"8.810 STEEM","reward_vesting_balance":"8690155.400398
        VESTS","reward_vesting_steem":"4234.375 STEEM","vesting_shares":"14693693.581295
        VESTS","delegated_vesting_shares":"0.000000 VESTS","received_vesting_shares":"14157.811428
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":"3673423395323719","to_withdraw":"3673423395323719","withdraw_routes":0,"curation_rewards":734763820,"posting_rewards":8682597,"proxied_vsf_votes":["107724019110780",0,0,0],"witnesses_voted_for":0,"last_post":"2019-03-22T02:07:48","last_root_post":"2019-01-16T16:37:42","last_vote_time":"2019-01-26T03:31:39","post_bandwidth":10000,"pending_claimed_accounts":0,"vesting_balance":"0.000
        STEEM","reputation":"96329951618595","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":[],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Thu, 23 May 2019 01:25:02 GMT
recorded_with: VCR 4.0.0
