---
http_interactions:
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":11,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001020298258997811'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/api.pharesim.me\", \"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\",
        \"https:\/\/api.deathwing.me\", \"https:\/\/api.hive.blog\", \"https:\/\/api.c0ff33a.uk\",
        \"https:\/\/api.openhive.network\", \"https:\/\/api.steemit.com\", \"https:\/\/hive-api.arcange.eu\",
        \"https:\/\/hived.privex.io\", \"https:\/\/rpc.ecency.com\", \"http:\/\/anyx.io\",
        \"https:\/\/anyx.io\", \"https:\/\/techcoderx.com\", \"https:\/\/steem.61bts.com\"],
        \"failing_nodes\": {\"https:\/\/steem.bts.tw\": \"NumRetriesReached\"}, \"report\":
        [{\"node\": \"https:\/\/api.hive.blog\", \"version\": \"1.24.6\", \"hive\":
        true, \"block\": {\"rank\": 12, \"ok\": true, \"count\": 196, \"time\": 30.61},
        \"history\": {\"rank\": 10, \"ok\": true, \"count\": 11901, \"time\": 15.01},
        \"apicall\": {\"rank\": 4, \"ok\": true, \"time\": 1.01, \"access_time\":
        0.181}, \"config\": {\"rank\": 4, \"ok\": true, \"time\": 0.31, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 4, \"ok\": true, \"head_delay\": 5.32, \"diff_head_irreversible\":
        18.0, \"time\": 17.66}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\",
        \"hive\": true, \"block\": {\"rank\": 15, \"ok\": true, \"count\": 146, \"time\":
        30.01}, \"history\": {\"rank\": 17, \"ok\": true, \"count\": 7273, \"time\":
        15.06}, \"apicall\": {\"rank\": 8, \"ok\": true, \"time\": 1.42, \"access_time\":
        0.336}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.59, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 12, \"ok\": true, \"head_delay\": 9.24, \"diff_head_irreversible\":
        20.0, \"time\": 17.52}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        175, \"time\": 30.05}, \"history\": {\"rank\": 14, \"ok\": true, \"count\":
        8401, \"time\": 15.03}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"Assert Exception:api_itr != _registered_apis.end(): Could not find API bridge\",
        \"time\": 1.02, \"access_time\": 30.0}, \"config\": {\"rank\": 6, \"ok\":
        true, \"time\": 1.0, \"access_time\": 0.16}, \"block_diff\": {\"rank\": 7,
        \"ok\": true, \"head_delay\": 3.58, \"diff_head_irreversible\": 19.0, \"time\":
        18.87}}, {\"node\": \"https:\/\/api.openhive.network\", \"version\": \"1.24.6\",
        \"hive\": true, \"block\": {\"rank\": 16, \"ok\": true, \"[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":12,"method":"condenser_api.get_content","params":["inertia","kinda-spooky"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000232712686760476'
      X-Jussi-Response-Time:
      - '0.10002215951681137'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_content
      X-Jussi-Params:
      - "['inertia', 'kinda-spooky']"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"author":"inertia","permlink":"kinda-spooky","category":"governance","title":"Kinda
        Spooky","body":"Late Monday night (pacific), we were observing the hardfork
        witness majority ...\n\n![](https:\/\/steemitimages.com\/DQmejoQtUkGCt6ZePSrbxmu5ydbFVB3MZzSkxz312Cj94Z3\/image.png)\n\nAt
        the time, the witnesses had not quite reached 17 of 20 adoption, required
        for the blockchain to consider it a majority.\n\nEarly yesterday (also pacific
        time shown), 0.19.2 finally had a majority (20 days after release).\n\n![](https:\/\/steemitimages.co[...]
- request:
    method: post
    uri: https://api.hive.blog/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":100,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000475679875604462'
      X-Jussi-Response-Time:
      - '0.0017507635056972504'
      X-Jussi-Nam[...]
[...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":110,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":110,"jsonrpc":"2.0","result":[{"active":{"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]],"weight_threshold":1},"balance":"0.017
        HIVE","can_vote":true,"comment_count":0,"created":"2018-05-31T10:46:21","curation_rewards":0,"delayed_votes":[],"delegated_vesting_shares":"198556.066920
        VESTS","downvote_manabar":{"current_mana":"430852858679","last_update_time":1604777934},"guest_bloggers":[],"hbd_balance":"0.096
        HBD","hbd_last_interest_payment":"2020-10-22T19:24:24","hbd_seconds":"449005704","hbd_seconds_last_update":"2020-10-24T20:09:48","id":1025676,"json_metadata":"{\"nodes\":
        [\"https://rpc.ausbit.dev\", \"https://api.pharesim.me\", \"https://hive.roelandp.nl\",
        \"https://api.deathwing.me\", \"https://rpc.ecency.com\", \"https://hive-api.arcange.eu\",
        \"https://api.steemit.com\", \"https://api.hive.blog\", \"https://hived.privex.io\",
        \"https://api.c0ff33a.uk\", \"https://api.openhive.network\", \"https://techcoderx.com\",
        \"http://anyx.io\", \"https://anyx.io\", \[...]
[...]
- request:
    method: post
    uri: https://rpc.esteem.app/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":119,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Jussi-Request-Id:
      - '001092038334690813'
    body:
      encoding: ASCII-8BIT
      string: '{"id":119,"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]][...]
[...]
- request:
    method: post
    uri: https://api.pharesim.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":52,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000222679948864452'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result"[...]
[...]
- request:
    method: post
    uri: https://hive.roelandp.nl/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":74,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000383955294609929'
    body:
      encoding: ASCII-8BIT
      string: [...]
[...]
- request:
    method: post
    uri: https://api.deathwing.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":82,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000056077605881001'
    body:
      encoding: ASCII-8BIT
      string: [...]
[...]
- request:
    method: post
    uri: https://api.c0ff33a.uk/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":80,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000932205315431811'
    body:
      encoding: ASCII-8BIT
      string: '{[...]
[...]
- request:
    method: post
    uri: https://hived.privex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":5,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000521219737516907'
      X-Hp-Svr:
      - privex
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","cond[...]
[...]
- request:
    method: post
    uri: https://rpc.ecency.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":8,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000388462163632084'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[[...]
[...]
- request:
    method: post
    uri: https://hive-api.arcange.eu/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":16,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000649428578470525'
      Proxy-Connection:
      - keep-alive
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","[...]
[...]
- request:
    method: post
    uri: https://api.hivekings.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":20,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000329667966273646'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resul[...]
[...]
- request:
    method: post
    uri: https://techcoderx.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":79,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000600029464885430'
    body:
      encoding: ASCII-8BIT
      string: '{[...]
[...]
