---
http_interactions:
- request:
    method: post
    uri: https://steemd.minnowsupportproject.org/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":76,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body>\r\n<center><h1>502
        Bad Gateway</h1></center>\r\n<hr><center>nginx/1.17.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 17 Oct 2020 04:07:54 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":77,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000461777422927562'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\", \"https:\/\/api.hive.blog\",
        \"https:\/\/hive-api.arcange.eu\", \"https:\/\/api.pharesim.me\", \"https:\/\/anyx.io\",
        \"https:\/\/api.steemit.com\", \"https:\/\/api.deathwing.me\", \"https:\/\/api.openhive.network\",
        \"http:\/\/anyx.io\", \"https:\/\/steem.61bts.com\"], \"failing_nodes\": {\"https:\/\/steem.bts.tw\":
        \"NumRetriesReached\"}, \"report\": [{\"node\": \"https:\/\/api.hive.blog\",
        \"version\": \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 11, \"ok\":
        true, \"count\": 194, \"time\": 30.46}, \"history\": {\"rank\": 9, \"ok\":
        true, \"count\": 8586, \"time\": 15.05}, \"apicall\": {\"rank\": 4, \"ok\":
        true, \"time\": 1.11, \"access_time\": 0.215}, \"config\": {\"rank\": 4, \"ok\":
        true, \"time\": 0.34, \"access_time\": 0.11}, \"block_diff\": {\"rank\": 3,
        \"ok\": true, \"head_delay\": 2.69, \"diff_head_irreversible\": 17.0, \"time\":
        18.76}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\", \"hive\":
        true, \"block\": {\"rank\": 16, \"ok\": true, \"count\": 115, \"time\": 30.01},
        \"history\": {\"rank\": 12, \"ok\": true, \"count\": 7576, \"time\": 15.1},
        \"apicall\": {\"rank\": 5, \"ok\": true, \"time\": 1.18, \"access_time\":
        0.251}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.67, \"access_time\":
        0.11}, \"block_diff\": {\"rank\": -1, \"ok\": false, \"error\": \"output:
        {} of identifier 47864187\", \"head_delay\": 0.0, \"diff_head_irreversible\":
        0.0, \"time\": 0.77}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.4\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        143, \"time\": 30.06}, \"history\": {\"rank\": 11, \"ok\": true, \"count\":
        7980, \"time\": 15.04}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"@manoldonchev\/why-so-cereal\", \"time\": 1.01, [...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":78,"method":"condenser_api.get_block","params":[424377]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000053183745561217'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"previous":"000679b8ca84a49ff305bca87b5940a67390eac8","timestamp":"2016-04-08T15:18:00","witness":"coldstorage20","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"1f330401100b39841f91e44976dd163f5fce4d0bb2c066c15c83ea1490ae91465442dace00a0f30afe4763816be0962f913a37ddd91d101ff1fd4c2a427b04d545","transactions":[],"block_id":"000679b94f18e9d523d84b7228928ce8526f2b55","signing_key":"STM7hKj2K3uyk4DwF8cLJiw14KsHYLgAUDi4n4ckrneL5geenuYjX","transaction_ids":[]},"id":78}'
  recorded_at: Sat, 17 Oct 2020 04:07:55 GMT
- request:
    method: post
    uri: https://steem.bts.tw/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":43,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body>\r\n<center><h1>403
        Forbidden</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 17 Oct 2020 04:09:06 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":44,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Jussi-Request-Id:
      - '001022030746192646'
    body:
      encoding: ASCII-8BIT
      string: '{"id":44,"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]}[...]
[...]
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":38,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000191542658552007'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":["acc[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":22,"method":"condenser_api.get_block","params":[424377]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000741426118380815'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"previous":"000679b8ca84a49ff305bca87b5940a67390eac8","timestamp":"2016-04-08T15:18:00","witness":"coldstorage20","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"1f330401100b39841f91e44976dd163f5fce4d0bb2c066c15c83ea1490ae91465442dace00a0f30afe4763816be0962f913a37ddd91d101ff1fd4c2a427b04d545","transactions":[],"block_id":"000679b94f18e9d523d84b7228928ce8526f2b55","signing_key":"STM7hKj2K3uyk4DwF8cLJiw14KsHYLgAUDi4n4ckrneL5geenuYjX","transaction_ids":[]},"id":22}'
  recorded_at: Sat, 17 Oct 2020 05:03:00 GMT
recorded_with: VCR 6.0.0
