---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_followers","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - dc6c2b8f-ba86-49ae-9e71-ad06d195d94f
      X-Jussi-Request-Id:
      - e738acb49b5e96873b55642882044518
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"dc6c2b8f-ba86-49ae-9e71-ad06d195d94f","jussi_request_id":"e738acb49b5e96873b55642882044518"}}}'
  recorded_at: Sun, 10 May 2026 21:14:05 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_blog_authors","params":{},"id":10}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 2ce83c01-8c47-4f4f-93c3-8498ccdd8abb
      X-Jussi-Request-Id:
      - 3cca305d3aa5ec2ad25389fc7e89f6bb
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":10,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"2ce83c01-8c47-4f4f-93c3-8498ccdd8abb","jussi_request_id":"3cca305d3aa5ec2ad25389fc7e89f6bb"}}}'
  recorded_at: Sun, 10 May 2026 21:14:06 GMT
recorded_with: VCR 6.4.0
