---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":{"account":"inertia","start":null,"type":"blog","limit":100},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000340850221003406'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"following":[{"follower":"inertia","following":"aaronkoenig","what":["blog"]},{"follower":"inertia","following":"abarefootpoet","what":["blog"]},{"follower":"inertia","following":"abit","what":["blog"]},{"follower":"inertia","following":"ackza","what":["blog"]},{"follower":"inertia","following":"adept","what":["blog"]},{"follower":"inertia","following":"agoric.systems","what":["blog"]},{"follower":"inertia","following":"alexbeyman","what":["blog"]},{"follower":"inertia","following":"alexgr","what":["blog"]},{"follower":"inertia","following":"alexoz","what":["blo[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_following","params":{"account":"inertia","start":"zymer","type":"blog","limit":100},"id":6}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000543329702294241'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"following":[{"follower":"inertia","following":"zymer","what":["blog"]}]},"id":6}'
  recorded_at: Sat, 19 May 2018 20:57:55 GMT
recorded_with: VCR 3.0.3
