---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["follow_api","get_followers",["inertia",null,"blog",1000]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Urn:
      - steemd.follow_api.get_followers.params=['inertia',None,'blog',1000]
      X-Jussi-Response-Id:
      - sc1d7c5f5-bab6-495d-a090-b3efcf2011b8->de41e292-e95a-4449-8888-022796758b79
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"follower":"a-3","following":"inertia","what":["blog"]},{"follower":"a-a-a","following":"inertia","what":["blog"]},{"follower":"a-a-a-a","following":"inertia","what":["blog"]},{"follower":"a-a-lifemix","following":"inertia","what":["blog"]},{"follower":"a-alice","following":"inertia","what":["blog"]},{"follower":"a-angel","following":"inertia","what":["blog"]},{"follower":"a11at","following":"inertia","what":["blog"]},{"follower":"a4illusionist","following":"inertia","what":["blog"]},{"follower":"aadyashakti","following":"inertia","what":["[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["follow_api","get_followers",["inertia","zusteemit","blog",1000]],"id":4,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Urn:
      - steemd.follow_api.get_followers.params=['inertia','zusteemit','blog',1000]
      X-Jussi-Response-Id:
      - s41fb7b48-22b0-4033-bbae-12908e518f4a->5173fd7c-e17f-49ec-bda0-a6a73a9d10cc
    body:
      encoding: UTF-8
      string: '{"result":[{"follower":"zusteemit","following":"inertia","what":["blog"]}],"id":4}'
  recorded_at: Wed, 08 Nov 2017 02:15:35 GMT
recorded_with: VCR 3.0.3
