---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000106662102559064'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.324
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"0.322 SBD","quote":"1.000
        STEEM"},{"base":"0.321 SBD","quote":"1.000 STEEM"},{"base":"0.322 SBD","quote":"1.000
        STEEM"},{"base":"0.319 SBD","quote":"1.000 STEEM"},{"base":"0.319 SBD","quote":"1.000
        STEEM"},{"base":"0.323 SBD","quote":"1.000 STEEM"},{"base":"0.322 SBD","quote":"1.000
        STEEM"},{"base":"0.320 SBD","quote":"1.000 STEEM"},{"base":"0.322 SBD","quote":"1.000
        STEEM"},{"base":"0.322 SBD","quote":"1.000 STEEM"},{"base":"0.321 SBD","quote":"[...]
