---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_market_history_buckets",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s89c1e435-93fa-49df-bf23-18cf15470057->b1856d66-19fb-4a8d-979f-1200559201b7
    body:
      encoding: UTF-8
      string: '{"result":[15,60,300,3600,86400],"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:07 GMT
recorded_with: VCR 3.0.3
