---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_volume","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000946503278359748'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"steem_volume":["2029641",3,"@@000000021"],"sbd_volume":["2831476",3,"@@000000013"]},"id":1}'
  recorded_at: Sat, 19 May 2018 20:55:35 GMT
recorded_with: VCR 3.0.3
