---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_order_book","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000907979158453141'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":{"amount":"5073","precision":3,"nai":"@@000000013"},"quote":{"amount":"14680","precision":3,"nai":"@@000000021"}},"real_price":"0.34557220708446867","steem":14680,"sbd":5073,"created":"2019-02-19T19:57:42"},{"order_price":{"base":{"amount":"12146","precision":3,"nai":"@@000000013"},"quote":{"amount":"35149","precision":3,"nai":"@@000000021"}},"real_price":"0.34555748385444823","steem":29317,"sbd":10131,"created":"2019-02-19T19:54:03"},{"order_price":{"base":{"amount":"157000","precision":3,"nai":"@@000000013"},"quote":{"amount":"454345","precision":3,"nai":"@@000000021"}},"real_price":"0.34555238860337406","steem":266992,"sbd":92260,"created":"2019-02-19T19:37:51"},{"order_pr[...]
