---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":55,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000590941456517703'
    body:
      encoding: ASCII-8BIT
      string: '{"id":55,"jsonrpc":"2.0","result":{"head_block_number":48403721,"head_block_id":"02e295096897ef5b0b4a008e2f6f7a7732778895","time":"2020-11-07T19:33:30","current_witness":"symbionts","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"411540435.530
        STEEM","current_supply":"370827284.770 STEEM","confidential_supply":"0.000
        STEEM","init_sbd_supply":"0.000 SBD","current_sbd_supply":"5781267.408 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"110623820.683 STEEM","total_vesting_shares":"212264548247.718804
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"688898046.681557
        VESTS","pending_rewarded_vesting_steem":"347510.601 STEEM","sbd_interest_rate":0,"sbd_print_rate":1100,"maximum_block_size":65536,"required_actions_partition_percent":0,"current_aslot":48647470,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":48403705,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":300,"available_account_subsidies":17322174,"sbd_stop_percent":1000,"sbd_start_percent":900,"next_maintenance_time":"2020-11-07T19:43:33","last_budget_time":"2020-11-07T18:43:33","content_reward_percent":6500,"vesting_reward_percent":1500,"sps_fund_percent":1000,"sps_interval_ledger":"42.140
        SBD","downvote_pool_percent":2500}}'
  recorded_at: Sat, 07 Nov 2020 19:33:32 GMT
[...]
