---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_hardfork_version","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001009176899970672'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":"0.20.0","id":1}'
  recorded_at: Thu, 23 May 2019 01:24:57 GMT
recorded_with: VCR 4.0.0
