---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":59,"method":"condenser_api.get_accounts","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001027489790693843'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:args.size()
        == 1: Expected #s argument(s), was 0","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":854,"method":"get_accounts","hostname":"","timestamp":"2020-10-17T04:07:03"},"format":"args.size()
        == 1: Expected #s argument(s), was ${n}","data":{"n":0}}]}},"id":59}'
  recorded_at: Sat, 17 Oct 2020 04:07:03 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":98,"method":"condenser_api.get_accounts","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000163544895449836'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:args.size()
        == 1: Expected #s argument(s), was 0","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":854,"method":"get_accounts","hostname":"","timestamp":"2020-10-17T04:23:13"},"format":"args.size()
        == 1: Expected #s argument(s), was ${n}","data":{"n":0}}]}},"id":98}'
  recorded_at: Sat, 17 Oct 2020 04:23:13 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":80,"method":"condenser_api.get_accounts","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000893497094316558'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:args.size()
        == 1: Expected #s argument(s), was 0","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":854,"method":"get_accounts","hostname":"","timestamp":"2020-10-17T05:03:34"},"format":"args.size()
        == 1: Expected #s argument(s), was ${n}","data":{"n":0}}]}},"id":80}'
  recorded_at: Sat, 17 Oct 2020 05:03:34 GMT
recorded_with: VCR 6.0.0
