---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history_buckets","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000658527084783963'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"bucket_sizes":[15,60,300,3600,86400]},"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:42:10 GMT
recorded_with: VCR 3.0.3
