---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_order_book",[10]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s36eca2aa-1b97-4892-9af1-223cc2a10fcb->f3b40194-1546-4fc7-9a31-10d41a0c77e3
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"bids":[{"price":"0.96306640342851635","steem":145369,"sbd":140000},{"price":"0.95573741114628763","steem":64864,"sbd":61993},{"price":"0.95039188566159516","steem":21690,"sbd":20614},{"price":"0.94999999999999996","steem":5000,"sbd":4750},{"price":"0.94984802431610937","steem":5264,"sbd":5000},{"price":"0.94581280788177335","steem":203,"sbd":192},{"price":"0.94298765014379970","steem":5911,"sbd":5574},{"price":"0.94295302013422833","steem":298,"sbd":281},{"price":"0.93999999999999995","steem":100000,"sbd":94000},{"price":"0.93602693602693621","steem":297,"sbd":278}],"asks":[{"price":"0.96832203624291047","steem":144580,"sbd":140000},{"price":"0.96999999999999997","steem":36678,"sbd":35577},{"price":"0.97471783295711056","steem":2215,"sbd":2159},{"price":"0.97599999999999998","steem":1000,"sbd":976},{"price":"0.97699999999999998","steem":1000,"sbd":977},{"price":"0.97699999999999998","steem":1000,"sbd":977},{"price":"0.97799999999999998","steem":1000,"sbd":978},{"price":"0.97799999999999998","steem":1000,"sbd":978},{"price":"0.97799999999999998","steem":1000,"sbd":978},{"price":"0.97899999999999998","steem":1000,"sbd":979}]},"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:09:04 GMT
recorded_with: VCR 3.0.3
