---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["inertia"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000743226413819937'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":19155,"name":"inertia","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6Xi6tS8Pm9bZFZybUohLRe1EXPbaYpvKS9YAFc92MjWRnGjktX",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5KSmGafN8vC4ZnFzYH1aVxHjzJEGsoUAnBdKMEvfSQENDwNUy8",1]]},"posting":{"weight_threshold":1,"account_auths":[["booster",1],["dlive.app",1],["dmania.app",1],["dtube.app",1],["frontrunner",1],["steemprojectsapp",1],["utopian.app",1]],"key_auths":[["STM7JrkBaUNQkPrgPywm79t33oEkbCyxYmqstKv3MsH629zuFarJV",1]]},"memo_key":"STM6nRwREbxuMfSrjrZUbJNkDhRtg6TMTZe4oHfRzWqT9AuTrSq1d","json_metadata":"{\"git\":{\"radiator\":{\"https\":{\"type\":\"https\",\"name\":\"radiator\",\"value\":\"https:\/\/github.com\/inertia186\/radiator\",\"projecturl\":\"radiator\"}}},\"squeek\":{\"profilePicture\":\"https:\/\/img1.steemit.com\/0x0\/http:\/\/i.imgur.com\/LbTz5yg.jpg\"},\"version\":\"0.0.1\",\"profile\":{\"email\":\"steemit@martin-studio.com\",\"location\":\"California\",\"timezone\":\"-7\",\"locale\":\"en_US\",\"languages\":[\"en\"],\"profile_image\":\"http:\/\/i.imgur.com\/LbTz5yg.jpg\",\"cover_image\":\"https:\/\/i.imgur.com\/0ccC6UH.png\",\"name\":\"inertia
        \u24b6\u00b3\",\"about\":\"I can see the fnords.\"}}","proxy":"","last_owner_update":"2017-12-04T05:02:51","last_account_update":"2018-04-04T00:51:12","created":"2016-07-13T06:44:33","mined":false,"recovery_account":"steem","last_account_recovery":"2016-07-21T05:49:33","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":2976,"can_vote":true,"voting_power":9800,"last_vote_time":"2018-04-15T14:42:48","balance":"3366.612
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"10652.935 SBD","sbd_seconds":"16954400153271","sbd_seconds_last_update":"2018-04-15T16:07:12","sbd_last_interest_payment":"2018-03-26T05:13:48","savings_sbd_balance":"1560.000
        SBD","savings_sbd_seconds":"1865856672000","savings_sbd_seconds_last_update":"2017-12-15T19:21:21","savings_sbd_last_interest_payment":"2017-12-03T17:28:57","savings_withdraw_requests":0,"reward_sbd_balance":"0.709
        SBD","reward_steem_balance":"2.388 STEEM","reward_vesting_balance":"348155.239477
        VESTS","reward_vesting_steem":"170.710 STEEM","vesting_shares":"110001047.602949
        VESTS","delegated_vesting_shares":"21070862.866429 VESTS","received_vesting_shares":"3330387.374098
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":2895302,"posting_rewards":17913320,"proxied_vsf_votes":["1989676604906289","44557054052618",0,0],"witnesses_voted_for":30,"last_post":"2018-04-14T09:07:42","last_root_post":"2018-04-08T19:02:03","average_bandwidth":"15109281723","lifetime_bandwidth":"7485690000000","last_bandwidth_update":"2018-04-15T14:42:48","average_market_bandwidth":2959060431,"lifetime_market_bandwidth":"687690000000","last_market_bandwidth_update":"2018-04-07T16:59:18","vesting_balance":"0.000
        STEEM","reputation":"124559233425482","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":["aggroed","anyx","arcange","ausbitbank","blockbrothers","cervantes","emrebeyler","followbtcnews","furion","fyrst-witness","good-karma","gtg","helo","jerrybanfield","jesta","klye","netuoso","pfunk","pharesim","qurator","reggaemuffin","riverhead","roelandp","someguy123","steemgigs","teamsteem","thecryptodrive","themarkymark","utopian-io","yabapmatt"],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Sun, 15 Apr 2018 16:44:13 GMT
recorded_with: VCR 3.0.3
