---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_accounts",[["inertia"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000363023460597855'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"result":[{"id":19155,"name":"inertia","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6Xi6tS8Pm9bZFZybUohLRe1EXPbaYpvKS9YAFc92MjWRnGjktX",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5KSmGafN8vC4ZnFzYH1aVxHjzJEGsoUAnBdKMEvfSQENDwNUy8",1]]},"posting":{"weight_threshold":1,"account_auths":[["booster",1],["dmania.app",1],["frontrunner",1],["steemprojectsapp",1],["utopian.app",1]],"key_auths":[["STM7JrkBaUNQkPrgPywm79t33oEkbCyxYmqstKv3MsH629zuFarJV",1]]},"memo_key":"STM6nRwREbxuMfSrjrZUbJNkDhRtg6TMTZe4oHfRzWqT9AuTrSq1d","json_metadata":"{\"git\":{\"radiator\":{\"https\":{\"type\":\"https\",\"name\":\"radiator\",\"value\":\"https:\/\/github.com\/inertia186\/radiator\",\"projecturl\":\"radiator\"}}},\"squeek\":{\"profilePicture\":\"https:\/\/img1.steemit.com\/0x0\/http:\/\/i.imgur.com\/LbTz5yg.jpg\"},\"version\":\"0.0.1\",\"profile\":{\"email\":\"steemit@martin-studio.com\",\"location\":\"California\",\"timezone\":\"-7\",\"locale\":\"en_US\",\"languages\":[\"en\"],\"profile_image\":\"http:\/\/i.imgur.com\/LbTz5yg.jpg\",\"cover_image\":\"https:\/\/i.imgur.com\/0ccC6UH.png\",\"name\":\"inertia
        \u24b6\u00b3\",\"about\":\"I can see the fnords.\"}}","proxy":"","last_owner_update":"2017-12-04T05:02:51","last_account_update":"2018-02-03T20:48:00","created":"2016-07-13T06:44:33","mined":false,"owner_challenged":false,"active_challenged":false,"last_owner_proved":"1970-01-01T00:00:00","last_active_proved":"1970-01-01T00:00:00","recovery_account":"steem","last_account_recovery":"2016-07-21T05:49:33","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":2837,"can_vote":true,"voting_power":9787,"last_vote_time":"2018-02-18T02:30:21","balance":"4607.299
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"12825.638 SBD","sbd_seconds":"21015941984790","sbd_seconds_last_update":"2018-02-17T20:17:15","sbd_last_interest_payment":"2018-01-24T08:09:33","savings_sbd_balance":"1560.000
        SBD","savings_sbd_seconds":"1865856672000","savings_sbd_seconds_last_update":"2017-12-15T19:21:21","savings_sbd_last_interest_payment":"2017-12-03T17:28:57","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"376679.424927
        VESTS","reward_vesting_steem":"184.199 STEEM","vesting_shares":"102286009.014589
        VESTS","delegated_vesting_shares":"30476919.405288 VESTS","received_vesting_shares":"3330387.374098
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":2750344,"posting_rewards":17729299,"proxied_vsf_votes":["58967832634928","13341190851389",0,0],"witnesses_voted_for":29,"average_bandwidth":"37291063529","lifetime_bandwidth":"7303613000000","last_bandwidth_update":"2018-02-18T02:30:21","average_market_bandwidth":3039788888,"lifetime_market_bandwidth":"645480000000","last_market_bandwidth_update":"2018-02-15T23:55:45","last_post":"2018-02-18T02:29:57","last_root_post":"2018-02-16T23:33:39","vesting_balance":"0.000
        STEEM","reputation":"122327324649813","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":["aggroed","agoric.systems","anyx","arcange","ausbitbank","blockbrothers","cervantes","charlieshrem","drakos","followbtcnews","furion","fyrst-witness","gingerninja","good-karma","gtg","jerrybanfield","jesta","klye","netuoso","pfunk","pharesim","reggaemuffin","riverhead","roelandp","someguy123","steemgigs","teamsteem","thecryptodrive","themarkymark"],"tags_usage":[],"guest_bloggers":[]}]}'
  recorded_at: Sun, 18 Feb 2018 04:35:25 GMT
recorded_with: VCR 3.0.3
