---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_volume",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"steem_volume":"7704.155 STEEM","sbd_volume":"8096.382
        SBD"}}'
  recorded_at: Wed, 18 Oct 2017 06:49:03 GMT
recorded_with: VCR 3.0.3
