---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_recent_trades","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000055146182132964'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2019-02-19T19:59:03","current_pays":{"amount":"337","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"973","precision":3,"nai":"@@000000021"}},{"date":"2019-02-19T19:58:33","current_pays":{"amount":"54","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"155","precision":3,"nai":"@@000000021"}},{"date":"2019-02-19T19:57:21","current_pays":{"amount":"1564","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"4515","precision":3,"nai":"@@000000021"}},{"date":"2019-02-19T19:57:15","current_pays":{"amount":"773","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"2231","p[...]
