---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_volume","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000801474359804710'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"steem_volume":{"amount":"17815045","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"6111805","precision":3,"nai":"@@000000013"}},"id":1}'
  recorded_at: Tue, 19 Feb 2019 19:59:51 GMT
recorded_with: VCR 4.0.0
