---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":126,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_recent_trades"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000875591355377775'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":1000},"ret":{"trades":[]}},"id":126}'
  recorded_at: Sat, 17 Oct 2020 04:08:16 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":127,"method":"market_history_api.get_recent_trades","params":{"limit":10}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000487066076541556'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2020-10-17T04:03:18","current_pays":{"amount":"9","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"1","precision":3,"nai":"@@000000013"}},{"date":"2020-10-17T04:03:18","current_pays":{"amount":"550","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"89","precision":3,"nai":"@@000000013"}},{"date":"2020-10-17T04:02:54","current_pays":{"amount":"1098","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"6783","precision":3,"nai":"@@000000021"}},{"date":"2020-10-17T04:02:09","current_pays":{"amount":"2990","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"484","pre[...]
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":83,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_recent_trades"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000566299782477739'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":1000},"ret":{"trades":[]}},"id":83}'
  recorded_at: Sat, 17 Oct 2020 04:23:05 GMT
[...]
