---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":69,"method":"condenser_api.get_witness_by_account","params":[""]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000750434624041794'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":null,"id":69}'
  recorded_at: Sat, 17 Oct 2020 04:07:36 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":96,"method":"condenser_api.get_witness_by_account","params":[""]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000652567909346143'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":null,"id":96}'
  recorded_at: Sat, 17 Oct 2020 04:23:12 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":84,"method":"condenser_api.get_witness_by_account","params":[""]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000280470685268599'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":null,"id":84}'
  recorded_at: Sat, 17 Oct 2020 05:03:36 GMT
recorded_with: VCR 6.0.0
