---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["account_by_key_api","get_key_references",[["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s7fb8155c-d40e-4802-a41a-e302c9f54c13->da4d5c93-c459-449b-b72d-d1820252622b
    body:
      encoding: UTF-8
      string: '{"result":[["misterdelegation","ned","steem","steemit","steemit1","steemit2","steemit60","therealslimshady"]],"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:24 GMT
recorded_with: VCR 3.0.3
