---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_recent_trades","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000146495428307879'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2018-04-15T16:42:33","current_pays":["21862",3,"@@000000013"],"open_pays":["20073",3,"@@000000021"]},{"date":"2018-04-15T16:40:00","current_pays":["68",3,"@@000000013"],"open_pays":["62",3,"@@000000021"]},{"date":"2018-04-15T16:38:30","current_pays":["229",3,"@@000000013"],"open_pays":["210",3,"@@000000021"]},{"date":"2018-04-15T16:37:36","current_pays":["21441",3,"@@000000013"],"open_pays":["19686",3,"@@000000021"]},{"date":"2018-04-15T16:36:42","current_pays":["4922",3,"@@000000013"],"open_pays":["4520",3,"@@000000021"]},{"date":"2018-04-15T16:35:15","current_pays":["35",3,"@@000000021"],"open_pays":["38",3,"@@000000013"]},{"date":"2018-04-15T16:32:30","current_pays":["136",3,"@@000000013"],"open_pays":["124",3,"@@000000021"]},{"date":"2018-04-15T16:31:51","current_pays":["356",3,"@@000000021"],"open_pays":["388",3,"@@000000013"]},{"date":"2018-04-15T16:31:24","current_pays":["1019",3,"@@000000013"],"open_pays":["935",3,"@@000000021"]},{"date":"2018-04-15T16:30:42","current_pays":["8",3,"@@000000013"],"open_pays":["7",3,"@@000000021"]}]},"id":1}'
  recorded_at: Sun, 15 Apr 2018 16:43:52 GMT
recorded_with: VCR 3.0.3
