---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000761180437946199'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.803
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"0.769 SBD","quote":"1.000
        STEEM"},{"base":"0.768 SBD","quote":"1.000 STEEM"},{"base":"0.768 SBD","quote":"1.000
        STEEM"},{"base":"0.768 SBD","quote":"1.000 STEEM"},{"base":"0.782 SBD","quote":"1.000
        STEEM"},{"base":"0.800 SBD","quote":"1.000 STEEM"},{"base":"0.800 SBD","quote":"1.000
        STEEM"},{"base":"0.800 SBD","quote":"1.000 STEEM"},{"base":"0.799 SBD","quote":"1.000
        STEEM"},{"base":"0.794 SBD","quote":"1.000 STEEM"},{"base":"0.786 SBD","quote":"[...]
