---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000012703461470378'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"head_block_number":33145909,"head_block_id":"01f9c435257c1312390ce80b4235255d1b442527","time":"2019-05-23T01:24:51","current_witness":"good-karma","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"334938395.203
        STEEM","current_supply":"310718577.496 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"8864453.281 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"198696205.845 STEEM","total_vesting_shares":"396140405818.347689
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"668167461.106902
        VESTS","pending_rewarded_vesting_steem":"330770.533 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":33246497,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":33145887,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"sbd_stop_percent":1000,"sbd_start_percent":900},"id":1}'
  recorded_at: Thu, 23 May 2019 01:24:52 GMT
recorded_with: VCR 4.0.0
