---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_market_history_buckets",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000057101166003800'
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[15,60,300,3600,86400]}'
  recorded_at: Sun, 18 Feb 2018 04:35:48 GMT
recorded_with: VCR 3.0.3
