---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_count",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s4299b0c0-9ce0-47fa-b947-1f7d34b272e2->234ded50-b0cb-4d08-863d-08cd87a89c3e
    body:
      encoding: UTF-8
      string: '{"result":425389,"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:08:54 GMT
recorded_with: VCR 3.0.3
