---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_vesting_delegations",["minnowbooster",-1000,1000]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s6e39dcfa-44ba-49f4-ad9f-150bf024df2e->ab62cd7f-620d-4924-bda2-2a8a385c6220
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":122792,"delegator":"minnowbooster","delegatee":"agentsofmars","vesting_shares":"136500.000000
        VESTS","min_delegation_time":"2017-07-07T22:23:48"},{"id":302633,"delegator":"minnowbooster","delegatee":"alfajri78","vesting_shares":"771143.483357
        VESTS","min_delegation_time":"2017-10-23T20:39:30"},{"id":294191,"delegator":"minnowbooster","delegatee":"amvanaken","vesting_shares":"2285214.775803
        VESTS","min_delegation_time":"2017-10-19T04:37:12"},{"id":299696,"delegator":"minnowbooster","delegatee":"anadolu","vesting_shares":"1028295.775522
        VESTS","min_delegation_time":"2017-10-21T09:53:39"},{"id":[...]
