---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_order_book",[10]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000186080272361416'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"result":{"bids":[{"price":"0.83418367346938771","steem":392,"sbd":327},{"price":"0.83326591699700669","steem":12124,"sbd":10103},{"price":"0.83059551907772233","steem":84313,"sbd":70030},{"price":"0.83059401715689885","steem":63546,"sbd":52781},{"price":"0.83058765674944679","steem":47075,"sbd":39100},{"price":"0.83057137731533381","steem":87307,"sbd":72515},{"price":"0.83057062675397564","steem":53450,"sbd":44394},{"price":"0.83056478405315615","steem":2,"sbd":2},{"price":"0.83056478405315615","steem":1204,"sbd":1000},{"price":"0.83045977011494254","steem":696,"sbd":578}],"asks":[{"price":"0.83849494949494940","steem":99000,"sbd":83011},{"price":"0.83850000000000002","steem":982051,"sbd":823449},{"price":"0.83851915874387783","steem":8069,"sbd":6766},{"price":"0.83855077925224075","steem":7836,"sbd":6570},{"price":"0.83859999999999990","steem":20998,"sbd":17608},{"price":"0.83879988833436991","steem":198245,"sbd":166287},{"price":"0.83956000000000008","steem":50000,"sbd":41978},{"price":"0.83999943726171544","steem":71081,"sbd":59708},{"price":"0.84189962223421466","steem":21893,"sbd":18431},{"price":"0.84194298183198135","steem":6308,"sbd":5310}]}}'
  recorded_at: Sun, 18 Feb 2018 04:35:48 GMT
recorded_with: VCR 3.0.3
