---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_followers","params":{"account":"inertia","start":0,"type":"blog","limit":100},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 234ca2b6-6eed-475e-a453-e43e21bcf090
      X-Jussi-Request-Id:
      - f691b5e1de4c1ac8f0fc50ec6ed7ffc6
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"234ca2b6-6eed-475e-a453-e43e21bcf090","jussi_request_id":"f691b5e1de4c1ac8f0fc50ec6ed7ffc6"}}}'
  recorded_at: Sun, 10 May 2026 21:14:05 GMT
recorded_with: VCR 6.4.0
