---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_order_book",[10]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"bids":[{"price":"1.04166666666666674","steem":480,"sbd":500},{"price":"1.04115538500438776","steem":134466,"sbd":140000},{"price":"1.03699999999999992","steem":1000,"sbd":1037},{"price":"1.03600000000000003","steem":1000,"sbd":1036},{"price":"1.03600000000000003","steem":1000,"sbd":1036},{"price":"1.03600000000000003","steem":1000,"sbd":1036},{"price":"1.03499999999999992","steem":1000,"sbd":1035},{"price":"1.03499999999999992","steem":1000,"sbd":1035},{"price":"1.03499999999999992","steem":1000,"sbd":1035},{"price":"1.03499999999999992","steem":1000,"sbd":1035}],"asks":[{"price":"1.04663506825555830","steem":133762,"sbd":140000},{"price":"1.05974842767295585","steem":1590,"sbd":1685},{"price":"1.06849315068493156","steem":73,"sbd":78},{"price":"1.06940063091482651","steem":1585,"sbd":1695},{"price":"1.07099768314289201","steem":139413,"sbd":149311},{"price":"1.07472231571861321","steem":2971,"sbd":3193},{"price":"1.07509626809052783","steem":69857,"sbd":75103},{"price":"1.07600000000000007","steem":1000,"sbd":1076},{"price":"1.07699999999999996","steem":1000,"sbd":1077},{"price":"1.07699999999999996","steem":1000,"sbd":1077}]}}'
  recorded_at: Wed, 18 Oct 2017 06:49:02 GMT
recorded_with: VCR 3.0.3
