---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_volume","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.market_history_api.get_volume.params={}
      X-Jussi-Request-Id:
      - '000505635247371250'
    body:
      encoding: UTF-8
      string: '{"id":1,"jsonrpc":"2.0","result":{"steem_volume":["6024170",3,"@@000000021"],"sbd_volume":["6577578",3,"@@000000013"]}}'
  recorded_at: Sun, 15 Apr 2018 16:43:58 GMT
recorded_with: VCR 3.0.3
