---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[["inertia"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000057777866617139'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"result":{"id":0,"current_median_history":{"base":"4.300 SBD","quote":"1.000
        STEEM"},"price_history":[{"base":"4.206 SBD","quote":"1.000 STEEM"},{"base":"4.209
        SBD","quote":"1.000 STEEM"},{"base":"4.206 SBD","quote":"1.000 STEEM"},{"base":"4.198
        SBD","quote":"1.000 STEEM"},{"base":"4.187 SBD","quote":"1.000 STEEM"},{"base":"4.206
        SBD","quote":"1.000 STEEM"},{"base":"4.243 SBD","quote":"1.000 STEEM"},{"base":"4.328
        SBD","quote":"1.000 STEEM"},{"base":"4.349 SBD","quote":"1.000 STEEM"},{"base":"4.269
        SBD","quote":"1.000 STEEM"},{"base":"4.245 SBD","quote":"[...]
