---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_ticker","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001014649143743733'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"1.09578544061302674","lowest_ask":"1.08912038974736736","highest_bid":"1.08906138895472870","percent_change":"0.00000000000000000","steem_volume":["6023853",3,"@@000000021"],"sbd_volume":["6577233",3,"@@000000013"]},"id":1}'
  recorded_at: Sun, 15 Apr 2018 16:43:50 GMT
recorded_with: VCR 3.0.3
