---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Response-Id:
      - s09311e49-b787-43d3-b063-ee27c6d61066->96307042-5396-47d2-be88-1d6af7788c15
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":16615636,"head_block_id":"00fd88d497b9a446ab3cfbf372131e35b6cac671","time":"2017-10-24T16:59:03","current_witness":"aggroed","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"261701058.766
        STEEM","current_supply":"258176217.220 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3394422.409 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190713140.942 STEEM","total_vesting_shares":"392162151124.802635
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"377674815.018668
        VESTS","pending_rewarded_vesting_steem":"183074.120 STEEM","sbd_interest_rate":1,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":16676381,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":16615621,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":5945,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:31 GMT
recorded_with: VCR 3.0.3
