---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":47,"method":"condenser_api.get_vesting_delegations","params":["minnowbooster",-1000,1000]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000156545450777033'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[],"id":47}'
  recorded_at: Sat, 17 Oct 2020 04:07:02 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":103,"method":"condenser_api.get_vesting_delegations","params":["minnowbooster",-1000,1000]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000446741976841659'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[],"id":103}'
  recorded_at: Sat, 17 Oct 2020 04:23:15 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":76,"method":"condenser_api.get_vesting_delegations","params":["minnowbooster",-1000,1000]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000568438798076537'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[],"id":76}'
  recorded_at: Sat, 17 Oct 2020 05:03:32 GMT
recorded_with: VCR 6.0.0
