---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":6,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_recent_trades"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000343033572066621'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":1000},"ret":{"trades":[]}},"id":6}'
  recorded_at: Sat, 07 Nov 2020 19:44:17 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":7,"method":"market_history_api.get_recent_trades","params":{"limit":10}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000002890637611470'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2020-11-07T19:43:33","current_pays":{"amount":"58","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"381","precision":3,"nai":"@@000000021"}},{"date":"2020-11-07T19:36:39","current_pays":{"amount":"391","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"2574","precision":3,"nai":"@@000000021"}},{"date":"2020-11-07T19:30:30","current_pays":{"amount":"200","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"1316","precision":3,"nai":"@@000000021"}},{"date":"2020-11-07T19:22:27","current_pays":{"amount":"4149","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"625","[...]
[...]
