---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"chain_stats_api.get_stats_for_time","params":"20161031T235959","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - bb9ec87f-62b9-481f-846f-3b3ec6ad2e76
      X-Jussi-Request-Id:
      - bb6b7dbcb71daed6b6edbc594f176e44
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32600,"message":"Invalid Request","data":{"error_id":"bb9ec87f-62b9-481f-846f-3b3ec6ad2e76","jussi_request_id":"bb6b7dbcb71daed6b6edbc594f176e44"}}}'
  recorded_at: Sun, 10 May 2026 21:19:13 GMT
recorded_with: VCR 6.4.0
