---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000256005811882894'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"2.869
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"2.738 SBD","quote":"1.000
        STEEM"},{"base":"2.793 SBD","quote":"1.000 STEEM"},{"base":"2.822 SBD","quote":"1.000
        STEEM"},{"base":"2.849 SBD","quote":"1.000 STEEM"},{"base":"2.822 SBD","quote":"1.000
        STEEM"},{"base":"2.768 SBD","quote":"1.000 STEEM"},{"base":"2.791 SBD","quote":"1.000
        STEEM"},{"base":"2.814 SBD","quote":"1.000 STEEM"},{"base":"2.809 SBD","quote":"1.000
        STEEM"},{"base":"2.793 SBD","quote":"1.000 STEEM"},{"base":"2.791 SBD","quote":"[...]
