---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_hardfork_version",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - sd8c9572f-6115-412e-9fcd-4d5873699cd6->c96769de-0827-40cd-9edb-8412907e9e20
    body:
      encoding: UTF-8
      string: '{"result":"0.19.0","id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:26 GMT
recorded_with: VCR 3.0.3
