---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":56,"method":"condenser_api.get_account_count","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000318475820278475'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":1445244,"id":56}'
  recorded_at: Sat, 07 Nov 2020 19:33:34 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":51,"method":"condenser_api.get_account_count","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000074952100069211'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":3459458,"id":51}'
  recorded_at: Sat, 30 Jul 2022 23:22:30 GMT
recorded_with: VCR 6.1.0
