---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["account_by_key_api","get_key_references",[["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[["misterdelegation","ned","steem","steemit","steemit1","steemit2","steemit60","therealslimshady"]]}'
  recorded_at: Wed, 18 Oct 2017 06:43:01 GMT
recorded_with: VCR 3.0.3
