---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_vesting_delegations","params":["minnowbooster",-1000,1000],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000842149346892919'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[],"id":1}'
  recorded_at: Thu, 23 May 2019 01:24:53 GMT
recorded_with: VCR 4.0.0
