---
http_interactions:
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":50,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Drone-Version:
      - 0.3.0
    body:
      encoding: UTF-8
      string: '{"id":50,"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","block_api.get_block","block_api.get_block_header","block_api.get_block_range","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","condenser_api.find_rc_accounts","condenser_api.find_recurrent_transfers","condenser_api.get_account_count","condenser_api.get_account_history","condenser_api.get_account_references","condenser_api.get_account_reputations","condenser_api.get_account_votes","con[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":51,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_dynamic_global_properties"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Drone-Version:
      - 0.3.0
    body:
      encoding: UTF-8
      string: '{"id":51,"jsonrpc":"2.0","result":{"args":{},"ret":{"available_account_subsidies":0,"content_reward_percent":0,"current_aslot":0,"current_hbd_supply":{"amount":"0","nai":"@@000000021","precision":3},"current_remove_threshold":0,"current_supply":{"amount":"0","nai":"@@000000021","precision":3},"current_witness":"","delegation_return_period":0,"dhf_interval_ledger":{"amount":"0","nai":"@@000000021","precision":3},"downvote_pool_percent":0,"early_voting_seconds":0,"hbd_interest_rate":0,"hbd_print_rate":0,"hbd_start_percent":0,"hbd_stop_percent":0,"head_block_id":"0000000000000000000000000000000000000000","head_block_number":0,"id":0,"init_hbd_supply":{"amount":"0","nai":"@@000000021","precision":3},"last_budget_time":"1970-01-01T00:00:00","last_irreversible_block_num":0,"max_consecutive_recurrent_transfer_failures":10,"max_open_recurrent_transfers":255,"max_recurrent_transfer_end_date":730,"maximum_block_size":0,"mid_voting_seconds":0,"min_recurrent_transfers_recurrence":24,"next_daily_maintenance_time":"1970-01-01T00:00:00","next_maintenance_time":"1970-01-01T00:00:00","num_pow_witnesses":0,"participation_count":0,"pending_rewarded_vesting_hive":{"amount":"0","nai":"@@000000021","precision":3},"pending_rewarded_vesting_shares":{"amount":"0","nai":"@@000000021","precision":3},"proposal_fund_percent":0,"recent_slots_filled":"0","reverse_auction_seconds":0,"time":"1970-01-01T00:00:00","total_pow":0,"total_reward_fund_hive":{"amount":"0","nai":"@@000000021","precision":3},"total_reward_shares2":"0","total_vesting_fund_hive":{"amount":"0","nai":"@@000000021","precision":3},"total_vesting_shares":{"amount":"0","nai":"@@000000021","precision":3},"vesting_reward_percent":0,"virtual_supply":{"amount":"0","nai":"@@000000021","precision":3},"vote_power_reserve_rate":0}}}'
  recorded_at: Sun, 10 May 2026 21:19:14 GMT
[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_block","params":[106270365],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Drone-Version:
      - 0.3.0
    body:
      encoding: UTF-8
      string: '{"id":1,"jsonrpc":"2.0","result":{"block_id":"06558e9d65c250058dab218fed87bbe93f23a4ae","extensions":[],"previous":"06558e9c890de0f4c873f537fed0189b62dbd9b8","signing_key":"STM6EaFi43kW6CqYUDZizEPNDfyAztWqBt1QDbdZSKiRbbqwK5QSx","timestamp":"2026-05-10T21:19:12","transaction_ids":["4d49e5c68f1765293328de3ee00058655f4c11b6","4259b7579014a3295041b1d9420d79c804c4980e","88cf40e49916b2e6097c25959b15f5f9d3992302","3152cf40fd386c9b803aedc8bc88a4e086f06829","814afb7fcbc54adcade88543bd5604d7fa3d9e99","bc7638947b5e2377fe126754d1d7cd960375941d","f7544eb4d2062b903ee12cf5b723d934ca0cb9e4","d8b29999164c23d3429dd73f8f6e69ca76bb2cf6","638447e01ca297662a1a95633e34de36b799a2ea","e514c050b1369a4f9cfb08f94b44cbb6e8c02bc9","864d6598c2a126c7b0ce22c21dafaf0f4c78447d","5c03d66e7f1174b4ed5503b034507fc2c7fd6a17","3e3604cc567c4c8c44c9d9673d0be5318bd3b37a","5eeabbe9da83ef4f897c487a9260bc5663002f7b","905535c5c5d82d4d45fb067298ccb49f78c6c39b","6e9df99286fcc6a2a34c18ee6e31947fbb1d220f"],"transaction_merkle_root":"2986f30a53b5677494c04d9d80f748df6c0a61fc","transactions":[{"block_num":106270365,"expiration":"2026-05-10T21:27:39","extensions":[],"operations":[["custom_json",{"id":"sm_claim_daily","json":"{\"use_gold_potions\":false,\"use_legendary_potions\":false,\"format\":\"foundation\",\"app\":\"splinterlands/0.7.177\",\"n\":\"sY5c1uhM6Z\"}","required_auths":[],"required_posting_auths":["rupdogg"]}]],"ref_block_num":36477,"ref_block_prefix":3643784273,"signatures":["1f3a2661c5cc1d648d965561216e8bf00c338f14b6b01a83b94f9ff6c557543c2500eedc711c7357e6652ea5b28e5161d02078945ba5f76f2b3844ac08d5232c5a"],"transaction_id":"4d49e5c68f1765293328de3ee00058655f4c11b6","transaction_num":0},{"block_num":106270365,"expiration":"2026-05-10T21:19:30","extensions":[],"operations":[["custom_json",{"id":"pp_podcast_update","json":"{\"version\":\"1.1\",\"medium\":\"podcast\",\"reason\":\"update\",\"iris\":[\"https://feeds.godcaster.fm/player_484.xml1\",\"https://rss.buzzsprout.com/2312099.rss\"],\"timestampNs\":1778447938104737024,\"sessionId\":11001523581858075962}","required_auths":[],"required_posting_auths":["podping.eee"]}],["custom_json",{"id":"pp_podcast_update","json":"{\"version\":\"1.1\",\"medium\":\"podcast\",\"reason\":\"update\",\"iris\":[\"https://www.spreaker.com/show/4392521/episodes/feed\"],\"timestampNs\":1778447932480956160,\"sessionId\":11001523581858075962}","required_auths":[],"required_posting_auths":["podping.eee"]}]],"ref_block_num":36502,"ref_block_prefix":628372125,"signatures":["201d3fe7ed362064fd3db00cc96d6e283d96563cd2e8a7491aa10101bcf299370a3857475c00563eab25c46d76105cd87abf631dc425d71bfa45f88f24d05a9237"],"transaction_id":"4259b7579014a3295041b1d9420d79c804c4980e","transaction_num":1},{"block_num":106270365,"expiration":"2026-05-10T21:28:18","extensions":[],"operations":[["custom_json",{"id":"sm_token_award","json":"{\"n\":\"4JaCUHNC\",\"to\":\"baalamyum\",\"qty\":0.33,\"from\":\"$TOKEN_STAKING_REWARDS\",\"type\":\"claim_staking_rewards_staking_rewards\",\"token\":\"VOUCHER\"}","required_auths":["sl-admin-2"],"required_posting_auths":[]}]],"ref_block_num":36491,"ref_block_prefix":922292212,"signatures":["204f5524e54fba0909b7f03e9fa61c5e7b51e506144a45ad735b3fa0c537ad9d7b17ceccb60137151d26a6693c671f7037a9f3501dc4b98e3b758bd1bd854f9a03"],"transaction_id":"88cf40e49916b2e6097c25959b15f5f9d3992302","transaction_num":2},{"block_num":106270365,"expiration":"2026-05-10T21:29:06","extensions":[],"operations":[["custom_json",{"id":"actifit","json":"{\"transaction\":
        \"activate-gadget\" , \"gadget\": \"5dfbf5cefb3ce020982828e8\"}","required_auths":[],"required_posting_auths":["cohlson"]}]],"ref_block_num":36506,"ref_block_prefix":3407701041,"signatures":["202ccb09fc69f61dcc3921373c42e7b1d1a72b1436cb77dd8575867bfa6dd0e51703013821ed567c5a477556f2d2e42402e1676b12bb76874d67c7b37fd8ddad16"],"transaction_id":"3152cf40fd386c9b803aedc8bc88a4e086f06829","transaction_num":3},{"block_num":106270365,"expiration":"2026-05-10T21:29:09","extensions":[],"operations":[["custom_json",{"id":"ssc-mainnet-hive","json":"{\"contractName\":\"market\",\"contractAction\":\"cancel\",\"contractPayload\":{\"type\":\"buy\",\"id\":\"137c3690686c14ba83b3b606fa1b6da2c0f32110\"}}","required_auths":["scr00ge"],"required_posting_auths":[]}]],"ref_block_num":36507,"ref_block_prefix":903809225,"signatures":["1f2390ccf551e016614c84237170e9839ae035496a7e904cf6b194d4609d27c71e0753c3a01d3052ae7618813fb28fe56f071f49d8f029603c822a3f130eb971d9"],"transaction_id":"814afb7fcbc54adcade88543bd5604d7fa3d9e99","transaction_num":4},{"block_num":106270365,"expiration":"2026-05-10T21:28:00","extensions":[],"operations":[...]
