---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_ticker","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000371472794748236'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"1.39999999999999991","lowest_ask":"1.39981844118791332","highest_bid":"1.39941913787832473","percent_change":"0.14903129657227171","steem_volume":["2029641",3,"@@000000021"],"sbd_volume":["2831476",3,"@@000000013"]},"id":1}'
  recorded_at: Sat, 19 May 2018 20:55:36 GMT
recorded_with: VCR 3.0.3
