---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":63,"method":"condenser_api.get_feed_history","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000249614710748109'
    body:
      encoding: ASCII-8BIT
      string: '{"id":63,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.159
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"0.168 SBD","quote":"1.000
        STEEM"},{"base":"0.166 SBD","quote":"1.000 STEEM"},{"base":"0.165 SBD","quote":"1.000
        STEEM"},{"base":"0.165 SBD","quote":"1.000 STEEM"},{"base":"0.166 SBD","quote":"1.000
        STEEM"},{"base":"0.166 SBD","quote":"1.000 STEEM"},{"base":"0.167 SBD","quote":"1.000
        STEEM"},{"base":"0.166 SBD","quote":"1.000 STEEM"},{"base":"0.167 SBD","quote":"1.000
        STEEM"},{"base":"0.168 SBD","quote":"1.000 STEEM"},{"base":"0.168 SBD","quote":"[...]
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":101,"method":"condenser_api.get_feed_history","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000836180906063700'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc"[...]
[...]
