---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_volume",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s26b40649-bdbb-4af8-b508-06f45751e28b->d19a424c-5e29-4bab-b6bf-71960927bfc2
    body:
      encoding: UTF-8
      string: '{"result":{"steem_volume":"7386.969 STEEM","sbd_volume":"7059.894 SBD"},"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:09:02 GMT
recorded_with: VCR 3.0.3
