---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["account_by_key_api","get_key_references",[["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s9996143d-18e1-4680-bf22-b10cd8592552->63cdbe06-762b-4fc2-9399-5b2536754e0b
    body:
      encoding: UTF-8
      string: '{"result":[["misterdelegation","ned","steem","steemit","steemit1","steemit2","steemit60","therealslimshady"]],"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:09:00 GMT
recorded_with: VCR 3.0.3
