---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":57,"method":"condenser_api.get_account_references","params":[["2.2.27007"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000756993066763127'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":891,"method":"get_account_references","hostname":"","timestamp":"2020-10-17T04:07:03"},"format":"false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{}}]}},"id":57}'
  recorded_at: Sat, 17 Oct 2020 04:07:03 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":97,"method":"condenser_api.get_account_references","params":[["2.2.27007"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000563581825588981'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":891,"method":"get_account_references","hostname":"","timestamp":"2020-10-17T04:23:12"},"format":"false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{}}]}},"id":97}'
  recorded_at: Sat, 17 Oct 2020 04:23:13 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":75,"method":"condenser_api.get_account_references","params":[["2.2.27007"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000034242898224810'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":891,"method":"get_account_references","hostname":"","timestamp":"2020-10-17T05:03:31"},"format":"false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{}}]}},"id":75}'
  recorded_at: Sat, 17 Oct 2020 05:03:31 GMT
recorded_with: VCR 6.0.0
