---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000008885235321107'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"head_block_number":19967971,"head_block_id":"0130afe3d1110f31d3929ed8074faab4ab5c5086","time":"2018-02-18T04:35:21","current_witness":"thecryptodrive","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"266377752.434
        STEEM","current_supply":"264263621.103 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9090764.727 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"185475998.152 STEEM","total_vesting_shares":"379151579067.415312
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"320068888.446994
        VESTS","pending_rewarded_vesting_steem":"155674.507 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":20031107,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":19967956,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":16119,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sun, 18 Feb 2018 04:35:23 GMT
recorded_with: VCR 3.0.3
