---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[["inertia"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s5f7f0774-d4f6-4676-915a-783e6f89015f->182fa0e4-a0f7-4ba1-b15a-e2667c14fc89
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":0,"current_median_history":{"base":"0.963 SBD","quote":"1.000
        STEEM"},"price_history":[{"base":"0.979 SBD","quote":"1.000 STEEM"},{"base":"0.987
        SBD","quote":"1.000 STEEM"},{"base":"0.987 SBD","quote":"1.000 STEEM"},{"base":"0.962
        SBD","quote":"1.000 STEEM"},{"base":"0.963 SBD","quote":"1.000 STEEM"},{"base":"0.939
        SBD","quote":"1.000 STEEM"},{"base":"0.938 SBD","quote":"1.000 STEEM"},{"base":"0.915
        SBD","quote":"1.000 STEEM"},{"base":"0.941 SBD","quote":"1.000 STEEM"},{"base":"0.961
        SBD","quote":"1.000 STEEM"},{"base":"0.950 SBD","quote":"[...]
