---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_ticker","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001041779062128183'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"1.19871491020171694","lowest_ask":"1.19276529707360335","highest_bid":"1.19270744590219802","percent_change":"2.74699230300430264","steem_volume":["6945417",3,"@@000000021"],"sbd_volume":["8265507",3,"@@000000013"]},"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:42:10 GMT
recorded_with: VCR 3.0.3
