---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[["inertia"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s28b6c9d8-4a14-45a6-b413-dd6bab6ddef8->346c0f64-d959-44ec-bd92-2c51d51872c3
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":0,"current_median_history":{"base":"0.968 SBD","quote":"1.000
        STEEM"},"price_history":[{"base":"0.954 SBD","quote":"1.000 STEEM"},{"base":"0.981
        SBD","quote":"1.000 STEEM"},{"base":"0.971 SBD","quote":"1.000 STEEM"},{"base":"0.965
        SBD","quote":"1.000 STEEM"},{"base":"0.967 SBD","quote":"1.000 STEEM"},{"base":"0.971
        SBD","quote":"1.000 STEEM"},{"base":"0.970 SBD","quote":"1.000 STEEM"},{"base":"0.963
        SBD","quote":"1.000 STEEM"},{"base":"0.963 SBD","quote":"1.000 STEEM"},{"base":"0.955
        SBD","quote":"1.000 STEEM"},{"base":"0.960 SBD","quote":"[...]
