---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000402523527998634'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":21968434,"head_block_id":"014f36328869b177d0917506736d22ba2c3d0b00","time":"2018-04-28T17:41:18","current_witness":"jesta","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"270830507.517
        STEEM","current_supply":"267593034.897 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"12448082.227 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190769771.600 STEEM","total_vesting_shares":"388550606700.379308
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"387560217.454659
        VESTS","pending_rewarded_vesting_steem":"188911.580 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22034026,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21968419,"vote_power_reserve_rate":10,"average_block_size":15277,"current_reserve_ratio":56660405,"max_virtual_bandwidth":"74860053449932800000"}}'
  recorded_at: Sat, 28 Apr 2018 17:41:20 GMT
recorded_with: VCR 3.0.3
