---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"account_by_key_api.get_key_references","params":{"keys":["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX"]},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000710594874202005'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":[["misterdelegation","ned","steem","steemit","steemit1","steemit2","steemit60","therealslimshady"]]},"id":1}'
  recorded_at: Sat, 19 May 2018 20:50:20 GMT
recorded_with: VCR 3.0.3
