---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_order_book","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000594397153837126'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":["18379",3,"@@000000013"],"quote":["16876",3,"@@000000021"]},"real_price":"1.08906138895472870","steem":12356,"sbd":13457,"created":"2018-04-15T16:36:42"},{"order_price":{"base":["5446",3,"@@000000013"],"quote":["5008",3,"@@000000021"]},"real_price":"1.08746006389776362","steem":5008,"sbd":5446,"created":"2018-04-15T16:37:51"},{"order_price":{"base":["660",3,"@@000000013"],"quote":["607",3,"@@000000021"]},"real_price":"1.08731466227347617","steem":572,"sbd":622,"created":"2018-04-15T16:07:06"},{"order_price":{"base":["40000",3,"@@000000013"],"quote":["36788",3,"@@000000021"]},"real_price":"1.08731107969990215","steem":36788,[...]
