---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["inertia"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000410510946769136'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":19155,"name":"inertia","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5LC8uBiiaihoPhM16CKktPnfb1Yop7fLicuNVgZm6JvU8yCZ7v",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7xf1TJQJty7WF8GHimaYocqdE6rMeZvy4umuU7rHydbfaXRUYB",1]]},"posting":{"weight_threshold":1,"account_auths":[["buildteam",1],["busy.app",1],["dlike.app",1],["dpoll.xyz",1],["drugwars.app",1],["steempeak.app",1],["vimm.app",1],["wisevote.app",1]],"key_auths":[["STM5XhxkaVk76j27qjkvoKY7BoHtKAEBA9omgd37zUgpqgB8oN6ov",1]]},"memo_key":"STM65TuECGXU7bHm5tMrHQVrV8uFdxhwYWZAzzG5658xD5TWuXs4c","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/i.imgur.com\/LbTz5yg.jpg\",\"cover_image\":\"https:\/\/i.imgur.com\/0ccC6UH.png\",\"name\":\"inertia
        \u24b6\u00b3\",\"about\":\"I can see the fnords.\",\"location\":\"California\",\"website\":\"https:\/\/steemit.com\/@inertia\/profile\"}}","proxy":"","last_owner_update":"2018-05-04T15:30:36","last_account_update":"2019-02-12T17:58:03","created":"2016-07-13T06:44:33","mined":false,"recovery_account":"steem","last_account_recovery":"2016-07-21T05:49:33","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":3763,"can_vote":true,"voting_manabar":{"current_mana":"115430541444686","last_update_time":1550604909},"voting_power":9799,"balance":"1005.525
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"6043.925 SBD","sbd_seconds":"9756202890906","sbd_seconds_last_update":"2019-02-16T21:14:45","sbd_last_interest_payment":"2019-01-29T01:42:33","savings_sbd_balance":"1560.000
        SBD","savings_sbd_seconds":"1865856672000","savings_sbd_seconds_last_update":"2017-12-15T19:21:21","savings_sbd_last_interest_payment":"2017-12-03T17:28:57","savings_withdraw_requests":0,"reward_sbd_balance":"10.612
        SBD","reward_steem_balance":"16.825 STEEM","reward_vesting_balance":"129697.712043
        VESTS","reward_vesting_steem":"64.703 STEEM","vesting_shares":"130406257.882656
        VESTS","delegated_vesting_shares":"15950378.476462 VESTS","received_vesting_shares":"3330387.374098
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":3572831,"posting_rewards":19739309,"proxied_vsf_votes":["48688763545643",0,0,0],"witnesses_voted_for":30,"last_post":"2019-02-19T17:19:57","last_root_post":"2019-02-18T21:52:24","last_vote_time":"2019-02-19T19:35:09","post_bandwidth":13323,"pending_claimed_accounts":6,"vesting_balance":"0.000
        STEEM","reputation":"152009570210473","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":["aggroed","anyx","arcange","ausbitbank","blockbrothers","cervantes","emrebeyler","followbtcnews","fyrst-witness","good-karma","gtg","helo","jesta","netuoso","ocd-witness","pfunk","pharesim","qurator","reggaemuffin","riverhead","roelandp","someguy123","steemgigs","teamsteem","thecryptodrive","themarkymark","therealwolf","utopian-io","wise-team","yabapmatt"],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Tue, 19 Feb 2019 19:59:44 GMT
recorded_with: VCR 4.0.0
