---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_order_book",[10]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - sff811add-d671-4197-8a8f-b1e7e1877bb4->3f804521-7e15-466e-a17a-e70d1740b45b
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"bids":[{"price":"0.98726429065060706","steem":141806,"sbd":140000},{"price":"0.98113207547169812","steem":106,"sbd":104},{"price":"0.98039215686274517","steem":102,"sbd":100},{"price":"0.97954705744063952","steem":102088,"sbd":100000},{"price":"0.97954271961492179","steem":1662,"sbd":1628},{"price":"0.97943192948090119","steem":1021,"sbd":1000},{"price":"0.97899999999999998","steem":1000,"sbd":979},{"price":"0.97899999999999998","steem":1000,"sbd":979},{"price":"0.97899999999999998","steem":1000,"sbd":979},{"price":"0.97899999999999998","steem":1000,"sbd":979}],"asks":[{"price":"0.99259101705129582","steem":141045,"sbd":140000},{"price":"1.00999596316872031","steem":52021,"sbd":52541},{"price":"1.00999663034932041","steem":71224,"sbd":71936},{"price":"1.01946087195708968","steem":14542,"sbd":14825},{"price":"1.02299999999999991","steem":1000,"sbd":1023},{"price":"1.02400000000000002","steem":1000,"sbd":1024},{"price":"1.02400000000000002","steem":1000,"sbd":1024},{"price":"1.02400000000000002","steem":1000,"sbd":1024},{"price":"1.02400000000000002","steem":1000,"sbd":1024},{"price":"1.02400000000000002","steem":1000,"sbd":1024}]},"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:06 GMT
recorded_with: VCR 3.0.3
