---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":28,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_order_book"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000969882078153640'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":500},"ret":{"bids":[],"asks":[]}},"id":28}'
  recorded_at: Sat, 07 Nov 2020 19:45:04 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":29,"method":"market_history_api.get_order_book","params":{"limit":10}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000811684022924593'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":{"amount":"2000","precision":3,"nai":"@@000000013"},"quote":{"amount":"13270","precision":3,"nai":"@@000000021"}},"real_price":"0.15071590052750566","steem":13270,"sbd":2000,"created":"2020-11-07T19:23:45"},{"order_price":{"base":{"amount":"30000","precision":3,"nai":"@@000000013"},"quote":{"amount":"199074","precision":3,"nai":"@@000000021"}},"real_price":"0.15069773049217880","steem":5076,"sbd":765,"created":"2020-11-07T18:51:42"},{"order_price":{"base":{"amount":"83726","precision":3,"nai":"@@000000013"},"quote":{"amount":"593571","precision":3,"nai":"@@000000021"}},"real_price":"0.14105473481689637","steem":593571,"sbd":83726,"created":"2020-11-07T19:36:33"},{"order_price[...]
[...]
