---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_witness_by_account","params":[""],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000131592423948559'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":null,"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:41:18 GMT
recorded_with: VCR 3.0.3
