---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_vesting_delegations",["minnowbooster",-1000,1000]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000774908774557611'
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[{"id":567141,"delegator":"minnowbooster","delegatee":"steemstem","vesting_shares":"20462868.015158
        VESTS","min_delegation_time":"2018-01-29T11:44:39"},{"id":333643,"delegator":"minnowbooster","delegatee":"utopian-io","vesting_shares":"20539024.967918
        VESTS","min_delegation_time":"2017-11-16T08:27:03"}]}'
  recorded_at: Sun, 18 Feb 2018 04:35:25 GMT
recorded_with: VCR 3.0.3
