---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_recent_trades",[10]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s0e85b496-b463-43b2-a3a7-9acdc4af09d2->a360e14e-4af4-4dea-be91-cddc8f8f0c28
    body:
      encoding: UTF-8
      string: '{"result":[{"date":"2017-10-25T23:08:18","current_pays":"71.374 STEEM","open_pays":"68.842
        SBD"},{"date":"2017-10-25T23:08:18","current_pays":"3.260 STEEM","open_pays":"3.160
        SBD"},{"date":"2017-10-25T23:08:06","current_pays":"10.465 STEEM","open_pays":"10.141
        SBD"},{"date":"2017-10-25T23:06:21","current_pays":"9.368 SBD","open_pays":"9.739
        STEEM"},{"date":"2017-10-25T23:06:18","current_pays":"10.520 SBD","open_pays":"10.936
        STEEM"},{"date":"2017-10-25T23:06:15","current_pays":"136.207 SBD","open_pays":"140.821
        STEEM"},{"date":"2017-10-25T23:04:36","current_pays":"0.189 SBD","open_pays":"0.196
        STEEM"},{"date":"2017-10-25T23:03:24","current_pays":"1.224 SBD","open_pays":"1.271
        STEEM"},{"date":"2017-10-25T23:02:51","current_pays":"0.823 SBD","open_pays":"0.854
        STEEM"},{"date":"2017-10-25T23:01:12","current_pays":"56.987 STEEM","open_pays":"54.878
        SBD"}],"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:09:03 GMT
recorded_with: VCR 3.0.3
