---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["inertia"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001008740038052610'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":19155,"name":"inertia","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5LC8uBiiaihoPhM16CKktPnfb1Yop7fLicuNVgZm6JvU8yCZ7v",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7xf1TJQJty7WF8GHimaYocqdE6rMeZvy4umuU7rHydbfaXRUYB",1]]},"posting":{"weight_threshold":1,"account_auths":[["booster",1],["busy.app",1],["dmania.app",1],["frontrunner",1],["utopian.app",1]],"key_auths":[["STM5XhxkaVk76j27qjkvoKY7BoHtKAEBA9omgd37zUgpqgB8oN6ov",1]]},"memo_key":"STM65TuECGXU7bHm5tMrHQVrV8uFdxhwYWZAzzG5658xD5TWuXs4c","json_metadata":"{\"git\":{\"radiator\":{\"https\":{\"type\":\"https\",\"name\":\"radiator\",\"value\":\"https:\/\/github.com\/inertia186\/radiator\",\"projecturl\":\"radiator\"}}},\"squeek\":{\"profilePicture\":\"https:\/\/img1.steemit.com\/0x0\/http:\/\/i.imgur.com\/LbTz5yg.jpg\"},\"version\":\"0.0.1\",\"profile\":{\"email\":\"steemit@martin-studio.com\",\"location\":\"California\",\"timezone\":\"-7\",\"locale\":\"en_US\",\"languages\":[\"en\"],\"profile_image\":\"http:\/\/i.imgur.com\/LbTz5yg.jpg\",\"cover_image\":\"https:\/\/i.imgur.com\/0ccC6UH.png\",\"name\":\"inertia
        \u24b6\u00b3\",\"about\":\"I can see the fnords.\",\"website\":\"https:\/\/steemit.com\/@inertia\/profile\"}}","proxy":"","last_owner_update":"2018-05-04T15:30:36","last_account_update":"2018-05-17T22:56:30","created":"2016-07-13T06:44:33","mined":false,"recovery_account":"steem","last_account_recovery":"2016-07-21T05:49:33","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":3041,"can_vote":true,"voting_power":9393,"last_vote_time":"2018-05-19T03:14:18","balance":"4008.259
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"8740.387 SBD","sbd_seconds":"22974457593855","sbd_seconds_last_update":"2018-05-18T19:05:24","sbd_last_interest_payment":"2018-04-25T15:34:06","savings_sbd_balance":"1560.000
        SBD","savings_sbd_seconds":"1865856672000","savings_sbd_seconds_last_update":"2017-12-15T19:21:21","savings_sbd_last_interest_payment":"2017-12-03T17:28:57","savings_withdraw_requests":0,"reward_sbd_balance":"2.674
        SBD","reward_steem_balance":"2.388 STEEM","reward_vesting_balance":"739170.756398
        VESTS","reward_vesting_steem":"362.689 STEEM","vesting_shares":"111001047.411448
        VESTS","delegated_vesting_shares":"5833585.616925 VESTS","received_vesting_shares":"3330387.374098
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":2966555,"posting_rewards":18002077,"proxied_vsf_votes":["2093594345442578","43959025080399",0,0],"witnesses_voted_for":30,"last_post":"2018-05-19T03:14:57","last_root_post":"2018-05-17T22:54:00","average_bandwidth":"53975187164","lifetime_bandwidth":"7656600000000","last_bandwidth_update":"2018-05-19T03:14:57","average_market_bandwidth":"90214585917","lifetime_market_bandwidth":"1098940000000","last_market_bandwidth_update":"2018-05-18T19:05:24","vesting_balance":"0.000
        STEEM","reputation":"125728655769011","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":["aggroed","anyx","arcange","ausbitbank","blockbrothers","cervantes","emrebeyler","followbtcnews","furion","fyrst-witness","good-karma","gtg","helo","jerrybanfield","jesta","klye","netuoso","pfunk","pharesim","qurator","reggaemuffin","riverhead","roelandp","someguy123","steemgigs","teamsteem","thecryptodrive","themarkymark","utopian-io","yabapmatt"],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Sat, 19 May 2018 20:50:20 GMT
recorded_with: VCR 3.0.3
