---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_accounts",[["inertia"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s5f838852-a2b4-42f5-9a24-71913f1242c9->f2d7a976-3dbb-4aaf-8e23-61d7cdd6068e
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":19155,"name":"inertia","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5uzQ4tZhWjZmNmxCS4rPapCKQBXPPLXe6WLdPzwn6LsPfE76j1",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5y8zPQWWRMTFGM2dAiqfdqTyeSNVg9Syv92u3jXsSEKRDnx7Xt",1]]},"posting":{"weight_threshold":1,"account_auths":[["steemprojectsapp",1]],"key_auths":[["STM6HpfLdPxGJ8XX6iNKY36ALmZ7BZccJFSBB1DJtMqZpoHjgqEDB",1]]},"memo_key":"STM7GtP5DnxVknpRzfeJa4Up2dgZm2NtAATQ5u78s8F8o5kNPUjQ5","json_metadata":"{\"git\":{\"radiator\":{\"https\":{\"type\":\"https\",\"name\":\"radiator\",\"value\":\"https:\/\/github.com\/inertia186\/radiator\",\"projecturl\":\"radiator\"}}},\"squeek\":{\"profilePicture\":\"https:\/\/img1.steemit.com\/0x0\/http:\/\/i.imgur.com\/LbTz5yg.jpg\"},\"version\":\"0.0.1\",\"profile\":{\"email\":\"steemit@martin-studio.com\",\"location\":\"California\",\"timezone\":\"-7\",\"locale\":\"en_US\",\"languages\":[\"en\"],\"profile_image\":\"http:\/\/i.imgur.com\/LbTz5yg.jpg\",\"cover_image\":\"https:\/\/i.imgur.com\/0ccC6UH.png\",\"name\":\"inertia
        \u24b6\u00b3\",\"about\":\"I can see the fnords.\"}}","proxy":"","last_owner_update":"2017-05-03T04:57:24","last_account_update":"2017-09-27T16:00:06","created":"2016-07-13T06:44:33","mined":false,"owner_challenged":false,"active_challenged":false,"last_owner_proved":"1970-01-01T00:00:00","last_active_proved":"1970-01-01T00:00:00","recovery_account":"steem","last_account_recovery":"2016-07-21T05:49:33","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":2142,"can_vote":true,"voting_power":8882,"last_vote_time":"2017-10-24T14:53:54","balance":"1328.018
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"1017.739 SBD","sbd_seconds":"0","sbd_seconds_last_update":"2017-10-24T07:37:18","sbd_last_interest_payment":"2017-10-24T07:37:18","savings_sbd_balance":"4046.260
        SBD","savings_sbd_seconds":"1315246186800","savings_sbd_seconds_last_update":"2017-10-16T20:26:48","savings_sbd_last_interest_payment":"2017-10-14T05:30:18","savings_withdraw_requests":0,"reward_sbd_balance":"0.000
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"737209.165357
        VESTS","reward_vesting_steem":"358.234 STEEM","vesting_shares":"64000514.720274
        VESTS","delegated_vesting_shares":"16061622.000000 VESTS","received_vesting_shares":"3330387.374098
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":0,"to_withdraw":0,"withdraw_routes":0,"curation_rewards":2178881,"posting_rewards":16693362,"proxied_vsf_votes":["1342921637885930",0,0,0],"witnesses_voted_for":30,"average_bandwidth":"35975967270","lifetime_bandwidth":"6375190000000","last_bandwidth_update":"2017-10-24T14:53:54","average_market_bandwidth":"8075493022","lifetime_market_bandwidth":"535380000000","last_market_bandwidth_update":"2017-10-24T03:20:06","last_post":"2017-10-24T05:40:39","last_root_post":"2017-10-20T16:10:12","vesting_balance":"0.000
        STEEM","reputation":"112767530090229","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":["adsactly-witness","aggroed","agoric.systems","anyx","ausbitbank","bacchist","cervantes","chainsquad.com","charlieshrem","drakos","followbtcnews","furion","fyrst-witness","gingerninja","good-karma","gtg","jesta","klye","netuoso","pfunk","pharesim","riverhead","roadscape","roelandp","someguy123","steemgigs","teamsteem","thecryptodrive","themarkymark","zeartul"],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:29 GMT
recorded_with: VCR 3.0.3
