---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_market_history","params":null,"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000815880380417725'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Bad Cast:Invalid
        cast from type ''null_type'' to Object","data":{"code":7,"name":"bad_cast_exception","message":"Bad
        Cast","stack":[{"context":{"level":"error","file":"variant.cpp","line":575,"method":"get_object","hostname":"","timestamp":"2018-04-28T17:42:13"},"format":"Invalid
        cast from type ''${type}'' to Object","data":{"type":"null_type"}}]}},"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:42:13 GMT
recorded_with: VCR 3.0.3
