---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":8,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_market_history_buckets"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000485615469389391'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"bucket_sizes":[]}},"id":8}'
  recorded_at: Sat, 07 Nov 2020 19:44:22 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":51,"method":"market_history_api.get_market_history_buckets","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - d83c4f2b-176c-4798-af98-df701ca4c40e
      X-Jussi-Request-Id:
      - '000613255503156942'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":51,"error":{"code":1000,"message":"Request Timeout","data":{"error_id":"d83c4f2b-176c-4798-af98-df701ca4c40e","jussi_request_id":"000856821111472545"}}}'
  recorded_at: Sat, 07 Nov 2020 20:34:43 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"method":"market_history_api.get_market_history_buckets","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001036657595770823'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"bucket_sizes":[15,60,300,3600,86400]},"id":3}'
  recorded_at: Sun, 08 Nov 2020 06:00:15 GMT
recorded_with: VCR 6.0.0
