---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_count","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000117339390678083'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":1168978,"id":1}'
  recorded_at: Sat, 03 Nov 2018 18:06:00 GMT
recorded_with: VCR 3.0.3
