---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_trade_history","params":null,"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001080105534734772'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Bad Cast:Invalid
        cast from type ''null_type'' to Object","data":{"code":7,"name":"bad_cast_exception","message":"Bad
        Cast","stack":[{"context":{"level":"error","file":"variant.cpp","line":575,"method":"get_object","hostname":"","timestamp":"2019-05-23T01:24:12"},"format":"Invalid
        cast from type ''${type}'' to Object","data":{"type":"null_type"}}]}},"id":1}'
  recorded_at: Thu, 23 May 2019 01:24:12 GMT
recorded_with: VCR 4.0.0
