---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_ticker",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.market_history_api.get_ticker
      X-Jussi-Response-Id:
      - sf39127bd-2c26-4292-98df-f3bcb74cc5ab->c0323102-abcc-46fa-b092-641e4d4dab33
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"0.96452489702132438","lowest_ask":"0.96832203624291047","highest_bid":"0.96306640342851635","percent_change":"-4.83426394189980790","steem_volume":"7386.969
        STEEM","sbd_volume":"7059.894 SBD"},"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:09:07 GMT
recorded_with: VCR 3.0.3
