---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_order_book","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001067091065953133'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":["7000",3,"@@000000013"],"quote":["5869",3,"@@000000021"]},"real_price":"1.19270744590219802","steem":5751,"sbd":6860,"created":"2018-04-28T17:38:18"},{"order_price":{"base":["4286",3,"@@000000013"],"quote":["3600",3,"@@000000021"]},"real_price":"1.19055555555555559","steem":3600,"sbd":4286,"created":"2018-04-28T17:33:30"},{"order_price":{"base":["500",3,"@@000000013"],"quote":["420",3,"@@000000021"]},"real_price":"1.19047619047619047","steem":420,"sbd":500,"created":"2018-04-28T17:34:15"},{"order_price":{"base":["500",3,"@@000000013"],"quote":["420",3,"@@000000021"]},"real_price":"1.19047619047619047","steem":420,"sbd":[...]
