---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000036273885502780'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":21593599,"head_block_id":"01497dffea88afbe46570def575887ea4bb18b78","time":"2018-04-15T16:44:09","current_witness":"lukestokes.mhth","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"271410730.737
        STEEM","current_supply":"266987885.425 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"11680734.470 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190563874.362 STEEM","total_vesting_shares":"388394421621.743103
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"383553911.262445
        VESTS","pending_rewarded_vesting_steem":"186917.783 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":21658483,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21593574,"vote_power_reserve_rate":10,"average_block_size":16003,"current_reserve_ratio":5404968,"max_virtual_bandwidth":"7141074854215680000"}}'
  recorded_at: Sun, 15 Apr 2018 16:44:12 GMT
recorded_with: VCR 3.0.3
