---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_order_book","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000133586383070560'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":{"amount":"525","precision":3,"nai":"@@000000013"},"quote":{"amount":"1341","precision":3,"nai":"@@000000021"}},"real_price":"0.39149888143176736","steem":1341,"sbd":525,"created":"2019-05-23T01:23:18"},{"order_price":{"base":{"amount":"2400","precision":3,"nai":"@@000000013"},"quote":{"amount":"6132","precision":3,"nai":"@@000000021"}},"real_price":"0.39138943248532287","steem":6132,"sbd":2400,"created":"2019-05-23T00:42:09"},{"order_price":{"base":{"amount":"43442","precision":3,"nai":"@@000000013"},"quote":{"amount":"111045","precision":3,"nai":"@@000000021"}},"real_price":"0.39121077040839297","steem":111045,"sbd":43442,"created":"2019-05-23T01:07:15"},{"order_price":[...]
