---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"follow_api.get_followers","params":{"account":"inertia","start":0,"type":"blog","limit":100},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000856820638366627'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"followers":[{"follower":"a-0-0","following":"inertia","what":["blog"]},{"follower":"a-0-0-0-1abokina","following":"inertia","what":["blog"]},{"follower":"a-0-0-0-a","following":"inertia","what":["blog"]},{"follower":"a-0-0-0-real-dex","following":"inertia","what":["blog"]},{"follower":"a-0-0-a-0","following":"inertia","what":["blog"]},{"follower":"a-0-1","following":"inertia","what":["blog"]},{"follower":"a-0-3","following":"inertia","what":["blog"]},{"follower":"a-3","following":"inertia","what":["blog"]},{"follower":"a-7","following":"inertia","what":["[...]
