---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_count","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000112250610921750'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":1002387,"id":1}'
  recorded_at: Sat, 19 May 2018 20:50:24 GMT
recorded_with: VCR 3.0.3
