---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":133,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_order_book"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000344657628807110'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":500},"ret":{"bids":[],"asks":[]}},"id":133}'
  recorded_at: Sat, 17 Oct 2020 04:08:17 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":134,"method":"market_history_api.get_order_book","params":{"limit":10}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001119897731703764'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":{"amount":"57","precision":3,"nai":"@@000000013"},"quote":{"amount":"354","precision":3,"nai":"@@000000021"}},"real_price":"0.16101694915254236","steem":347,"sbd":56,"created":"2020-10-17T02:26:36"},{"order_price":{"base":{"amount":"2000","precision":3,"nai":"@@000000013"},"quote":{"amount":"12432","precision":3,"nai":"@@000000021"}},"real_price":"0.16087516087516088","steem":12432,"sbd":2000,"created":"2020-10-17T04:02:18"},{"order_price":{"base":{"amount":"5001","precision":3,"nai":"@@000000013"},"quote":{"amount":"31091","precision":3,"nai":"@@000000021"}},"real_price":"0.16085040687015534","steem":30096,"sbd":4841,"created":"2020-10-17T02:08:42"},{"order_price":{"[...]
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":63,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_order_book"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000813125997066492'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":500},"ret":{"bids":[],"asks":[]}},"id":63}'
  recorded_at: Sat, 17 Oct 2020 04:22:42 GMT
[...]
