---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_recent_trades","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000253823892994840'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2019-05-23T01:24:06","current_pays":{"amount":"379","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"967","precision":3,"nai":"@@000000021"}},{"date":"2019-05-23T01:23:33","current_pays":{"amount":"801","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"2044","precision":3,"nai":"@@000000021"}},{"date":"2019-05-23T01:21:54","current_pays":{"amount":"143","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"365","precision":3,"nai":"@@000000021"}},{"date":"2019-05-23T01:20:57","current_pays":{"amount":"129","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"329","precision":3,"nai":"@@000000021"}},{"date":"2019-05-23T01:20:30","current_pays":{"amount":"800","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"2042","precision":3,"nai":"@@000000021"}},{"date":"2019-05-23T01:19:30","current_pays":{"amount":"203","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"518","precision":3,"nai":"@@000000021"}},{"date":"2019-05-23T01:16:18","current_pays":{"amount":"111","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"283","precision":3,"nai":"@@000000021"}},{"date":"2019-05-23T01:15:33","current_pays":{"amount":"2387","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"6092","precision":3,"nai":"@@000000021"}},{"date":"2019-05-23T01:15:24","current_pays":{"amount":"3","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"7","precision":3,"nai":"@@000000021"}},{"date":"2019-05-23T01:15:12","current_pays":{"amount":"1","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"2","precision":3,"nai":"@@000000021"}}]},"id":1}'
  recorded_at: Thu, 23 May 2019 01:24:13 GMT
recorded_with: VCR 4.0.0
