---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":4,"method":"jsonrpc.get_signature","params":{"method":"account_by_key_api.get_key_references"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.jsonrpc.get_signature.params={"method":"account_by_key_api.get_key_references"}
      X-Jussi-Request-Id:
      - '001064445127720601'
    body:
      encoding: UTF-8
      string: '{"id":4,"jsonrpc":"2.0","result":{"args":{"keys":[]},"ret":{"accounts":[]}}}'
  recorded_at: Sat, 07 Nov 2020 19:26:00 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":55,"method":"account_by_key_api.get_key_references","params":{"keys":["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000796155003470522'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":[["steemit1","steemit60","therealslimshady"]]},"id":55}'
  recorded_at: Sun, 08 Nov 2020 06:01:35 GMT
recorded_with: VCR 6.0.0
