---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_market_history_buckets",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - se127499e-3658-45ba-9578-9f6347a74129->2ffd5129-ed7a-4aff-9c18-2b6114e10265
    body:
      encoding: UTF-8
      string: '{"result":[15,60,300,3600,86400],"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:09:06 GMT
recorded_with: VCR 3.0.3
