---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_recent_trades",[10]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000148686530125689'
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[{"date":"2018-02-18T04:33:03","current_pays":"9.041
        SBD","open_pays":"10.782 STEEM"},{"date":"2018-02-18T04:32:39","current_pays":"4.877
        SBD","open_pays":"5.816 STEEM"},{"date":"2018-02-18T04:30:39","current_pays":"1.133
        SBD","open_pays":"1.351 STEEM"},{"date":"2018-02-18T04:29:42","current_pays":"1.013
        SBD","open_pays":"1.208 STEEM"},{"date":"2018-02-18T04:29:09","current_pays":"0.237
        STEEM","open_pays":"0.197 SBD"},{"date":"2018-02-18T04:29:09","current_pays":"0.120
        STEEM","open_pays":"0.100 SBD"},{"date":"2018-02-18T04:29:09","current_pays":"0.236
        STEEM","open_pays":"0.197 SBD"},{"date":"2018-02-18T04:29:09","current_pays":"1.187
        STEEM","open_pays":"0.996 SBD"},{"date":"2018-02-18T04:28:39","current_pays":"1.780
        STEEM","open_pays":"1.492 SBD"},{"date":"2018-02-18T04:28:21","current_pays":"1.780
        STEEM","open_pays":"1.492 SBD"}]}'
  recorded_at: Sun, 18 Feb 2018 04:35:49 GMT
recorded_with: VCR 3.0.3
