---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":47,"method":"condenser_api.get_witness_by_account","params":[""]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000682717010063349'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":null,"id":47}'
  recorded_at: Sat, 07 Nov 2020 19:33:17 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":102,"method":"condenser_api.get_witness_by_account","params":[""]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000698363586562160'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":null,"id":102}'
  recorded_at: Sat, 30 Jul 2022 23:28:48 GMT
recorded_with: VCR 6.1.0
