---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":4,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_volume"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000939435880865721'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"steem_volume":{"amount":"0","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"0","precision":3,"nai":"@@000000013"}}},"id":4}'
  recorded_at: Sat, 07 Nov 2020 19:44:15 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":67,"method":"market_history_api.get_volume","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.market_history_api.get_volume.params={}
      X-Jussi-Request-Id:
      - '001057423921925993'
    body:
      encoding: UTF-8
      string: '{"id":67,"jsonrpc":"2.0","result":{"steem_volume":{"amount":"19168662","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"2828418","precision":3,"nai":"@@000000013"}}}'
  recorded_at: Sat, 07 Nov 2020 20:35:13 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":7,"method":"market_history_api.get_volume","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000473508514348265'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"steem_volume":{"amount":"23977024","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"3487602","precision":3,"nai":"@@000000013"}},"id":7}'
  recorded_at: Sun, 08 Nov 2020 06:00:32 GMT
recorded_with: VCR 6.0.0
