---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["tag_api","get_tags",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s19603b25-e99c-4748-9eeb-a0297e314e83->56263c71-ec68-4143-b7eb-9effb1e964fe
    body:
      encoding: UTF-8
      string: '{"result":[],"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:25 GMT
recorded_with: VCR 3.0.3
