---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000094209539706958'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"2.641
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"1.928 SBD","quote":"1.000
        STEEM"},{"base":"1.953 SBD","quote":"1.000 STEEM"},{"base":"2.000 SBD","quote":"1.000
        STEEM"},{"base":"1.950 SBD","quote":"1.000 STEEM"},{"base":"1.990 SBD","quote":"1.000
        STEEM"},{"base":"2.026 SBD","quote":"1.000 STEEM"},{"base":"2.243 SBD","quote":"1.000
        STEEM"},{"base":"2.246 SBD","quote":"1.000 STEEM"},{"base":"2.310 SBD","quote":"1.000
        STEEM"},{"base":"2.450 SBD","quote":"1.000 STEEM"},{"base":"2.549 SBD","quote":"[...]
