---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_ticker",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.market_history_api.get_ticker
      X-Jussi-Response-Id:
      - s5bed5372-19e0-4105-988b-475deba6f509->038aef16-0ef6-4604-8b0f-835f021b0dbb
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"0.98992398797949432","lowest_ask":"0.99259101705129582","highest_bid":"0.98726429065060706","percent_change":"2.26487479127007818","steem_volume":"10434.183
        STEEM","sbd_volume":"10343.502 SBD"},"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:08 GMT
recorded_with: VCR 3.0.3
