---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000835867145023737'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:args.size()
        == 1: Expected #s argument(s), was 0","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":850,"method":"get_accounts","hostname":"","timestamp":"2018-11-03T18:06:00"},"format":"args.size()
        == 1: Expected #s argument(s), was ${n}","data":{"n":0}}]}},"id":1}'
  recorded_at: Sat, 03 Nov 2018 18:06:00 GMT
recorded_with: VCR 3.0.3
