---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_vesting_delegations","params":["minnowbooster",-1000,1000],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001056298827046348'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":567141,"delegator":"minnowbooster","delegatee":"steemstem","vesting_shares":"20462868.015158
        VESTS","min_delegation_time":"2018-01-29T11:44:39"},{"id":333643,"delegator":"minnowbooster","delegatee":"utopian-io","vesting_shares":"20539024.967918
        VESTS","min_delegation_time":"2017-11-16T08:27:03"}],"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:41:17 GMT
recorded_with: VCR 3.0.3
