---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_recent_trades",[10]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s63f85ceb-ae03-481e-9a3f-ec4339d5ae28->5841f128-4e13-4c4e-8c7c-fbbd67dcd2e2
    body:
      encoding: UTF-8
      string: '{"result":[{"date":"2017-10-24T16:57:30","current_pays":"140.000 SBD","open_pays":"141.425
        STEEM"},{"date":"2017-10-24T16:57:21","current_pays":"62.399 STEEM","open_pays":"61.511
        SBD"},{"date":"2017-10-24T16:57:06","current_pays":"71.825 SBD","open_pays":"72.551
        STEEM"},{"date":"2017-10-24T16:56:54","current_pays":"140.000 SBD","open_pays":"141.638
        STEEM"},{"date":"2017-10-24T16:56:42","current_pays":"67.629 SBD","open_pays":"68.516
        STEEM"},{"date":"2017-10-24T16:54:48","current_pays":"0.120 SBD","open_pays":"0.121
        STEEM"},{"date":"2017-10-24T16:53:12","current_pays":"1.000 STEEM","open_pays":"0.981
        SBD"},{"date":"2017-10-24T16:52:51","current_pays":"6.910 SBD","open_pays":"7.000
        STEEM"},{"date":"2017-10-24T16:50:12","current_pays":"54.760 STEEM","open_pays":"53.826
        SBD"},{"date":"2017-10-24T16:46:12","current_pays":"7.780 STEEM","open_pays":"7.647
        SBD"}],"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:12 GMT
recorded_with: VCR 3.0.3
