---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":43,"method":"condenser_api.get_vesting_delegations","params":["minnowbooster",-1000,1000]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000366692876969865'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[],"id":43}'
  recorded_at: Sat, 07 Nov 2020 19:30:50 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":115,"method":"condenser_api.get_vesting_delegations","params":["minnowbooster",-1000,1000]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000739616920274071'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[],"id":115}'
  recorded_at: Sat, 30 Jul 2022 23:28:54 GMT
recorded_with: VCR 6.1.0
