---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_references","params":[["2.2.27007"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000218651995159304'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":887,"method":"get_account_references","hostname":"","timestamp":"2018-11-03T18:06:01"},"format":"false:
        condenser_api::get_account_references --- Needs to be refactored for Steem.","data":{}}]}},"id":1}'
  recorded_at: Sat, 03 Nov 2018 18:06:01 GMT
recorded_with: VCR 3.0.3
