---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_hardfork_version","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001051152788439406'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":"0.19.0","id":1}'
  recorded_at: Sat, 19 May 2018 20:50:25 GMT
recorded_with: VCR 3.0.3
