---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_recent_trades",[10]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[{"date":"2017-10-18T06:46:42","current_pays":"49.084
        STEEM","open_pays":"51.153 SBD"},{"date":"2017-10-18T06:46:42","current_pays":"0.148
        STEEM","open_pays":"0.155 SBD"},{"date":"2017-10-18T06:43:36","current_pays":"0.034
        SBD","open_pays":"0.032 STEEM"},{"date":"2017-10-18T06:42:24","current_pays":"74.338
        SBD","open_pays":"71.066 STEEM"},{"date":"2017-10-18T06:41:15","current_pays":"7.117
        SBD","open_pays":"6.803 STEEM"},{"date":"2017-10-18T06:39:36","current_pays":"77.535
        STEEM","open_pays":"80.835 SBD"},{"date":"2017-10-18T06:39:24","current_pays":"20.987
        STEEM","open_pays":"21.880 SBD"},{"date":"2017-10-18T06:39:15","current_pays":"96.042
        STEEM","open_pays":"100.317 SBD"},{"date":"2017-10-18T06:38:21","current_pays":"1.051
        SBD","open_pays":"1.000 STEEM"},{"date":"2017-10-18T06:36:57","current_pays":"0.003
        SBD","open_pays":"0.002 STEEM"}]}'
  recorded_at: Wed, 18 Oct 2017 06:49:03 GMT
recorded_with: VCR 3.0.3
