---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_hardfork_version","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000584534498589482'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":"0.20.0","id":1}'
  recorded_at: Sat, 03 Nov 2018 18:05:57 GMT
recorded_with: VCR 3.0.3
