---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_volume",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s124350bc-871f-4f65-b272-8d748f6a2ba9->af5e7444-4323-407a-ae66-700fc896bbb6
    body:
      encoding: UTF-8
      string: '{"result":{"steem_volume":"10434.183 STEEM","sbd_volume":"10343.502
        SBD"},"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:08 GMT
recorded_with: VCR 3.0.3
