---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":72,"method":"condenser_api.get_accounts","params":[["inertia"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000313696141088283'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":19155,"name":"inertia","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6qpwgqwzaF8E1GsKh28E8HVRzbBdewcimKzLmn1Rjgq7SQoNUa",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5ZDoNyBdQbsv44ySnAfNPX8NonL8w8wd97H2r9EGXVhsWN76SP",1]]},"posting":{"weight_threshold":1,"account_auths":[["busy.app",1],["smartsteem",1],["steempeak.app",1],["vimm.app",1]],"key_auths":[["STM5kMzqqFgErmdJvzHBfVyLCsLpGCVkAopdUDL7xcms3PB3VEaF6",1]]},"memo_key":"STM7S7hpaNdDAYM7vqXHQgW5qg5mVKChcAYAdQQfJnfF1rCUG5zQm","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/i.imgur.com\/LbTz5yg.jpg\",\"cover_image\":\"https:\/\/i.imgur.com\/0ccC6UH.png\",\"name\":\"inertia
        \u24b6\u00b3\",\"about\":\"I can see the fnords.\",\"location\":\"California\",\"website\":\"https:\/\/steemit.com\/@inertia\/profile\",\"dtube_pub\":\"jTizao5TdzSQKi4t9dGgeSE9FZTT5VuxoY14yXLy49tt\"}}","posting_json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/i.imgur.com\/LbTz5yg.jpg\",\"cover_image\":\"https:\/\/i.imgur.com\/0ccC6UH.png\",\"name\":\"inertia
        \u24b6\u00b3\",\"about\":\"I can see the fnords.\",\"location\":\"California\",\"website\":\"https:\/\/hive.blog\/@inertia\/profile\",\"dtube_pub\":\"jTizao5TdzSQKi4t9dGgeSE9FZTT5VuxoY14yXLy49tt\",\"version\":2,\"switchHive\":\"true\"}}","proxy":"","last_owner_update":"2019-04-03T21:49:18","last_account_update":"2020-04-24T15:42:54","created":"2016-07-13T06:44:33","mined":false,"recovery_account":"steempeak","last_account_recovery":"2016-07-21T05:49:33","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":4947,"can_vote":true,"voting_manabar":{"current_mana":"17781203217077","last_update_time":1602823932},"downvote_manabar":{"current_mana":"4819165629502","last_update_time":1602823932},"voting_power":9224,"balance":"2645.212
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"75.032 SBD","sbd_seconds":"50978533983","sbd_seconds_last_update":"2020-04-29T16:10:03","sbd_last_interest_payment":"2020-04-24T13:03:30","savings_sbd_balance":"0.000
        SBD","savings_sbd_seconds":"0","savings_sbd_seconds_last_update":"2019-11-02T14:29:45","savings_sbd_last_interest_payment":"2019-11-02T14:29:45","savings_withdraw_requests":0,"reward_sbd_balance":"10.985
        SBD","reward_steem_balance":"38.133 STEEM","reward_vesting_balance":"601317.575599
        VESTS","reward_vesting_steem":"308.104 STEEM","vesting_shares":"31868302.646639
        VESTS","delegated_vesting_shares":"15922027.502727 VESTS","received_vesting_shares":"3330387.374098
        VESTS","vesting_withdraw_rate":"0.000000 VESTS","next_vesting_withdrawal":"1969-12-31T23:59:59","withdrawn":"114414073419582","to_withdraw":"114414073419582","withdraw_routes":0,"curation_rewards":4636983,"posting_rewards":23182044,"proxied_vsf_votes":["29584271486413",0,0,0],"witnesses_voted_for":30,"last_post":"2020-10-06T17:09:33","last_root_post":"2020-10-06T17:09:33","last_vote_time":"2020-10-16T04:52:12","post_bandwidth":13323,"pending_claimed_accounts":6,"vesting_balance":"0.000
        STEEM","reputation":"228556305305689","transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":["abit","adsactly-witness","aggroed","anyx","arcange","ausbitbank","beerbot","bue","coingecko","cryptopassion","drakos","emrebeyler","enginewitty","gridcoin.science","gulfwaves.net","ihashfury","lux-witness","pcste","r0nd0n","satren","someguy123","sp-group-witness","steemcreative","steempress","swisswitness","techcoderx","thecryptodrive","thekitchenfairy","travelfeed","whiterosecoffee"],"tags_usage":[],"guest_bloggers":[]}],"id":72}'
  recorded_at: Sat, 17 Oct 2020 04:07:37 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":102,"method":"condenser_api.get_accounts","params":[["inertia"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000257749696807216'
    body:
      encoding: ASCII-8BIT
      string: '{"j[...]
[...]
