---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":49,"method":"condenser_api.get_hardfork_version","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000146549684348324'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":"0.23.0","id":49}'
  recorded_at: Sat, 07 Nov 2020 19:33:21 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":58,"method":"condenser_api.get_hardfork_version","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000626956450625026'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":"0.23.0","id":58}'
  recorded_at: Sat, 30 Jul 2022 23:22:35 GMT
recorded_with: VCR 6.1.0
