---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_ticker",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.market_history_api.get_ticker.params=[]
      X-Jussi-Request-Id:
      - '000876836561699386'
    body:
      encoding: UTF-8
      string: '{"id":1,"jsonrpc":"2.0","result":{"latest":"0.83852717492116491","lowest_ask":"0.83849494949494940","highest_bid":"0.83418367346938771","percent_change":"0.80512590841580522","steem_volume":"6157.521
        STEEM","sbd_volume":"5194.584 SBD"}}'
  recorded_at: Sun, 18 Feb 2018 04:35:49 GMT
recorded_with: VCR 3.0.3
