---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["tag_api","get_tags",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s5e0290b0-b269-4acf-b4d2-598e4a1e53c7->51f479ec-6996-4307-88bf-da3af105a080
    body:
      encoding: UTF-8
      string: '{"result":[],"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:08:43 GMT
recorded_with: VCR 3.0.3
