---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_recent_trades","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001032337715987666'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2018-11-03T18:05:09","current_pays":{"amount":"3044","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"3831","precision":3,"nai":"@@000000021"}},{"date":"2018-11-03T18:04:57","current_pays":{"amount":"43670","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"55016","precision":3,"nai":"@@000000021"}},{"date":"2018-11-03T18:04:48","current_pays":{"amount":"10462","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"8270","precision":3,"nai":"@@000000013"}},{"date":"2018-11-03T18:04:18","current_pays":{"amount":"11378","precision":3,"nai":"@@000000021"},"open_pays":{"amount":[...]
