---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_account_count","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000143498782757718'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":1223231,"id":1}'
  recorded_at: Tue, 19 Feb 2019 19:59:10 GMT
recorded_with: VCR 4.0.0
