---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_volume","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000057175291102911'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"steem_volume":{"amount":"14554835","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"11638041","precision":3,"nai":"@@000000013"}},"id":1}'
  recorded_at: Sat, 03 Nov 2018 18:05:14 GMT
recorded_with: VCR 3.0.3
