---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["follow_api","get_followers",["inertia",0,"blog",100]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - sf381f84b-ce29-4802-a79a-966fbf39f9e0->368aa1ae-587c-42eb-bd45-099b3a2ac276
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"follower":"a-3","following":"inertia","what":["blog"]},{"follower":"a-a-a","following":"inertia","what":["blog"]},{"follower":"a-a-a-a","following":"inertia","what":["blog"]},{"follower":"a-a-lifemix","following":"inertia","what":["blog"]},{"follower":"a-alice","following":"inertia","what":["blog"]},{"follower":"a-angel","following":"inertia","what":["blog"]},{"follower":"a11at","following":"inertia","what":["blog"]},{"follower":"a4illusionist","following":"inertia","what":["blog"]},{"follower":"aadyashakti","following":"inertia","what":["[...]
