---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_order_book","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000032052708566129'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":{"amount":"80000","precision":3,"nai":"@@000000013"},"quote":{"amount":"101105","precision":3,"nai":"@@000000021"}},"real_price":"0.79125661441076112","steem":101105,"sbd":80000,"created":"2018-11-03T18:05:06"},{"order_price":{"base":{"amount":"24210","precision":3,"nai":"@@000000013"},"quote":{"amount":"30642","precision":3,"nai":"@@000000021"}},"real_price":"0.79009203054630894","steem":30642,"sbd":24210,"created":"2018-11-03T18:04:06"},{"order_price":{"base":{"amount":"5001","precision":3,"nai":"@@000000013"},"quote":{"amount":"6330","precision":3,"nai":"@@000000021"}},"real_price":"0.79004739336492891","steem":6330,"sbd":5001,"created":"2018-11-03T17:34:09"},{"order_price":{"[...]
