---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_ticker","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000209192040078640'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"0.38704088704088702","lowest_ask":"0.39176573786398250","highest_bid":"0.39149888143176736","percent_change":"0.00000000000000000","steem_volume":{"amount":"36647875","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"14247578","precision":3,"nai":"@@000000013"}},"id":1}'
  recorded_at: Thu, 23 May 2019 01:24:08 GMT
recorded_with: VCR 4.0.0
