---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_ticker","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000039285034465745'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"0.34137291280148424","lowest_ask":"0.34625059998496421","highest_bid":"0.34557220708446867","percent_change":"0.00000000000000000","steem_volume":{"amount":"17815045","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"6111805","precision":3,"nai":"@@000000013"}},"id":1}'
  recorded_at: Tue, 19 Feb 2019 19:59:50 GMT
recorded_with: VCR 4.0.0
