---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["follow_api","get_followers",["inertia",0,"blog",100]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000819211879731129'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"result":[{"follower":"a-0-0","following":"inertia","what":["blog"]},{"follower":"a-0-0-0-1abokina","following":"inertia","what":["blog"]},{"follower":"a-0-0-0-a","following":"inertia","what":["blog"]},{"follower":"a-0-1","following":"inertia","what":["blog"]},{"follower":"a-3","following":"inertia","what":["blog"]},{"follower":"a-7","following":"inertia","what":["blog"]},{"follower":"a-a-0","following":"inertia","what":["blog"]},{"follower":"a-a-a","following":"inertia","what":["blog"]},{"follower":"a-a-a-a","following":"inertia","what":["blog"]},{"fol[...]
