---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_recent_trades","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000326247915580711'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2018-04-28T17:41:51","current_pays":["118",3,"@@000000021"],"open_pays":["140",3,"@@000000013"]},{"date":"2018-04-28T17:41:48","current_pays":["11262",3,"@@000000021"],"open_pays":["13434",3,"@@000000013"]},{"date":"2018-04-28T17:40:42","current_pays":["4807",3,"@@000000013"],"open_pays":["4029",3,"@@000000021"]},{"date":"2018-04-28T17:40:24","current_pays":["3544",3,"@@000000021"],"open_pays":["4227",3,"@@000000013"]},{"date":"2018-04-28T17:39:57","current_pays":["2",3,"@@000000013"],"open_pays":["1",3,"@@000000021"]},{"date":"2018-04-28T17:38:42","current_pays":["16002",3,"@@000000013"],"open_pays":["13416",3,"@@000000021"]},{"date":"2018-04-28T17:37:12","current_pays":["6654",3,"@@000000021"],"open_pays":["7938",3,"@@000000013"]},{"date":"2018-04-28T17:37:06","current_pays":["602",3,"@@000000013"],"open_pays":["504",3,"@@000000021"]},{"date":"2018-04-28T17:36:57","current_pays":["192",3,"@@000000021"],"open_pays":["229",3,"@@000000013"]},{"date":"2018-04-28T17:36:54","current_pays":["336",3,"@@000000021"],"open_pays":["400",3,"@@000000013"]}]},"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:42:11 GMT
recorded_with: VCR 3.0.3
