---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["market_history_api","get_trade_history",[null,null,null]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000499705811862168'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"error":{"code":1,"message":"13 N5boost16exception_detail10clone_implINS0_19error_info_injectorINS_9gregorian16bad_day_of_monthEEEEE:
        Day of month value is out of range 1..31\nDay of month value is out of range
        1..31: unable to convert ISO-formatted string to fc::time_point_sec\n    {\"what\":\"Day
        of month value is out of range 1..31\"}\n    th_a  time.cpp:45 from_iso_string\n\n    {\"call.method\":\"call\",\"call.params\":[\"market_history_api\",\"get_trade_history\",[null,null,null]]}\n    th_a  websocket_api.cpp:124
        on_message","data":{"code":13,"name":"N5boost16exception_detail10clone_implINS0_19error_info_injectorINS_9gregorian16bad_day_of_monthEEEEE","message":"Day
        of month value is out of range 1..31","stack":[{"context":{"level":"warn","file":"time.cpp","line":45,"method":"from_iso_string","hostname":"","thread_name":"th_a","timestamp":"2018-02-18T04:35:48"},"format":"${what}:
        unable to convert ISO-formatted string to fc::time_point_sec","data":{"what":"Day
        of month value is out of range 1..31"}},{"context":{"level":"warn","file":"websocket_api.cpp","line":124,"method":"on_message","hostname":"","thread_name":"th_a","timestamp":"2018-02-18T04:35:48"},"format":"","data":{"call.method":"call","call.params":["market_history_api","get_trade_history",[null,null,null]]}}]}}}'
  recorded_at: Sun, 18 Feb 2018 04:35:48 GMT
recorded_with: VCR 3.0.3
