---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_witness_by_account",[""]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000759861522516832'
    body:
      encoding: UTF-8
      string: '{"id":1,"result":null}'
  recorded_at: Sun, 18 Feb 2018 04:35:25 GMT
recorded_with: VCR 3.0.3
