---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"account_by_key_api.get_key_references","params":{"keys":["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX"]},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000570105453030402'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":[["ned","steemit1","steemit60","therealslimshady"]]},"id":1}'
  recorded_at: Thu, 23 May 2019 01:24:59 GMT
recorded_with: VCR 4.0.0
