---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_order_book","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000795397672035455'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":["18310",3,"@@000000013"],"quote":["13084",3,"@@000000021"]},"real_price":"1.39941913787832473","steem":12531,"sbd":17537,"created":"2018-05-19T20:52:48"},{"order_price":{"base":["16805",3,"@@000000013"],"quote":["12009",3,"@@000000021"]},"real_price":"1.39936714131068363","steem":10824,"sbd":15147,"created":"2018-05-19T20:11:15"},{"order_price":{"base":["3000",3,"@@000000013"],"quote":["2144",3,"@@000000021"]},"real_price":"1.39925373134328357","steem":2144,"sbd":3000,"created":"2018-05-19T20:40:30"},{"order_price":{"base":["1428",3,"@@000000013"],"quote":["1023",3,"@@000000021"]},"real_price":"1.39589442815249276","steem":[...]
