---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":48,"method":"condenser_api.get_feed_history","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000653153242137118'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.142
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"0.132 SBD","quote":"1.000
        STEEM"},{"base":"0.133 SBD","quote":"1.000 STEEM"},{"base":"0.131 SBD","quote":"1.000
        STEEM"},{"base":"0.132 SBD","quote":"1.000 STEEM"},{"base":"0.132 SBD","quote":"1.000
        STEEM"},{"base":"0.132 SBD","quote":"1.000 STEEM"},{"base":"0.134 SBD","quote":"1.000
        STEEM"},{"base":"0.135 SBD","quote":"1.000 STEEM"},{"base":"0.135 SBD","quote":"1.000
        STEEM"},{"base":"0.135 SBD","quote":"1.000 STEEM"},{"base":"0.136 SBD","quote":"[...]
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":99,"method":"condenser_api.get_feed_history","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000622440302111864'
    body:
      encoding: ASCII-8BIT
      string: '{"id":99,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.142
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"0.133 SBD","quote":"1.000
        STEEM"},{"base":"0.131 SBD","quote":"1.000 STEEM"},{"base":"0.132 SBD","quote":"1.000
        STEEM"},{"base":"0.132 SBD","quote":"1.000 STEEM"},{"base":"0.1[...]
[...]
