---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":61,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000385755989705776'
    body:
      encoding: ASCII-8BIT
      string: '{"id":61,"jsonrpc":"2.0","result":{"head_block_number":47791873,"head_block_id":"02d93f0161b1d7273330736934bf637925879587","time":"2020-10-17T04:07:03","current_witness":"steem-agora","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"405320247.796
        STEEM","current_supply":"368937091.727 STEEM","confidential_supply":"0.000
        STEEM","init_sbd_supply":"0.000 SBD","current_sbd_supply":"5784921.815 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"110211234.741 STEEM","total_vesting_shares":"212008724559.493505
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"718095718.002372
        VESTS","pending_rewarded_vesting_steem":"362474.979 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"required_actions_partition_percent":0,"current_aslot":48024141,"recent_slots_filled":"340282366920938463463374607156890304511","participation_count":127,"last_irreversible_block_num":47791852,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":300,"available_account_subsidies":16604468,"sbd_stop_percent":1000,"sbd_start_percent":900,"next_maintenance_time":"2020-10-17T04:41:48","last_budget_time":"2020-10-17T03:41:48","content_reward_percent":6500,"vesting_reward_percent":1500,"sps_fund_percent":1000,"sps_interval_ledger":"23.952
        SBD","downvote_pool_percent":2500}}'
  recorded_at: Sat, 17 Oct 2020 04:07:04 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":95,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Ju[...]
[...]
