---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_tags","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000820463053451666'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32002,"message":"Assert Exception:method_itr
        != api_itr->second.end(): Could not find method get_tags","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"json_rpc_plugin.cpp","line":206,"method":"find_api_method","hostname":"","timestamp":"2018-04-28T17:42:10"},"format":"method_itr
        != api_itr->second.end(): Could not find method ${method}","data":{"method":"get_tags"}}]}},"id":1}'
  recorded_at: Sat, 28 Apr 2018 17:42:10 GMT
recorded_with: VCR 3.0.3
