---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_account_count",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - sbc11bc54-dbe7-4ca3-941f-c871d4608c29->0e6153de-5de0-41f9-82b0-c8968f34185f
    body:
      encoding: UTF-8
      string: '{"result":423035,"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:35 GMT
recorded_with: VCR 3.0.3
