---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_accounts","params":[["inertia"]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000759424177312987'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":19155,"name":"inertia","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6qpwgqwzaF8E1GsKh28E8HVRzbBdewcimKzLmn1Rjgq7SQoNUa",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5ZDoNyBdQbsv44ySnAfNPX8NonL8w8wd97H2r9EGXVhsWN76SP",1]]},"posting":{"weight_threshold":1,"account_auths":[["busy.app",1],["dlike.app",1],["dpoll.xyz",1],["steempeak.app",1],["vimm.app",1],["wisevote.app",1]],"key_auths":[["STM5kMzqqFgErmdJvzHBfVyLCsLpGCVkAopdUDL7xcms3PB3VEaF6",1]]},"memo_key":"STM7S7hpaNdDAYM7vqXHQgW5qg5mVKChcAYAdQQfJnfF1rCUG5zQm","json_metadata":"{\"profile\":{\"profile_image\":\"https:\/\/i.imgur.com\/LbTz5yg.jpg\",\"cover_image\":\"https:\/\/i.imgur.com\/0ccC6UH.png\",\"name\":\"inertia
        \u24b6\u00b3\",\"about\":\"I can see the fnords.\",\"location\":\"California\",\"website\":\"https:\/\/steemit.com\/@inertia\/profile\"}}","proxy":"","last_owner_update":"2019-04-03T21:49:18","last_account_update":"2019-04-03T21:49:18","created":"2016-07-13T06:44:33","mined":false,"recovery_account":"steem","last_account_recovery":"2016-07-21T05:49:33","reset_account":"null","comment_count":0,"lifetime_vote_count":0,"post_count":3959,"can_vote":true,"voting_manabar":{"current_mana":"98904824826343","last_update_time":1558565058},"voting_power":9077,"balance":"2203.696
        STEEM","savings_balance":"0.000 STEEM","sbd_balance":"5257.672 SBD","sbd_seconds":"9303990099324","sbd_seconds_last_update":"2019-05-21T16:52:06","sbd_last_interest_payment":"2019-05-02T04:10:12","savings_sbd_balance":"1560.000
        SBD","savings_sbd_seconds":"1865856672000","savings_sbd_seconds_last_update":"2017-12-15T19:21:21","savings_sbd_last_interest_payment":"2017-12-03T17:28:57","savings_withdraw_requests":0,"reward_sbd_balance":"28.481
        SBD","reward_steem_balance":"0.000 STEEM","reward_vesting_balance":"321619.109641
        VESTS","reward_vesting_steem":"161.227 STEEM","vesting_shares":"132407163.450999
        VESTS","delegated_vesting_shares":"17983115.875808 VESTS","received_vesting_shares":"3330387.374098
        VESTS","vesting_withdraw_rate":"8801082.570737 VESTS","next_vesting_withdrawal":"2019-05-23T18:43:24","withdrawn":0,"to_withdraw":"114414073419582","withdraw_routes":0,"curation_rewards":3907119,"posting_rewards":20544209,"proxied_vsf_votes":["49932900300471",0,0,0],"witnesses_voted_for":29,"last_post":"2019-05-22T22:45:48","last_root_post":"2019-05-20T16:50:27","last_vote_time":"2019-05-22T22:44:18","post_bandwidth":13323,"pending_claimed_accounts":6,"vesting_balance":"0.000
        STEEM","reputation":0,"transfer_history":[],"market_history":[],"post_history":[],"vote_history":[],"other_history":[],"witness_votes":["aggroed","anyx","arcange","ausbitbank","blockbrothers","cervantes","emrebeyler","followbtcnews","fyrst-witness","good-karma","gtg","helo","jesta","netuoso","ocd-witness","pfunk","pharesim","qurator","reggaemuffin","riverhead","roelandp","someguy123","steemgigs","teamsteem","thecryptodrive","themarkymark","therealwolf","wise-team","yabapmatt"],"tags_usage":[],"guest_bloggers":[]}],"id":1}'
  recorded_at: Thu, 23 May 2019 01:24:54 GMT
recorded_with: VCR 4.0.0
