---
http_interactions:
- request:
    method: post
    uri: https://steemd.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_feed_history",[["inertia"]]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"current_median_history":{"base":"1.035 SBD","quote":"1.000
        STEEM"},"price_history":[{"base":"1.041 SBD","quote":"1.000 STEEM"},{"base":"1.040
        SBD","quote":"1.000 STEEM"},{"base":"1.056 SBD","quote":"1.000 STEEM"},{"base":"1.056
        SBD","quote":"1.000 STEEM"},{"base":"1.072 SBD","quote":"1.000 STEEM"},{"base":"1.086
        SBD","quote":"1.000 STEEM"},{"base":"1.055 SBD","quote":"1.000 STEEM"},{"base":"1.053
        SBD","quote":"1.000 STEEM"},{"base":"1.051 SBD","quote":"1.000 STEEM"},{"base":"1.041
        SBD","quote":"1.000 STEEM"},{"base":"1.009 SBD","quote":"[...]
