---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"market_history_api.get_recent_trades","params":{"limit":10},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000803101450737746'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2018-05-19T20:55:21","current_pays":["901",3,"@@000000013"],"open_pays":["643",3,"@@000000021"]},{"date":"2018-05-19T20:55:18","current_pays":["302",3,"@@000000013"],"open_pays":["215",3,"@@000000021"]},{"date":"2018-05-19T20:54:48","current_pays":["25",3,"@@000000013"],"open_pays":["17",3,"@@000000021"]},{"date":"2018-05-19T20:54:36","current_pays":["803",3,"@@000000013"],"open_pays":["573",3,"@@000000021"]},{"date":"2018-05-19T20:54:06","current_pays":["4416",3,"@@000000013"],"open_pays":["3154",3,"@@000000021"]},{"date":"2018-05-19T20:53:51","current_pays":["1055",3,"@@000000013"],"open_pays":["753",3,"@@000000021"]},{"date":"2018-05-19T20:53:51","current_pays":["627",3,"@@000000013"],"open_pays":["448",3,"@@000000021"]},{"date":"2018-05-19T20:53:45","current_pays":["612",3,"@@000000013"],"open_pays":["437",3,"@@000000021"]},{"date":"2018-05-19T20:53:15","current_pays":["55762",3,"@@000000013"],"open_pays":["39840",3,"@@000000021"]},{"date":"2018-05-19T20:53:15","current_pays":["14238",3,"@@000000013"],"open_pays":["10173",3,"@@000000021"]}]},"id":1}'
  recorded_at: Sat, 19 May 2018 20:55:38 GMT
recorded_with: VCR 3.0.3
