---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_witness_by_account",[""]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - sd53305c4-43c2-44da-a321-e9e71a436ada->b0534cb4-edb8-422a-b39f-16d61f39c370
    body:
      encoding: UTF-8
      string: '{"result":null,"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:08:50 GMT
recorded_with: VCR 3.0.3
