---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000069333041927048'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"3.845
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"3.476 SBD","quote":"1.000
        STEEM"},{"base":"3.474 SBD","quote":"1.000 STEEM"},{"base":"3.486 SBD","quote":"1.000
        STEEM"},{"base":"3.484 SBD","quote":"1.000 STEEM"},{"base":"3.245 SBD","quote":"1.000
        STEEM"},{"base":"3.192 SBD","quote":"1.000 STEEM"},{"base":"3.340 SBD","quote":"1.000
        STEEM"},{"base":"3.388 SBD","quote":"1.000 STEEM"},{"base":"3.378 SBD","quote":"1.000
        STEEM"},{"base":"3.353 SBD","quote":"1.000 STEEM"},{"base":"3.388 SBD","quote":"[...]
