---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":55,"method":"condenser_api.get_account_count","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000963180135046986'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":1435222,"id":55}'
  recorded_at: Sat, 17 Oct 2020 04:07:02 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":99,"method":"condenser_api.get_account_count","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000823136771479444'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":1435225,"id":99}'
  recorded_at: Sat, 17 Oct 2020 04:23:13 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":82,"method":"condenser_api.get_account_count","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000171031579732482'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":1435235,"id":82}'
  recorded_at: Sat, 17 Oct 2020 05:03:35 GMT
recorded_with: VCR 6.0.0
