---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '001110042798685589'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":22576892,"head_block_id":"01587efc58d572cc7d9b2c57f4eda5c7e2442bd0","time":"2018-05-19T20:50:24","current_witness":"gtg","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"273422217.600
        STEEM","current_supply":"268581028.337 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"13889371.997 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191177694.416 STEEM","total_vesting_shares":"388954539589.033231
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"363531135.756362
        VESTS","pending_rewarded_vesting_steem":"177218.055 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22642608,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":22576875,"vote_power_reserve_rate":10,"average_block_size":15650,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sat, 19 May 2018 20:50:24 GMT
recorded_with: VCR 3.0.3
