---
http_interactions:
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"head_block_number":10656321,"head_block_id":"00a29a4116985685c4838d6915c15496831d6f8e","time":"2017-10-24T16:59:36","current_witness":"roelandp","total_pow":520364,"num_pow_witnesses":172,"virtual_supply":"131246573.118
        GOLOS","current_supply":"128421440.631 GOLOS","confidential_supply":"0.000
        GOLOS","current_sbd_supply":"7466825.164 GBG","confidential_sbd_supply":"0.000
        GBG","total_vesting_fund_steem":"87280158.610 GOLOS","total_vesting_shares":"327102160402.423500
        GESTS","total_reward_fund_steem":"83089.563 GOLOS","total_reward_shares2":"2321647508442175362232633077135","sbd_interest_rate":1000,"sbd_print_rate":9500,"average_block_size":1630,"maximum_block_size":65536,"current_aslot":10691992,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":10656306,"max_virtual_bandwidth":"5986734968066277376","current_reserve_ratio":20000,"vote_regeneration_per_day":40}}'
  recorded_at: Tue, 24 Oct 2017 16:59:36 GMT
recorded_with: VCR 3.0.3
