---
http_interactions:
- request:
    method: post
    uri: https://ws.golos.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"id":0,"head_block_number":10488837,"head_block_id":"00a00c055a9164e601d282853c8cb803bf0a5c4c","time":"2017-10-18T19:53:42","current_witness":"good-karma","total_pow":512273,"num_pow_witnesses":132,"virtual_supply":"131096801.562
        GOLOS","current_supply":"128203180.192 GOLOS","confidential_supply":"0.000
        GOLOS","current_sbd_supply":"7234053.426 GBG","confidential_sbd_supply":"0.000
        GBG","total_vesting_fund_steem":"87270010.655 GOLOS","total_vesting_shares":"327371247227.055569
        GESTS","total_reward_fund_steem":"93465.020 GOLOS","total_reward_shares2":"1946190326816855887940790108637","sbd_interest_rate":1000,"sbd_print_rate":9333,"average_block_size":1585,"maximum_block_size":65536,"current_aslot":10522674,"recent_slots_filled":"340282356759926620935186299580277850109","participation_count":122,"last_irreversible_block_num":10488814,"max_virtual_bandwidth":"5986734968066277376","current_reserve_ratio":20000,"vote_regeneration_per_day":40}}'
  recorded_at: Wed, 18 Oct 2017 19:53:42 GMT
recorded_with: VCR 3.0.3
