---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["condenser_api","lookup_witness_accounts",["",19]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000240888612766283'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":1300,"message":"Invalid\/unhealthy
        upstream None : No matching url found","data":{"error_id":"ebe6604b-2569-49ae-9183-d2d907375991","data":{"urn":"appbase.condenser_api.lookup_witness_accounts.params=['''',19]"}}}}'
  recorded_at: Sun, 18 Feb 2018 04:35:37 GMT
- request:
    method: get
    uri: https://api.steemit.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000046534888071431'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-02-18T04:35:37.513092","source_commit":"9715e1ef7ca1998c5402db1d020dcfdbb9a68e30","docker_tag":"latest"}'
  recorded_at: Sun, 18 Feb 2018 04:35:37 GMT
[...]
- request:
    method: get
    uri: https://api.steemitstage.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000220938688308366'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2018-02-18T04:35:37.789997","source_commit":"9715e1ef7ca1998c5402db1d020dcfdbb9a68e30","docker_tag":"latest"}'
  recorded_at: Sun, 18 Feb 2018 04:35:37 GMT
- request:
    method: post
    uri: https://api.steemitstage.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["condenser_api","lookup_witness_accounts",["",19]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000810530647817422'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"8156fac9-528b-4334-a8d8-c67168441bcd","request":{"amzn_trace_id":"Root=1-5a890299-0263c9da0ab7afae5637e2bf","jussi_request_id":null}}}}'
  recorded_at: Sun, 18 Feb 2018 04:35:37 GMT
[...]
- request:
    method: get
    uri: https://steemd.minnowsupportproject.org/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>502
        Bad Gateway</h1></center>\r\n<hr><center>nginx/1.10.3 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 18 Feb 2018 04:35:39 GMT
- request:
    method: get
    uri: https://rpc.steemliberator.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:478 from_string
  recorded_at: Sun, 18 Feb 2018 04:35:42 GMT
- request:
    method: post
    uri: https://rpc.steemliberator.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["condenser_api","lookup_witness_accounts",["",19]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":["a-0","a-h","a-pile-of-steem","a-z","a001","a01.cshrem","a02.cshrem","a0de6qzchbut","a1i-00ba0eb5","a1i-01e13986","a1i-03a7078f","a1i-04a70788","a1i-04ba0eb1","a1i-05a70789","a1i-06a7078a","a1i-06ba0eb3","a1i-06e13981","a1i-07a7078b","a1i-07ba0eb2"]}'
  recorded_at: Sun, 18 Feb 2018 04:35:43 GMT
- request:
    method: get
    uri: https://steemd.privex.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:478 from_string
  recorded_at: Sun, 18 Feb 2018 19:56:33 GMT
- request:
    method: post
    uri: https://steemd.privex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["condenser_api","lookup_witness_accounts",["",19]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":["a-0","a-h","a-pile-of-steem","a-z","a001","a01.cshrem","a02.cshrem","a0de6qzchbut","a1i-00ba0eb5","a1i-01e13986","a1i-03a7078f","a1i-04a70788","a1i-04ba0eb1","a1i-05a70789","a1i-06a7078a","a1i-06ba0eb3","a1i-06e13981","a1i-07a7078b","a1i-07ba0eb2"]}'
  recorded_at: Sun, 18 Feb 2018 19:56:34 GMT
- request:
    method: get
    uri: https://seed.bitcoiner.me/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx/1.10.3 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 18 Feb 2018 19:56:43 GMT
- request:
    method: get
    uri: https://gtg.steem.house:8090/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        11 eof_exception: End Of File
        stringstream
            {}
            th_a  sstream.cpp:109 peek

            {"str":""}
            th_a  json.cpp:478 from_string
  recorded_at: Wed, 21 Feb 2018 20:33:28 GMT
- request:
    method: post
    uri: https://gtg.steem.house:8090/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["condenser_api","lookup_witness_accounts",["",19]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":1,"result":["a-0","a-h","a-pile-of-steem","a-z","a001","a01.cshrem","a02.cshrem","a0de6qzchbut","a1i-00ba0eb5","a1i-01e13986","a1i-03a7078f","a1i-04a70788","a1i-04ba0eb1","a1i-05a70789","a1i-06a7078a","a1i-06ba0eb3","a1i-06e13981","a1i-07a7078b","a1i-07ba0eb2"]}'
  recorded_at: Wed, 21 Feb 2018 20:33:34 GMT
recorded_with: VCR 3.0.3
