---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["condenser_api","lookup_witness_accounts",["",19]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s45feafc7-1599-4d2e-a753-3fb405c9b01d->93aca92a-8a57-4f48-bfe1-dfd1ca52532a
    body:
      encoding: UTF-8
      string: '{"result":["a-0","a-h","a-pile-of-steem","a-z","a001","a01.cshrem","a02.cshrem","a0de6qzchbut","a1i-00ba0eb5","a1i-01e13986","a1i-03a7078f","a1i-04a70788","a1i-04ba0eb1","a1i-05a70789","a1i-06a7078a","a1i-06ba0eb3","a1i-06e13981","a1i-07a7078b","a1i-07ba0eb2"],"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:25 GMT
recorded_with: VCR 3.0.3
