---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":69,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_market_history"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001060278859995671'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"bucket_seconds":0,"start":"1970-01-01T00:00:00","end":"1970-01-01T00:00:00"},"ret":{"buckets":[]}},"id":69}'
  recorded_at: Sat, 17 Oct 2020 04:22:44 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":71,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_market_history_buckets"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.jsonrpc.get_signature.params={"method":"market_history_api.get_market_history_buckets"}
      X-Jussi-Request-Id:
      - '000310603166671048'
    body:
      encoding: UTF-8
      string: '{"id":71,"jsonrpc":"2.0","result":{"args":{},"ret":{"bucket_sizes":[]}}}'
  recorded_at: Sat, 17 Oct 2020 04:22:45 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":73,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_order_book"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000124749180252506'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":500},"ret":{"bids":[],"asks":[]}},"id":73}'
  recorded_at: Sat, 17 Oct 2020 04:22:59 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":74,"method":"market_history_api.get_order_book","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000309491628317222'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":{"amount":"2000","precision":3,"nai":"@@000000013"},"quote":{"amount":"12432","precision":3,"nai":"@@000000021"}},"real_price":"0.16087516087516088","steem":12432,"sbd":2000,"created":"2020-10-17T04:02:18"},{"order_price":{"base":{"amount":"5001","precision":3,"nai":"@@000000013"},"quote":{"amount":"31091","precision":3,"nai":"@@000000021"}},"real_price":"0.16085040687015534","steem":30096,"sbd":4841,"created":"2020-10-17T02:08:42"},{"order_price":{"base":{"amount":"5001","precision":3,"nai":"@@000000013"},"quote":{"amount":"31091","precision":3,"nai":"@@000000021"}},"real_price":"0.16085040687015534","steem":31091,"sbd":5001,"created":"2020-10-17T02:13:48"},{"order_price":{"[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":75,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_recent_trades"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000470258577760141'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":1000},"ret":{"trades":[]}},"id":75}'
  recorded_at: Sat, 17 Oct 2020 04:23:02 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":76,"method":"market_history_api.get_recent_trades","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000873357775404963'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2020-10-17T04:08:39","current_pays":{"amount":"347","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"56","precision":3,"nai":"@@000000013"}},{"date":"2020-10-17T04:03:18","current_pays":{"amount":"9","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"1","precision":3,"nai":"@@000000013"}},{"date":"2020-10-17T04:03:18","current_pays":{"amount":"550","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"89","precision":3,"nai":"@@000000013"}},{"date":"2020-10-17T04:02:54","current_pays":{"amount":"1098","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"6783","precisi[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":77,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_ticker"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000704531326710294'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"latest":"0.00000000000000000","lowest_ask":"0.00000000000000000","highest_bid":"0.00000000000000000","percent_change":"0.00000000000000000","steem_volume":{"amount":"0","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"0","precision":3,"nai":"@@000000013"}}},"id":77}'
  recorded_at: Sat, 17 Oct 2020 04:23:03 GMT
[...]
