---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":14,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_market_history"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000071377522606453'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"bucket_seconds":0,"start":"1970-01-01T00:00:00","end":"1970-01-01T00:00:00"},"ret":{"buckets":[]}},"id":14}'
  recorded_at: Sat, 07 Nov 2020 19:44:30 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":16,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_market_history_buckets"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000463084685135112'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"bucket_sizes":[]}},"id":16}'
  recorded_at: Sat, 07 Nov 2020 19:44:34 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":18,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_order_book"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000591114618462381'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":500},"ret":{"bids":[],"asks":[]}},"id":18}'
  recorded_at: Sat, 07 Nov 2020 19:44:37 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":19,"method":"market_history_api.get_order_book","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000471889037852973'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":{"amount":"2000","precision":3,"nai":"@@000000013"},"quote":{"amount":"13270","precision":3,"nai":"@@000000021"}},"real_price":"0.15071590052750566","steem":13270,"sbd":2000,"created":"2020-11-07T19:23:45"},{"order_price":{"base":{"amount":"30000","precision":3,"nai":"@@000000013"},"quote":{"amount":"199074","precision":3,"nai":"@@000000021"}},"real_price":"0.15069773049217880","steem":5076,"sbd":765,"created":"2020-11-07T18:51:42"},{"order_price":{"base":{"amount":"83726","precision":3,"nai":"@@000000013"},"quote":{"amount":"593571","precision":3,"nai":"@@000000021"}},"real_price":"0.14105473481689637","steem":593571,"sbd":83726,"created":"2020-11-07T19:36:33"},{"order_price[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":20,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_recent_trades"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000941167966685042'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":1000},"ret":{"trades":[]}},"id":20}'
  recorded_at: Sat, 07 Nov 2020 19:44:41 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":21,"method":"market_history_api.get_recent_trades","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000842069753372291'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"trades":[{"date":"2020-11-07T19:43:33","current_pays":{"amount":"58","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"381","precision":3,"nai":"@@000000021"}},{"date":"2020-11-07T19:36:39","current_pays":{"amount":"391","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"2574","precision":3,"nai":"@@000000021"}},{"date":"2020-11-07T19:30:30","current_pays":{"amount":"200","precision":3,"nai":"@@000000013"},"open_pays":{"amount":"1316","precision":3,"nai":"@@000000021"}},{"date":"2020-11-07T19:22:27","current_pays":{"amount":"4149","precision":3,"nai":"@@000000021"},"open_pays":{"amount":"625","[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":22,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_ticker"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000426299923859871'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"latest":"0.00000000000000000","lowest_ask":"0.00000000000000000","highest_bid":"0.00000000000000000","percent_change":"0.00000000000000000","steem_volume":{"amount":"0","precision":3,"nai":"@@000000021"},"sbd_volume":{"amount":"0","precision":3,"nai":"@@000000013"}}},"id":22}'
  recorded_at: Sat, 07 Nov 2020 19:44:50 GMT
[...]
