---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":54,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_transaction"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.jsonrpc.get_signature.params={"method":"network_broadcast_api.broadcast_transaction"}
      X-Jussi-Request-Id:
      - '000023739069319982'
    body:
      encoding: UTF-8
      string: '{"id":54,"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1},"ret":{}}}'
  recorded_at: Sat, 17 Oct 2020 04:18:51 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":55,"method":"network_broadcast_api.broadcast_transaction","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 25f00b78-f904-45e3-bac2-5a88a143ade4
      X-Jussi-Request-Id:
      - '001033214742170133'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":55,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"25f00b78-f904-45e3-bac2-5a88a143ade4","jussi_request_id":"001110629310537507"}}}'
  recorded_at: Sat, 17 Oct 2020 04:18:52 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction_with_callback","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000219282683346292'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32002,"message":"Assert Exception:method_itr
        != api_itr->second.end(): Could not find method broadcast_transaction_with_callback","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"json_rpc_plugin.cpp","line":209,"method":"find_api_method","hostname":"","timestamp":"2020-10-17T04:18:52"},"format":"method_itr
        != api_itr->second.end(): Could not find method ${method}","data":{"method":"broadcast_transaction_with_callback"}}]}},"id":2}'
  recorded_at: Sat, 17 Oct 2020 04:18:52 GMT
[...]
- request:
    method: get
    uri: https://api.steemitdev.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000215804660048404'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2020-10-17T04:18:53.427258","source_commit":"ae6c6c77601436e496a8816ece2cbc6e26fbe3c2","docker_tag":"latest","jussi_num":47792090}'
  recorded_at: Sat, 17 Oct 2020 04:18:53 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_block","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000074736156314252'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"fork_database.cpp","line":57,"method":"_push_block","hostname":"","timestamp":"2020-10-17T04:18:55"},"format":"item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"item->num":1,"head":47792108,"max_size":16}},{"context":{"level":"warn","file":"database.cpp","line":880,"method":"_push_block","hostname":"","timestamp":"2020-10-17T04:18:55"},"format":"","data":{}},{"context":{"level":"warn","file":"database.cpp","line":764,"method":"operator()","hostname":"","timestamp":"2020-10-17T04:18:55"},"format":"","data":{"new_block":{"previous":"0000000000000000000000000000000000000000","timestamp":"1970-01-01T00:00:00","witness":"","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","transactions":[]}}}]}},"id":4}'
  recorded_at: Sat, 17 Oct 2020 04:18:55 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":91,"method":"network_broadcast_api.broadcast_transaction","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 60aa2f59-deda-4e8f-9257-d2cc399b2877
      X-Jussi-Request-Id:
      - '001004930011716015'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":91,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"60aa2f59-deda-4e8f-9257-d2cc399b2877","jussi_request_id":"000784575962437491"}}}'
  recorded_at: Sat, 17 Oct 2020 05:03:39 GMT
recorded_with: VCR 6.0.0
