---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":57,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_transaction"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000363522079146661'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1},"ret":{}},"id":57}'
  recorded_at: Sat, 07 Nov 2020 19:33:35 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":58,"method":"network_broadcast_api.broadcast_transaction","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - ae24b952-a7c4-4705-9fbc-ca8ec2989ea8
      X-Jussi-Request-Id:
      - '000499275918717420'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":58,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"ae24b952-a7c4-4705-9fbc-ca8ec2989ea8","jussi_request_id":"000931386600582897"}}}'
  recorded_at: Sat, 07 Nov 2020 19:33:35 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_transaction_with_callback","params":{},"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000444997046212317'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32002,"message":"Assert Exception:method_itr
        != api_itr->second.end(): Could not find method broadcast_transaction_with_callback","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"json_rpc_plugin.cpp","line":209,"method":"find_api_method","hostname":"","timestamp":"2020-11-07T19:33:35"},"format":"method_itr
        != api_itr->second.end(): Could not find method ${method}","data":{"method":"broadcast_transaction_with_callback"}}]}},"id":2}'
  recorded_at: Sat, 07 Nov 2020 19:33:35 GMT
[...]
- request:
    method: get
    uri: https://api.steemitdev.com/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000612223214035514'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2020-11-07T19:33:36.324374","source_commit":"ae6c6c77601436e496a8816ece2cbc6e26fbe3c2","docker_tag":"latest","jussi_num":48403706}'
  recorded_at: Sat, 07 Nov 2020 19:33:36 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"network_broadcast_api.broadcast_block","params":{},"id":4}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000096555192187480'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"fork_database.cpp","line":57,"method":"_push_block","hostname":"","timestamp":"2020-11-07T19:33:37"},"format":"item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"item->num":1,"head":48403723,"max_size":18}},{"context":{"level":"warn","file":"database.cpp","line":880,"method":"_push_block","hostname":"","timestamp":"2020-11-07T19:33:37"},"format":"","data":{}},{"context":{"level":"warn","file":"database.cpp","line":764,"method":"operator()","hostname":"","timestamp":"2020-11-07T19:33:37"},"format":"","data":{"new_block":{"previous":"0000000000000000000000000000000000000000","timestamp":"1970-01-01T00:00:00","witness":"","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","transactions":[]}}}]}},"id":4}'
  recorded_at: Sat, 07 Nov 2020 19:33:37 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":4,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000274228847905665'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[...]
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":72,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_transaction"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.jsonrpc.get_signature.params={"method":"network_broadcast_api.broadcast_transaction"}
      X-Jussi-Request-Id:
      - '000831551846609220'
    body:
      encoding: UTF-8
      string: '{"id":72,"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1},"ret":{}}}'
  recorded_at: Sat, 07 Nov 2020 20:31:21 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":51,"method":"network_broadcast_api.broadcast_transaction","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 072a86c8-8429-40a7-98cb-f86368a788bd
      X-Jussi-Request-Id:
      - '000255955323382604'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":51,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"072a86c8-8429-40a7-98cb-f86368a788bd","jussi_request_id":"000438108779411381"}}}'
  recorded_at: Sat, 30 Jul 2022 23:28:14 GMT
recorded_with: VCR 6.1.0
