---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000831969618943767'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"head_block_number":19967979,"head_block_id":"0130afeb47b65bdd8d46776408914d98e98a6ad5","time":"2018-02-18T04:35:45","current_witness":"curie","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"266377770.361
        STEEM","current_supply":"264263638.804 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9090765.698 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"185476004.707 STEEM","total_vesting_shares":"379151586890.674500
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"320064924.656560
        VESTS","pending_rewarded_vesting_steem":"155672.568 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":20031115,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":19967961,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":16024,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sun, 18 Feb 2018 04:35:47 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_block",[19967961]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_block.params=[19967961]
      X-Jussi-Request-Id:
      - '000132845194925394'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"previous":"0130afd8f23656aad34e24441ebae00d6cb0d1a6","timestamp":"2018-02-18T04:34:51","witness":"anyx","transaction_merkle_root":"40103ce098813b825c51f574b6c68d459793f280","extensions":[],"witness_signature":"2060edb6906108d657adcb8a21721673f38755b78d135f4431183b3110bf0659ca3a101745f4418231808f2b9ae35c3a29decff44efdb5f92ce555ecbf9b0da2d8","transactions":[{"ref_block_num":44996,"ref_block_prefix":1374835753,"expiration":"2018-02-18T04:44:45","operations":[["claim_reward_balance",{"account":"postpromoter","reward_steem":"0.000
        STEEM","reward_sbd":"0.000 SBD","reward_vests":"1995.157029 VESTS"}]],"extensions":[],"signatures":["1f27f588eae568bac2bdf155d93e48d3544e979f4abaf4c2f79601bc035670e6a575636fcb6664a0e7a0d236b2d0387bec866e415827244b3f9f84325a7f27b4e7"]},{"ref_block_num":45015,"ref_block_prefix":2726017576,"expiration":"2018-02-18T04:35:15","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["good-karme"],"id":"follow","json":"[\"follow\",
        {\"follower\": \"good-karme\", \"following\": \"drfinch\", \"what\": [\"blog\"]}]"}]],"extensions":[],"signatures":["2008c88926ff6e1faaed55258ad5abbb0dad6953c8276091c067c7921178aaa22923bc51873ff50f678fccbc7c3a62fccd1c3806058f64e81a479a8107d33fe90c"]},{"ref_block_num":44996,"ref_block_prefix":1374835753,"expiration":"2018-02-18T04:44:45","operations":[["vote",{"voter":"hongyeol","author":"phuzion7","permlink":"re-hongyeol-24-20180217t132454747z","weight":1500}]],"extensions":[],"signatures":["1f2e7b2b2e2416b12d0a7416cc5140b9f549fe8c4abc8029d31f1d031058a4362f5d0dbe3fece093d48dc714c4dbf1a00acc07be2cf5f7fe0650389c64024f9ebf"]},{"ref_block_num":45015,"ref_block_prefix":2726017576,"expiration":"2018-02-18T04:35:00","operations":[["transfer",{"from":"inviterx","to":"steemdice1","amount":"0.625
        STEEM","memo":"{\"ui\":\"steemdice.net\",\"type\":\"lower\",\"number\":15}"}]],"extensions":[],"signatures":["1f17a3bac1aaac3a7e62bda74c9ae96bf50881da175796bd552bdf8c63d7989b8a632609e4976d4378130a3b4c27259dfb8554b101a26670b741c91551990e45cb"]},{"ref_block_num":44996,"ref_block_prefix":1374835753,"expiration":"2018-02-18T04:44:45","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["hotlist"],"id":"follow","json":"[\"follow\",{\"follower\":\"hotlist\",\"following\":\"rachmonchi\",\"what\":[]}]"}]],"extensions":[],"signatures":["200623d123a35c[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["network_broadcast_api","broadcast_transaction_synchronous",[{"expiration":"2018-02-18T04:45:45","ref_block_num":45016,"ref_block_prefix":2857776882,"operations":[["comment",{"parent_author":"","parent_permlink":"tag","author":"social","permlink":"title-of-my-post","title":"title
        of my post","body":"body of my post","json_metadata":"{\"app\":\"radiator/0.4.0pre1\",\"tags\":[\"tag\"]}"}],["comment_options",{"author":"social","permlink":"title-of-my-post","max_accepted_payout":"1000000.000
        SBD","percent_steem_dollars":0,"allow_votes":true,"allow_curation_rewards":true,"extensions":[]}]],"extensions":[],"signatures":["1c7c6b1fc78f1b596998592663e1967f830ab360f6b134dff0019fe0e33c6d2d1e124dbd4dcf79e4f81268d3433305b085f15055a625f1dde72a1898d88a816e35"]}]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000072256163633047'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"error":{"code":1,"message":"4100000 plugin_exception: plugin
        exception\nThe comment is archived\n    {}\n    th_a  witness_plugin.cpp:218
        operator()\n\n    {\"op\":[\"comment\",{\"parent_author\":\"\",\"parent_permlink\":\"tag\",\"author\":\"social\",\"permlink\":\"title-of-my-post\",\"title\":\"title
        of my post\",\"body\":\"body of my post\",\"json_metadata\":\"{\\\"app\\\":\\\"radiator\/0.4.0pre1\\\",\\\"tags\\\":[\\\"tag\\\"]}\"}]}\n    th_a  database.cpp:2893
        _apply_transaction\n\n    {\"trx\":{\"ref_block_num\":45016,\"ref_block_prefix\":2857776882,\"expiration\":\"2018-02-18T04:45:45\",\"operations\":[[\"comment\",{\"parent_author\":\"\",\"parent_permlink\":\"tag\",\"author\":\"social\",\"permlink\":\"title-of-my-post\",\"title\":\"title
        of my post\",\"body\":\"body of my post\",\"json_metadata\":\"{\\\"app\\\":\\\"radiator\/0.4.0pre1\\\",\\\"tags\\\":[\\\"tag\\\"]}\"}],[\"comment_options\",{\"author\":\"social\",\"permlink\":\"title-of-my-post\",\"max_accepted_payout\":\"10[...]
