---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Urn:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Response-Id:
      - sfb78cbf9-9afc-49ba-a1c6-8a6f47aed4e7->ddef03ce-4455-43f6-8d0f-cbb473624f6d
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":17029932,"head_block_id":"0103db2ce264ef46f615f7730f9b59e277d61705","time":"2017-11-08T02:22:12","current_witness":"someguy123","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"262930449.204
        STEEM","current_supply":"259175977.480 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3330216.420 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190595648.246 STEEM","total_vesting_shares":"391630663422.042376
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"411295622.309520
        VESTS","pending_rewarded_vesting_steem":"199475.056 STEEM","sbd_interest_rate":1,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17090844,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17029915,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":6864,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Wed, 08 Nov 2017 02:22:12 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_block",[17029915]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_block.params=[17029915]
      X-Jussi-Urn:
      - steemd.database_api.get_block.params=[17029915]
      X-Jussi-Response-Id:
      - s3a31d61e-dc96-48ad-9587-84e0582b57b2->05eb3471-09d4-42c4-b21f-d508cedb8920
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"previous":"0103db1a6889a62aa5f0756bb01b3e160072176a","timestamp":"2017-11-08T02:21:21","witness":"roelandp","transaction_merkle_root":"e2c84d5995a5bbf1a40776ee190e6e649953423e","extensions":[],"witness_signature":"1f398d5510186c2cb4a5f2bf0bd707b5afded90a4ba7e8013fc8fa3cb96430d5721baa79e11ffae488080346ee34bc4815f32fb733e2fba57a0095c9007fecddd3","transactions":[{"ref_block_num":56068,"ref_block_prefix":859719460,"expiration":"2017-11-08T02:31:15","operations":[["comment",{"parent_author":"","parent_permlink":"funny","author":"cryptomonitor","permlink":"meme-best-steemit-meme-s-pack-75-meme-life-11-8-2017","title":"[MEME]
        Best STEEMIT MEME''s - pack #75 [MEME LIFE - 11 . 8 . 2017]","body":"<center><h1>
        MEME Nr.1 - [MEME] Hi I''m Tamzen I don''t live life by the rules, I make
        them  :) LOL :''> [meme funny]<\/h1><br>https:\/\/media.makeameme.org\/created\/hi-im-tamzen.jpg<br><br>MEME
        created on: makeameme.org<br><br><br><center><h1> MEME Nr.2 - [MEME] Good
        Job - I new you wouldent vote for Trump  :) :)  :''> [meme life] <\/h1><br>
        https:\/\/media.makeameme.org\/created\/good-job-i-5991fd.jpg <br><br> MEME
        created on: makeameme.org <br><br><br><center><h1> MEME Nr.3 - [MEME] One
        does not simply make it a bed :) :)  :''> [meme life] <\/h1><br> https:\/\/media.makeameme.org\/created\/one-does-not-598b58.jpg
        <br><br><center>Source: makeameme.org\n\n<center>\n<b>INFO :)<\/b>\n<center>https:\/\/i.imgur.com\/UdRHRG7.jpg\n<br>\nYour
        daily, BEST source for newest MEME, funny stuff, \njokes and just..more.[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["network_broadcast_api","broadcast_transaction_synchronous",[{"expiration":"2017-11-08T02:32:12","ref_block_num":56090,"ref_block_prefix":715557224,"operations":[["comment",{"parent_author":"","parent_permlink":"tag","author":"social","permlink":"title-of-my-post","title":"title
        of my post","body":"body of my post","json_metadata":"{\"app\":\"radiator/0.3.12\",\"tags\":[\"tag\"]}"}],["comment_options",{"author":"social","permlink":"title-of-my-post","max_accepted_payout":"1000000.000
        SBD","percent_steem_dollars":0,"allow_votes":true,"allow_curation_rewards":true,"extensions":[]}]],"extensions":[],"signatures":["1c7536b27ca5df0bdee4ae93e3201b5c68cf061e0266dc6d2536a997ed44ac87551a82cc9b30bc4e21f5d2486f5117c3a63d3ca736a3d9f95782cf6076a054695d"]}]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Urn:
      - steemd.network_broadcast_api.broadcast_transaction_synchronous.params=[{'expiration':'2017-11-08T02:32:12','ref_block_num':56090,'ref_block_prefix':715557224,'operations':[['comment',{'parent_author':'','parent_permlink':'tag','author':'social','permlink':'title-of-my-post','title':'titleofmypost','body':'bodyofmypost','json_metadata':'{"app":"radiator/0.3.12","tags":["tag"]}'}],['comment_options',{'author':'social','permlink':'title-of-my-post','max_accepted_payout':'1000000.000SBD','percent_steem_dollars':0,'allow_votes':True,'allow_curation_rewards':True,'extensions':[]}]],'extensions':[],'signatures':['1c7536b27ca5df0bdee4ae93e3201b5c68cf061e0266dc6d2536a997ed44ac87551a82cc9b30bc4e21f5d2486f5117c3a63d3ca736a3d9f95782cf6076a054695d']}]
      X-Jussi-Response-Id:
      - s8e42f819-84e2-482f-bb68-3724ff543bd5->a7a07ee5-6fa2-4fb7-8063-a6dad9339ca9
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":1,"message":"4100000 plugin_exception: plugin exception\nThe
        comment is archived\n    {}\n    th_a  witness_plugin.cpp:218 operator()\n\n    {\"op\":[\"comment\",{\"parent_author\":\"\",\"parent_permlink\":\"tag\",\"author\":\"social\",\"permlink\":\"title-of-my-post\",\"title\":\"title
        of my post\",\"body\":\"body of my post\",\"json_metadata\":\"{\\\"app\\\":\\\"radiator\/0.3.12\\\",\\\"tags\\\":[\\\"tag\\\"]}\"}]}\n    th_a  database.cpp:2892
        _apply_transaction\n\n    {\"trx\":{\"ref_block_num\":56090,\"ref_block_prefix\":715557224,\"expiration\":\"2017-11-08T02:32:12\",\"operations\":[[\"comment\",{\"parent_author\":\"\",\"parent_permlink\":\"tag\",\"author\":\"social\",\"permlink\":\"title-of-my-post\",\"title\":\"title
        of my post\",\"body\":\"body of my post\",\"json_metadata\":\"{\\\"app\\\":\\\"radiator\/0.3.12\\\",\\\"tags\\\":[\\\"tag\\\"]}\"}],[\"comment_options\",{\"author\":\"social\",\"permlink\":\"title-of-my-post\",\"max_accepted_payout\":\"100000[...]
