---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000115925346131392'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":21968448,"head_block_id":"014f3640ca096717fcbe483ebba309ee567bf95b","time":"2018-04-28T17:42:00","current_witness":"clayop","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"270830539.900
        STEEM","current_supply":"267593057.986 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"12448117.960 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190769786.213 STEEM","total_vesting_shares":"388550626654.642988
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"387578002.377903
        VESTS","pending_rewarded_vesting_steem":"188920.312 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22034040,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21968432,"vote_power_reserve_rate":10,"average_block_size":15112,"current_reserve_ratio":60461023,"max_virtual_bandwidth":"79881451843092480000"}}'
  recorded_at: Sat, 28 Apr 2018 17:42:01 GMT
recorded_with: VCR 3.0.3
