---
http_interactions:
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":13,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Jussi-Request-Id:
      - '000112526127040471'
    body:
      encoding: UTF-8
      string: '{"id":13,"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/api.pharesim.me\", \"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\",
        \"https:\/\/api.deathwing.me\", \"https:\/\/api.hive.blog\", \"https:\/\/api.c0ff33a.uk\",
        \"https:\/\/api.openhive.network\", \"https:\/\/api.steemit.com\", \"https:\/\/hive-api.arcange.eu\",
        \"https:\/\/hived.privex.io\", \"https:\/\/rpc.ecency.com\", \"http:\/\/anyx.io\",
        \"https:\/\/anyx.io\", \"https:\/\/techcoderx.com\", \"https:\/\/steem.61bts.com\"],
        \"failing_nodes\": {\"https:\/\/steem.bts.tw\": \"NumRetriesReached\"}, \"report\":
        [{\"node\": \"https:\/\/api.hive.blog\", \"version\": \"1.24.6\", \"hive\":
        true, \"block\": {\"rank\": 12, \"ok\": true, \"count\": 196, \"time\": 30.61},
        \"history\": {\"rank\": 10, \"ok\": true, \"count\": 11901, \"time\": 15.01},
        \"apicall\": {\"rank\": 4, \"ok\": true, \"time\": 1.01, \"access_time\":
        0.181}, \"config\": {\"rank\": 4, \"ok\": true, \"time\": 0.31, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 4, \"ok\": true, \"head_delay\": 5.32, \"diff_head_irreversible\":
        18.0, \"time\": 17.66}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\",
        \"hive\": true, \"block\": {\"rank\": 15, \"ok\": true, \"count\": 146, \"time\":
        30.01}, \"history\": {\"rank\": 17, \"ok\": true, \"count\": 7273, \"time\":
        15.06}, \"apicall\": {\"rank\": 8, \"ok\": true, \"time\": 1.42, \"access_time\":
        0.336}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.59, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 12, \"ok\": true, \"head_delay\": 9.24, \"diff_head_irreversible\":
        20.0, \"time\": 17.52}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        175, \"time\": 30.05}, \"history\": {\"rank\": 14, \"ok\": true, \"count\":
        8401, \"time\": 15.03}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"Assert Exception:api_itr != _registered_apis.end(): Could not find API bridge\",
        \"time\": 1.02, \"access_time\": 30.0}, \"config\": {\"rank\": 6, \"ok\":
        true, \"time\": 1.0, \"access_time\": 0.16}, \"block_diff\": {\"rank\": 7,
        \"ok\": true, \"head_delay\": 3.58, \"diff_head_irreversible\": 19.0, \"time\":
        18.87}}, {\"node\": \"https:\/\/api.openhive.network\", \"version\": \"1.24.6\",
        \"hive\": true, \"block\": {\"rank\": 16, \"ok\": true, \"[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":14,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000243573441091163'
      X-Jussi-Response-Time:
      - '0.00046008825302124023'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_dynamic_global_properties
      X-Jussi-Params:
      - "[]"
    body:
      encoding: UTF-8
      string: '{"id":14,"jsonrpc":"2.0","result":{"head_block_number":48486316,"head_block_id":"02e3d7ac59925a52cc6d2cde825a4b93094e4531","time":"2020-11-07T19:26:09","current_witness":"steempeak","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"415564222.529
        HIVE","current_supply":"374007666.201 HIVE","init_hbd_supply":"0.000 HBD","current_hbd_supply":"4644185.019
        HBD","total_vesting_fund_hive":"139843145.999 HIVE","total_vesting_shares":"268361879648.253911
        VESTS","total_reward_fund_hive":"0.000 HIVE","total_reward_shares2":"0","pending_rewarded_vesting_shares":"781605062.139437
        VESTS","pending_rewarded_vesting_hive":"395273.058 HIVE","hbd_interest_rate":0,"hbd_print_rate":10000,"maximum_block_size":65536,"required_actions_partition_percent":0,"current_aslot":48647323,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":48486298,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":300,"available_account_subsidies":21554948,"hbd_stop_percent":1000,"hbd_start_percent":900,"next_maintenance_time":"2020-11-07T19:29:15","last_budget_time":"2020-11-07T18:29:15","next_daily_maintenance_time":"2020-11-07T19:31:27","content_reward_percent":6500,"vesting_reward_percent":1500,"sps_fund_percent":1000,"sps_interval_ledger":"38.590
        HBD","downvote_pool_percent":2500}}'
  recorded_at: Sat, 07 Nov 2020 19:26:13 GMT
- request:
    method: post
    uri: https://api.hive.blog/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":112,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000342199290975936'
      X-Jussi-Response-Time:
      - '0.0076032504439[...]
[...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":78,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":78,"jsonrpc":"2.0","result":[{"active":{"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]],"weight_threshold":1},"balance":"0.017
        HIVE","can_vote":true,"comment_count":0,"created":"2018-05-31T10:46:21","curation_rewards":0,"delayed_votes":[],"delegated_vesting_shares":"198556.066920
        VESTS","downvote_manabar":{"current_mana":"430852858679","last_update_time":1604780682},"guest_bloggers":[],"hbd_balance":"0.096
        HBD","hbd_last_interest_payment":"2020-10-22T19:24:24","hbd_seconds":"449005704","hbd_seconds_last_update":"2020-10-24T20:09:48","id":1025676,"json_metadata":"{\"nodes\":
        [\"https://api.pharesim.me\", \"https://hive.roelandp.nl\", \"https://rpc.ausbit.dev\",
        \"https://api.deathwing.me\", \"https://api.steemit.com\", \"https://api.c0ff33a.uk\",
        \"https://api.hive.blog\", \"http://anyx.io\", \"https://anyx.io\", \"https://api.openhive.network\",
        \"https://hive-api.arcange.eu\", \"https://rpc.ecency.com\", \"https://techcoderx.com\",
        \"https://steem.61bts.com\"], [...]
[...]
- request:
    method: post
    uri: https://hive-api.arcange.eu/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":92,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000501514702480196'
      Proxy-Connection:
      - keep-alive
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L[...]
[...]
- request:
    method: post
    uri: https://api.hivekings.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":27,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000888859257105963'
    body:
      encoding: ASCII-8BIT
      string:[...]
[...]
- request:
    method: post
    uri: https://hived.privex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":67,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001056316128950412'
      X-Hp-Svr:
      - hive-engine
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals",[...]
[...]
- request:
    method: post
    uri: https://hive.roelandp.nl/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":123,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000348998698806563'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resul[...]
[...]
- request:
    method: post
    uri: https://rpc.ecency.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":10,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000776967500174242'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[...]
[...]
- request:
    method: post
    uri: https://fin.hive.3speak.co/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000096072244769267'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resul[...]
[...]
- request:
    method: post
    uri: https://hived.emre.sh/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":99,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001005820129886975'
    body:
      encoding: ASCII-8BIT
      string: '{"[...]
[...]
