---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000329334553731566'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":33145912,"head_block_id":"01f9c4382a9777f951089e7f52a374f1c9a47164","time":"2019-05-23T01:25:00","current_witness":"someguy123","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"334938403.156
        STEEM","current_supply":"310718585.449 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"8864453.281 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"198696207.801 STEEM","total_vesting_shares":"396140407301.662807
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"668167329.519628
        VESTS","pending_rewarded_vesting_steem":"330770.467 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":33246500,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":33145897,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"sbd_stop_percent":1000,"sbd_start_percent":900}}'
  recorded_at: Thu, 23 May 2019 01:25:03 GMT
recorded_with: VCR 4.0.0
