---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000071585122288882'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"head_block_number":19967978,"head_block_id":"0130afea1e94e962d3fa0a7516c1aeced65fe9f9","time":"2018-02-18T04:35:42","current_witness":"blocktrades","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"266377768.121
        STEEM","current_supply":"264263636.578 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9090765.635 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"185476004.048 STEEM","total_vesting_shares":"379151586240.608682
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"320065145.438460
        VESTS","pending_rewarded_vesting_steem":"155672.676 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":20031114,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":19967961,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":16096,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Sun, 18 Feb 2018 04:35:44 GMT
recorded_with: VCR 3.0.3
