---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Urn:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Response-Id:
      - sd3b8ad6c-71a3-47fd-a301-cef8c49fe091->017a6506-9284-4a65-8e27-a82be95cf33c
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":17029706,"head_block_id":"0103da4ae489a22415d40491b557c679776588f7","time":"2017-11-08T02:10:54","current_witness":"clayop","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"262929935.951
        STEEM","current_supply":"259175544.237 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3330145.451 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190595452.152 STEEM","total_vesting_shares":"391630418844.555776
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"411168330.205563
        VESTS","pending_rewarded_vesting_steem":"199413.104 STEEM","sbd_interest_rate":1,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":17090618,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":17029686,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":6528,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Wed, 08 Nov 2017 02:10:56 GMT
recorded_with: VCR 3.0.3
