---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Response-Id:
      - s96214664-1f07-4eee-a6b5-fa40b7166606->d691a13c-ceb2-4f69-9cf5-a0338369df28
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":16651820,"head_block_id":"00fe162c2a4dcaf069823dacbb4fa86058eef224","time":"2017-10-25T23:08:45","current_witness":"jesta","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"261764151.542
        STEEM","current_supply":"258287610.924 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3365291.319 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190492394.335 STEEM","total_vesting_shares":"391682950463.053062
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"382865923.269382
        VESTS","pending_rewarded_vesting_steem":"185603.066 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":16712575,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":16651805,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":5473,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Wed, 25 Oct 2017 23:08:47 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["block_api","get_block",[16651820]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s1eaf0c5d-d849-4955-92fa-26f1eaa0a2f5->67e8a71f-f006-4661-b6a2-9ac2a13d0cbf
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"previous":"00fe162bdd33bb9f161029dd6da3fd9842c7c8f1","timestamp":"2017-10-25T23:08:45","witness":"jesta","transaction_merkle_root":"75d7a15407ae51479a0c79b7e57aad75795dfdcd","extensions":[],"witness_signature":"1f74b8fe7019f15725d567a944ca8dce0724afcb26b4a5d42a5b8c819faf7b235b04fe0e52f54b204d82e8e75632e47b5b53c8d2b94fa8dc18d7ca5bf56c8332b9","transactions":[{"ref_block_num":5656,"ref_block_prefix":3400454778,"expiration":"2017-10-25T23:18:36","operations":[["comment",{"parent_author":"","parent_permlink":"photo","author":"dorotea","permlink":"every-day-is-a-sunset","title":"Sunset
        different day makes different moment  of this same beauty","body":"@@ -109,24
        +109,32 @@\n _1965.jpg)%0A%0A\n+Sicily%0A%0A\n !%5BIMG_6722.J\n@@ -226,16
        +226,23 @@\n 2.JPG)%0A%0A\n+Malta%0A%0A\n !%5BIMG_86\n@@ -334,24 +334,35 @@\n
        _8696.jpg)%0A%0A\n+Australia%0A%0A\n !%5BIMG_8582.j\n@@ -450,24 +450,31 @@\n
        _8582.jpg)%0A%0A\n+Egypt%0A%0A\n !%5BIMG_3976.j\n@@ -562,24 +562,32 @@\n _3976.jpg)%0A%0A\n+Sicily%0A%0A\n
        !%5BIMG_3964.j\n@@ -679,16 +679,24 @@\n 4.jpg)%0A%0A\n+Sicily%0A%0A\n !%5BIMG_48\n@@
        -792,16 +792,24 @@\n 5.jpg)%0A%0A\n+France%0A%0A\n Every wh\n","json_metadata":"{\"tags\":[\"photo\",\"travel\",\"photography\",\"nature\",\"outdoors\"],\"image\":[\"https:\/\/steemitimages.com\/DQmTDoN6KStZgx57uswUQ9RZ38FvMJWpKdAQRMpfULBCS16\/IMG_1965.jpg\",\"https:\/\/steemitimages.com\/DQmTNiEZZSerneLrexi32qzoKFsykJSFWPr6cSFnc34m8W6\/IMG_6722.JPG\",\"https:\/\/steemitimages.com\/DQmS9xjv24RCWCcYK25pGPkwEuDVWJCPTF2ot6i7xXAmUrX\/IMG_8696.jpg\",\"https:\/\/steemitimages.com\/DQmWuJPMPXrGVVSb3DwMyABH55Xqj22aD3NtThqCoVKqyfn\/IMG_8582.jpg\",\"https:\/\/steemitimages.com\/DQmQmc1BW7fPSsRHC92ucwwTMXTja8k8WdxPCCzuCQDfUaA\/IMG_3976.jpg\",\"https:\/\/steemitimages.com\/DQmTocYaptUg6aF3Cskry7Q4mRfjGvYpyhPYxvuXJZziat6\/IMG_3964.jpg\",\"https:\/\/steemitimages.com\/DQmWytBVm4J5TNnSKgMevSZ3e1E9EZGrcBEMWE2JwX7HPaQ\/IMG_4885.jpg\"],\"app\":\"steemit\/0.1\",\"format\":\"markdown\"}"}]],"extensions":[],"signatures":["20542387cf339a4dc8e5281ae92ffe6412fa284c5e8bad5c33152b66c486166bd604790bc280e4fc6f52bc07f09e735ce84c00de1335dc473125e9a635b807505f"]},{"ref_block_num":5674,"ref_block_prefix":3049381392,"expiration":"2017-10-25T23:09:10","operations":[["vote",{"voter":"anu","author":"anahilarski","permlink":"visitando-la-galeria-de-la-academia-de-florencia-travel","weight":5000}]],"extensions":[],"signatures":["203114e150ea354c1c711aafc3762c0f8ee42c2569935c105707dea497e13779b739d276964bc82616d965af701a008a6975f98b50fbc96a4af7efd203df8ed445"]},{"ref_block_num":5656,"ref_block_prefix":3400454778,"expiration":"2017-10-25T23:18:36","operations":[["comment",{"parent_author":"gardenlady","parent_permlink":"visit-to-an-autumn-meadow-colorchallenge-yellow","author":"karenb54","permlink":"re-gardenlady-visit-to-an-autumn-meadow-colorchallenge-yellow-20171025t230702098z","t[...]
