---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '001119609308510349'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":21968434,"head_block_id":"014f36328869b177d0917506736d22ba2c3d0b00","time":"2018-04-28T17:41:18","current_witness":"jesta","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"270830507.517
        STEEM","current_supply":"267593034.897 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"12448082.227 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190769771.600 STEEM","total_vesting_shares":"388550606700.379308
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"387560217.454659
        VESTS","pending_rewarded_vesting_steem":"188911.580 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22034026,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21968419,"vote_power_reserve_rate":10,"average_block_size":15277,"current_reserve_ratio":56660405,"max_virtual_bandwidth":"74860053449932800000"}}'
  recorded_at: Sat, 28 Apr 2018 17:41:19 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"block_api.get_block","params":{"block_num":21968434},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000474034381073031'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"block":{"previous":"014f3631b6e188e84f70bcb93b22b8f14056c7e7","timestamp":"2018-04-28T17:41:18","witness":"jesta","transaction_merkle_root":"e1615ec606fff0773ccde92251de51e73f5fa5b6","extensions":[],"witness_signature":"1f39784aead5bce92d1ceb5bacaa236d208d54fb45b8d3adfaa46dc1d1b566a63c535e845a0b9277663e619c546cf87f551cb6a40fa7153dfa84e006683a4f1277","transactions":[{"ref_block_num":13847,"ref_block_prefix":994288814,"expiration":"2018-04-28T17:50:57","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["dhydra"],"id":"follow","json":"[\"follow\",{\"follower\":\"dhydra\",\"following\":\"a-0-0-0-1abokina\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["1f28074acec79732f742f15a78593b2e2d1d4a07e6d9b71ba7984a84228db20bee00b7de66c2bf1dcc28022af0b1db50811168851bac332caf9ac816bb9c94521f"]},{"ref_block_num":13847,"ref_block_prefix":994288814,"expiration":"2018-04-28T17:50:54","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["goingforhealthy"],"id":"follow","json":"[\"follow\",{\"follower\":\"goingforhealthy\",\"following\":\"joyyaxx05\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["205f37fc719d0f153460dce1843d369f90667106ad386311144dbc7d65ff8ccae15c7abaaeff3e48fd4e5a34d2b0350df22fe37c0b7e8116eda5a8b51f5f150e4c"]},{"ref_block_num":13871,"ref_block_prefix":2172411477,"expiration":"2018-04-28T17:42:10","operations":[["vote",{"voter":"romoss","author":"darega03","permlink":"actualizacion-de-la-regulacion-global-de-criptomonedas-abril-de-2018","weight":10000}]],"extensions":[],"signatures":["201c9c7a4864852e857a29540ef81e7687925a7960971473592afc11faf0fa33bd451c24ccd2dd46b4ac46521d2a7a9473b1a250e0c92dce77cabf6defbc585ad8"]},{"ref_block_num":13871,"ref_block_prefix":2172411477,"expiration":"2018-04-28T17:42:11","operations":[["vote",{"voter":"franciscoag","author":"thegoodquote","permlink":"secret-of-happiness","weight":10000}]],"extensions":[],"signatures":["1f03013eebdebf19b711c953a260f8291cc8bcebf33289fcb1d07885c9f5aef9eb118004b798979082ca432[...]
