---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000393257487641851'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":27382700,"head_block_id":"01a1d3ac72fb21510a9c3042e2e4f8abbcc0faa1","time":"2018-11-03T18:06:00","current_witness":"jesta","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"298803374.387
        STEEM","current_supply":"279838991.930 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"15228399.113 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"198432603.299 STEEM","total_vesting_shares":"400139706593.668934
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"477734290.459819
        VESTS","pending_rewarded_vesting_steem":"234404.145 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":27477720,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":27382683,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"sbd_stop_percent":1000,"sbd_start_percent":900}}'
  recorded_at: Sat, 03 Nov 2018 18:06:02 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_block","params":[27382700],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_block.params=[27382700]
      X-Jussi-Request-Id:
      - '000671020062711019'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"previous":"01a1d3ab5ea7a3f041d5f14ee4c77edd5b98b0a2","timestamp":"2018-11-03T18:06:00","witness":"jesta","transaction_merkle_root":"e965ef88ff1146a94adb466aabcd8316c4979739","extensions":[],"witness_signature":"1f7221765718fcdc59d8c27c346f80edf9180fb8f5c02ac37a18ec445d898f614f192cae1c0fd4a7bc544c30c1cb9a0c9e9730caf984ab37f289411dcfb31cd699","transactions":[{"ref_block_num":54170,"ref_block_prefix":3881018014,"expiration":"2018-11-03T18:15:54","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["lostrapt"],"id":"sm_team_reveal","json":"{\"trx_id\":\"f34655955456b963e75e788b03346ccaeac43a90\",\"summoner\":\"C1-27-M6E9Z3UDJ4\",\"monsters\":[\"C1-25-G0AGO3CD8G\",\"C1-24-859V3APZTS\",\"C1-30-7EHAHRZ2TC\"],\"secret\":\"ecG7nxaVvV\"}"}]],"extensions":[],"signatures":["206c21682854eac95ae5ed89d52b9ef054ecb1fd96bc4d142e8a5195bcba0984c62ccd0892c187474d184564d1d83cbadf4674030c6270dcb76481b015c807dc99"],"transaction_id":"0e10f56c5ca40ffbe47bf13835bcd1359010489a","block_num":27382700,"transaction_num":0},{"ref_block_num":54170,"ref_block_prefix":3881018014,"expiration":"2018-11-03T18:15:54","operations":[["vote",{"voter":"yosuandoni","author":"henryn2020","permlink":"the-elder-scrolls-v-skyrim-review","weight":10000}]],"extensions":[],"signatures":["1f790e1f3098f1ab774f51883c2e50dd2f3d0590128549d178e7c4bf6451918ee00ebaab4c87f882eeff8235e6a9e2317d07e1d2f96b97e8fc9f5788f32b2b9d98"],"transaction_id":"009f49264358dab049ff9f7d377fa9b0e5e8fbba","block_num":27382700,"transaction_num":1},{"ref_block_num":54170,"ref_block_prefix":3881018014,"expiration":"2018-11-03T18:15:54","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["fmbs25"],"id":"sm_find_match","json":"{\"match_type\":\"Ranked\",\"mana_cap\":20,\"team_hash\":\"5e6884677693c26124723410a63e60bc\",\"summoner_level\":1,\"ruleset\":\"Standard\"}"}]],"extensions":[],"signatures":["1f766984f959f5e62c354b72cd3d4baae961065af2b2f58658221b1bf02cef532a61227e6b5e4bc7cd539c044ea44e040eab4f26d3ec4f294553b9c01d043be150"],"transaction_id":"8d59f5e77f528d47d0dc9593a45130a472440b67","block_num":27382700,"transaction_num":2},{"ref_block_num":54170,"ref_block_prefix":3881018014,"expiration":"2018-11-03T18:15:54","operations":[["vote",{"voter":"discordiant","author":"kocinka","permlink":"himeji-themostbeautifulcastleinjapan-8ipygled7c","weight":600}]],"extensions":[],"signatures":["2021b8678aa8facd4f2ba42fcdd6a3a5c3c31d85ace009506ec495864cda3810934d1e1c4d2d4f03562506ab9c117d1065b7295df579631324215a03a9a7bb6527"],"transaction_id":"96d1c072be4766b1b4423630a7505a51baaa7b44","block_num":27382700,"transaction_num":3},{"ref_block_num":54170,"ref_block_prefix":3881018014,"expiration":"2018-11-03T18:15:54","operations":[["vote",{"voter":"steemitmamas","author":"khackett","permlink":"world-summit-aims-to-unite-all-paradigm-shifting-movements-3h7em2c3","weight":2500}]],"extensions":[],"signatures":["204f4d7b98e732e397f19a3ab39e7b2eca082416084047f0f37448f607d21263bd7ce7e364a892cd647a78bcda09262a272c60c63112a01e034c217648e286c8ba"],"transaction_id":"9cc7768d01a35566c36cb27cb85c19eb1d8da74e","block_num":27382700,"transaction_num":4},{"ref_block_num":54187,"ref_block_prefix":4037257054,"expiration":"2018-11-03T18:06:57","operations":[["transfer",{"from":"peakmonsters","to":"twinpapa","amount":"0.532
        STEEM","memo":"sm_market_sale:5edbc0c5e5b83f3abd6e7675df2a8a07a6274f8f-0:fulltimegeek"}]],"extensions":[],"signatures":["1f42d31e39899e7c8aa1128619d1c618b82cc73a86fd445665ce85035f72fd49be0723a3e9f951491499600e7788c0d761ed7c4b6d7d43e49d003ec268e4ed9d9a"],"transaction_id":"dc893384868fa388250eecd748fd145dd1e61e9a","block_num":27382700,"transaction_num":5},{"ref_block_num":54170,"ref_block_prefix":3881018014,"expiration":"2018-11-03T18:15:54","operations":[["vote",{"voter":"r00sj3","author":"kocinka","permlink":[...]
