---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Response-Id:
      - s81cdb323-87cf-4d5b-a924-9a5242b747cb->bab1a608-7789-4846-b87f-a4f7bf2caba8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":16615641,"head_block_id":"00fd88d95e76feebaa81529214af9de5bf095ece","time":"2017-10-24T16:59:18","current_witness":"riverhead","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"261701069.930
        STEEM","current_supply":"258176221.701 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3394428.845 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190713144.269 STEEM","total_vesting_shares":"392162154470.404718
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"377694008.507905
        VESTS","pending_rewarded_vesting_steem":"183083.454 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":16676386,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":16615626,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":5797,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:30 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["block_api","get_block",[16615641]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Response-Id:
      - s2141e00c-55a7-4cb9-93df-769642c8f8ce->c47a5e23-0362-4b00-bcc2-a5a4e4e084ec
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"previous":"00fd88d82e98401cabff85cff11b3cdc46794215","timestamp":"2017-10-24T16:59:18","witness":"riverhead","transaction_merkle_root":"429791968b531bd4595d1190087e4a2c1a400de2","extensions":[],"witness_signature":"1f15a741ba7fbf2f65009dfdc5bfc4de59ec2c503bcedef71019887956d9eaf01d3d0d1de55289f3d8c6795224d9dda9872261e2954a385dbb69d02f5febf350f2","transactions":[{"ref_block_num":35022,"ref_block_prefix":1264478122,"expiration":"2017-10-24T16:59:54","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["jahidul322"],"id":"follow","json":"[\"follow\",{\"follower\":\"jahidul322\",\"following\":\"yasinfaruk\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["20221d54aa2e3132304d24845b951e7959248008ad57c14c4acd0f3cb341150e2413bbdc55789fcd4fe7b7d7c3addd0fdd37320b89397bea4e9f2cb902e019394e"]},{"ref_block_num":35030,"ref_block_prefix":486770998,"expiration":"2017-10-24T16:59:41","operations":[["vote",{"voter":"adsactly","author":"arie.steem","permlink":"apa-itu-utopian-io-and-tutorial-penting-untuk-diketahui","weight":2000}]],"extensions":[],"signatures":["1f3ce393a9c0589270a2f090042bf308fdc0de79a683357cae0a57366e44448ab55b6692072b372d47b7a753aa41ab2cb69fa470de964719c7f9748ffcb51e57ad"]},{"ref_block_num":35026,"ref_block_prefix":1957809676,"expiration":"2017-10-24T17:00:06","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["mushfiksami"],"id":"follow","json":"[\"follow\",{\"follower\":\"mushfiksami\",\"following\":\"a-a-lifemix\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures"[...]
