---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000544663760242149'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"head_block_number":30493047,"head_block_id":"01d14977b484046d0d768c50427bf0b0a1986e45","time":"2019-02-19T19:59:45","current_witness":"aggroed","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"331276852.240
        STEEM","current_supply":"300766947.725 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"9885209.063 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"200493735.554 STEEM","total_vesting_shares":"401859011814.968253
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"595714334.814910
        VESTS","pending_rewarded_vesting_steem":"293570.173 STEEM","sbd_interest_rate":0,"sbd_print_rate":8000,"maximum_block_size":65536,"current_aslot":30590395,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":30493032,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"sbd_stop_percent":1000,"sbd_start_percent":900},"id":1}'
  recorded_at: Tue, 19 Feb 2019 19:59:45 GMT
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_block","params":[30493047],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000816197338074421'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"previous":"01d14976ac765895e80caec0fe5ac998c8b7da3c","timestamp":"2019-02-19T19:59:45","witness":"aggroed","transaction_merkle_root":"92345c8a4b6f266ba183a846d41bfb14d8bc005e","extensions":[],"witness_signature":"1f54e22c4d27d8394da9e151083287099007f231945be5d27712830372117cd7e44a04464e560f462debcd81f82930c71bf94e405f73e1611bd7ec6dde5b766e0a","transactions":[{"ref_block_num":18783,"ref_block_prefix":505704710,"expiration":"2019-02-19T20:09:36","operations":[["vote",{"voter":"shenzhou","author":"omsoc","permlink":"actifit-omsoc-20190219t193923743z","weight":100}]],"extensions":[],"signatures":["20382aff0cdef7ea6254906904a9ee49257f582bac0b9e70e68891ce769f3f79ac3bfb5ef71fe0fd39f6b62526ce7e8fa6090af174c5790d5a8b0d19c4fb0e4e30"],"transaction_id":"25d8926a453c0948fe552bf072f4e7a1d74c4d62","block_num":30493047,"transaction_num":0},{"ref_block_num":18789,"ref_block_prefix":621821704,"expiration":"2019-02-19T20:09:39","operations":[["vote",{"voter":"pastzam","author":"lalupita","permlink":"rata-de-dos-patas","weight":10000}]],"extensions":[],"signatures":["1f71c347d2d65be35fd9006ffe3d207b8c567bd13c000aa07654114811a4bfa98829935f737bdff5123025ccf5edbba88843af3709f2e31834e6186edb5c9be2d2"],"transaction_id":"37ac206d5aa1d1677120a973c26a00945424178d","block_num":30493047,"transaction_num":1},{"ref_block_num":18789,"ref_block_[...]
