---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000089608078558725'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"head_block_number":22576890,"head_block_id":"01587efa569d62e7a98174f5164572c6618deeb1","time":"2018-05-19T20:50:18","current_witness":"gtg","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"273422213.059
        STEEM","current_supply":"268581023.839 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"13889371.873 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"191177693.232 STEEM","total_vesting_shares":"388954538588.048457
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"363531217.137824
        VESTS","pending_rewarded_vesting_steem":"177218.095 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":22642606,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":22576875,"vote_power_reserve_rate":10,"average_block_size":15660,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Sat, 19 May 2018 20:50:20 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_block","params":[22576890],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001008178379441445'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"previous":"01587ef94188e8b497bd821cc3a82d74982c82f3","timestamp":"2018-05-19T20:50:18","witness":"gtg","transaction_merkle_root":"b393fa290b202cffd7aa088ef77c42b8db3a347a","extensions":[],"witness_signature":"1f1fe605c2aab18097037c213755a12dfa771c42fa246916b651c7554ab74cd20237a08cce5efd1e85afd10d54ee0669ec440e547dbd413db224988a6473ab29fc","transactions":[{"ref_block_num":32503,"ref_block_prefix":2203309079,"expiration":"2018-05-19T20:50:41","operations":[["vote",{"voter":"beng05","author":"minnowsupport","permlink":"join-us-for-minnow-university-radio-tonight-on-msp-waves-radio","weight":10000}]],"extensions":[],"signatures":["2070b311129a3af6bd3668b5f1ab0d8e81e381189fceb3a78a338d5537bbae54765e1cfc1b3b21af78c68bcd3d8797cdfa5e2f89a319678452efcf8f02ad95065f"],"transaction_id":"a7ea2ae2d2de483abee47d431c041b982f616b11","block_num":0,"transaction_num":0},{"ref_block_num":32486,"ref_block_prefix":4291027590,"expiration":"2018-05-19T21:00:06","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["alici"],"id":"follow","json":"[\"follow\",{\"follower\":\"alici\",\"following\":\"unhorsepower777\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["2077c33bac2867d18f92865b1852f1f9bd03f4a9dd1ed65ed4c60fa71001b8fce161056abc997ce0cae7095b57076e2abf102cc10bd9c69d57c6ef84ee846afdf4"],"transaction_id":"17b8a5714495eb9f5d3fda5798785a74b860c339","block_num":0,"transaction_num":0},{"ref_block_num":32486,"ref_block_prefix":4291027590,"expiration":"2018-05-19T21:00:06","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["jasmeen"],"id":"follow","json":"[\"follow\",{\"follower\":\"jasmeen\",\"following\":\"cmelih\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["1f411aeceef3cc3720b827ae61e9719cf2f7b219636d71ce8c5c1bd6a3502618017e85f0aaeb490ff4b52613bfbfea172bf92207628444dbd574ffa1ecec1196b2"],"transaction_id":"83d5a2443e723ac4882963d6250984e8026c98a0","block_num":0,"transaction_num":0},{"ref_block_num":32486,"ref_block_prefix":4291027590,"expiration":"2018-05-19T21:00:06","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["sanama"],"id":"follow","json":"[\"follow\",{\"follower\":\"sanama\",\"following\":\"averageoutsider\",\"what\":[\"blog\"]}]"}]],"extensions":[],"signatures":["200c38ed607902587659752600304b32d5d98fb4bcf1147d73fefeac574fd492a740f7f27dbfbb6b6b456e5256dada97aa7bb18c7264d683a96f0d4626ccd0cf72"],"transaction_id":"cc3751401f4671742a1203233aaf0977e30e24bb","block_num":0,"transaction_num":0},{"ref_block_num":32500,"ref_block_prefix":3514889903,"expiration":"2018-05-19T20:51:08","operations":[["claim_reward_balance",{"account":"ngc","reward_steem":"0.000
        STEEM","reward_sbd":"0.000 SBD","reward_vests":"6.103602 VESTS"}]],"extensions":[],"signatures":["1f5efab87a712595ac28a9806a05cb4d0d3318a683ece1d555a1ab2eb32901a97922023516927d18a31ec4c5fbe966ead3192a7ce0f14a6867fd858f76d4dd06ed"],"transaction_id":"29ec3a341d5f23b8db745e57d0b4ea50b504368d","block_num":0,"transaction_num":0},{"ref_block_num":32488,"ref_block_prefix":118152364,"expiration":"2018-05-19T21:00:12","operations":[["custom_json",{"required_auths":[],"required_posting_auths":["hakanlama"],"id":"follow","json":"[\"follow\",{\"follower[...]
