---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_dynamic_global_properties",[]],"id":1,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_dynamic_global_properties
      X-Jussi-Response-Id:
      - s6e695ee5-daf8-4d98-96e1-7aebd8b537ba->2346a01f-7834-422f-ae5a-811a254d0e5d
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":16615643,"head_block_id":"00fd88dbfa6e92d5090263305b6a9f3da60a5c3e","time":"2017-10-24T16:59:24","current_witness":"liondani","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"261701074.395
        STEEM","current_supply":"258176226.002 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"3394429.003 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190713145.331 STEEM","total_vesting_shares":"392162155255.908743
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"377694611.003698
        VESTS","pending_rewarded_vesting_steem":"183083.747 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":16676388,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":16615626,"vote_power_reserve_rate":10,"current_reserve_ratio":200000000,"average_block_size":5759,"max_virtual_bandwidth":"264241152000000000000"},"id":1}'
  recorded_at: Tue, 24 Oct 2017 16:59:35 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","params":["database_api","get_block",[16615626]],"id":2,"method":"call"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - steemd.database_api.get_block.params=[16615626]
      X-Jussi-Response-Id:
      - sf742caaa-c69d-4806-a797-545b4c0e3bad->a9b5e86f-e39d-468d-9133-f151a480a564
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"previous":"00fd88c96c26fb7bb0299f44397e6ac0041559f1","timestamp":"2017-10-24T16:58:33","witness":"xeldal","transaction_merkle_root":"d4a1f9c2669b430ca3232f1bae3c03e0374aeee4","extensions":[],"witness_signature":"1f4a5fc936aee99d07411dc2b73608303367337e9f927f8a172c5a54dbca2d112c3f610d956610d1ed037a37e4b3c1506d5183dd43a2258ab3e8e0065b7fc44645","transactions":[{"ref_block_num":35013,"ref_block_prefix":3301576526,"expiration":"2017-10-24T16:59:27","operations":[["vote",{"voter":"zohaib715","author":"gazur","permlink":"what-s-up-with-monero-xmr-have-we-bottomed-out","weight":10000}]],"extensions":[],"signatures":["2063236eddf426da8b398cc1885664d2ef357505ec4ee3d7529556bd3ce55f77b572a3452ab71515540632f7f1ddc8da2f80a4bcac400c6264417caf9c5b971ff7"]},{"ref_block_num":35009,"ref_block_prefix":3524830502,"expiration":"2017-10-24T16:59:15","operations":[["vote",{"voter":"rajjakkhan","author":"usaking","permlink":"re-stimp1024-uk-racing-newcastle-24th-oct-upvote-50-of-winnings-paid-in-steem-20171024t061455978z","weight":10000}]],"extensions":[],"signatures":["1f7f0af282e53c43f623dd3cfffc4db15e39dc8e74f67ab9278667ab96c2dfc7cb2beff1337ba91979c38afa87730089da5664b1a7ae7e9f35e81134222534a253"]},{"ref_block_num":35011,"ref_block_prefix":714979199,"expiration":"2017-10-24T16:59:21","operations":[["comment",{"parent_author":"","parent_permlink":"news","author":"rollsman","permlink":"a-parade-in-raqqa-and-the-kurdish-interests","title":"A
        parade in raqqa and the Kurdish interests","body":"<html>\n<p>https:\/\/www.fondsk.ru\/images\/news\/2017\/10\/24\/or-44897.jpg<\/p>\n<p>The
        Turkish leadership is furious. October 19, in the \"liberated completely\"
        from the banned terrorist of the \"Islamic state\" (ISIS) in raqqa, a parade
        of victory hung over the ruins of the city with huge banners with the picture
        of Abdullah \u00f6calan. This figure, who heads operating in Turkey, the Kurdistan
        workers '' party (PKK), for many years sitting in prison there.[...]
