---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"findOne","params":{"contract":"tokens","table":"balances","query":{"symbol":"STINGY","account":"inertia"}},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":{"account":"inertia","symbol":"STINGY","balance":"3.75137479","$loki":363}}'
  recorded_at: Sat, 30 Mar 2019 23:35:36 GMT
recorded_with: VCR 4.0.0
