---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"getContract","params":{"name":"tokens"},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":{"name":"tokens","owner":"steemsc","code":"\n          RegExp.prototype.constructor
        = function () { };\n          RegExp.prototype.exec = function () {  };\n          RegExp.prototype.test
        = function () {  };\n\n          let actions = {};\n\n          \n    actions.createSSC
        = async (payload) => {\n        await api.db.createTable(''tokens'', [''symbol'']);\n        await
        api.db.createTable(''balances'', [''account'']);\n        await api.db.createTable(''contractsBalances'',
        [''[...]
