---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/blockchain
    body:
      encoding: UTF-8
      string: '{"method":"getBlockInfo","params":{"blockNumber":-1},"jsonrpc":"2.0","id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"result":null}'
  recorded_at: Sat, 17 Oct 2020 04:07:44 GMT
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/blockchain
    body:
      encoding: UTF-8
      string: '{"method":"getBlockInfo","params":{"blockNumber":"WRONG"},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":400,"message":"missing or wrong
        parameters: blockNumber is required"}}'
  recorded_at: Sat, 17 Oct 2020 04:07:45 GMT
recorded_with: VCR 5.0.0
