---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"transfers","query":{"symbol":""},"limit":0},"jsonrpc":"2.0","id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"result":null}'
  recorded_at: Thu, 23 May 2019 01:24:05 GMT
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"balances","query":{"symbol":"STINGY"}},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":[{"account":"inertia","symbol":"STINGY","balance":"7.87219680","$loki":363},{"account":"ausbitbank","symbol":"STINGY","balance":1.50151746,"$loki":364},{"account":"anthonyadavisii","symbol":"STINGY","balance":"4.03886590","$loki":386},{"account":"noflyzoe","symbol":"STINGY","balance":"0.00000000","$loki":436},{"account":"eonwarped","symbol":"STINGY","balance":"6.47409135","$loki":501},{"account":"freebornangel","symbol":"STINGY","balance":"0.41489045","$loki":509},{"account":"flagawhale","symbol":"STINGY","balance":"1.14773700","$loki":526},{"a[...]
