---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/blockchain
    body:
      encoding: UTF-8
      string: '{"method":"getBlockInfo","params":{"blockNumber":-1},"jsonrpc":"2.0","id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"result":null}'
  recorded_at: Thu, 23 May 2019 01:24:51 GMT
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/blockchain
    body:
      encoding: UTF-8
      string: '{"method":"getTransactionInfo","params":{"txid":"df846ffdbd87f3fae2a60993dae9d16d44c814e3"},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":{"blockNumber":1,"refSteemBlockNumber":29866321,"transactionId":"df846ffdbd87f3fae2a60993dae9d16d44c814e3","sender":"yabapmatt","contract":"sscstore","action":"buy","payload":"{\"recipient\":\"steemsc\",\"amountSTEEMSBD\":\"100.000
        STEEM\",\"isSignedWithActiveKey\":true}","executedCodeHash":"95c00a6546835e79c2ab57b899d07ed3735df9ee3daac2f7528a89b50ce4c0836ab0a60d88f646ba11b9f85ef90e1470719d02aaf0f8899b7232109604d39e02","hash":"a2d3cf6b6307dfff12f4bc7ee8050365b2465c7dc6637e5c64f8517be9621514","databaseHash":"da3bfa00893f4a2c763fe60cd01184e655bb46766ecb601ba68d428c7df119b6","logs":"{\"events\":[{\"contract\":\"tokens\",\"event\":\"transfer\",\"data\":{\"from\":\"steemsc\",\"to\":\"yabapmatt\",\"symbol\":\"ENG\",\"quantity\":100}}]}"}}'
  recorded_at: Thu, 23 May 2019 01:24:52 GMT
recorded_with: VCR 4.0.0
