---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"transfers","query":{"symbol":""},"limit":0},"jsonrpc":"2.0","id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"result":null}'
  recorded_at: Sat, 17 Oct 2020 04:07:47 GMT
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"balances","query":{"symbol":"STINGY"}},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","id":1,"result":[{"_id":363,"account":"inertia","symbol":"STINGY","balance":"36.92931281"},{"_id":364,"account":"ausbitbank","symbol":"STINGY","balance":"43.97961424"},{"_id":386,"account":"anthonyadavisii","symbol":"STINGY","balance":"44.97668238"},{"_id":436,"account":"noflyzoe","symbol":"STINGY","balance":"0.00000000"},{"_id":501,"account":"eonwarped","symbol":"STINGY","balance":"172.07799631"},{"_id":509,"account":"freebornangel","symbol":"STINGY","balance":"0.00000000"},{"_id":526,"account":"flagawhale","symbol":"STINGY","balance":"6.19853502"},{"_id":527,"account"[...]
