---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"transfers","query":{"symbol":""},"limit":0},"jsonrpc":"2.0","id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"result":null}'
  recorded_at: Thu, 23 May 2019 01:24:04 GMT
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"findOne","params":{"contract":"tokens","table":"balances","query":{"symbol":"STINGY","account":"inertia"}},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":{"account":"inertia","symbol":"STINGY","balance":"7.87219680","$loki":363}}'
  recorded_at: Thu, 23 May 2019 01:24:04 GMT
recorded_with: VCR 4.0.0
