---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.com/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"balances","query":{"symbol":"STINGY"}},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":[{"account":"inertia","symbol":"STINGY","balance":"3.75137479","$loki":363},{"account":"ausbitbank","symbol":"STINGY","balance":1.50151746,"$loki":364},{"account":"anthonyadavisii","symbol":"STINGY","balance":"3.10722987","$loki":386},{"account":"noflyzoe","symbol":"STINGY","balance":"0.00000000","$loki":436},{"account":"eonwarped","symbol":"STINGY","balance":"6.26772496","$loki":501},{"account":"freebornangel","symbol":"STINGY","balance":"0.00000000","$loki":509},{"account":"flagawhale","symbol":"STINGY","balance":"0.86309339","$loki":526},{"account":"admiralbot","symbol":"STINGY","balance":"1.20916382","$loki":527},{"account":"whatsup","symbol":"STINGY","balance":1.13050874,"$loki":943},{"account":"pjau","symbol":"STINGY","balance":"0.11617238","$loki":1013},{"account":"themarkymark","symbol":"STINGY","balance":"0.00000000","$loki":1088},{"account":"enforcer48","symbol":"STINGY","balance":2.6366208,"$loki":1189},{"account":"ackza","symbol":"STINGY","balance":"2.17000000","$loki":1436},{"account":"aneilpatel","symbol":"STINGY","balance":"0.001","$loki":14375},{"account":"ipromote","symbol":"STINGY","balance":"0.00000000","$loki":14873},{"account":"boinger","symbol":"STINGY","balance":"0.00860834","$loki":14874},{"account":"mrkebab","symbol":"STINGY","balance":"0.06047863","$loki":14875},{"account":"gamblingman","symbol":"STINGY","balance":"0.00000000","$loki":14876},{"account":"rollingbones","symbol":"STINGY","balance":"0.00000000","$loki":14877}]}'
  recorded_at: Sat, 30 Mar 2019 23:35:35 GMT
recorded_with: VCR 4.0.0
