---
http_interactions:
- request:
    method: post
    uri: https://api.steem-engine.net/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"find","params":{"contract":"tokens","table":"transfers","query":{"symbol":""},"limit":0},"jsonrpc":"2.0","id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"result":null}'
  recorded_at: Sat, 07 Nov 2020 20:13:34 GMT
- request:
    method: post
    uri: https://api.steem-engine.net/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"findOne","params":{"contract":"tokens","table":"balances","query":{"symbol":"STINGY","account":"inertia"}},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":{"_id":363,"account":"inertia","symbol":"STINGY","balance":"36.92931281"}}'
  recorded_at: Sat, 07 Nov 2020 20:13:34 GMT
[...]
- request:
    method: post
    uri: https://api.steem-engine.net/rpc/contracts
    body:
      encoding: UTF-8
      string: '{"method":"findOne","params":{"contract":"tokens","table":"balances","query":{"symbol":"STINGY","account":"inertia"}},"jsonrpc":"2.0","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":{"_id":363,"account":"inertia","symbol":"STINGY","balance":"36.92931281"}}'
  recorded_at: Sat, 30 Jul 2022 23:22:56 GMT
recorded_with: VCR 6.1.0
