---
http_interactions:
- request:
    method: post
    uri: https://steem.bts.tw/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":61,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]> <html class=\"no-js ie6 oldie\"
        lang=\"en-US\"> <![endif]-->\n<!--[if IE 7]>    <html class=\"no-js ie7 oldie\"
        lang=\"en-US\"> <![endif]-->\n<!--[if IE 8]>    <html class=\"no-js ie8 oldie\"
        lang=\"en-US\"> <![endif]-->\n<!--[if gt IE 8]><!--> <html class=\"no-js\"
        lang=\"en-US\"> <!--<![endif]-->\n<head>\n<meta http-equiv=\"refresh\" content=\"0\">\n\n<title>steem.bts.tw
        | 502: Bad gateway</title>\n<meta charset=\"UTF-8\" />\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\" />\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=Edge,chrome=1\" />\n<meta name=\"robots\" content=\"noindex,
        nofollow\" />\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"
        />\n<link rel=\"stylesheet\" id=\"cf_styles-css\" href=\"/cdn-cgi/styles/main.css\"
        type=\"text/css\" media=\"screen,projection\" />\n\n\n</head>\n<body>\n<div
        id=\"cf-wrapper\">\n\n    \n\n    <div id=\"cf-error-details\" class=\"p-0\">\n
        \       <header class=\"mx-auto pt-10 lg:pt-6 lg:px-8 w-240 lg:w-full mb-8\">\n
        \           <h1 class=\"inline-block sm:block sm:mb-2 font-light text-60 lg:text-4xl
        text-black-dark leading-tight mr-2\">\n              \n              <span
        class=\"cf-error-type\">Error</span>\n              <span class=\"cf-error-code\">502</span>\n
        \           </h1>\n            <span class=\"inline-block sm:block font-mono
        text-15 lg:text-sm lg:leading-relaxed\">Ray ID: 5ee97cdfc831ed77 &bull;</span>\n
        \           <span class=\"inline-block sm:block font-mono text-15 lg:text-sm
        lg:leading-relaxed\">2020-11-07 19:33:45 UTC</span>\n            <h2 class=\"text-gray-600
        leading-1.3 text-3xl font-light\">Bad gateway</h2>\n        </header>\n        \n
        \       <div class=\"my-8 bg-gradient-gray\">\n            <div class=\"w-240
        lg:w-full mx-auto\">\n                <div class=\"clearfix md:px-8\">\n                  \n<div
        id=\"cf-browser-status\" class=\" relative w-1/3 md:w-full py-15 md:p-0 md:py-8
        md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400 overflow-hidden
        float-left md:float-none text-center\">\n  <div class=\"relative mb-10 md:m-0\">\n
        \   <span class=\"cf-icon-browser block md:hidden h-20 bg-center bg-no-repeat\"></span>\n
        \   <span class=\"cf-icon-ok w-12 h-12 absolute left-1/2 md:left-auto md:right-0
        md:top-0 -ml-6 -bottom-4\"></span>\n  </div>\n  <span class=\"md:block w-full
        truncate\">You</span>\n  <h3 class=\"md:inline-block mt-3 md:mt-0 text-2xl
        text-gray-600 font-light leading-1.3\">Browser</h3>\n  <span class=\"leading-1.3
        text-2xl text-green-success\">Working</span>\n</div>\n\n<div id=\"cf-cloudflare-status\"
        class=\" relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid
        md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none
        text-center\">\n  <div class=\"relative mb-10 md:m-0\">\n    <span class=\"c[...]
[...]
- request:
    method: get
    uri: https://anyx.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"info":"For information on how to use this api, visit https://developers.hive.io/apidefinitions/
        ","jussi_num":"-1","status":"OK"}

        '
  recorded_at: Sat, 07 Nov 2020 20:13:06 GMT
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":32,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001101411167559638'
      X-Jussi-Response-Time:
      - '0.09009812027215958'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - jsonrpc
      X-Jussi-Method:
      - get_methods
      X-Jussi-Params:
      - "{}"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","condenser_api.get_account_count","condenser_api.get_account_history","condenser_api.get_account_re[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":33,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000219233501898175'
      X-Jussi-Response-Time:
      - '0.09001155942678452'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_accounts
      X-Jussi-Params:
      - "[['fullnodeupdate']]"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/rpc.ausbit.dev\", \"https:\/\/api.pharesim.me\", \"https:\/\/hive.roelandp.nl\",
        \"https:\/\/api.deathwing.me\", \"https:\/\/rpc.ecency.com\", \"https:\/\/hive-api.arcange.eu\",
        \"https:\/\/api.steemit.com\", \"https:\/\/api.hive.blog\", \"https:\/\/hived.privex.io\",
        \"https:\/\/api.c0ff33a.uk\", \"https:\/\/api.openhive.network\", \"https:\/\/techcoderx.com\",
        \"http:\/\/anyx.io\", \"https:\/\/anyx.io\", \"https:\/\/steem.61bts.com\"],
        \"failing_nodes\": {\"https:\/\/steem.bts.tw\": \"NumRetriesReached\"}, \"report\":
        [{\"node\": \"https:\/\/api.hive.blog\", \"version\": \"1.24.6\", \"hive\":
        true, \"block\": {\"rank\": 12, \"ok\": true, \"count\": 195, \"time\": 30.05},
        \"history\": {\"rank\": 11, \"ok\": true, \"count\": 11401, \"time\": 15.12},
        \"apicall\": {\"rank\": 6, \"ok\": true, \"time\": 0.99, \"access_time\":
        0.183}, \"config\": {\"rank\": 4, \"ok\": true, \"time\": 0.32, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 5, \"ok\": true, \"head_delay\": 3.66, \"diff_head_irreversible\":
        16.0, \"time\": 17.75}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\",
        \"hive\": true, \"block\": {\"rank\": 14, \"ok\": true, \"count\": 145, \"time\":
        30.08}, \"history\": {\"rank\": 16, \"ok\": true, \"count\": 7576, \"time\":
        15.08}, \"apicall\": {\"rank\": 9, \"ok\": true, \"time\": 1.2, \"access_time\":
        0.26}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.77, \"access_time\":
        0.11}, \"block_diff\": {\"rank\": 14, \"ok\": true, \"head_delay\": 8.06,
        \"diff_head_irreversible\": 19.0, \"time\": 17.6}}, {\"node\": \"https:\/\/api.hivekings.com\",
        \"version\": \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\":
        true, \"count\": 177, \"time\": 30.08}, \"history\": {\"rank\": 14, \"ok\":
        true, \"count\": 8401, \"time\": 15.06}, \"apicall\": {\"rank\": -1, \"ok\":
        false, \"error\": \"Assert Exception:api_itr != _registered_apis.end(): Could
        not find API bridge\", \"time\": 1.02, \"access_time\": 30.0}, \"config\":
        {\"rank\": 6, \"ok\": true, \"time\": 0.85, \"access_time\": 0.16}, \"block_diff\":
        {\"rank\": 17, \"ok\": true, \"head_delay\": 3.33, \"diff_head_irreversible\":
        22.0, \"time\": 18.9}}, {\"node\": \"https:\/\/api.openhive.network\", \"version\":
        \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 15, \"ok\": true, \"count\"[...]
- request:
    method: get
    uri: https://hived.privex.io/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000393105459009021'
      X-Hp-Svr:
      - hivekings
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2020-11-07T20:13:09.866917","source_commit":"420af54d5d0d725045843e91c2ab027b06739221","docker_tag":"autoclave","jussi_num":48487225}'
  recorded_at: Sat, 07 Nov 2020 20:13:10 GMT
[...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":37,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":37,"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_hist[...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":38,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":38,"jsonrpc":"2.0","result":[{"active":{"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]],"weight_threshold":1},"balance":"0.017
        HIVE","can_vote":true,"comment_count":0,"created":"2018-05-31T10:46:21","curation_rewards":0,"delayed_votes":[],"delegated_vesting_shares":"198556.066920
        VESTS","downvote_manabar":{"current_mana":"430852858679","last_update_time":1604777934},"guest_bloggers":[],"hbd_balance":"0.096
        HBD","hbd_last_interest_payment":"2020-10-22T19:24:24","hbd_seconds":"449005704","hbd_seconds_last_update":"2020-10-24T20:09:48","id":1025676,"json_metadata":"{\"nodes\":
        [\"https://rpc.ausbit.dev\", \"https://api.pharesim.me\", \"https://hive.roelandp.nl\",
        \"https://api.deathwing.me\", \"https://rpc.ecency.com\", \"https://hive-api.arcange.eu\",
        \"https://api.steemit.com\", \"https://api.hive.blog\", \"https://hived.privex.io\",
        \"https://api.c0ff33a.uk\", \"https://api.openhive.network\", \"https://techcoderx.com\",
        \"http://anyx.io\", \"https://anyx.io\", \[...]
- request:
    method: post
    uri: https://rpc.esteem.app/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":39,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001095728062259478'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[...]
[...]
- request:
    method: post
    uri: https://hive.roelandp.nl/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":7,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000284126475371403'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result"[...]
[...]
- request:
    method: post
    uri: https://fin.hive.3speak.co/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":10,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000846473178384299'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resu[...]
[...]
- request:
    method: post
    uri: https://api.deathwing.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":14,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000608102288244623'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result[...]
[...]
- request:
    method: post
    uri: https://api.pharesim.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":45,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000303928780268525'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result"[...]
