---
http_interactions:
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_trending_tags","params":{},"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - dd995b32-023e-466a-9d8d-b2f14ba675e6
      X-Jussi-Request-Id:
      - 4cbfd6c3cd6247e6c673b55fea80964c
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"dd995b32-023e-466a-9d8d-b2f14ba675e6","jussi_request_id":"4cbfd6c3cd6247e6c673b55fea80964c"}}}'
  recorded_at: Sun, 10 May 2026 21:13:31 GMT
[...]
- request:
    method: post
    uri: https://api.steemitdev.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"tags_api.get_active_votes","params":{},"id":20}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Error-Id:
      - 78b164e5-40c9-4fe5-befd-69dee669bc08
      X-Jussi-Request-Id:
      - 79982cb998a120dc075d23fb43a8d289
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":20,"error":{"code":-32603,"message":"Internal
        Error","data":{"error_id":"78b164e5-40c9-4fe5-befd-69dee669bc08","jussi_request_id":"79982cb998a120dc075d23fb43a8d289"}}}'
  recorded_at: Sun, 10 May 2026 21:13:50 GMT
recorded_with: VCR 6.4.0
