---
http_interactions:
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":45,"method":"database_api.get_config","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000301463325134201'
      X-Jussi-Response-Time:
      - '0.0860123410820961'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - database_api
      X-Jussi-Method:
      - get_config
      X-Jussi-Params:
      - "{}"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"IS_TEST_NET":false,"HIVE_ENABLE_SMT":false,"HBD_SYMBOL":{"nai":"@@000000013","decimals":3},"HIVE_INITIAL_VOTE_POWER_RATE":40,"HIVE_REDUCED_VOTE_POWER_RATE":10,"HIVE_100_PERCENT":10000,"HIVE_1_PERCENT":100,"HIVE_ACCOUNT_RECOVERY_REQUEST_EXPIRATION_PERIOD":"86400000000","HIVE_ACTIVE_CHALLENGE_COOLDOWN":"86400000000","HIVE_ACTIVE_CHALLENGE_FEE":{"amount":"2000","precision":3,"nai":"@@000000021"},"HIVE_ADDRESS_PREFIX":"STM","HIVE_APR_PERCENT_MULTIPLY_PER_BLOCK":"102035135585887","HIVE_APR_PERCENT_MULTIPLY_PER_HOUR":"119577151364285","HIVE_APR_PERCENT_MULTIPLY_PER_ROUND":"133921203762304","HIVE_APR_PERCENT_SHIFT_PER_BLOCK":87,"HIVE_APR_PERCENT_SHIFT_PER_HOUR":77,"HIVE_APR_PERCENT_SHIFT_PER_ROUND":83,"HIVE_BANDWIDTH_AVERAGE_WINDOW_SECONDS":604800,"HIVE_BANDWIDTH_PRECISION":1000000,"HIVE_BENEFICIARY_LIMIT":128,"HIVE_BLOCKCHAIN_PRECISION":1000,"HIVE_BLOCKCHAIN_PRECISION_DIGITS":3,"HIVE_BLOCKCHAIN_HARDFORK_VERSION":"1.24.0","HIVE_BLOCKCHAIN_VERSION":"1.24.6","HIVE_BLOCK_INTERVAL":3,"HIVE_BLOCKS_PER_DAY":28800,"HIVE_BLOCKS_PER_HOUR":1200,"HIVE_BLOCKS_PER_YEAR":10512000,"HIVE_CASHOUT_WINDOW_SECONDS":604800,"HIVE_CASHOUT_WINDOW_SECONDS_PRE_HF12":86400,"HIVE_CASHOUT_WINDOW_SECONDS_PRE_HF17":43200,"HIVE_CHAIN_ID":"beeab0de00000000000000000000000000000000000000000000000000000000","HIVE_COMMENT_REWARD_FUND_NAME":"comment","HIVE_COMMENT_TITLE_LIMIT":256,"HIVE_CONTENT_APR_PERCENT":3875,"HIVE_CONTENT_CONSTANT_HF0":"2000000000000","HIVE_CONTENT_CONSTANT_HF21":"2000000000000","HIVE_CONTENT_REWARD_PERCENT_HF16":7500,"HIVE_CONTENT_REWARD_PERCENT_HF21":6500,"HIVE_CONVERSION_DELAY":"302400000000","HIVE_CONVERSION_DELAY_PRE_HF_16":"604800000000","HIVE_CREATE_ACCOUNT_DELEGATION_RATIO":5,"HIVE_CREATE_ACCOUNT_DELEGATION_TIME":"2592000000000","HIVE_CREATE_ACCOUNT_WITH_HIVE_MODIFIER":30,"HIVE_CURATE_APR_PERCENT":3875,"HIVE_CUSTOM_OP_DATA_MAX_LENGTH":8192,"HIVE_CUSTOM_OP_ID_MAX_LENGTH":32,"HIVE_DEFAULT_HBD_INTEREST_RATE":1000,"HIVE_DOWNVOTE_POOL_PERCENT_HF21":2500,"HIVE_EQUIHASH_K":6,"HIVE_EQUIHASH_N":140,"HIVE_FEED_HISTORY_WINDOW":84,"HIVE_FEED_HISTORY_WINDOW_PRE_HF_16":168,"HIVE_FEED_INTERVAL_BLOCKS":1200,"HIVE_GENESIS_TIME":"2016-03-24T16:00:00","HIVE_HARDFORK_REQUIRED_WITNESSES":17,"HIVE_HF21_CONVERGENT_LINEAR_RECENT_CLAIMS":"503600561838938636","HIVE_INFLATION_NARROWING_PERIOD":250000,"HIVE_INFLATION_RATE_START_PERCENT":978,"HIVE_INFLATION_RATE_STOP_PERCENT":95,"HIVE_INIT_MINER_NAME":"initminer","HIVE_INIT_PUBLIC_KEY_STR":"STM8GC13uCZbP44HzMLV6zPZGwVQ8Nt4Kji8PapsPiNq1BK153XTX","HIVE_INIT_SUPPLY":0,"HIVE_HBD_INIT_SUPPLY":0,"HIVE_INIT_TIME":"1970-01-01T00:00:00","HIVE_IRREVERSIBLE_THRESHOLD":7500,"HIVE_LIQUIDITY_APR_PERCENT":750,"HIVE_LIQUIDITY_REWARD_BLOCKS":1200,"HIVE_LIQUIDITY_REWARD_PERIOD_SEC":3600,"HIVE_LIQUIDITY_TIMEOUT_SEC":"604800000000","HIVE_MAX_ACCOUNT_CREATION_FEE":1000000000,"HIVE_MAX_ACCOUNT_NAME_LENGTH":16,"HIVE_MAX_ACCOUNT_WITNESS_VOTES":30,"HIVE_MAX_ASSET_WHITELIST_AUTHORITIES":10,"HIVE_MAX_AUTHORITY_MEMBERSHIP":40,"HIVE_MAX_BLOCK_SIZE":393216000,"HIVE_SOFT_MAX_BLOCK_SIZE":2097152,"HIVE_MAX_CASHOUT_WINDOW_SECONDS":1209600,"HIVE_MAX_COMMENT_DEPTH":65535,"HIVE_MAX_COMMENT_DEPTH_PRE_HF17":6,"HIVE_MAX_FEED_AGE_SECONDS":604800,"HIVE_MAX_INSTANCE_ID":"281474976710655","HIVE_MAX_MEMO_SIZE":2048,"HIVE_MAX_WITNESSES":21,"HIVE_MAX_MINER_WITNESSES_HF0":1,"HIVE_MAX_MINER_WITNESSES_HF17":0,"HIVE_MAX_PERMLINK_LENGTH":256,"HIVE_MAX_PROXY_RECURSION_DEPTH":4,"HIVE_MAX_RATION_DECAY_RATE":1000000,"HIVE_MAX_RESERVE_RATIO":20000,"HIVE_MAX_RUNNER_WITNESSES_HF0":1,"HIVE_MAX_RUNNER_WITNESSES_HF17":1,"HIVE_MAX_SATOSHIS":"4611686018427387903","HIVE_MAX_SHARE_SUPPLY":"1000000000000000","HIVE_MAX_SIG_CHECK_DEPTH":2,"HIVE_MAX_SIG_CHECK_ACCOUNTS":125,"HIVE_MAX_TIME_UNTIL_EXPIRATION":3600,"HIVE_MAX_TRANSACTION_SIZE":65536,"HIVE_MAX_UNDO_HISTORY":10000,"HIVE_MAX_URL_LENGTH":127,"HIVE_MAX_VOTE_CHANGES":5,"HIVE_MAX_VOTED_WITNESSES_HF0":19,"HIVE_MAX_VOTED_WITNESSES_HF17":20,"HIVE_MAX_WITHDRAW_ROUTES":10,"HIVE_MAX_PENDING_TRANSFERS":255,"HIVE_MAX_WITNESS_URL_LENGTH":2048,"HIVE_MIN_ACCOUNT_CREATION_FEE":1,"HIVE_MIN_ACCOUNT_NAME_LENGTH":3,"HIVE_MIN_BLOCK_SIZE_LIMIT":65536,"HIVE_MIN_BLOCK_SIZE":115,"HIVE_MIN_CONTENT_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"HIVE_MIN_CURATE_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"HIVE_MIN_PERMLINK_LENGTH":0,"HIVE_MIN_REPLY_INTERVAL":20000000,"HIVE_MIN_REPLY_INTERVAL_HF20":3000000,"HIVE_MIN_ROOT_COMMENT_INTERVAL":300000000,"HIVE_MIN_COMMENT_EDIT_INTERVAL":3000000,"HIVE_MIN_VOTE_INTERVAL_SEC":3,"HIVE_MINER_ACCOUNT":"miners","HIVE_MINER_PAY_PERCENT":100,"HIVE_MIN_FEEDS":7,"HIVE_MINING_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"HIVE_MINING_TIME":"2016-03-24T17:00:00","HIVE_MIN_LIQUIDITY_REWARD":{"amount":"1200000","precision":3,"nai":"@@000000021"},"HIVE_MIN_LIQUIDITY_REWARD_PERIOD_SEC":60000000,"HIVE_MIN_PAYOUT_HBD":{"amount":"20","precision":3,"nai":"@@000000013"},"HIVE_MIN_POW_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"HIVE_MIN_PRODUCER_REWARD":{"amount":"1000","precision":3,"nai":"@@000000021"},"HIVE_MIN_TRANSACTION_EXPIRATION_LIMIT":15,"HIVE_MIN_TRANSACTION_SIZE_LIMIT":1024,"HIVE_MIN_UNDO_HISTORY":10,"HIVE_NULL_ACCOUNT":"null","HIVE_NUM_INIT_MINERS":1,"HIVE_OWNER_AUTH_HISTORY_TRACKING_START_BLOCK_NUM":3186477,"HIVE_OWNER_AUTH_RECOVERY_PERIOD":"2592000000000","HIVE_OWNER_CHALLENGE_COOLDOWN":"86400000000","HIVE_OWNER_CHALLENGE_FEE":{"amount":"30000","precision":3,"nai":"@@000000021"},"HIVE_OWNER_UPDATE_LIMIT":3600000000,"HIVE_POST_AVERAGE_WINDOW":86400,"HIVE_POST_REWARD_FUND_NAME":"post","HIVE_POST_WEIGHT_CONSTANT":1600000000,"HIVE_POW_APR_PERCENT":750,"HIVE_PRODUCER_APR_PERCENT":750,"HIVE_PROXY_TO_SELF_ACCOUNT":"","HIVE_HBD_INTEREST_COMPOUND_INTERVAL_SEC":2592000,"HIVE_SECONDS_PER_YEAR":31536000,"HIVE_PROPOSAL_FUND_PERCENT_HF0":0,"HIVE_PROPOSAL_FUND_PERCENT_HF21":1000,"HIVE_RECENT_RSHARES_DECAY_TIME_HF19":"1296000000000","HIVE_RECENT_RSHARES_DECAY_TIME_HF17":"2592000000000","HIVE_REVERSE_AUCTION_WINDOW_SECONDS_HF6":1800,"HIVE_REVERSE_AUCTION_WINDOW_SECONDS_HF20":900,"HIVE_REVERSE_AUCTION_WINDOW_SECONDS_HF21":300,"HIVE_ROOT_POST_PARENT":"","HIVE_SAVINGS_WITHDRAW_REQUEST_LIMIT":100,"HIVE_SAVINGS_WITHDRAW_TIME":"259200000000","HIVE_HBD_START_PERCENT_HF14":200,"HIVE_HBD_START_PERCENT_HF20":900,"HIVE_HBD_STOP_PERCENT_HF14":500,"HIVE_HBD_STOP_PERCENT_HF20":1000,"HIVE_SECOND_CASHOUT_WINDOW":2592000,"HIVE_SOFT_MAX_COMMENT_DEPTH":255,"HIVE_START_MINER_VOTING_BLOCK":864000,"HIVE_START_VESTING_BLOCK":201600,"HIVE_TEMP_ACCOUNT":"temp","HIVE_UPVOTE_LOCKOUT_HF7":60000000,"HIVE_UPVOTE_LOCKOUT_HF17":"43200000000","HIVE_UPVOTE_LOCKOUT_SECONDS":43200,"HIVE_VESTING_FUND_PERCENT_HF16":1500,"HIVE_VESTING_WITHDRAW_INTERVALS":13,"HIVE_VESTING_WITHDRAW_INTERVALS_PRE_HF_16":104,"HIVE_VESTING_WITHDRAW_INTERVAL_SECONDS":604800,"HIVE_VOTE_DUST_THRESHOLD":50000000,"HIVE_VOTING_MANA_REGENERATION_SECONDS":432000,"HIVE_SYMBOL":{"nai":"@@000000021","decimals":3},"VESTS_SYMBOL":{"nai":"@@000000037","decimals":6},"HIVE_VIRTUAL_SCHEDULE_LAP_LENGTH":"18446744073709551615","HIVE_VIRTUAL_SCHEDULE_LAP_LENGTH2":"340282366920938463463374607431768211455","HIVE_MAX_LIMIT_ORDER_EXPIRATION":2419200,"HIVE_DELEGATION_RETURN_PERIOD_HF0":604800,"HIVE_DELEGATION_RETURN_PERIOD_HF20":432000,"HIVE_RD_MIN_DECAY_BITS":6,"HIVE_RD_MAX_DECAY_BITS":32,"HIVE_RD_DECAY_DENOM_SHIFT":36,"HIVE_RD_MAX_POOL_BITS":64,"HIVE_RD_MAX_BUDGET_1":"17179869183","HIVE_RD_MAX_BUDGET_2":268435455,"HIVE_RD_MAX_BUDGET_3":2147483647,"HIVE_RD_MAX_BUDGET":268435455,"HIVE_RD_MIN_DECAY":64,"HIVE_RD_MIN_BUDGET":1,"HIVE_RD_MAX_DECAY":4294967295,"HIVE_ACCOUNT_SUBSIDY_PRECISION":10000,"HIVE_WITNESS_SUBSIDY_BUDGET_PERCENT":12500,"HIVE_WITNESS_SUBSIDY_DECAY_PERCENT":210000,"HIVE_DEFAULT_ACCOUNT_SUBSIDY_DECAY":347321,"HIVE_DEFAULT_ACCOUNT_SUBSIDY_BUDGET":797,"HIVE_DECAY_BACKSTOP_PERCENT":9000,"HIVE_BLOCK_GENERATION_POSTPONED_TX_LIMIT":5,"HIVE_PENDING_TRANSACTION_EXECUTION_LIMIT":200000,"HIVE_TREASURY_ACCOUNT":"hive.fund","HIVE_TREASURY_FEE":10000,"HIVE_PROPOSAL_MAINTENANCE_PERIOD":3600,"HIVE_PROPOSAL_MAINTENANCE_CLEANUP":86400,"HIVE_PROPOSAL_SUBJECT_MAX_LENGTH":80,"HIVE_PROPOSAL_MAX_IDS_NUMBER":5},"id":45}'
  recorded_at: Sun, 08 Nov 2020 06:01:30 GMT
[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_config"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000859418346123519'
      X-Jussi-Response-Time:
      - '0.0020970702171325684'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - jsonrpc
      X-Jussi-Method:
      - get_signature
      X-Jussi-Params:
      - "{'method': 'database_api.get_config'}"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{}},"id":3}'
  recorded_at: Sat, 30 Jul 2022 23:21:57 GMT
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":4,"method":"database_api.get_config","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.database_api.get_config.params={}
      X-Jussi-Request-Id:
      - '000222202625873769'
      X-Jussi-Response-Time:
      - '0.0016187727451324463'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - database_api
      X-Jussi-Method:
      - get_config
      X-Jussi-Params:
      - "{}"
    body:
      encoding: UTF-8
      string: '{"id":4,"jsonrpc":"2.0","result":{"HIVE_CHAIN_ID":"beeab0de00000000000000000000000000000000000000000000000000000000","HIVE_TREASURY_ACCOUNT":"hive.fund","IS_TEST_NET":false,"HIVE_ENABLE_SMT":false,"HIVE_BLOCKCHAIN_VERSION":"1.25.0","HIVE_INIT_PUBLIC_KEY_STR":"STM8GC13uCZbP44HzMLV6zPZGwVQ8Nt4Kji8PapsPiNq1BK153XTX","STEEM_CHAIN_ID":"0000000000000000000000000000000000000000000000000000000000000000","HIVE_ADDRESS_PREFIX":"STM","HIVE_GENESIS_TIME":"2016-03-24T16:00:00","HIVE_MINING_TIME":"2016-03-24T17:00:00","HIVE_CASHOUT_WINDOW_SECONDS_PRE_HF12":86400,"HIVE_CASHOUT_WINDOW_SECONDS_PRE_HF17":43200,"HIVE_CASHOUT_WINDOW_SECONDS":604800,"HIVE_SECOND_CASHOUT_WINDOW":2592000,"HIVE_MAX_CASHOUT_WINDOW_SECONDS":1209600,"HIVE_UPVOTE_LOCKOUT_HF7":60000000,"HIVE_UPVOTE_LOCKOUT_SECONDS":43200,"HIVE_UPVOTE_LOCKOUT_HF17":"43200000000","HIVE_MIN_ACCOUNT_CREATION_FEE":1,"HIVE_MAX_ACCOUNT_CREATION_FEE":1000000000,"HIVE_OWNER_AUTH_RECOVERY_PERIOD":"2592000000000","HIVE_ACCOUNT_RECOVERY_REQUEST_EXPIRATION_PERIOD":"86400000000","HIVE_OWNER_UPDATE_LIMIT":3600000000,"HIVE_OWNER_AUTH_HISTORY_TRACKING_START_BLOCK_NUM":3186477,"HIVE_INIT_SUPPLY":0,"HIVE_HBD_INIT_SUPPLY":0,"HIVE_PROPOSAL_MAINTENANCE_PERIOD":3600,"HIVE_PROPOSAL_MAINTENANCE_CLEANUP":86400,"HIVE_DAILY_PROPOSAL_MAINTENANCE_PERIOD":86400,"HIVE_GOVERNANCE_VOTE_EXPIRATION_PERIOD":"31536000000000","HIVE_GLOBAL_REMOVE_THRESHOLD":200,"HIVE_START_MINER_VOTING_BLOCK":864000,"HIVE_DELAYED_VOTING_TOTAL_INTERVAL_SECONDS":2592000,"HIVE_DELAYED_VOTING_INTERVAL_SECONDS":86400,"VESTS_SYMBOL":{"nai":"@@000000037","decimals":6},"HIVE_SYMBOL":{"nai":"@@000000021","decimals":3},"HBD_SYMBOL":{"nai":"@@000000013","decimals":3},"HIVE_BLOCKCHAIN_HARDFORK_VERSION":"1.25.0","HIVE_100_PERCENT":10000,"HIVE_1_PERCENT":100,"HIVE_1_BASIS_POINT":1,"HIVE_BLOCK_INTERVAL":3,"HIVE_BLOCKS_PER_YEAR":10512000,"HIVE_BLOCKS_PER_DAY":28800,"HIVE_START_VESTING_BLOCK":201600,"HIVE_INIT_MINER_NAME":"initminer","HIVE_NUM_INIT_MINERS":1,"HIVE_INIT_TIME":"1970-01-01T00:00:00","HIVE_MAX_WITNESSES":21,"HIVE_MAX_VOTED_WITNESSES_HF0":19,"HIVE_MAX_MINER_WITNESSES_HF0":1,"HIVE_MAX_RUNNER_WITNESSES_HF0":1,"HIVE_MAX_VOTED_WITNESSES_HF17":20,"HIVE_MAX_MINER_WITNESSES_HF17":0,"HIVE_MAX_RUNNER_WITNESSES_HF17":1,"HIVE_HARDFORK_REQUIRED_WITNESSES":17,"HIVE_MAX_TIME_UNTIL_EXPIRATION":3600,"HIVE_MAX_MEMO_SIZE":2048,"HIVE_MAX_PROXY_RECURSION_DEPTH":4,"HIVE_VESTING_WITHDRAW_INTERVALS_PRE_HF_16":104,"HIVE_VESTING_WITHDRAW_INTERVALS":13,"HIVE_VESTING_WITHDRAW_INTERVAL_SECONDS":604800,"HIVE_MAX_WITHDRAW_ROUTES":10,"HIVE_MAX_PENDING_TRANSFERS":255,"HIVE_MAX_OPEN_RECURRENT_TRANSFERS":255,"HIVE_MAX_CONSECUTIVE_RECURRENT_TRANSFER_FAILURES":10,"HIVE_MAX_RECURRENT_TRANSFER_END_DATE":730,"HIVE_MAX_RECURRENT_TRANSFERS_PER_BLOCK":1000,"HIVE_MIN_RECURRENT_TRANSFERS_RECURRENCE":24,"HIVE_SAVINGS_WITHDRAW_TIME":"259200000000","HIVE_SAVINGS_WITHDRAW_REQUEST_LIMIT":100,"HIVE_VOTING_MANA_REGENERATION_SECONDS":432000,"HIVE_MAX_VOTE_CHANGES":5,"HIVE_REVERSE_AUCTION_WINDOW_SECONDS_HF6":1800,"HIVE_REVERSE_AUCTION_WINDOW_SECONDS_HF20":900,"HIVE_REVERSE_AUCTION_WINDOW_SECONDS_HF21":300,"HIVE_EARLY_VOTING_SECONDS_HF25":86400,"HIVE_MID_VOTING_SECONDS_HF25":172800,"HIVE_MIN_VOTE_INTERVAL_SEC":3,"HIVE_VOTE_DUST_THRESHOLD":50000000,"HIVE_DOWNVOTE_POOL_PERCENT_HF21":2500,"HIVE_MIN_ROOT_COMMENT_INTERVAL":300000000,"HIVE_MIN_REPLY_INTERVAL":20000000,"HIVE_MIN_REPLY_INTERVAL_HF20":3000000,"HIVE_MIN_COMMENT_EDIT_INTERVAL":3000000,"HIVE_POST_AVERAGE_WINDOW":86400,"HIVE_POST_WEIGHT_CONSTANT":1600000000,"HIVE_MAX_ACCOUNT_WITNESS_VOTES":30,"HIVE_DEFAULT_HBD_INTEREST_RATE":1000,"HIVE_INFLATION_RATE_START_PERCENT":978,"HIVE_INFLATION_RATE_STOP_PERCENT":95,"HIVE[...]
[...]
