---
http_interactions:
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":9,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000263469539132297'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","condenser_api.get_account_count","condenser_api.get_account_history","condenser_api.get_account_references","condenser_api.get_account_reputations","condenser_api.get_account_votes","condenser_api.get_accounts","condenser_api.get_active_votes","condenser_a[...]
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":10,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000596482924285451'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4xtwT3somNdx2WyMeu6YGGAbSkGNHkXQ6giV9",1]]},"memo_key":"STM8C2pRSyNQb6ru99n2141MwNtVHXgAfHeVFtgKYeXkAJdKN87BB","json_metadata":"{\"nodes\":
        [\"https:\/\/api.pharesim.me\", \"https:\/\/hive.roelandp.nl\", \"https:\/\/rpc.ausbit.dev\",
        \"https:\/\/api.deathwing.me\", \"https:\/\/api.hive.blog\", \"https:\/\/api.c0ff33a.uk\",
        \"https:\/\/api.openhive.network\", \"https:\/\/api.steemit.com\", \"https:\/\/hive-api.arcange.eu\",
        \"https:\/\/hived.privex.io\", \"https:\/\/rpc.ecency.com\", \"http:\/\/anyx.io\",
        \"https:\/\/anyx.io\", \"https:\/\/techcoderx.com\", \"https:\/\/steem.61bts.com\"],
        \"failing_nodes\": {\"https:\/\/steem.bts.tw\": \"NumRetriesReached\"}, \"report\":
        [{\"node\": \"https:\/\/api.hive.blog\", \"version\": \"1.24.6\", \"hive\":
        true, \"block\": {\"rank\": 12, \"ok\": true, \"count\": 196, \"time\": 30.61},
        \"history\": {\"rank\": 10, \"ok\": true, \"count\": 11901, \"time\": 15.01},
        \"apicall\": {\"rank\": 4, \"ok\": true, \"time\": 1.01, \"access_time\":
        0.181}, \"config\": {\"rank\": 4, \"ok\": true, \"time\": 0.31, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 4, \"ok\": true, \"head_delay\": 5.32, \"diff_head_irreversible\":
        18.0, \"time\": 17.66}}, {\"node\": \"https:\/\/anyx.io\", \"version\": \"1.24.4\",
        \"hive\": true, \"block\": {\"rank\": 15, \"ok\": true, \"count\": 146, \"time\":
        30.01}, \"history\": {\"rank\": 17, \"ok\": true, \"count\": 7273, \"time\":
        15.06}, \"apicall\": {\"rank\": 8, \"ok\": true, \"time\": 1.42, \"access_time\":
        0.336}, \"config\": {\"rank\": 5, \"ok\": true, \"time\": 0.59, \"access_time\":
        0.1}, \"block_diff\": {\"rank\": 12, \"ok\": true, \"head_delay\": 9.24, \"diff_head_irreversible\":
        20.0, \"time\": 17.52}}, {\"node\": \"https:\/\/api.hivekings.com\", \"version\":
        \"1.24.6\", \"hive\": true, \"block\": {\"rank\": 13, \"ok\": true, \"count\":
        175, \"time\": 30.05}, \"history\": {\"rank\": 14, \"ok\": true, \"count\":
        8401, \"time\": 15.03}, \"apicall\": {\"rank\": -1, \"ok\": false, \"error\":
        \"Assert Exception:api_itr != _registered_apis.end(): Could not find API bridge\",
        \"time\": 1.02, \"access_time\": 30.0}, \"config\": {\"rank\": 6, \"ok\":
        true, \"time\": 1.0, \"access_time\": 0.16}, \"block_diff\": {\"rank\": 7,
        \"ok\": true, \"head_delay\": 3.58, \"diff_head_irreversible\": 19.0, \"time\":
        18.87}}, {\"node\": \"https:\/\/api.openhive.network\", \"version\": \"1.24.6\",
        \"hive\": true, \"block\": {\"rank\": 16, \"ok\": true, \"[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":11,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000056733409076592'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result"[...]
- request:
    method: post
    uri: https://api.justyy.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":12,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_accounts.params=[["fullnodeupdate"]]
      X-Jussi-Request-Id:
      - '000380744823937835'
    body:
      encoding: UTF-8
      string: '{"id":12,"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"pos[...]
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":66,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000812433438782104'
      X-Jussi-Response-Time:
      - '0.08934096246957779'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_accounts
      X-Jussi-Params:
      - "[['fullnodeupdate']]"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5Fj[...]
[...]
- request:
    method: post
    uri: https://hive.roelandp.nl/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":74,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001074121034658430'
    body:
      encoding: ASCII-8BIT
      string: [...]
- request:
    method: post
    uri: https://api.hive.blog/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":75,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000118853866447678'
      X-Jussi-Response-Time:
      - '0.00698446109890[...]
- request:
    method: post
    uri: https://hive-api.arcange.eu/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":19,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000015944585658412'
      Proxy-Connection:
      - keep-alive
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["account_by_key_api.get_key_references","account_history_api.enum_virtual_ops","account_history_api.get_account_history","account_history_api.get_ops_in_block","account_history_api.get_transaction","block_api.get_block","block_api.get_block_header","condenser_api.broadcast_block","condenser_api.broadcast_transaction","condenser_api.broadcast_transaction_synchronous","condenser_api.find_proposals","[...]
[...]
- request:
    method: post
    uri: https://rpc.ecency.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":25,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000036139602234395'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[...]
[...]
- request:
    method: post
    uri: https://api.deathwing.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":82,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000478274427772111'
    body:
      encoding: ASCII-8BIT
      string: [...]
- request:
    method: post
    uri: https://anyx.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":73,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":73,"jsonrpc":"2.0","result":[{"active":{"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]],"weight_threshold":1},"balance":"0.017
        HIVE","can_vote":true,"comment_count":0,"created":"2018-05-31T10:46:21","curation_rewards":0,"delayed_votes":[],"delegated_vesting_shares":"198556.066920
        VESTS","downvote_manabar":{"current_mana":"430852858679","last_update_time":1604780682},"guest_bloggers":[],"hbd_balance":"0.096
        HBD","hbd_last_interest_payment":"2020-10-22T19:24:24","hbd_seconds":"449005704","hbd_seconds_last_update":"2020-10-24T20:09:48","id":1025676,"json_metadata":"{\"nodes\":
        [\"https://api.pharesim.me\", \"https://hive.roelandp.nl\", \"https://rpc.ausbit.dev\",
        \"https://api.deathwing.me\", \"https://api.steemit.com\", \"https://api.c0ff33a.uk\",
        \"https://api.hive.blog\", \"http://anyx.io\", \"https://anyx.io\", \"https://api.openhive.network\",
        \"https://hive-api.arcange.eu\", \"https://rpc.ecency.com\", \"https://techcoderx.com\",
        \"https://steem.61bts.com\"], [...]
[...]
- request:
    method: post
    uri: https://hived.privex.io/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":119,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000955494768168324'
      X-Hp-Svr:
      - privex
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"id":1025676,"name":"fullnodeupdate","owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM6TShqSeQJNa3VfjsS4KKRrCcakXJLLMa1siB9gdpQWB3XMu9fr",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5eaire16BucZBRg54SPDUt2j4d9RGEVHTfnKj1JTUQf7yex2xy",1]]},"posting":{"weight_threshold":1,"account_auths":[["rewarding",1],["steemhunt.com",1]],"key_auths":[["STM5FjB4voP6L1WD4[...]
[...]
- request:
    method: get
    uri: https://hive.roelandp.nl/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000725643190919348'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2020-11-07T20:56:46.443272","source_commit":"3cbc8395ccf35f0e3bc9cbcd67220a899e90791e","docker_tag":"autoclave","jussi_num":48488104}'
  recorded_at: Sat, 07 Nov 2020 20:56:46 GMT
[...]
- request:
    method: get
    uri: https://api.deathwing.me/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000503101926670806'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2020-11-07T20:56:48.815864","source_commit":"ae6c6c77601436e496a8816ece2cbc6e26fbe3c2","docker_tag":"latest","jussi_num":48488105}'
  recorded_at: Sat, 07 Nov 2020 20:56:48 GMT
[...]
- request:
    method: get
    uri: https://api.pharesim.me/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000351249599633260'
    body:
      encoding: UTF-8
      string: '{"status":"OK","datetime":"2020-11-07T20:57:48.698232","source_commit":"","docker_tag":"","jussi_num":48488124}'
  recorded_at: Sat, 07 Nov 2020 20:57:48 GMT
[...]
- request:
    method: post
    uri: https://api.hivekings.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":18,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000003721027507560'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","resul[...]
[...]
- request:
    method: post
    uri: https://techcoderx.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":116,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000216866593854339'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result"[...]
[...]
- request:
    method: post
    uri: https://api.pharesim.me/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":27,"method":"condenser_api.get_accounts","params":[["fullnodeupdate"]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000929384545863469'
    body:
      encoding: ASCII-8BIT
      string: '[...]
[...]
